{% load inclusion_tags %}
{% for field in form %}
    {% if field in form.visible_fields %}
    <div class={% if field.widget_type == 'checkbox' %}"form-checkbox col-sm me-2 mb-2"{% elif field.widget_type == 'text' %}"form-floating col-sm{{ form.fields|length|add:"-9" }} me-2 mb-2"{% else %}"form-floating col-sm me-2 mb-2"{% endif %}>

        {% if field.widget_type == 'select' %}
            <select class="form-select"
        {% elif field.widget_type == 'checkbox' %}
            <input class="form-check-input" {% if field.value %} checked {% endif %}
        {% else %}
            <input class="form-control"
        {% endif %}

        {% if field.widget_type == 'text' %}
            size="{{ size }}"
            {% if field.value %}
                value="{{ field.value }}"
            {% endif %}
        {% endif %}
            type="{{ field.widget_type }}"
            name="{{ field.html_name }}"
            id="{{ field.id_for_label }}">
            
        {% if field.widget_type == 'select' %}
            <option selected>...</option>
            {% for option, value in field.field.choices %}
                <option value="{{ option }}"{% if option|to_str == field.value %}selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
            </select>
        {% endif %}
    
        
        {{ field.label_tag }}
    </div>
    {% endif %}
{% endfor %}
