{% load inclusion_tags %}

{% for field in form %}
    {% if field in form.visible_fields %}
    <div class={% if field.widget_type == 'checkbox' %}"form-checkbox col me-2 mb-2 text-center"{% elif field.widget_type == 'text' %}"form-floating col{{ form.visible_fields|length|flex_field_width }} me-2 mb-2"{% else %}"form-floating col me-2 mb-2"{% endif %}>

        {% if field.widget_type == 'select' %}
            <select class="form-select"
        {% elif field.widget_type == 'checkbox' %}
            {{ field.label_tag }}
            <input class="form-check-input" {% if field.value %} checked {% endif %}
        {% else %}
            <input class="form-control"
        {% endif %}

        {% if field.widget_type == 'text' %}
            {% if field.value %}
                value="{{ field.value }}"
            {% endif %}
        {% endif %}
            type="{{ field.widget_type }}"
            name="{{ field.html_name }}"
            id="{{ field.id_for_label }}" 
            {% for name, value in field.field.widget.attrs.items %}
            {% comment %} We avoid "placeholder" because of bootstrap behavior with it {% endcomment %}
                {% if name != "placeholder" %}
                    {{ name }}={{ value }}
                {% endif %}
            {% endfor %}
            >
            
        {% if field.widget_type == 'select' %}
            {% for option, value in field.field.choices %}
                <option value="{{ option }}"{% if option|to_str == field.value %}selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
            </select>
        {% endif %}
    
        {% if field.widget_type != 'checkbox' %}
            {{ field.label_tag }}
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
