{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item active">Automatic table constructions</li>
  <li class="breadcrumb-item active">{{ atc_count }} record{{ atc_count|pluralize }}</li>
</ol>


<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Automatic Table Construction{{ atc_count|pluralize }} ({{ atc_count }})</h2>
    <div class="ms-auto">
    {% if perms.osquery.add_automatictableconstruction %}
        {% url 'osquery:create_atc' as url %}
        {% button 'CREATE' url "Create new ATC" %}
    {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-striped align-middle table-hover">
        <thead>
        <tr>
            <th>Name</th>
            {% if perms.osquery.change_automatictableconstrucion %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for atc in object_list %}
        <tr class="data-row">
            <td>
            <a href="{{ atc.get_absolute_url }}">{{ atc }}</a>
            </td>
            {% if perms.osquery.change_automatictableconstrucion %}
            <td class="text-end py-0">
                {% url 'osquery:update_atc' atc.id as url %}
                {% button 'UPDATE' url "Edit ATC" %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if perms.osquery.add_automatictableconstruction %}
        {% url 'osquery:create_atc' as link %}
        {% no_entities 'Automatic table constructions' link %}
    {% else %}
        {% no_entities 'Automatic table constructions' %}
    {% endif %}
{% endif %}

{% endblock %}
