{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li><a href="{% url 'osquery:atcs' %}">Automatic table constructions</a></li>
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">Delete</li>
</ol>

<h3>Delete automatic table construction <i>{{ object }}</i></h3>

<form method="POST">{% csrf_token %}
  {% with object.configuration_set.count as configuration_count %}
  <p>Do you really want to delete this ATC{% if configuration_count %} <b>used in {{ configuration_count }} configuration{{ configuration_count|pluralize }}</b>{% endif %}?</p>
  {% endwith %}
  <p>
    <a class="btn btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </p>
</form>

{% endblock %}
