{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:atcs' %}">Automatic table constructions</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Automatic table construction</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_automatictableconstruction %}
                {% url 'osquery:update_atc' object.id as url %}
                {% button 'UPDATE' url "Edit ATC" %}
            {% endif %}
            {% if perms.osquery.delete_automatictableconstruction %}
                {% url 'osquery:delete_atc' object.id as url %}
                {% button 'DELETE' url "Delete ATC" %}
            {% endif %}
        </div>
    </div>

    <div class="table-responsive mb-3">
        <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
            <th>Attribute</th>
            <th>Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description|default:"-"|linebreaksbr }}</td>
        </tr>
        <tr>
            <td>Table name</td>
            <td><code>{{ object.table_name }}</code></td>
        </tr>
        <tr>
            <td>Query</td>
            <td>{{ object.get_query_html|safe }}</td>
        </tr>
        <tr>
            <td>Path</td>
            <td><pre>{{ object.path }}</pre></td>
        </tr>
        <tr>
            <td>Column{{ object.columns|length|pluralize }}</td>
            <td><pre>{{ object.columns|join:"&#10;" }}</pre></td>
        </tr>
        <tr>
            <td>Platform{{ object.platforms|length|pluralize }}</td>
            <td>{{ object.platforms|join:", "|default:"-" }}</td>
        </tr>
        </tbody>
        </table>

        {% created_updated_at object %}

    </div>
</div>

{% if perms.osquery.view_configuration %}
<h3>Used in {{ configuration_count }} configuration{{ configuration_count|pluralize }}</h3>

{% if configurations %}
<div class="table-responsive mb-3">
<table class="table table-light table-striped align-top table-hover">
    <thead>
        <th>Name</th>
        <th></th>
    </thead>
    <tbody>
    {% for configuration in configurations %}
    <tr>
        <td><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endif %}
{% endblock %}
