{% extends 'core/probes/probe.html' %}
{% load base_extras %}

{% block probe_extra %}
<a name="osquery_compliance"></a>
<h3>Osquery compliance</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="editComponent"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="editComponent">
    <li>
      <a href="{% url 'osquery:add_compliance_probe_preference_file' object.id %}">
        Preference file
      </a>
    </li>
    <li>
      <a href="{% url 'osquery:add_compliance_probe_file_checksum' object.id %}">
        File checksum
      </a>
    </li>
  </ul>
</div>

{% if probe.preference_files %}
<h4>Preference file{{ probe.preference_files|length|pluralize }}</h4>

{% for preference_file in probe.preference_files %}
<div class="panel panel-default">
  <div class="panel-heading">
      {% for path in preference_file.get_paths %}
      {{ path }}{% if not forloop.last %}<br>{% endif %}
      {% endfor %}
  </div>
  <table class="table table-condensed probe-panel">
    {% for key in preference_file.keys %}
    <tr>
      <td>{{ key.key }}</td>
      {% if key.value is not None %}
      <td>= {{ key.value }}</td>
      {% else %}
        {% if key.min_value is not None  and key.max_value is not None %}
        <td>{{ key.min_value }} ≤ integer ≤ {{ key.max_value }}</td>
        {% else %}
          {% if key.min_value %}
          <td>integer ≥ {{ key.min_value }}</td>
          {% else %}
          <td>integer ≤ {{ key.max_value }}</td>
          {% endif %}
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
    {% if preference_file.description %}
    <tr><td>description</td><td>{{ preference_file.description|prettydescription }}</td></tr>
    {% endif %}
    <tr><td>interval</td><td>{{ preference_file.interval }}s</td></tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_compliance_probe_preference_file' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% if probe.can_delete_items %}
      <a class="btn btn-danger" href="{% url 'osquery:delete_compliance_probe_preference_file' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
      {% for store_name, store_url in preference_file.get_osquery_query.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if probe.file_checksums %}
<h4>File checksum{{ probe.file_checksums|length|pluralize }}</h4>

{% for file_checksum in probe.file_checksums %}
<div class="panel panel-default">
  <div class="panel-heading">
    {{ file_checksum.path }}
  </div>
  <table class="table table-condensed probe-panel">
    <tr><td>sha256</td><td>{{ file_checksum.sha256 }}</td></tr>
    {% if file_checksum.description %}
    <tr><td>description</td><td>{{ file_checksum.description|prettydescription }}</td></tr>
    {% endif %}
    <tr><td>interval</td><td>{{ file_checksum.interval }}s</td></tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_compliance_probe_file_checksum' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% if probe.can_delete_items %}
      <a class="btn btn-danger" href="{% url 'osquery:delete_compliance_probe_file_checksum' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
      {% for store_name, store_url in file_checksum.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
