{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:configurations' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  {% if object %}
  <li class="breadcrumb-item active">Update pack</li>
  {% else %}
  <li class="breadcrumb-item active">Add pack</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Add{% endif %} pack</h2>

<form method="post" class="form">{% csrf_token %}
  {{ form }}
  <p>
    <a class="btn btn-primary" href="{{ configuration.get_absolute_url }}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
