{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item active">Configurations</li>
  <li class="breadcrumb-item active">{{ configuration_count }} record{{ configuration_count|pluralize }}</li>
</ol>


<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Configuration{{ configuration_count|pluralize }} ({{ configuration_count }})</h2>
    <div class="ms-auto">
    {% if perms.osquery.add_configuration %}
        {% url 'osquery:create_configuration' as url %}
        {% button 'CREATE' url "Create new Configuration" %}
    {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-striped align-middle table-hover">
        <thead>
            <tr>
            <th>Name</th>
            {% if perms.osquery.change_configuration %}
            <th></th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for configuration in object_list %}
            <tr class="data-row">
                <td>
                <a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a>
                </td>
                {% if perms.osquery.change_configuration %}
                <td class="text-end py-0">
                    {% url 'osquery:update_configuration' configuration.id as url %}
                    {% button 'UPDATE' url "Edit Configuration" %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if perms.osquery.add_configuration %}
        {% url 'osquery:create_configuration' as link %}
        {% no_entities 'Configurations' link %}
    {% else %}
        {% no_entities 'Configurations' %}
    {% endif %}
{% endif %}

{% endblock %}
