{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li><a href="{% url 'osquery:configurations' %}">Configurations</a></li>
  <li><a href="{{ object.configuration.get_absolute_url }}">{{ object.configuration }}</a></li>
  <li class="active">Remove pack</li>
</ol>

<h2>Remove pack</h2>

<form method="post" class="form">{% csrf_token %}
  <p>Do you really want to remove pack <i>{{ object.pack }}</i> from the configuration <i>{{ object.configuration }}</i>?</p>
  <p>
    <a class="btn btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Remove</button>
  </p>
</form>
{% endblock %}
