{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="active">Configurations</li>
  <li class="active">{{ configuration_count }} record{{ configuration_count|pluralize }}</li>
</ol>

<h2>{{ configuration_count }} Configuration{{ configuration_count|pluralize }}</h2>

<p>
  <a href="{% url 'osquery:create_configuration' %}" class="btn btn-default">Create</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for configuration in object_list %}
    <tr>
      <td>
        <a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a>
      </td>
      <td>
        <a class="btn btn-default" href="{% url 'osquery:update_configuration' configuration.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          Update
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
