{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'probes:index' %}">Probes</a></li>
  <li><a href="{% url 'probes:probe' probe_source.id %}">{{ probe_source.name }}</a></li>
  <li class="active">delete file checksum</li>
</ol>

<h2>Delete compliance probe file checksum</h2>
<form method="POST">{% csrf_token %}
  <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
  <button class="btn btn-danger" type="submit">Delete</button>
</form>
{% endblock %}
