{% extends 'base.html' %}
{% load inventory_extras inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  <li class="breadcrumb-item"><a href="{{ distributed_query.get_absolute_url }}">{{ distributed_query }}</a></li>
  {% if form.has_changed %} 
  <li class="breadcrumb-item"><a href="{% url 'osquery:distributed_query_machines' distributed_query.pk %}">Machines</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %} 
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Machines</a></li>
  {% else %}
  <li class="breadcrumb-item active">Machines</li>
  {% endif %}
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h2 class="mye-3">Run #{{ distributed_query }}</h2>

<div class="d-flex align-items-center mb-1">
    <form method="GET" class="d-flex w-75 me-auto flex-shrink-0 align-items-center">            
        
        {{ form }}
        
        <button type="submit" class="btn btn-link text-dark text-decoration-none mx-2">
            <i class="bi bi-search"></i>
        </button>
    </form>
</div>

<h3 id="machines">Machine{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h3>

{% pagination next_url previous_url %}

{% if page_obj %}
<table class="table table-light table-striped align-middle">
  <thead>
    <th>Serial number</th>
    <th>Status</th>
    <th>Error message</th>
    <th>Memory</th>
    <th>System time</th>
    <th>User time</th>
    <th>Wall time</th>
  </thead>
  <tbody>
  {% for dqm in page_obj %}
  <tr>
    <td><a href="{% machine_url dqm.serial_number %}">{{ dqm.serial_number }}</a></td>
    <td>{% if dqm.status > 0 %}Error{% else %}{% if dqm.status == 0 %}OK{% else %}In flight{% endif %}{% endif %}</td>
    <td>{{ dqm.error_message|default:"-" }}</td>
    <td>{{ dqm.memory|default_if_none:"-" }}</td>
    <td>{{ dqm.system_time|default_if_none:"-" }}</td>
    <td>{{ dqm.user_time|default_if_none:"-" }}</td>
    <td>{{ dqm.wall_time_ms|default_if_none:"-" }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% pagination next_url previous_url %}

{% endblock %}
