{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Launch query</li>
  {% endif %}
</ol>

<h2>{% if object %}Update run{% else %}🚀 Launch query <i>{{ query.name }}</i>{% endif %}</h2>

<form method="post" class="update-form">{% csrf_token %}
  {% if object %}
  <table class="table">
    <tr>
      <th>Query</th>
      <td>
        <dl class="row">
          {% if perms.osquery.view_query and object.query %}
          <dt class="col-sm-3 text-md-end">Name</dt>
          <dd class="col-sm-9">
            <a href="{{ object.query.get_absolute_url }}">{{ query }}</a>
            {% if object.query_version < object.query.version %}/ <span class="text-danger">Updated since run creation</span>{% endif %}
          </dd>
          {% endif %}
          <dt class="col-sm-3 text-md-end">SQL</dt>
          <dd class="col-sm-9">{{ object.get_sql_html|safe }}</dd>
          {% if object.platforms %}
          <dt class="col-sm-3 text-md-end">Platform{{ object.platforms|length|pluralize }}</dt>
          <dd class="col-sm-9">{{ object.platforms|join:", " }}</dd>
          {% endif %}
          {% if object.minimum_osquery_version %}
          <dt class="col-sm-3 text-md-end">Min. osquery ver.</dt>
          <dd class="col-sm-9">{{ object.minimum_osquery_version }}</dd>
          {% endif %}
        </dl>
      </td>
    </tr>
  </table>
  {% else %}
  <div class="form-group">
    <label class="control-label" for="id_query_sql">SQL</label>
    <div>{{ query.get_sql_html|safe }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Platform{{ query.platforms|length|pluralize }}</label>
    <div>{{ query.platforms|join:", "|default:"-" }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Minimum osquery version</label>
    <div>{{ query.minimum_osquery_version|default:"-" }}</div>
  </div>
  {% endif %}
  {{ form }}
  <p>
    <a class="btn btn-outline-secondary" href="{% if object %}{{ object.get_absolute_url }}{% else %}{{ query.get_absolute_url }}#runs{% endif %}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function getNowHoursOffset(offset) {
    var d = new Date();
    if (offset > 0) {
        d.setUTCHours(d.getUTCHours() + offset);
    }
    return d;
  }

  function pad(number) {
    var r = String(number);
    if ( r.length === 1 ) {
      r = '0' + r;
    }
    return r;
  }

  function setTime($input, t) {
    var ts = t.getUTCFullYear()
      + "-" + pad(t.getUTCMonth() + 1)
      + "-" + pad(t.getUTCDate())
      + " " + pad(t.getUTCHours())
      + ":" + pad(t.getUTCMinutes())
      + ":" + pad(t.getUTCSeconds());
    $input.val(ts);
  }

  function addTimeShortcuts() {
    $input = $("#id_valid_until");
    $.each([{label: "now", offset:0}, {label: "now + 1h", offset:1}, {label: "now + 4h", offset:4}, {label: "now + 1d", offset:24}], function( index, labelDef ) {
      var style = labelDef.offset ? "secondary" : "danger";
      $('<a style="display:inline-block;margin:0 5px 5px 0;cursor:pointer;text-decoration:none"><span class="badge text-bg-' + style + '">' + labelDef.label + '</span></a>')
        .click(function(event) {event.preventDefault(); setTime($input, getNowHoursOffset(labelDef.offset))})
        .insertBefore($input);
    });
  }

  $(document).ready(function () {
    addTimeShortcuts();
  });
</script>
{% endblock %}
