{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="active">Runs</li>
  {% if reset_link %}
  <li><a href="{{ reset_link }}">{{ distributed_query_count }} record{{ distributed_query_count|pluralize }}</a></li>
  {% else %}
  <li class="active">{{ distributed_query_count }} record{{ distributed_query_count|pluralize }}</li>
  {% endif %}
  <li class="active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h2>{{ distributed_query_count }} Run{{ distributed_query_count|pluralize }}</h2>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      {% if perms.osquery.view_query %}
      <th>Query</th>
      {% endif %}
      <th>Tables</th>
      <th>Machines</th>
      <th>Results</th>
      {% if perms.osquery.view_filecarvingsession %}
      <th>File carving sessions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for distributed_query in object_list %}
    {% with distributed_query.query as query %}
    <tr>
      <td>
        <a href="{{ distributed_query.get_absolute_url }}">{{ distributed_query }}</a>
      </td>
      {% if perms.osquery.view_query %}
      <td>
        {% if query %}<a href="{{ query.get_absolute_url }}">{{ query }}</a>{% else %}-{% endif %}
      </td>
      {% endif %}
      <td>
        {% for table in distributed_query.tables %}<code>{{ table }}</code> {% endfor %}
      </td>
      <td>
        {% if distributed_query.machine_count %}{{ distributed_query.machine_count }}{% else %}-{% endif %}
      </td>
      <td>
        {% if distributed_query.result_count %}{{ distributed_query.result_count }}{% else %}-{% endif %}
      </td>
      {% if perms.osquery.view_filecarvingsession %}
      <td>
        {% if distributed_query.file_carving_session_count %}{{ distributed_query.file_carving_session_count }}{% else %}-{% endif %}
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
