{% extends 'core/probes/probe.html' %}

{% block probe_extra %}
<a name="osquery"></a>
<h3>Osquery distributed query</h3>

<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>Query</td>
      <td>
        {{ probe.get_distributed_query_html|safe }}
      </td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_distributed_query_probe_query' object.id %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
