{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">Run #{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Run</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_distributedquery %}
                <a href="{% url 'osquery:update_distributed_query' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                    <i class="bi bi-pencil-square"></i>
                </a>
            {% endif %}
            {% if perms.osquery.delete_distributedquery %}
                <a href="{% url 'osquery:delete_distributed_query' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete">
                    <i class="bi bi-trash"></i>
                </a>
            {% endif %}
        </div>
    </div>

  <div class="table-responsive mb-3">
    <table class="table table-light table-striped align-middle table-object-properties">
      <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Query</td>
        <td>
          <dl>
            {% if perms.osquery.view_query and object.query %}
            <dt>Name</dt>
            <dd>
              <a href="{{ object.query.get_absolute_url }}">{{ query }}</a>
              {% if object.query_version < object.query.version %}/ <span class="text-danger">Updated since run creation</span>{% endif %}
            </dd>
            {% endif %}
            <dt>SQL</dt>
            <dd>{{ object.get_sql_html|safe }}</dd>
            {% if object.platforms %}
            <dt>Platform{{ object.platforms|length|pluralize }}</dt>
            <dd>{{ object.platforms|join:", " }}</dd>
            {% endif %}
            {% if object.minimum_osquery_version %}
            <dt>Min. osquery ver.</dt>
            <dd>{{ object.minimum_osquery_version }}</dd>
            {% endif %}
          </dl>
        </td>
      </tr>
      <tr>
        <td>Validity</td>
        <td class="{% if object.is_active %}text-success{% else %}text-muted{% endif %}">{{ object.valid_from }} → {% if object.valid_until %}{{ object.valid_until }}{% endif %}</td>
      </tr>
      <tr>
        <td>Serial number{{ object.serial_numbers|length|pluralize }}</td>
        <td>{{ object.serial_numbers|default:"-"|join:", " }}</td>
      </tr>
      <tr>
        <td>Tag{{ object.tags.count|pluralize }}</td>
        <td>{% for tag in object.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}</td>
      </tr>
      <tr>
        <td>Shard</td>
        <td>{{ object.shard }}%</td>
      </tr>
      </tbody>
    </table>

    {% created_updated_at object %}

  </div>


{% if dqm_count %}
    <a class="btn btn-primary" href="{% url 'osquery:distributed_query_machines' object.pk %}">
{% endif %}
    <h3 id="machines">Machine{{ dqm_count|pluralize }} ({{ dqm_count }})</h3>
{% if dqm_count %}
    </a>
{% endif %}


{% if perms.osquery.view_distributedqueryresult and result_count %}
    <a class="btn btn-primary" href="{% url 'osquery:distributed_query_results' object.pk %}">
{% endif %}
    <h3 id="results">Result{{ result_count|pluralize }} ({{ result_count }})</h3>
{% if perms.osquery.view_distributedqueryresult and result_count %}
    </a>
{% endif %}


{% if perms.osquery.view_filecarvingsession %}
    {% if file_carving_session_count %}
        <a class="btn btn-primary" href="{% url 'osquery:distributed_query_file_carving_sessions' object.pk %}">
    {% endif %}
        <h3 id="results">File carving session{{ file_carving_session_count|pluralize }} ({{ file_carving_session_count }})</h3>
    {% if file_carving_session_count %}
        </a>
    {% endif %}
{% endif %}
</div>
{% endblock %}
