{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">Update</li>
  {% else %}
  <li class="active">Launch query</li>
  {% endif %}
</ol>

<h2>{% if object %}Update run{% else %}🚀 Launch query <i>{{ query.name }}</i>{% endif %}</h2>

<form method="post" class="form">{% csrf_token %}
  {% if object %}
  <div class="form-group">
    <label class="control-label" for="id_query_sql">SQL</label>
    <div>{{ object.get_sql_html|safe }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Platform{{ object.platforms|length|pluralize }}</label>
    <div>{{ object.platforms|join:", "|default:"-" }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Minimum osquery version</label>
    <div>{{ object.minimum_osquery_version|default:"-" }}</div>
  </div>
  {% else %}
  <div class="form-group">
    <label class="control-label" for="id_query_sql">SQL</label>
    <div>{{ query.get_sql_html|safe }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Platform{{ query.platforms|length|pluralize }}</label>
    <div>{{ query.platforms|join:", "|default:"-" }}</div>
  </div>
  <div class="form-group">
    <label class="control-label" for="id_query_sql">Minimum osquery version</label>
    <div>{{ query.minimum_osquery_version|default:"-" }}</div>
  </div>
  {% endif %}
  {{ form|bootstrap }}
  <p>
    <a class="btn btn-default" href="{% if object %}{{ object.get_absolute_url }}{% else %}{{ query.get_absolute_url }}#runs{% endif %}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function getNowHoursOffset(offset) {
    var d = new Date();
    if (offset > 0) {
        d.setUTCHours(d.getUTCHours() + offset);
    }
    return d;
  }

  function pad(number) {
    var r = String(number);
    if ( r.length === 1 ) {
      r = '0' + r;
    }
    return r;
  }

  function setTime($input, t) {
    var ts = t.getUTCFullYear()
      + "-" + pad(t.getUTCMonth() + 1)
      + "-" + pad(t.getUTCDate())
      + " " + pad(t.getUTCHours())
      + ":" + pad(t.getUTCMinutes())
      + ":" + pad(t.getUTCSeconds());
    $input.val(ts);
  }

  function addTimeShortcuts() {
    $input = $("#id_valid_until");
    $.each([{label: "now", offset:0}, {label: "now + 1h", offset:1}, {label: "now + 4h", offset:4}, {label: "now + 1d", offset:24}], function( index, labelDef ) {
      var style = labelDef.offset ? "default" : "danger";
      $('<a style="display:inline-block;margin:0 5px 5px 0;cursor:pointer;text-decoration:none"><span class="label label-' + style + '">' + labelDef.label + '</span></a>')
        .click(function(event) {event.preventDefault(); setTime($input, getNowHoursOffset(labelDef.offset))})
        .insertBefore($input);
    });
  }

  $(document).ready(function () {
    addTimeShortcuts();
  });
</script>
{% endblock %}
