{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  <li><a href="{{ distributed_query.get_absolute_url }}">{{ distributed_query }}</a></li>
  {% if reset_link %}
  <li><a href="{{ reset_link }}">Results</a></li>
  {% else %}
  <li class="active">Results</li>
  {% endif %}
  <li class="active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h2>Run <i>{{ distributed_query }}</i></h2>

<h3 id="results">{{ page_obj.paginator.count }} Result{{ page_obj.paginator.count|pluralize }}</h3>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% if page_obj %}
<div class="table-responsive">
<table class="table">
  <thead>
    <th>Serial number</th>
    {% for column in columns %}
    <th>{{ column }}</th>
    {% endfor %}
  </thead>
  <tbody>
  {% for row in rows %}
  <tr>
    {% for cell in row %}
    <td style="max-width:250px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{ cell|default:"-" }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
