{% extends 'base.html' %}
{% load inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:distributed_queries' %}">Runs</a></li>
  <li class="breadcrumb-item"><a href="{{ distributed_query.get_absolute_url }}">{{ distributed_query }}</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">File carving sessions</a></li>
  {% else %}
  <li class="breadcrumb-item active">File carving sessions</li>
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h2>Run #{{ object }}</h2>

<h3 id="results">File carving session{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h3>

{% pagination next_url previous_url %}

{% if page_obj %}
<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <th>Serial number</th>
    <th>Created at</th>
    <th>Blocks</th>
    <th></th>
  </thead>
  <tbody>
  {% for file_carving_session in page_obj %}
  <tr class="data-row">
    <td><a href="{% machine_url file_carving_session.serial_number %}">{{ file_carving_session.serial_number }}</a></td>
    <td>{{ file_carving_session.created_at }}</a></td>
    <td>{{ file_carving_session.block_seen }}/{{ file_carving_session.block_count }}</td>
    <td class="text-end py-0">
      {% if file_carving_session.archive %}
        {% url 'osquery:download_file_carving_session_archive' file_carving_session.pk as url %}
        {% button 'DOWNLOAD' url "Download Session Archive" %}
      {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% pagination next_url previous_url %}

{% endblock %}
