{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'probes:index' %}">Probes</a></li>
  <li><a href="{% url 'probes:probe' probe_source.id %}">{{ probe_source.name }}</a></li>
  <li class="active">{% if add_item %}add{% else %}update{% endif %} file path</li>
</ol>

<h2>{% if add_item %}Add{% else %}Update{% endif %} osquery fim probe file path</h2>
<form method="POST">{% csrf_token %}
  {{ form|bootstrap }}
  <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
