{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item active">File categories</li>
  <li class="breadcrumb-item active">{{ file_category_count }} record{{ file_category_count|pluralize }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">File categor{{ file_category_count|pluralize:"y,ies" }} ({{ file_category_count }})</h3>
    <div class="ms-auto">
    {% if perms.osquery.add_filecategory %}
        {% url 'osquery:create_file_category' as url %}
        {% button 'CREATE' url "Create new File Category" %}
    {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-light table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>Name</th>
        {% if perms.osquery.change_filecategory %}
        <th></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for file_category in object_list %}
        <tr class="data-row">
            <td>
            <a href="{{ file_category.get_absolute_url }}">{{ file_category }}</a>
            </td>
            {% if perms.osquery.change_filecategory %}
            <td class="text-end py-0">
                {% url 'osquery:update_file_category' file_category.id as url %}
                {% button 'UPDATE' url "Edit File Category" %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if perms.osquery.add_filecategory %}
        {% url 'osquery:create_file_category' as link %}
        {% no_entities 'File categories' link %}
    {% else %}
        {% no_entities 'File categories' %}
    {% endif %}
{% endif %}

{% endblock %}
