{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:file_categories' %}">File categories</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">File category</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_filecategory %}
                {% url 'osquery:update_file_category' object.id as url %}
                {% button 'UPDATE' url "Edit File Category" %}
            {% endif %}
            {% if perms.osquery.delete_filecategory %}
                {% url 'osquery:delete_file_category' object.id as url %}
                {% button 'DELETE' url "Delete File Category" %}
            {% endif %}
        </div>
    </div>

    <div class="table-responsive mb-3">
        <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
            <th>Attribute</th>
            <th>Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td><code>{{ object.slug }}</slug></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description|default:"-"|linebreaksbr }}</td>
        </tr>
        {% if object.file_paths %}
        <tr>
            <td>File path{{ object.file_paths|length|pluralize }}</td>
            <td>
            <pre>{{ object.file_paths|join:"&#10;" }}</pre>
            </td>
        </tr>
        {% endif %}
        {% if object.exclude_paths %}
        <tr>
            <td>Exclude path{{ object.exclude_paths|length|pluralize }}</td>
            <td>
            <pre>{{ object.exclude_paths|join:"&#10;" }}</pre>
            </td>
        </tr>
        {% endif %}
        {% if object.file_paths_queries %}
        <tr>
            <td>File paths quer{{ object.file_paths_queries|length|pluralize:"y,ies" }}</td>
            <td>
            <pre>{{ object.file_paths_queries|join:"&#10;" }}</pre>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Access monitoring</td>
            <td>{{ object.access_monitoring|yesno }}</td>
        </tr>
        </tbody>
        </table>

        {% created_updated_at object %}
        
    </div>
</div>

{% if perms.osquery.view_configuration %}
<h3>Used in {{ configuration_count }} configuration{{ configuration_count|pluralize }}</h3>

{% if configurations %}
<div class="table-responsive mb-3">
<table class="table table-light table-striped align-top table-hover">
    <thead>
    <th>Name</th>
    <th></th>
    </thead>
    <tbody>
    {% for configuration in configurations %}
    <tr>
    <td><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></td>
    <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endif %}
{% endblock %}
