{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Osquery</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h2>Osquery</h2>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="osquery"
            data-dataset="event_count"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="osquery"
            data-dataset="unique_msn"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-md-12">
    {% if perms.osquery.view_pack %}
    <p><a href="{% url 'osquery:packs' %}">Packs</a></p>
    {% endif %}
    {% if perms.osquery.view_query %}
    <p><a href="{% url 'osquery:queries' %}">Queries</a></p>
    {% endif %}
    {% if perms.osquery.view_distributedquery %}
    <p><a href="{% url 'osquery:distributed_queries' %}">Runs</a></p>
    {% endif %}
    {% if perms.osquery.view_configuration %}
    <p><a href="{% url 'osquery:configurations' %}">Configurations</a></p>
    {% endif %}
    {% if perms.osquery.view_automatictableconstruction %}
    <p><a href="{% url 'osquery:atcs' %}">Automatic table constructions</a></p>
    {% endif %}
    {% if perms.osquery.view_filecategory %}
    <p><a href="{% url 'osquery:file_categories' %}">File categories</a></p>
    {% endif %}
    {% if show_terraform_export %}
    <p>
      <a href="{% url 'osquery:terraform_export' %}" class="btn btn-primary">
        <span class="bi bi-download" aria-hidden="true"></span>
        Terraform config
      </a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function get_data_and_make_chart(url, charts) {
    $.getJSON(url, function(data) {
      for (var dataset in data.datasets) {
        if (data.datasets.hasOwnProperty(dataset)) {
          var canvas = charts[data.app][dataset];
          var chart = new Chart(canvas, {
            type: 'bar',
            data: {labels: data.labels,
                   datasets: [data.datasets[dataset]]},
            options: {}
          });
        }
      }
    });
  }

  $(document).ready(function(){
    var charts = {};
    var urls = Array();
    $(".chart").each(function(index, canvas) {
      canvas = $(canvas);
      var app = canvas.data('app');
      var dataset = canvas.data('dataset');
      if(! charts.hasOwnProperty(app)) {
        charts[app] = {};
        urls.push('/app/' + app + '/hist_data/day/14/');
      }
      charts[app][dataset] = canvas;
    });
    for (var idx in urls) {
      if (urls.hasOwnProperty(idx)) {
        get_data_and_make_chart(urls[idx], charts);
      }
    }
  });
</script>
{% endblock %}
