{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="active">Packs</li>
  <li class="active">{{ pack_count }} record{{ pack_count|pluralize }}</li>
</ol>

<h2>{{ pack_count }} Pack{{ pack_count|pluralize }}</h2>

{% if perms.osquery.add_pack %}
<p>
  <a href="{% url 'osquery:create_pack' %}" class="btn btn-default">Create</a>
</p>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      {% if perms.osquery.change_pack %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for pack in object_list %}
    <tr>
      <td>
        <a href="{{ pack.get_absolute_url }}">{{ pack }}</a>
      </td>
      {% if perms.osquery.change_pack %}
      <td>
        <a class="btn btn-default" href="{% url 'osquery:update_pack' pack.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          Update
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
