{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:packs' %}">Packs</a></li>
  <li class="breadcrumb-item"><a href="{{ pack.get_absolute_url }}">{{ pack }}</a></li>
  {% if object %}
  <li class="breadcrumb-item active">Update query scheduling</li>
  {% else %}
  <li class="breadcrumb-item active">Schedule query</li>
  {% endif %}
</ol>

<h3>{% if object %}Update <i>{{ object.query.name }}</i> scheduling{% else %}Schedule query{% endif %}</h3>

<form method="post" class="update-form">{% csrf_token %}
  {% if object %}
  {% with object.query as query %}
  <table class="table table-condensed probe-panel">
    <tr>
      <td style="width:15%">Query</td>
      <td>
        <dl class="row">
          <dt class="col-sm-3 text-md-end">Name</dt>
          <dd class="col-sm-9"><a href="{{ query.get_absolute_url }}">{{ query }}</a></dd>
          <dt class="col-sm-3 text-md-end">SQL</dt>
          <dd class="col-sm-9">{{ query.get_sql_html|safe }}</dd>
          {% if query.platforms %}
          <dt class="col-sm-3 text-md-end">Platform{{ query.platforms|length|pluralize }}</dt>
          <dd class="col-sm-9">{{ query.platforms|join:", " }}</dd>
          {% endif %}
          {% if query.minimum_osquery_version %}
          <dt class="col-sm-3 text-md-end">Min. osquery ver.</dt>
          <dd class="col-sm-9">{{ query.minimum_osquery_version }}</dd>
          {% endif %}
          {% if query.description %}
          <dt class="col-sm-3 text-md-end">Description</dt>
          <dd class="col-sm-9">{{ query.description|default:"-" }}</dd>
          {% endif %}
          {% if query.value %}
          <dt class="col-sm-3 text-md-end">Value</dt>
          <dd class="col-sm-9">{{ query.value }}</dd>
          {% endif %}
          {% if query.compliance_check %}
          <dt class="col-sm-3 text-md-end">Compliance check</dt>
          <dd class="col-sm-9">yes</dt>
          {% endif %}
        </dl>
      </td>
    </tr>
  </table>
  {% endwith %}
  {% endif %}
  {{ form }}
  <p>
    <a class="btn btn-outline-secondary" href="{{ pack.get_absolute_url }}#queries">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
