{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li><a href="{% url 'osquery:packs' %}">Packs</a></li>
  <li><a href="{{ object.pack.get_absolute_url }}">{{ object.pack }}</a></li>
  <li class="active">Delete query</li>
</ol>

<h2>Delete query</h2>

<form method="post" class="form">{% csrf_token %}
  <p>Do you really want to delete query <i>{{ object.query }}</i> from the pack <i>{{ object.pack }}</i>?</p>
  <p>
    <a class="btn btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </p>
</form>
{% endblock %}
