{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item active">Packs</li>
  <li class="breadcrumb-item active">{{ pack_count }} record{{ pack_count|pluralize }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Pack{{ pack_count|pluralize }} ({{ pack_count }})</h3>
    <div class="ms-auto">
    {% if perms.osquery.add_pack %}
        <a href="{% url 'osquery:create_pack' %}" type="button" 
                class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new Pack">
                <i class="bi bi-plus-circle"></i>
            </a>
    {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-light table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>Name</th>
        {% if perms.osquery.change_pack %}
        <th></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for pack in object_list %}
        <tr class="data-row">
        <td>
            <a href="{{ pack.get_absolute_url }}">{{ pack }}</a>
        </td>
        {% if perms.osquery.change_pack %}
        <td class="text-end py-0">
            <a class="btn btn-link text-dark text-decoration-none" href="{% url 'osquery:update_pack' pack.id %}">
            <span class="bi bi-pencil-square" aria-hidden="true"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit Pack"></span>
            </a>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if perms.osquery.add_pack %}
        {% url 'osquery:create_pack' as link %}
        {% no_entities 'Packs' link %}
    {% else %}
        {% no_entities 'Packs' %}
    {% endif %}
{% endif %}

{% endblock %}
