{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:packs' %}">Packs</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Pack</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_pack %}
            <a href="{% url 'osquery:update_pack' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url 'osquery:upload_pack' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Upload">
                <i class="bi bi-upload"></i>
            </a>
            {% endif %}
            {% if perms.osquery.delete_pack %}
            <a href="{% url 'osquery:delete_pack' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete">
                <i class="bi bi-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive mb-3">
        <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
            <th>Attribute</th>
            <th>Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td><code>{{ object.slug }}</code></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description|default:"-"|linebreaksbr }}</td>
        </tr>
        <tr>
            <td>Discovery quer{{ object.discovery_queries|length|pluralize:"y,ies" }}</td>
            <td>{% if object.discovery_queries %}<pre>{{ object.discovery_queries|join:"&#10;" }}</pre>{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>Shard</td>
            <td>{% if object.shard %}{{ object.shard }}%{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>Event routing key</td>
            <td>{{ object.event_routing_key|default:"-" }}</td>
        </tr>
        </tbody>
        </table>

        {% created_updated_at object %}

    </div>

{% if perms.osquery.view_configuration %}
<div class="py-1">
    <div class="d-flex align-items-center mb-1">
        <h2>Used in {{ configuration_pack_count }} configuration{{ configuration_pack_count|pluralize }}</h2>
    </div>

    {% if configuration_pack_count %}
    <div class="table-responsive mb-3">
        <table class="table table-light table-striped align-top table-hover">
            <thead>
            <th>Name</th>
            <th>Tags</th>
            </thead>
            <tbody>
            {% for configuration_pack in configuration_packs %}
            <tr>
            <td><a href="{{ configuration_pack.configuration.get_absolute_url }}">{{ configuration_pack.configuration }}</a></td>
            <td>
                {% for tag in configuration_pack.tags.all %}
                {% inventory_tag tag %}
                {% empty %}
                -
                {% endfor %}
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endif %}

{% if perms.osquery.view_packquery %}

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0" id="queries">Scheduled quer{{ pack_query_count|pluralize:"y,ies" }} ({{ pack_query_count }})</h2>
    <div class="ms-auto">
        {% if can_add_pack_query %}
        <a href="{% url 'osquery:add_pack_query' object.pk %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new Scheduled Query">
            <i class="bi bi-plus-circle"></i>
        </a>
        {% endif %}
    </div>
</div>

{% for pack_query in pack_queries %}
{% with pack_query.query as query %}
<div id="pq{{ pack_query.pk }}" class="panel panel-default">
  <div class="panel-heading">
    <div class="d-flex align-items-center mb-1">
        <h3 class="m-0">{{ query }}</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_packquery %}
            <a type="button" class="btn btn-link text-dark text-decoration-none" href="{% url 'osquery:update_pack_query' object.pk pack_query.pk %}">
                <i class="bi bi-pencil-square"></i>
            </a>
            {% endif %}
            {% if perms.osquery.delete_packquery %}
            <a type="button" class="btn btn-link text-dark text-decoration-none" href="{% url 'osquery:delete_pack_query' object.pk pack_query.pk %}">
                <i class="bi bi-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>
  </div>
  <table class="table table-light table-striped align-middle table-object-properties">
    <tr>
      <td style="width:15%">Query</td>
      <td>
        <dl>
          <dt>Name</dt>
          <dd><a href="{{ query.get_absolute_url }}">{{ query }}</a></dd>
          <dt>SQL</dt>
          <dd>{{ query.get_sql_html|safe }}</dd>
          {% if query.platforms %}
          <dt>Platform{{ query.platforms|length|pluralize }}</dt>
          <dd>{{ query.platforms|join:", " }}</dd>
          {% endif %}
          {% if query.minimum_osquery_version %}
          <dt>Min. osquery ver.</dt>
          <dd>{{ query.minimum_osquery_version }}</dd>
          {% endif %}
          {% if query.description %}
          <dt>Description</dt>
          <dd>{{ query.description|default:"-" }}</dd>
          {% endif %}
          {% if query.value %}
          <dt>Value</dt>
          <dd>{{ query.value }}</dd>
          {% endif %}
          {% if query.compliance_check %}
          <dt>Compliance check</dt>
          <dd>yes</dt>
          {% endif %}
        </dl>
      </td>
    </tr>
    <tr>
      <td>Interval</td>
      <td>{{ pack_query.interval }}s</td>
    </tr>
    <tr>
      <td>Log removed actions?</td>
      <td>{{ pack_query.log_removed_actions|yesno }}</td>
    </tr>
    <tr>
      <td>Snapshot mode?</td>
      <td>{{ pack_query.snapshot_mode|yesno }}</td>
    </tr>
    <tr>
      <td>Shard</td>
      <td>{% if pack_query.shard %}{{ pack_query.shard }}%{% else %}-{% endif %}</td>
    </tr>
    <tr>
      <td>Can be denylisted?</td>
      <td>{{ pack_query.can_be_denylisted|yesno }}</td>
    </tr>
  </table>
</div>
{% endwith %}
{% endfor %}
{% endif %}
</div>
{% endblock %}
