{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'probes:index' %}">Probes</a></li>
  <li><a href="{% url 'probes:probe' probe_source.id %}">{{ probe_source.name }}</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<div class="item-form empty-itemform" style="display:none">
  <div class="form-group">
    {{ key_form_set.empty_form.key.label_tag }}
    {{ key_form_set.empty_form.key|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ key_form_set.empty_form.arg_l|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ key_form_set.empty_form.test|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ key_form_set.empty_form.arg_r|bootstrap_inline }}
  </div>
  <input type="hidden" id="id_{{ key_form_set.prefix }}-__prefix__-DELETE" name="{{ key_form_set.prefix }}-__prefix__-DELETE">
  <a href="#" class="btn btn-danger delete-item">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </a>
</div>
<form method="POST" class="form">{% csrf_token %}
  {{ preference_file_form.type|bootstrap }}
  {{ preference_file_form.rel_path|bootstrap }}
  {{ preference_file_form.description|bootstrap }}
  {{ preference_file_form.interval|bootstrap }}

  {{ key_form_set.management_form }}
  <div id="item-forms" class="form-inline">
    {% for itemform in key_form_set %}
    <div class="item-form">
      <div class="form-group">
        {{ itemform.key.label_tag }}
        {{ itemform.key|bootstrap_inline }}
      </div>
      <div class="form-group">
        {{ itemform.arg_l|bootstrap_inline }}
      </div>
      <div class="form-group">
        {{ itemform.test|bootstrap_inline }}
      </div>
      <div class="form-group">
        {{ itemform.arg_r|bootstrap_inline }}
      </div>
      <input type="hidden" id="id_{{ itemform.prefix }}-DELETE" name="{{ itemform.prefix }}-DELETE">
      <a href="#" class="btn btn-danger delete-item">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
    {% endfor %}
  </div>
  <p>
    <a class="btn btn-default" href="#" id="add-item">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> preference
    </a>
  </p>
  <p>
    <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function toggle_delete_buttons(){
    $('.delete-item').toggle($(".item-form:visible").length > 1);
  }

  function add_item() {
    var $itemform = $(".empty-itemform")
                    .clone()
                    .show()
                    .removeClass('empty-itemform');
    var new_prefix;
    $('input[name$="-TOTAL_FORMS"]').val(function(i, oldval){
      new_prefix = parseInt(oldval, 10);
      return new_prefix + 1;
    });
    var set_prefix = function(i, old_val) {
      return old_val.replace('__prefix__', new_prefix);
    }
    $itemform.find('label')
             .attr('for', set_prefix);
    $itemform.find('input,select')
             .attr('id', set_prefix)
             .attr('name', set_prefix);
    $("#item-forms").append($itemform);
    toggle_delete_buttons();
  }

  function delete_item($btn) {
    $btn.prev().val(1);
    $btn.parent().hide();
    toggle_delete_buttons();
  }

  function toggle_arg_l($sel) {
    var arg_l_id = $sel.attr('id').replace('-test', '-arg_l');
    $('#' + arg_l_id).parent().parent().parent().toggle($sel.val() == 'INT_GTE_LTE');
  }
  
  $(document).ready(function(){
    $("#add-item").click(function(event){
      add_item();
    })
    toggle_delete_buttons();
    $(".key-test-sel").each(function(){
      toggle_arg_l($(this));
    });
  }); 

  $(document).on('click', '.delete-item', function(event){
    delete_item($(this));
  });

  $(document).on('change', '.key-test-sel', function(event){
    toggle_arg_l($(this));
  });
</script>
{% endblock %}
