{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:index' %}">Osquery</a></li>
  {% if form.has_changed %}
  <li><a href="{% url 'osquery:queries' %}">Queries</a></li>
  {% if reset_link %}
  <li><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li><a href="{{ reset_link }}">Queries</a></li>
  {% else %}
  <li class="active">Queries</li>
  {% endif %}
  {% endif %}
  <li class="active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h3>{{ page_obj.paginator.count }} Quer{{ page_obj.paginator.count|pluralize:"y,ies" }}</h3>

{% if perms.osquery.add_query %}
<p>
  <a href="{% url 'osquery:create_query' %}" class="btn btn-default">Create</a>
</p>
{% endif %}

<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
    <div class="form-group">
      {{ form.q|bootstrap_inline }}
    </div>
    <div class="form-group">
      {{ form.pack.label_tag }}
      {{ form.pack|bootstrap_inline }}
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>Name / Tables</th>
      {% if perms.osquery.view_pack %}
      <th>Pack</th>
      {% endif %}
      {% if perms.osquery.view_distributedquery %}
      <th>Runs</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for query in page_obj %}
    {% with query.tables as tables %}
    <tr>
      <td>
        <a href="{{ query.get_absolute_url }}">{{ query }}</a>
        {% if tables %}<p style="margin:5px 0 0 0">{% for table in query.tables %}<code>{{ table }}</code> {% endfor %}</p>{% endif %}
      </td>
      {% if perms.osquery.view_pack %}
      <td>
        {% if query.packquery %}<a href="{{ query.packquery.get_absolute_url }}">{{ query.packquery.pack }}</a>{% else %}-{% endif %}
      </td>
      {% endif %}
      {% if perms.osquery.view_distributedquery %}
      <td>
        {% if query.distributed_query_count %}{{ query.distributed_query_count }}{% else %}-{% endif %}
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
