{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags%}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  {% if form.has_changed %}
  <li class="breadcrumb-item"><a href="{% url 'osquery:queries' %}">Queries</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Queries</a></li>
  {% else %}
  <li class="breadcrumb-item active">Queries</li>
  {% endif %}
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h3 class="mb-3">Quer{{ page_obj.paginator.count|pluralize:"y,ies" }} ({{ page_obj.paginator.count }})</h3>

<div class="d-flex align-items-center mb-1">
    <form method="GET" class="d-flex w-75 me-auto flex-shrink-0 align-items-center">            
        
        {{ form }}
        
        <button type="submit" class="btn btn-link text-dark text-decoration-none mx-2">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <div class="ms-auto">
        {% if perms.osquery.add_query %}
            <a href="{% url 'osquery:create_query' %}" type="button" 
                    class="btn btn-link text-dark text-decoration-none"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new Query">
                    <i class="bi bi-plus-circle"></i>
                </a>
        {% endif %}
        </div>
</div>

{% if not page_obj %}
    {% url 'osquery:queries' as empty_results_url %}
    {% empty_results empty_results_url %}
{% else %}

{% pagination next_url previous_url %}

<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>Name / Tables</th>
      <th>Compliance check</th>
      <th>Tag</th>
      {% if perms.osquery.view_pack %}
      <th>Pack</th>
      {% endif %}
      {% if perms.osquery.view_distributedquery %}
      <th>Runs</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for query in page_obj %}
    {% with query.tables as tables %}
    <tr>
      <td>
        <a href="{{ query.get_absolute_url }}">{{ query }}</a>
        {% if tables %}<p style="margin:5px 0 0 0">{% for table in query.tables %}<code>{{ table }}</code> {% endfor %}</p>{% endif %}
      </td>
      <td>{% if query.compliance_check %}yes{% else %}no{% endif %}</td>
      <td>{% if query.tag %}{% inventory_tag query.tag %}{% else %}-{% endif %}</td>
      {% if perms.osquery.view_pack %}
      <td>
        {% if query.packquery %}<a href="{{ query.packquery.get_absolute_url }}">{{ query.packquery.pack }}</a>{% else %}-{% endif %}
      </td>
      {% endif %}
      {% if perms.osquery.view_distributedquery %}
      <td>
        {% if query.distributed_query_count %}{{ query.distributed_query_count }}{% else %}-{% endif %}
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% pagination next_url previous_url %}

{% endif %}
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function testCheckboxes(elm) {
    checkedInputs = $('input[type=checkbox]:checked');
    if (checkedInputs.length > 1) {
      checkedInputs.each(function (index, input) {
        if (input !== elm) {
          $(input).prop("checked", false);
        }
      });
    }
  }
  $('input[type=checkbox]').change(function() {
    testCheckboxes(this);
  });
</script>
{% endblock %}
