{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:queries' %}">Queries</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:query' query.pk %}">{{ query }}</a></li>
  <li class="breadcrumb-item active">events</li>
</ol>

<div class="sticky-top bg-body z-1">
  <h2>{{ query }}</h3>
  <h3 class="text-secondary">Events</h2>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
