{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:index' %}">Osquery</a></li>
  <li class="breadcrumb-item"><a href="{% url 'osquery:queries' %}">Queries</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
        <div class="ms-3">
            {% if events_url %}
                <a type="button" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Browse the events" href="{{ events_url }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"></path>
                    </svg>
                </a>
            {% endif %}
            {% for link, anchor_text in store_links  %}
                <a class="btn btn-link text-dark text-decoration-none" href="{{ link }}">
                    <span class="bi bi-link" aria-hidden="true"></span> {{ anchor_text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Query</h3>
        <div class="ms-auto">
            {% if perms.osquery.change_query %}
            <a href="{% url 'osquery:update_query' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
            {% endif %}
            {% if perms.osquery.delete_query %}
            <a href="{% url 'osquery:delete_query' object.id %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete">
                <i class="bi bi-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive mb-3">
    <div class="col-md-12">
        <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
            <tr>
            <th>Attribute</th>
            <th>Value</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>{{ object.get_sql_html|safe }}</td>
        </tr>
        <tr>
            <td>Platform{{ object.platforms|length|pluralize }}</td>
            <td>{{ object.platforms|join:", "|default:"-" }}</td>
        </tr>
        <tr>
            <td>Minimum osquery version</td>
            <td>{{ object.minimum_osquery_version|default:"-" }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ object.description|default:"-"|linebreaksbr }}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{ object.value|default:"-"|linebreaksbr }}</td>
        </tr>
        {% if perms.osquery.view_pack %}
        <tr>
            <td>Pack</td>
            <td>{% if pack_query %}<a href="{{ pack_query.get_absolute_url }}">{{ pack_query.pack }}</a>{% else %}-{% endif %}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Compliance check</td>
            <td>{% if object.compliance_check %}yes{% else %}no{% endif %}</td>
        </tr>
        <tr>
            <td>Tag</td>
            <td>{% if object.tag %}{% inventory_tag object.tag %}{% else %}-{% endif %}</td>
        </tr>
        </tbody>
        </table>

        {% created_updated_at object %}

    </div>
    </div>
</div>

{% if perms.osquery.view_distributedquery %}
<h3 id="runs">Run{{ distributed_query_count|pluralize }} ({{ distributed_query_count }})</h3>

{% if perms.osquery.add_distributedquery %}
<p>
  <a class="btn btn-primary" href="{% url 'osquery:create_distributed_query' %}?q={{ object.pk }}">
    🚀 Launch
  </a>
</p>
{% endif %}

{% if distributed_query_count %}
<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <th>#</th>
    <th>Query version</th>
    <th>Valid from</th>
    <th>Valid until</th>
    <th>In flight</th>
    <th>OK</th>
    <th>Err</th>
  </thead>
  <tbody>
  {% for distributed_query in distributed_queries %}
  <tr>
    <td><a href="{{ distributed_query.get_absolute_url }}">{{ distributed_query }}</a></td>
    <td>{{ distributed_query.query_version }}</td>
    <td class="{% if distributed_query.is_active %}text-success{% else %}text-muted{% endif %}">{{ distributed_query.valid_from }}</td>
    <td class="{% if distributed_query.is_active %}text-success{% else %}text-muted{% endif %}">{{ distributed_query.valid_until|default:"-" }}</td>
    <td>{{ distributed_query.in_flight_count }}</td>
    <td>{{ distributed_query.ok_count }}</td>
    <td>{{ distributed_query.error_count }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
