{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if token_user == request.user %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:users' %}">Users</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:user' token_user.pk %}">{{ token_user.get_type_display|title }} {{ token_user }}</a></li>
  {% endif %}
  <li class="breadcrumb-item active">Delete API token</li>
</ol>

<h3>Delete {% if token_user == request.user %}my{% else %}{{ token_user.get_type_display }} {{ token_user }}{% endif %} API token</h3>

<p>Please confirm you want to delete {% if token_user == request.user %}your API token{% else %}the {{ token_user.get_type_display }} API token of {{ token_user }}{% endif %}.</p>
<form class="form" method="POST">{% csrf_token %}
  <p>
    {% if token_user == request.user %}
    <a href="{% url 'accounts:profile' %}" class="btn btn-outline-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'accounts:user' token_user.pk %}" class="btn btn-outline-secondary">Cancel</a>
    {% endif %}
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>
{% endblock %}
