{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'accounts:users' %}">Users</a></li>
  <li><a href="{% url 'accounts:user' user_to_delete.pk %}">{{ user_to_delete.get_type_display|title }} {{ user_to_delete }}</a></li>
  <li class="active">Delete</li>
</ol>

<h3>Delete {{ user_to_delete.get_type_display }} {{ user_to_delete }}</h3>

<p>Please confirm you want to delete the {{ user_to_delete.get_type_display }}: {{ user_to_delete }}.</p>
<form class="form" method="POST">{% csrf_token %}
  <p>
    <a href="{% url 'accounts:users' %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete {{ user_to_delete.get_type_display }}</button>
  </p>
</form>
{% endblock %}
