{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:verification_devices' %}">Verification devices</a></li>
  <li class="breadcrumb-item active">Delete {{ object }}</li>
</ol>

<h3 class="mb-3">Delete {{ object }}</h3>

<p>Please confirm you want to delete the {{ object }} device.</p>

<form class="update-form" method="POST">{% csrf_token %}

  {{ form }}

  <p>
    <a href="{% url 'accounts:verification_devices' %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>

{% endblock %}
