{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Groups</li>
</ol>

<h3>{{ object_list|length }} Group{{ object_list|length|pluralize }}</h3>

{% if perms.auth.add_group %}
<a href="{% url 'accounts:create_group' %}" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Create
</a>
{% endif %}

<table class="table">
  <thead>
    <th>Name</th>
    {% if perms.accounts.view_user %}
    <th>Users</th>
    <th>Service accounts</th>
    {% endif %}
    {% if perms.realms.view_realmgroupmapping %}
    <th>Realm mappings</th>
    {% endif %}
    <th style="width:15%"></th>
  </thead>
  <tbody>
    {% for group in object_list %}
    <tr>
      <td>
        <a href="{% url 'accounts:group' group.pk %}">{{ group }}</a>
      </td>
      {% if perms.accounts.view_user %}
      <td>
        {{ group.user_count }}
      </td>
      <td>
        {{ group.service_account_count }}
      </td>
      {% endif %}
      {% if perms.realms.view_realmgroupmapping %}
      <td>
        {{ group.realm_group_mapping_count }}
      </td>
      {% endif %}
      <td>
        {% if perms.auth.change_group %}
        <a class="btn btn-default" href="{% url 'accounts:update_group' group.pk %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.auth.delete_group %}
        <a class="btn btn-danger" href="{% url 'accounts:delete_group' group.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
