{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:groups' %}">Groups</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Group</h3>
        <div class="ms-auto">
            {% if perms.auth.change_group and perms.accounts.change_user %}
                <a href="{% url 'accounts:update_group' object.pk %}" type="button" 
                        class="btn btn-link text-dark text-decoration-none"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit Realm">
                        <i class="bi bi-pencil-square"></i>
                    </a>
            {% endif %}
            {% if perms.auth.delete_group and perms.accounts.change_user %}
                <a href="{% url 'accounts:delete_group' object.pk %}" type="button" 
                        class="btn btn-link text-dark text-decoration-none"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Realm">
                        <i class="bi bi-trash"></i>
                    </a>
            {% endif %}        
        </div>
    </div>
</div>

<h4>Permission{{ permission_count|pluralize }} ({{ permission_count }})</h4>

{% if permission_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>App</th>
    <th>Model</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for content_type, codenames in permissions %}
    <tr>
      <td>{{ content_type.app_label }}</td>
      <td>{{ content_type.model }}</td>
      <td>{{ codenames|join:", " }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if perms.accounts.view_user %}
<h4>User{{ user_count|pluralize }} ({{ user_count }})</h4>
{% if user_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Remote?</th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="{% url 'accounts:user' user.pk %}">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
      <td>{% if user.is_remote %}Yes{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.accounts.view_user %}
<h4>Service account{{ service_account_count|pluralize }} ({{ service_account_count }})</h4>
{% if service_account_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {% for service_account in service_accounts %}
    <tr>
      <td><a href="{% url 'accounts:user' service_account.pk %}">{{ service_account }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.realms.view_realmgroupmapping %}
<h4>Realm mapping{{ realm_group_mapping_count|pluralize }} ({{ realm_group_mapping_count }})</h4>
{% if realm_group_mapping_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    {% if perms.realms.view_realm %}
    <th>Realm</th>
    {% endif %}
    <th>Claim</th>
    <th>Value</th>
  </thead>
  <tbody>
    {% for realm_group_mapping in realm_group_mappings %}
    <tr>
      {% if perms.realms.view_realm %}
      <td><a href="{{ realm_group_mapping.realm.get_absolute_url }}">{{ realm_group_mapping.realm }}</a></td>
      {% endif %}
      <td>{{ realm_group_mapping.claim }}</td>
      <td>{{ realm_group_mapping.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
