{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:groups' %}">Roles</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Role</h3>
        <div class="ms-auto">
            {% if perms.auth.change_group and perms.accounts.change_user %}
                {% url 'accounts:update_group' object.pk as url %}
                {% button 'UPDATE' url "Edit role" %}
            {% endif %}
            {% if perms.auth.delete_group and perms.accounts.change_user %}
                {% url 'accounts:delete_group' object.pk as url %}
                {% button 'DELETE' url "Delete role" %}
            {% endif %}        
        </div>
    </div>
</div>

<h3>Permission{{ permission_count|pluralize }} ({{ permission_count }})</h3>

{% if permission_count %}
<table class="table table-striped align-middle object-details">
  <thead>
    <th>App</th>
    <th>Model</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for content_type, codenames in permissions %}
    <tr>
      <td>{{ content_type.app_label }}</td>
      <td>{{ content_type.model }}</td>
      <td>{{ codenames|join:", " }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if perms.accounts.view_user %}
<h3>User{{ user_count|pluralize }} ({{ user_count }})</h3>
{% if user_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Remote?</th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="{% url 'accounts:user' user.pk %}">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
      <td>{% if user.is_remote %}Yes{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.accounts.view_user %}
<h3>Service account{{ service_account_count|pluralize }} ({{ service_account_count }})</h3>
{% if service_account_count %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {% for service_account in service_accounts %}
    <tr>
      <td><a href="{% url 'accounts:user' service_account.pk %}">{{ service_account }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% include "realms/_role_mappings.html" with hide_role="True" %}

{% endblock %}
