{% extends 'base.html' %}
{% load bootstrap staticfiles %}

{% block content %}
<h3>Register U2F device</h3>


<form id="form" class="form" method="POST">{% csrf_token %}
  {{ form.name|bootstrap }}
  {{ form.token_response }}
</form>
<div>
  <p class="text-muted" id="u2f_message">Waiting for device…</p>
  <a id="u2f_message_retry" class="btn btn-primary" style="display:none;">Retry</a>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'yubico/u2f-api.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
  var request = JSON.parse('{{ u2f_challenge_json|safe }}');

  function show_message (message, retry) {
    $("#u2f_message_retry").toggle(retry);
    $("#u2f_message").text(message);
  }

  function register () {
    u2f.register(
      request.appId,
      request.registerRequests,
      request.registeredKeys,
      function(data) {
        if(data.errorCode) {
          switch (data.errorCode) {
            case 5:
              show_message("Timed out waiting for device.", true);
              break;
            case 4:
              show_message("This device is not registered for this account.", true);
              break;
            case 3:
              show_message("Client configuration not supported.", false);
              break;
            case 2:
              show_message("Bad request.", false);  // should not happen
              break;
            default:
              show_message("Something went wrong.", true);
              break;
          }
        } else {
          var token_response = document.getElementById('id_token_response');
          token_response.value = JSON.stringify(data);

          var name_input = document.getElementById('id_name');
          if (name_input.value.length > 0) {
            show_message("OK", false);
            var form = document.getElementById('form');
            form.submit();
          } else {
            show_message("Missing device name.", false);
            name_input.focus();
          }
        }
      }
    );
  }

  $(document).ready(function(){
    register();
    $("#u2f_message_retry").click(function (event) {
      event.preventDefault();
      show_message("Waiting for device…", false);
      register();
    });
  });
</script>
{% endblock %}
