{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
        <li class="breadcrumb-item active">Verification devices</li>
    </ol>
</nav>

<div class="d-flex align-items-center mb-1">
    <h3 class="mb-3">Verification device{{ verification_devices|length|pluralize }} ({{ verification_devices|length }})</h3>

    <div class="dropdown mb-2 btn btn-link">
        <button class="btn btn-primary dropdown-toggle" type="button" id="addVD"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
        </button>
        <ul class="dropdown-menu" aria-labelledby="addVD">
            <li><a class="dropdown-item" href="{% url 'accounts:add_totp' %}">TOTP</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:register_webauthn_device' %}">Security key</a></li>
        </ul>
    </div>
</div>

<table class="table table-light table-striped align-middle">
  <thead>
    <th>Type</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    {% for verification_device in verification_devices %}
    <tr class="data-row">
      <td>{{ verification_device.get_type_for_display }}</td>
      <td>{{ verification_device.name }}</td>
      <td class="text-end py-0">
        <a class="btn btn-link text-dark text-decoration-none" href="{{ verification_device.get_delete_url }}">
          <span class="bi bi-trash" aria-hidden="true"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Verification Device"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
