{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if object == request.user %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:users' %}">Users</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:user' object.pk %}">{{ object.get_type_display|title }} {{ object }}</a></li>
  {% endif %}
  <li class="breadcrumb-item active">API token</li>
</ol>

<h3>{% if object == request.user %}My{% else %}{{ object.get_type_display|title }} {{ object }}{% endif %} API token</h3>

<p>
  <button class="copy-secret btn btn-link" data-secret-id="auth-token"
    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Copy to clipboard">
    <span class="bi bi-clipboard-plus" aria-hidden="true"></span>
  </button>
  <a href="#" class="secret-toggle btn btn-link" data-secret-id="auth-token"
    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View Token">
    <span class="bi bi-eye" aria-hidden="true"></span>
  </a>
  <input style="font-family:monospace" hidden id="auth-token" value="{{ api_key }}" size="{{ api_key|length }}">
</p>

<p><span class="text-danger">This token cannot be retrieved later on.</span> However, you can create a new one at any time.</p>

<p>
    {% if object == request.user %}
        <a href="{% url 'accounts:profile' %}" class="btn btn-outline-secondary">Close</a>
    {% else %}
        <a href="{% url 'accounts:user' object.pk %}" class="btn btn-outline-secondary">Close</a>
    {% endif %}
</p>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var secretToggles = document.querySelectorAll(".secret-toggle");
  secretToggles.forEach(function(secretToggle) {
    secretToggle.addEventListener("click", function(event) {
      event.preventDefault();
      var secretId = secretToggle.dataset.secretId;
      var secretElm = document.getElementById(secretId);
      var eyeSpan = secretToggle.firstElementChild;
      if (secretElm.hidden) {
        secretElm.hidden = false;
        eyeSpan.classList.remove("bi-eye");
        eyeSpan.classList.add("bi-eye-slash");
      } else {
        secretElm.hidden = true;
        eyeSpan.classList.remove("bi-eye-slash");
        eyeSpan.classList.add("bi-eye");
      }
    });
  });

  var copySecretButtons = document.querySelectorAll(".copy-secret");
  copySecretButtons.forEach(function(copySecretButton) {
    copySecretButton.addEventListener("click", function(event) {
      event.preventDefault();
      var secretId = copySecretButton.dataset.secretId;
      var secretElm = document.getElementById(secretId);
      var secretElmWasHidden = secretElm.hidden;
      // sorry
      if (secretElmWasHidden) {
        secretElm.hidden = false;
      }
      secretElm.select();
      document.execCommand("copy");
      if (secretElmWasHidden) {
        secretElm.hidden = true;
      }
    });
  });
</script>
{% endblock %}
