{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'accounts:users' %}">Users</a></li>
  {% if user_to_update %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:user' user_to_update.pk %}">{{ user_to_update.get_type_display|title }} {{ user_to_update }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">{{ title }}</li>
  {% endif %}
</ol>

<h3>{{ title }}</h3>

<form class="update-form" method="POST">{% csrf_token %}
  {{ form }}
  <p>
    {% if user_to_update %}
    <a href="{% url 'accounts:user' user_to_update.pk %}" class="btn btn-outline-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'accounts:users' %}" class="btn btn-outline-secondary">Cancel</a>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
