{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
        <li class="breadcrumb-item active">Verification devices</li>
    </ol>
</nav>

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Verification device{{ verification_devices|length|pluralize }} ({{ verification_devices|length }})</h3>
    <div class="ms-auto">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="addVD"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-plus-circle"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addVD">
                <li><a class="dropdown-item" href="{% url 'accounts:add_totp' %}">TOTP</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:register_webauthn_device' %}">Security key</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped align-middle">
  <thead>
    <th>Type</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    {% for verification_device in verification_devices %}
    <tr class="data-row">
      <td>{{ verification_device.get_type_for_display }}</td>
      <td>{{ verification_device.name }}</td>
      <td class="text-end py-0">
            {% button 'DELETE' verification_device.get_delete_url "Delete Verification Device" %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
