{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Users</li>
</ol>

<h3>{{ user_count }} User{{ user_count|pluralize }}</h3>

<a href="{% url 'users:invite' %}" class="btn btn-default">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  Send an email invitation
</a>

<table class="table">
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th style="width:10%">API token</th>
    <th style="width:15%"></th>
  </thead>
  <tbody>
    {% for managed_user in users %}
    <tr>
      <td>
        {% if managed_user.is_superuser %}
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        {% else %}
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        {% endif %}
        <a href="{% url 'users:user' managed_user.pk %}">{{ managed_user.username }}</a>
      </td>
      <td>{{ managed_user.email }}</td>
      <td>{% if managed_user.auth_token %}Yes{% endif %}</td>
      <td>
        {% if managed_user.editable %}
        <a class="btn btn-default" href="{% url 'users:update' managed_user.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if managed_user.deletable %}
        <a class="btn btn-danger" href="{% url 'users:delete' managed_user.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>{{ service_account_count }} Service account{{ service_account_count|pluralize }}</h3>

<a href="{% url 'users:create_service_account' %}" class="btn btn-default">
  Create
</a>

{% if service_account_count %}
<table class="table">
  <thead>
    <th>Name</th>
    <th style="width:10%">API token</th>
    <th style="width:15%"></th>
  </thead>
  <tbody>
    {% for service_account in service_accounts %}
    <tr>
      <td>
        <a href="{% url 'users:user' service_account.pk %}">{{ service_account.username }}</a>
      </td>
      <td>{% if service_account.auth_token %}Yes{% endif %}</td>
      <td>
        {% if service_account.editable %}
        <a class="btn btn-default" href="{% url 'users:update' service_account.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if service_account.deletable %}
        <a class="btn btn-danger" href="{% url 'users:delete' service_account.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
