{% extends 'base.html' %}

{% block content %}
<div class="reg-container">
  <form method="POST">{% csrf_token %}
    <h1 class="reg-title">MFA - TOTP code</h1>
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% comment %}
    We merge the field errors as alerts, it should always work for this form
    {% endcomment %}
    {% for ff in form %}
    {% for error in ff.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% endfor %}
    {% for ff in form %}
    <div class="form-floating my-3">
      {{ ff }}
      <label for="{{ ff.id_for_label }}">{{ ff.label }}</label>
    </div>
    {% endfor %}
    <button class="reg-btn-primary" type="submit" class="btn btn-primary">
      Sign in
    </button>
  </form>
  {% for link, anchor_text in form.get_alternative_verification_links %}
  <p class="my-3"><a href="{{ link }}">{{ anchor_text }}</a></p>
  {% endfor %}
</div>
{% endblock %}
