{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center w-100 m-auto">
    <form class="panel panel-default" method="POST">{% csrf_token %}
    <div class="panel-heading">
        <h3 class="panel-title">
        Two-factor authentication - TOTP code
        </h3>
    </div>
    <div class="panel-body">
        {% for ff in form %}
            <div class="form-floating d-flex justify-content-center w-25 m-auto p-1 my-2" style="max-width:150px; min-width:150px;">
                {{ ff }}
                <label for="floatingInput">{{ ff.label }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="panel-footer btn-group btn-group-justified" role="group" aria-label="sign in">
        <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">
            Sign in
        </button>
        </div>
    </div>
    </form>
    {% for link, anchor_text in form.get_alternative_verification_links %}
    <p class="mt-2"><a href="{{ link }}"><u>{{ anchor_text }}</u></a></p>
    {% endfor %}
</div>
{% endblock %}
