{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:index' %}">Probes</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:probe' probe_source.id %}">{{ probe_source.name }}</a></li>
  <li class="breadcrumb-item active">{% if add_action %}Add{% else %}Update{% endif %} {{ action.name }} action</li>
</ol>

<h2>{% if add_action %}Add{% else %}Update{% endif %} {{ action.name }} action</h2>

    <form method="POST">{% csrf_token %}
  
        {{ form }}
  
    <a class="btn btn-outline-secondary" href="{{ probe_source.get_actions_absolute_url }}">Cancel</a>
  
    <button class="btn btn-primary" type="submit">Save</button>

    </form>
{% endblock %}
