{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:index' %}">Probes</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feeds' %}">Feeds</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feed' object.id %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">Confirm delete</li>
</ol>

<h2>Delete feed <em>{{ object.name }}</em></h2>

<p>Do you really want to delete this Feed ?</p>

<form method="POST">{% csrf_token %}
  
    <a class="btn btn-outline-secondary" href="{% url 'probes:feed' object.id %}">Cancel</a>
  
    <button class="btn btn-danger" type="submit">Delete</button>

</form>
{% endblock %}
