{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:index' %}">Probes</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feeds' %}">Feeds</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
</ol>

<h2 class="mb-3">{{ title }}</h2>
<form method="POST" class="update-form">{% csrf_token %}
  
    {{ form }}
  
    <a class="btn btn-outline-secondary" href="{% url 'probes:feeds' %}">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
