{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:index' %}">Probes</a>
  <li class="breadcrumb-item"><a href="{% url 'probes:feeds' %}">Feeds</a>
  <li class="breadcrumb-item active">{{ feed.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ feed.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Feed</h3>

        {% if perms.probes.update_feed or perms.probes.delete_feed %}
        <div class="ms-auto">
            {% if perms.probes.change_feed %}
                {% url 'probes:update_feed' feed.id as url %}
                {% button 'UPDATE' url "Edit Feed" %}
            {% endif %}
            {% if perms.probes.delete_feed %}
                {% url 'probes:delete_feed' feed.id as url %}
                {% button 'DELETE' url "Delete Feed" %}
            {% endif %}
        </div>
        {% endif %}
    </div>

    <table class="table table-striped align-middle table-object-properties">
        <thead>
            <tr>
            <th>Attribute</th>
            <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% if feed.description %}
            <tr><td>description</td><td>{{ feed.description|linebreaks }}</td></tr>
            {% endif %}
            <tr><td>created at</td><td>{{ feed.created_at }}</td></tr>
            <tr><td>updated at</td><td>{{ feed.updated_at }}</td></tr>
            <tr><td>last synced at</td><td>{{ feed.last_synced_at|default:"-" }}</td></tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between mb-3">
    <h3>Probe{{ active_probes|length|pluralize }} ({{ active_probes|length }})</h3>
</div>

<div class="table-responsive mb-3">
    <table class="table table-striped align-middle table-hover">
    <thead>
        <th>Model</th>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
        {% for feed_probe in active_probes %}
        <tr>
        <td>{{ feed_probe.get_model_display }}</td>
        <td>
            {% if perms.probes.view_probesource %}
            <a href="{% url 'probes:feed_probe' feed.id feed_probe.id %}">{{ feed_probe }}</a>
            {% else %}
            {{ feed_probe }}
            {% endif %}
        </td>
        <td>{{ feed_probe.description|linebreaks }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
