{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:index' %}">Probes</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feeds' %}">Feeds</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feed' feed.id  %}">{{ feed }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'probes:feed_probe' feed.id feed_probe.id %}">{{ feed_probe }}</a></li>
  <li class="breadcrumb-item active">Import</li>
</ol>

<h2>{{ title }}</h2>
<form method="POST" class="update-form">{% csrf_token %}
  {{ form }}
  <a class="btn btn-outline-secondary" href="{% url 'probes:feed_probe' feed.id feed_probe.id %}">Cancel</a>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
