{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li class="breadcrumb-item"><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="breadcrumb-item active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

    <div class="d-flex align-items-center mb-1">
        <h2 class="mb-3">Probe{{ paginator.count|pluralize }} ({{ paginator.count }})</h2>
    </div>

    <div class="d-flex align-items-center mb-1">
        <form method="GET" class="d-flex w-75 me-auto flex-shrink-0 align-items-center">

            {{ form }}

            <button type="submit" class="btn btn-link text-dark text-decoration-none mb-2">
                <i class="bi bi-search"></i>
            </button>
        </form>
    {% if perms.probes.add_probesource %}
        <div class="ms-auto">
            {% url 'probes:create' as url %}
            {% button 'CREATE' url "Create new Probe" %}
        </div>
    {% endif %}
    </div>


{% if object_list %}
    {% pagination next_url previous_url %}

    <div class="table-reponsive mb-3">
    <table class="table table-light table-striped align-middle">
        <thead>
        <th>Model</th>
        <th>Events</th>
        <th>Name</th>
        <th>Status</th>
        </thead>
        <tbody>
        {% for probe in object_list %}
        <tr>
        <td>{{ probe.get_model_display }}</td>
        <td>
            {% with probe.get_event_type_class_names as event_type_class_names %}
            {% if event_type_class_names %}
            <p>
            {% for event_type in event_type_class_names %}
            {{ event_type }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
        </td>
        <td><a href="{% url 'probes:probe' probe.pk %}">{{ probe.name }}</a></td>
        <td>
            {% if probe.status == 'ACTIVE' %}
            <span class="badge text-bg-success">Active</span>
            {% else %}
            <span class="badge text-bg-secondary">Inactive</span>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% pagination next_url previous_url %}
{% else %}
    {% url 'probes:index' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}
{% endblock %}
