{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<p>
  <a href="{% url 'nagios:create_nagios_instance' %}" class="btn btn-default">Create</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Business unit</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for nagios_instance in object_list %}
    <tr>
      <td>
        {% if nagios_instance.business_unit %}
        <a href="{% url 'inventory:mbu_machines' nagios_instance.business_unit.meta_business_unit.id %}">
          {{ nagios_instance.business_unit }}
        </a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ nagios_instance.url }}</td>
      <td>
        <a href="{% url 'nagios:download_nagios_instance_event_handler' nagios_instance.pk %}"
          class="btn btn-default"
          aria-label="Download python2.7 event handler script"
          title="Python2.7 event handler script">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          <i class="fab fa-python" aria-hidden="true"></i>
        </a>
        <a href="{% url 'nagios:update_nagios_instance' nagios_instance.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a href="{% url 'nagios:delete_nagios_instance' nagios_instance.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
