{% load base_extras %}
<tr>
  <th colspan="2"><h4>Declaration</h4></th>
</tr>
<tr>
  <th>Source</th>
  <td>{{ declaration.get_full_dict|jsonprettyprint }}</td>
</tr>
<tr>
  {% with declaration.declarationref_set.all as declaration_refs %}
  <th>Reference{{ declaration_refs.count|pluralize }}</th>
  <td>
    <table>
      {% for ref in declaration_refs %}
      {% with ref.artifact as artifact %}
      <tr>
        <td>{{ ref.key|join:"." }}</td>
        <td><a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a></td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
  </td>
  {% endwith %}
</tr>
{% with declaration.packageref_set.all as package_refs %}
{% if package_refs %}
<tr>
  <th>Package reference{{ package_refs|length|pluralize }}</th>
  <td>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Key</th>
          <th>Package</th>
          <th>Product ID</th>
          <th>Product version</th>
        </tr>
      </thead>
      <tbody>
        {% for ref in package_refs %}
        <tr>
          <td>{{ ref.key|join:"." }}</td>
          <td>
            {% if perms.mdm.view_package %}
            <a href="{{ ref.package.get_absolute_url }}">{{ ref.package }}</a>
            {% else %}
            {{ ref.package }}
            {% endif %}
          </td>
          <td>{{ ref.package.product_id }}</td>
          <td>{{ ref.package.product_version }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endif %}
{% endwith %}
