{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="active">Artifacts</li>
</ol>

<h3>{{ object_list|length  }} artifact{{ object_list|length|pluralize }}</h3>

{% if perms.mdm.add_artifact %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addArtifact"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addArtifact">
    <li><a href="{% url 'mdm:upload_profile' %}">Profile</a></li>
  </ul>
</div>
{% endif %}

{% if object_list %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Blueprints</th>
      <th>created at</th>
      <th>updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for artifact in object_list %}
    <tr>
      <td><a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a></td>
      <td>{{ artifact.get_type_display }}</td>
      <td>{{ artifact.blueprintartifact__count }}</td>
      <td>{{ artifact.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ artifact.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
