{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h3>{{ object }}</h3>

<p>
  {% if perms.mdm.change_artifact %}
  <a class="btn btn-default" href="{% url 'mdm:update_artifact' object.pk %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Update
  </a>
  {% endif %}
  {% if perms.mdm.delete_artifact %}
  <a class="btn btn-danger" href="{% url 'mdm:trash_artifact' object.pk %}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Delete
  </a>
  {% endif %}
</p>

<table class="table">
  <tbody>
    <tr>
      <th>Type</th>
      <td>{{ object.get_type_display }}</td>
    </tr>
    <tr>
      <th>Channel</th>
      <td>{{ object.channel }}</td>
    </tr>
    <tr>
      <th>Platform{{ object.platforms|length|pluralize }}</th>
      <td>{{ object.platforms|join:", "|default:"-" }}</td>
    </tr>
    {% if profile_list %}
    {% with profile_list|first as profile %}
    <tr>
      <th colspan="2"><h4>Profile</h4></td>
    </tr>
    <tr>
      <th>Payload description</th>
      <td>{{ profile.get_payload_description|default:"-" }}</td>
    </tr>
    <tr>
      <th>Payload identifier</th>
      <td><code>{{ profile.payload_identifier }}</code></th>
    </tr>
    <tr>
      <th>Installed payload identifier</th>
      <td><code>{{ profile.installed_payload_identifier }}</code></th>
    </tr>
    {% endwith %}
    {% endif %}
  </tbody>
</table>
<dl class="dl-horizontal">
  <dt class="small text-muted">Created at</dt>
  <dd class="small text-muted">{{ object.created_at|date:'r' }}</dd>
  <dt class="small text-muted">Updated at</dt>
  <dd class="small text-muted">{{ object.updated_at|date:'r' }}</dd>
  {% if object.trashed_at %}
  <dt class="small text-danger">Trashed at</dt>
  <dd class="small text-danger">{{ object.trashed_at|date:'r' }}</dd>
  {% endif %}
</dl>

<h4>{{ versions_count }} Version{{ versions_count|pluralize }}</h4>

{% if profile_list %}
<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Filename</th>
      <th>Payload UUID</th>
      <th>Payload Content</th>
      <th>Created at</td>
    </tr>
  </thead>
  <tbody>
    {% for profile in profile_list %}
    <tr id="{{ profile.artifact_version.pk }}">
      <td>{{ profile.artifact_version.version }}</td>
      <td>{{ profile.filename|default:"-" }}</td>
      <td><code>{{ profile.payload_uuid }}</code></td>
      <td>
        <ul class="list-unstyled">
          {% for payload_type, payload_display_name in profile.payloads %}
          <li>{{ payload_type }}{% if payload_display_name %} - {{ payload_display_name }}{% endif %}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ profile.artifact_version.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h4>{{ blueprint_artifacts_count }} Blueprint{{ blueprint_artifacts_count|pluralize }}</h4>

{% if perms.mdm.change_blueprint %}
<p>
  <a href="{% url 'mdm:create_blueprint_artifact' object.pk %}" class="btn btn-default">
    Add
  </a>
</p>
{% endif %}

{% if blueprint_artifacts_count %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Before S.A.?</th>
      <th>Auto update?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ba in blueprint_artifacts %}
    <tr id="ba-{{ ba.pk }}">
      <td>
        {% if perms.mdm.view_blueprint %}
        <a href="{{ ba.blueprint.get_absolute_url }}">{{ ba.blueprint }}</a>
        {% else %}
        {{ ba.blueprint }}
        {% endif %}
      </td>
      <td>{{ ba.priority }}</td>
      <td>{{ ba.install_before_setup_assistant|yesno }}</td>
      <td>{{ ba.auto_update|yesno }}</td>
      <td>
        {% if perms.mdm.change_blueprintartifact %}
        <a href="{% url 'mdm:update_blueprint_artifact' object.pk ba.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.mdm.delete_blueprintartifact %}
        <a href="{% url 'mdm:delete_blueprint_artifact' object.pk ba.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
