{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h3>{{ object }}</h3>

<p>
  {% if perms.mdm.change_artifact %}
  <a class="btn btn-default" href="{% url 'mdm:update_artifact' object.pk %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Update
  </a>
  {% endif %}
  {% if perms.mdm.delete_artifact and object.can_be_deleted %}
  <a class="btn btn-danger" href="{% url 'mdm:delete_artifact' object.pk %}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Delete
  </a>
  {% endif %}
</p>

<table class="table">
  <tbody>
    <tr>
      <th style="width:33vw">Type</th>
      <td>{{ object.get_type_display }}</td>
    </tr>
    <tr>
      <th>Channel</th>
      <td>{{ object.channel }}</td>
    </tr>
    <tr>
      <th>Platform{{ object.platforms|length|pluralize }}</th>
      <td>{{ object.platforms|join:", "|default:"-" }}</td>
    </tr>
    <tr>
      <th>Depends on</th>
      <td>
        {% for required_artifact in object.requires.all %}
        <a href="{{ required_artifact.get_absolute_url }}">{{ required_artifact }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
        -
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Install during setup assistant</th>
      <td>{{ object.install_during_setup_assistant|yesno }}</td>
    </tr>
    <tr>
      <th>Auto update</th>
      <td>{{ object.auto_update|yesno }}</td>
    </tr>
    <tr>
      <th>Reinstall interval</th>
      <td>
        {% if not object.reinstall_interval %}
        Never
        {% else %}
        {{ object.reinstall_interval }} day{{ object.reinstall_interval|pluralize }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Reinstall on OS update</th>
      <td>{{ object.get_reinstall_on_os_update_display }}</td>
    </tr>

    {% if enterpriseapp_list %}
    {% with enterpriseapp_list|first as enterprise_app %}
    {% include "mdm/_enterprise_app_detail.html" %}
    {% endwith %}
    {% endif %}

    {% if profile_list %}
    {% with profile_list|first as profile %}
    {% include "mdm/_profile_detail.html" %}
    {% endwith %}
    {% endif %}

    {% if storeapp_list %}
    {% with storeapp_list|first as store_app %}
    {% include "mdm/_store_app_detail.html" %}
    {% endwith %}
    {% endif %}
  </tbody>
</table>
<dl class="dl-horizontal">
  <dt class="small text-muted">Created at</dt>
  <dd class="small text-muted">{{ object.created_at|date:'r' }}</dd>
  <dt class="small text-muted">Updated at</dt>
  <dd class="small text-muted">{{ object.updated_at|date:'r' }}</dd>
</dl>

<h4>{{ versions_count }} Version{{ versions_count|pluralize }}</h4>

{% if upgrade_link %}
<p>
  <a class="btn btn-default" href="{{ upgrade_link }}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Create
  </a>
</p>
{% endif %}

{% if versions_count %}
<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Platforms</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for av in versions %}
    <tr id="ba-{{ av.pk }}">
      <td>
        {% if perms.mdm.view_artifactversion %}
        <a href="{{ av.get_absolute_url }}">{{ av.version }}</a>
        {% else %}
        {{ av.version }}
        {% endif %}
      </td>
      <td>
        {% if av.platforms %}
        <ul class="list-unstyled">
        {% for platform, versions in av.platforms.items %}
          <li>{% if versions.min %}{{ versions.min }} ≤ {% endif %}{{ platform }}{% if versions.max %} < {{ versions.max }}{% endif %}</li>
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in av.excluded_tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ av.default_shard }}/{{ av.shard_modulo }}
      </td>
      <td>
        {% if av.tag_shards %}
        <table>
        {% for tag, shard in av.tag_shards.items %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if perms.mdm.change_artifactversion %}
        <a href="{% url 'mdm:update_artifact_version' object.pk av.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.mdm.delete_artifactversion and av.can_be_deleted %}
        <a href="{% url 'mdm:delete_artifact_version' object.pk av.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h4>{{ blueprint_artifacts_count }} Blueprint{{ blueprint_artifacts_count|pluralize }}</h4>

{% if perms.mdm.add_blueprint %}
<p>
  <a href="{% url 'mdm:create_blueprint_artifact' object.pk %}" class="btn btn-default">
    Add
  </a>
</p>
{% endif %}

{% if blueprint_artifacts_count %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Platforms</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ba in blueprint_artifacts %}
    <tr id="ba-{{ ba.pk }}">
      <td>
        {% if perms.mdm.view_blueprint %}
        <a href="{{ ba.blueprint.get_absolute_url }}">{{ ba.blueprint }}</a>
        {% else %}
        {{ ba.blueprint }}
        {% endif %}
      </td>
      <td>
        {% if ba.platforms %}
        <ul class="list-unstyled">
        {% for platform, versions in ba.platforms.items %}
          <li>{% if versions.min %}{{ versions.min }} ≤ {% endif %}{{ platform }}{% if versions.max %} < {{ versions.max }}{% endif %}</li>
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in ba.excluded_tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ ba.default_shard }}/{{ ba.shard_modulo }}
      </td>
      <td>
        {% if ba.tag_shards %}
        <table>
        {% for tag, shard in ba.tag_shards.items %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if perms.mdm.change_blueprintartifact %}
        <a href="{% url 'mdm:update_blueprint_artifact' object.pk ba.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.mdm.delete_blueprintartifact %}
        <a href="{% url 'mdm:delete_blueprint_artifact' object.pk ba.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
