{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  {% if form.has_changed %}
  <li class="breadcrumb-item"><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Artifacts</a></li>
  {% else %}
  <li class="breadcrumb-item active">Artifacts</li>
  {% endif %}
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<div class="d-flex align-items-center mb-3">
    <h2 class="m-0">Artifact{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h2>
</div>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form">
            
        {{ form }}
        
        <button type="submit" class="btn btn-link mb-2">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div class="ms-auto">
        {% if perms.mdm.add_artifact %}
        <div class="dropdown">
          <a class="btn btn-link dropdown-toggle" type="button" id="addArtifact"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="bi bi-plus-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="addArtifact">
            <li><a class="dropdown-item" href="{% url 'mdm:create_activation' %}">Activation</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:create_asset' %}">Asset</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:create_configuration' %}">Configuration</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:create_manual_configuration' %}">Configuration (Manual)</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:upload_data_asset' %}">Data Asset</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:upload_enterprise_app' %}">Enterprise app</a></li>
            <li><a class="dropdown-item" href="{% url 'mdm:upload_profile' %}">Profile</a></li>
          </ul>
        </div>
        {% endif %}
    </div>
</div>



{% if page_obj %}

    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle">
    <thead>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Platforms</th>
        <th>Blueprints</th>
        <th>created at</th>
        <th>updated at</th>
        </tr>
    </thead>
    <tbody>
        {% for artifact in page_obj %}
        <tr>
        <td><a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a></td>
        <td>{{ artifact.get_type_display }}</td>
        <td>{{ artifact.platforms|join:", " }}</td>
        <td>{{ artifact.blueprintartifact__count }}</td>
        <td>{{ artifact.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ artifact.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}
    
{% elif form.has_changed %}
    {% url 'mdm:artifacts' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}
