{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:artifact' object.pk %}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Delete</li>
</ol>

<h3>Delete {{ object }}</h3>

<form class="form" method="post">{% csrf_token %}
  <p>Do you really want to delete this artifact?</p>
  <p>
    <a href="{% url 'mdm:artifact' object.pk %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>
{% endblock %}
