{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  {% if form.has_changed %}
  <li><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  {% if reset_link %}
  <li><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li><a href="{{ reset_link }}">Artifacts</a></li>
  {% else %}
  <li class="active">Artifacts</li>
  {% endif %}
  {% endif %}
  <li class="active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h3>{{ page_obj.paginator.count  }} Artifact{{ page_obj.paginator.count|pluralize }}</h3>

{% if perms.mdm.add_artifact %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addArtifact"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addArtifact">
    <li><a href="{% url 'mdm:upload_enterprise_app' %}">Enterprise app</a></li>
    <li><a href="{% url 'mdm:upload_profile' %}">Profile</a></li>
  </ul>
</div>
{% endif %}

<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
    <div class="form-group">
      {{ form.q|bootstrap_inline }}
    </div>
    <div class="form-group">
      {{ form.artifact_type|bootstrap_inline }}
    </div>
    <div class="form-group">
      {{ form.channel|bootstrap_inline }}
    </div>
    <div class="form-group">
      {{ form.platform|bootstrap_inline }}
    </div>
    <div class="form-group">
      {{ form.blueprint|bootstrap_inline }}
    </div>
    <button type="submit" class="btn btn-default">
      Search
    </button>
</form>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% if page_obj %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Platforms</th>
      <th>Blueprints</th>
      <th>created at</th>
      <th>updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for artifact in page_obj %}
    <tr>
      <td><a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a></td>
      <td>{{ artifact.get_type_display }}</td>
      <td>{{ artifact.platforms|join:", " }}</td>
      <td>{{ artifact.blueprintartifact__count }}</td>
      <td>{{ artifact.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ artifact.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
