{% extends 'base.html' %}
{% load ui_extras %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Artifact</h3>
        <div class="ms-auto">
            {% if perms.mdm.change_artifact %}
                {% url 'mdm:update_artifact' object.pk as url %}
                {% button 'UPDATE' url "Edit Artifact" %}
            {% endif %}
            {% if perms.mdm.delete_artifact and object.can_be_deleted %}
                {% url 'mdm:delete_artifact' object.pk as url %}
                {% button 'DELETE' url "Delete Artifact" %}
            {% endif %}
        </div>
    </div>

    <table class="table table-light table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <th style="width:33vw">Type</th>
        <td>{{ object.get_type_display }}</td>
        </tr>
        <tr>
        <th>Channel</th>
        <td>{{ object.channel }}</td>
        </tr>
        <tr>
        <th>Platform{{ object.platforms|length|pluralize }}</th>
        <td>{{ object.platforms|join:", "|default:"-" }}</td>
        </tr>
        <tr>
        <th>Depends on</th>
        <td>
            {% for required_artifact in object.requires.all %}
            <a href="{{ required_artifact.get_absolute_url }}">{{ required_artifact }}</a>{% if not forloop.last %}, {% endif %}
            {% empty %}
            -
            {% endfor %}
        </td>
        </tr>
        <tr>
        <th>Install during setup assistant</th>
        <td>{{ object.install_during_setup_assistant|yesno }}</td>
        </tr>
        <tr>
        <th>Auto update</th>
        <td>{{ object.auto_update|yesno }}</td>
        </tr>
        <tr>
        <th>Reinstall interval</th>
        <td>
            {% if not object.reinstall_interval %}
            Never
            {% else %}
            {{ object.reinstall_interval }} day{{ object.reinstall_interval|pluralize }}
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Reinstall on OS update</th>
        <td>{{ object.get_reinstall_on_os_update_display }}</td>
        </tr>

        {% if enterpriseapp_list %}
        {% with enterpriseapp_list|first as enterprise_app %}
        {% include "mdm/_enterprise_app_detail.html" %}
        {% endwith %}
        {% endif %}

        {% if profile_list %}
        {% with profile_list|first as profile %}
        {% include "mdm/_profile_detail.html" %}
        {% endwith %}
        {% endif %}

        {% if storeapp_list %}
        {% with storeapp_list|first as store_app %}
        {% include "mdm/_store_app_detail.html" %}
        {% endwith %}
        {% endif %}
    </tbody>
    </table>

    {% created_updated_at object %}

</div>

{% if versions_count %}
<div class="d-flex justify-content-between mb-3">
    <h3>Version{{ versions_count|pluralize }} ({{ versions_count }})</h3>
    <div class="ms-auto">            
        {% if upgrade_link %}
            {% button 'CREATE' upgrade_link "Add new Version" %}
        {% endif %}
    </div>
</div>

<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Platforms</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for av in versions %}
    <tr id="ba-{{ av.pk }}" class="data-row">
      <td>
        {% if perms.mdm.view_artifactversion %}
        <a href="{{ av.get_absolute_url }}">{{ av.version }}</a>
        {% else %}
        {{ av.version }}
        {% endif %}
      </td>
      <td>
        {% if av.platforms %}
        <ul class="list-unstyled">
        {% for platform, versions in av.platforms.items %}
          <li>{% if versions.min %}{{ versions.min }} ≤ {% endif %}{{ platform }}{% if versions.max %} < {{ versions.max }}{% endif %}</li>
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in av.excluded_tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ av.default_shard }}/{{ av.shard_modulo }}
      </td>
      <td>
        {% if av.tag_shards %}
        <table>
        {% for tag_shard in av.tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag_shard.tag %}</td><td>{{ tag_shard.shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      <td class="text-end py-0">
        {% if perms.mdm.change_artifactversion %}
            {% url 'mdm:update_artifact_version' object.pk av.pk as url %}
            {% button 'UPDATE' url "Edit Version" %}
        {% endif %}
        {% if perms.mdm.delete_artifactversion and av.can_be_deleted %}
            {% url 'mdm:delete_artifact_version' object.pk av.pk as url %}
            {% button 'DELETE' url "Delete Version" %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if blueprint_artifacts_count %}
<div class="d-flex justify-content-between mb-3">
    <h3>Blueprint{{ blueprint_artifacts_count|pluralize }} ({{ blueprint_artifacts_count }})</h3>
    <div class="ms-auto">            
        {% if perms.mdm.add_blueprint %}
            {% url 'mdm:create_blueprint_artifact' object.pk as url %}
            {% button 'CREATE' url "Add new Blueprint" %}
        {% endif %}
    </div>
</div>

<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Platforms</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ba in blueprint_artifacts %}
    <tr id="ba-{{ ba.pk }}" class="data-row">
      <td>
        {% if perms.mdm.view_blueprint %}
        <a href="{{ ba.blueprint.get_absolute_url }}">{{ ba.blueprint }}</a>
        {% else %}
        {{ ba.blueprint }}
        {% endif %}
      </td>
      <td>
        {% if ba.platforms %}
        <ul class="list-unstyled">
        {% for platform, versions in ba.platforms.items %}
          <li>{% if versions.min %}{{ versions.min }} ≤ {% endif %}{{ platform }}{% if versions.max %} < {{ versions.max }}{% endif %}</li>
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in ba.excluded_tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ ba.default_shard }}/{{ ba.shard_modulo }}
      </td>
      <td>
        {% if ba.tag_shards %}
        <table>
        {% for tag_shard in ba.tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag_shard.tag %}</td><td>{{ tag_shard.shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      <td class="text-end py-0">
        {% if perms.mdm.change_blueprintartifact %}
            {% url 'mdm:update_blueprint_artifact' object.pk ba.pk as url %}
            {% button 'UPDATE' url "Edit Blueprint" %}
        {% endif %}
        {% if perms.mdm.delete_blueprintartifact %}
            {% url 'mdm:delete_blueprint_artifact' object.pk ba.pk as url %}
            {% button 'DELETE' url "Delete Blueprint" %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
