{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:assets' %}">Store apps</a></li>
  <li><a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a></li>
  <li class="active">Create artifact</li>
</ol>

<h3>Create artifact</h3>

<form class="form" method="post">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{{ asset.get_absolute_url }}" class="btn btn-default">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </p>
</form>
{% endblock %}
