{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:assets' %}">Store apps</a></li>
  <li class="breadcrumb-item"><a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a></li>
  <li class="breadcrumb-item active">Create artifact</li>
</ol>

<h3>Create artifact</h3>

<form class="update-form" method="post">{% csrf_token %}

    {{ form }}

  <p>
    <a href="{{ asset.get_absolute_url }}" class="btn btn-outline-secondary">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </p>
</form>
{% endblock %}
