{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:blueprints' %}">Blueprints</a></li>
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">Delete</li>
</ol>

<h3>Delete blueprint <i>{{ object }}</i></h3>

<form class="form" method="post">{% csrf_token %}
  <p>Do you really want to delete this blueprint?</p>
  <p>
    <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>
{% endblock %}
