{% extends 'base.html' %}
{% load inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:blueprints' %}">Blueprints</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center">
        <h3 class="m-0 fs-5 text-secondary">MDM blueprint</h3>
        <div class="ms-auto">
            {% if perms.mdm.change_blueprint %}
                {% url 'mdm:update_blueprint' object.pk as url %}
                {% button 'UPDATE' url "Edit Blueprint" %}
            {% endif %}
            {% if perms.mdm.delete_blueprint and object.can_be_deleted %}
                {% url 'mdm:delete_blueprint' object.pk as url %}
                {% button 'DELETE' url "Delete Blueprint" %}
            {% endif %}
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
            <th width="33%">Attribute</th>
            <th>Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Inventory interval</td>
            <td>{{ object.get_inventory_interval_display }}</td>
        </tr>
        <tr>
            <td>Collect apps</td>
            <td>{{ object.get_collect_apps_display }}</td>
        </tr>
        <tr>
            <td>Collect certificates</td>
            <td>{{ object.get_collect_certificates_display }}</td>
        </tr>
        <tr>
            <td>Collect profiles</td>
            <td>{{ object.get_collect_profiles_display }}</td>
        </tr>
        <tr>
            <td>FileVault configuration</td>
            <td>
            {% if object.filevault_config %}
            {% if perms.mdm.view_filevaultconfig %}
            <a href="{{ object.filevault_config.get_absolute_url }}">
                {{ object.filevault_config }}
            </a>
            {% else %}
            {{ object.filevault_config }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </tr>
        <tr>
            <td>Recovery password configuration</td>
            <td>
            {% if object.recovery_password_config %}
            {% if perms.mdm.view_recoverypasswordconfig %}
            <a href="{{ object.recovery_password_config.get_absolute_url }}">
                {{ object.recovery_password_config }}
            </a>
            {% else %}
            {{ object.recovery_password_config }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </tr>
        </tbody>
        </table>

        {% created_updated_at object %}    
    </div>
    </div>
</div>

<h4>Artifact{{ artifacts_count|pluralize }} ({{ artifacts_count }})</h4>

{% if artifacts_count %}
<table class="table table-light table-striped align-middle ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Version</th>
      <th>During S.A.?</th>
      <th>Platforms</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
    </tr>
  </thead>
  <tbody>
    {% for ba in artifacts %}
    {% with ba.artifact as a %}
    <tr>
      <td>
        {% if perms.mdm.view_artifact %}
        <a href="{{ a.get_absolute_url }}">{{ a }}</a>
        {% else %}
        {{ a }}
        {% endif %}
      </td>
      <td>{{ a.get_type_display }}</td>
      <td>{{ ba.artifact__artifactversion__version__max }}</td>
      <td>{{ a.install_during_setup_assistant|yesno }}</td>
      <td>
        {% if ba.platforms %}
        <ul class="list-unstyled">
        {% for platform, versions in ba.platforms.items %}
          <li>{% if versions.min %}{{ versions.min }} ≤ {% endif %}{{ platform }}{% if versions.max %} < {{ versions.max }}{% endif %}</li>
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in ba.excluded_tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ ba.default_shard }}/{{ ba.shard_modulo }}
      </td>
      <td>
        {% if ba.tag_shards %}
        <table>
        {% for tag_shard in ba.tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag_shard.tag %}</td><td>{{ tag_shard.shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div class="row">
  {% if dep_enrollments %}
  <div class="col-md-4">
    <h4>{{ dep_enrollments|length }} DEP enrollment{{ dep_enrollments|length|pluralize }}</h4>
    <ul>
      {% for dep_enrollment in dep_enrollments %}
      <li>
        {% if perms.mdm.view_depenrollment %}
        <a href="{{ dep_enrollment.get_absolute_url }}">{{ dep_enrollment }}</a>
        {% else %}
        {{ dep_enrollment }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if ota_enrollments %}
  <div class="col-md-4">
    <h4>{{ ota_enrollments|length }} OTA enrollment{{ ota_enrollments|length|pluralize }}</h4>
    <ul>
      {% for ota_enrollment in ota_enrollments %}
      <li>
        {% if perms.mdm.view_depenrollment %}
        <a href="{{ ota_enrollment.get_absolute_url }}">{{ ota_enrollment }}</a>
        {% else %}
        {{ ota_enrollment }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if user_enrollments %}
  <div class="col-md-4">
    <h4>{{ user_enrollments|length }} user enrollment{{ user_enrollments|length|pluralize }}</h4>
    <ul>
      {% for user_enrollment in user_enrollments %}
      <li>
        {% if perms.mdm.view_userenrollment %}
        <a href="{{ user_enrollment.get_absolute_url }}">{{ user_enrollment }}</a>
        {% else %}
        {{ user_enrollment }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock %}
