{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="breadcrumb-item active">Create {{ artifact_type }}</li>
</ol>

<h3>Create {{ artifact_type }}</h3>

<form method="POST" class="update-form">{% csrf_token %}
  {{ form }}
  <p>
    <a href="{% url 'mdm:artifacts' %}" class="btn btn-outline-secondary">Cancel</a>
    <button class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
