{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  <li class="breadcrumb-item"><a href="{{ dep_enrollment.get_absolute_url }}">[DEP] {{ dep_enrollment }}</a></li>
  <li class="breadcrumb-item">Custom views</li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">delete</li>
</ol>

<h3>Delete custom view <i>{{ object }}</i></h3>

<form method="post">{% csrf_token %}
  <p>Do you really want to delete this DEP enrollment custom view?</p>
  <p>
    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>
{% endblock %}
