{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">[DEP] {{ object }}</a></li>
  <li class="breadcrumb-item active">edit</li>
  {% else %}
  <li class="breadcrumb-item active">create DEP enrollment</li>
  {% endif %}
</ol>

<h2>
  {% if object %}
  [DEP] {{ object }}
  {% else %}
  Create DEP enrollment
  {% endif %}
</h2>

<form class="update-form" method="post">{% csrf_token %}
    {{ dep_enrollment_form }}
    {{ enrollment_secret_form }}
  <p>
    {% if object %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a></li>
    {% else %}
    <a href="{% url 'mdm:enrollments' %}" class="btn btn-outline-secondary">Cancel</a></li>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
