{% extends 'base.html' %}
{% load base_extras inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  <li class="breadcrumb-item active">[DEP] {{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">[DEP]</h3>
        <div class="ms-auto">
            <a href="{% url 'mdm:check_dep_enrollment' object.pk %}" class="btn btn-link"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download from ABM">
                <i class="bi bi-cloud-arrow-down" aria-hidden="true"></i>
              </a>
              {% if perms.mdm.change_depenrollment %}
                {% url 'mdm:update_dep_enrollment' object.pk as url %}
                {% button 'UPDATE' url "Edit DEP Enrollment" %}
              {% endif %}
        </div>
    </div>
    {% with object.enrollment_secret as secret %}
    <h4>Configuration</h4>
    <table class="table-object-properties">
    <tbody>
        <tr>
        <th width="240px">Display name</th>
        <td>{{ object.display_name }}</td>
        </tr>
        <tr>
        <th width="240px">Push certificate</th>
        <td>
            {% if perms.mdm.view_pushcertificate %}
            <a href="{{ object.push_certificate.get_absolute_url }}">{{ object.push_certificate }}</a>
            {% else %}
            {{ object.push_certificate }}
            {% endif %}
        </td>
        </tr>
        <tr>
        <th width="240px">ACME issuer</th>
        <td>
          {% if object.acme_issuer %}
            {% if perms.mdm.view_acmeissuer %}
            <a href="{{ object.acme_issuer.get_absolute_url }}">{{ object.acme_issuer }}</a>
            {% else %}
            {{ object.acme_issuer }}
            {% endif %}
          {% else %}
          -
          {% endif %}
        </td>
        </tr>
        <tr>
        <th width="240px">SCEP issuer</th>
        <td>
            {% if perms.mdm.view_scepissuer %}
            <a href="{{ object.scep_issuer.get_absolute_url }}">{{ object.scep_issuer }}</a>
            {% else %}
            {{ object.scep_issuer }}
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Blueprint</th>
        <td>
            {% if object.blueprint %}
            {% if perms.mdm.view_blueprint %}
            <a href="{{ object.blueprint.get_absolute_url }}">{{ object.blueprint }}</a>
            {% else %}
            {{ object.blueprint }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Business unit</th>
        <td>{{ secret.meta_business_unit }}</td>
        </tr>
        <tr>
        <th>Enrollment tag{{ secret.tags.count|pluralize }}</th>
        <td>{% for tag in secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}</td>
        </tr>
        <tr>
        <th>Required iOS version</th>
        <td>
          {% if not object.ios_min_version and not object.ios_max_version %}
          -
          {% else %}
          {% if object.ios_min_version %} {{ object.ios_min_version }} ≤ {% endif %}OS version{% if object.ios_max_version %} &lt; {{ object.ios_max_version }}{% endif %}
          {% endif %}
        </tr>
        <tr>
        <th>Required macOS version</th>
        <td>
          {% if not object.macos_min_version and not object.macos_max_version %}
          -
          {% else %}
          {% if object.macos_min_version %} {{ object.macos_min_version }} ≤ {% endif %}OS version{% if object.macos_max_version %} &lt; {{ object.macos_max_version }}{% endif %}
          {% endif %}
        </td>
        </tr>
    </tbody>
    </table>
    {% endwith %}

    <h4>Authentication</h4>
    <table class="table-object-properties">
    <tbody>
        <tr>
        <th width="240px">Realm</th>
        <td>
            {% if object.realm %}
            {% if perms.realms.view_realm %}
            <a href="{% url 'realms:view' object.realm.pk %}">{{ object.realm }}</a>
            {% else %}
            {{ object.realm }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Use realm user</th>
        <td>{{ object.use_realm_user|yesno }}</td>
        </tr>
        {% if object.use_realm_user %}
        <tr>
        <th>Username pattern</th>
        <td>{{ object.get_username_pattern_display }}</td>
        </tr>
        <tr>
        <th>Realm user is admin</th>
        <td>{{ object.realm_user_is_admin|yesno }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Admin full name</th>
          <td>{{ object.admin_full_name|default:"-" }}</td>
        </tr>
        <tr>
          <th>Admin short name</th>
          <td>{{ object.admin_short_name|default:"-" }}</td>
        </tr>
        <tr>
          <th>Hidden admin?</th>
          <td>{{ object.hidden_admin|yesno }}</td>
        </tr>
        <tr>
          <th>Admin password complexity</th>
          <td>{{ object.admin_password_complexity }}</td>
        </tr>
        <tr>
          <th>Admin password rotation delay</th>
          <td>{% if object.admin_password_rotation_delay %}{{ object.admin_password_rotation_delay }}min{% else %}no automatic admin password rotation{% endif %}</td>
        </tr>
    </tbody>
    </table>

    <h4>DEP Profile</h4>

    <table class="table-object-properties">
    <tbody>
        {% with object.virtual_server as virtual_server %}
        <tr>
        <th width="240px">Virtual server</th>
        <td>
            {% if perms.mdm.view_depvirtualserver %}
            <a href="{{ virtual_server.get_absolute_url }}">{{ virtual_server }}</a>
            {% else %}
            {{ virtual_server }}
            {% endif %}
            {% if virtual_server.default_enrollment == object %}
            <span class="label label-success">Default</span>
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>UUID</th>
        <td><code>{{ object.uuid }}</code></td>
        </tr>
        <tr>
        <th>Organization</th>
        <td>{{ virtual_server.organization }}</dt>
        </tr>
        {% endwith %}
        <tr>
        <th colspan="2"><h5>Org info</h5></th>
        </tr>
        <tr>
        <th>Support phone number</th>
        <td>{{ object.support_phone_number|default:"-" }}</td>
        </tr>
        <tr>
        <th>Support email</th>
        <td>{{ object.support_email_atdress|default:"-" }}</td>
        </tr>
        <tr>
        <th>Org magic</th>
        <td>{{ object.org_magic|default:"-" }}</td>
        </tr>
        <tr>
        <th>Department</th>
        <td>{{ object.department|default:"-" }}</td>
        </tr>
        <tr>
        <th colspan="2"><h5>Localization</h5></th>
        </tr>
        <tr>
        <th>Language</th>
        <td>{{ object.get_language_display|default:"-" }}</td>
        </tr>
        <tr>
        <th>Region</th>
        <td>{{ object.get_region_display|default:"-" }}</td>
        </tr>
        <tr>
        <th colspan="2"><h5>Settings</h5></th>
        </tr>
        <tr>
        <th>allow pairing</th>
        <td>{{ object.allow_pairing|yesno }}</td>
        </tr>
        <tr>
        <th>supervised</th>
        <td>{{ object.is_supervised|yesno }}</td>
        </tr>
        <tr>
        <th>mandatory</th>
        <td>{{ object.is_mandatory|yesno }}</td>
        </tr>
        <tr>
        <th>await device configured</th>
        <td>{{ object.await_device_configured|yesno }}</td>
        </tr>
        <tr>
        <th>auto advance setup</th>
        <td>{{ object.auto_advance_setup|yesno }}</td>
        </tr>
        <tr>
        <th>MDM removable</th>
        <td>{{ object.is_mdm_removable|yesno }}</td>
        </tr>
        <tr>
        <th>include anchor certs</th>
        <td>{{ object.include_tls_certificates|yesno }}</td>
        </tr>
        <tr>
        <th>Skip setup items</th>
        <td>
            <ul class="list">
            {% for key in skip_keys %}
            <li>{{ key }}</li>
            {% endfor %}
            <ul>
        </td>
        </tr>
    </tbody>
    </table>

    <h4>Status</h4>

    <table class="table-object-properties">
      <tbody>
        <tr>
          <th width="240px">Device{{ assigned_devices_count|pluralize }}</th>
          <td>
            {% if assigned_devices_count and perms.mdm.view_depdevice %}
            <a href="{% url 'mdm:dep_devices' %}?enrollment={{ object.pk }}">
            Assigned to {{ assigned_devices_count }} device{{ assigned_devices_count|pluralize }}
            </a>
            {% else %}
            Assigned to {{ assigned_devices_count }} device{{ assigned_devices_count|pluralize }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Session{{ enrollment_sessions_count|pluralize }}</th>
          <td>{{ enrollment_sessions_count }}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="d-flex justify-content-between mb-3">
  <h3>Custom view{{ custom_views_count|pluralize }} ({{ custom_views_count }})</h3>
  <div class="ms-auto">            
    {% if perms.mdm.add_depenrollmentcustomview %}
    {% url 'mdm:create_dep_enrollment_custom_view' object.pk as url %}
    {% button 'CREATE' url "Add custom view" %}
    {% endif %}
  </div>
</div>

{% if custom_views %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>Custom view</th>
      <th>Requires authentication?</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for decv in custom_views %}
    {% with decv.custom_view as custom_view %}
    <tr>
      <td id="cv-{{ decv.pk }}">
        {% if perms.mdm.view_enrollmentcustomview %}
        <a href="{{ custom_view.get_absolute_url }}">{{ custom_view }}</a>
        {% else %}
        {{ custom_view }}
        {% endif %}
      </td>
      <td>
        {{ custom_view.requires_authentication|yesno }}
      </td>
      <td>
        {{ decv.weight }}
      </td>
      <td>
        {% if perms.mdm.change_depenrollmentcustomview %}
        {% url 'mdm:update_dep_enrollment_custom_view' object.pk decv.pk as url %}
        {% button 'UPDATE' url "Edit custom view" %}
        {% endif %}
        {% if perms.mdm.delete_depenrollmentcustomview %}
        {% url 'mdm:delete_dep_enrollment_custom_view' object.pk decv.pk as url %}
        {% button 'DELETE' url "Delete custom view" %}
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
