{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">MDM</li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">[DEP] {{ object }}</a></li>
  <li class="breadcrumb-item active">Downloaded ABM profile</li>
</ol>

<h2 class="m-0">{{ object }}</h2>
<h3 class="m-0 fs-5 text-secondary">[DEP]</h3>

<p>Downloaded DEP profile from ABM</p>

{{ fetched_profile|pythonprettyprint }}
{% endblock %}
