{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li class="active">DEP profiles</li>
</ol>

<h2>{{ object_list|length }} DEP profile{{ object_list|length|pluralize }}</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Business unit</th>
    <th>Created at</th>
    <th>Updated at</th>
  </thead>
  <tbody>
    {% for dep_profile in object_list %}
    {% with dep_profile.get_meta_business_unit as meta_business_unit %}
    <tr>
      <td><a href="{{ dep_profile.get_absolute_url }}">{{ dep_profile }}</a></td>
      <td><a href="{% url 'mdm:mbu' meta_business_unit.id %}">{{ meta_business_unit }}</a></td>
      <td>{{ dep_profile.created_at }}</td>
      <td>{{ dep_profile.updated_at }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
