{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></li>
  <li class="active">
    {% if object %}
    update {{ object }}</i>
    {% else %}
    create DEP profile
    {% endif %}
  </li>
</ol>

<h2>
  {% if object %}
  Update <i>{{ object }}</i>
  {% else %}
  Create DEP profile
  {% endif %}
</h2>

<form class="form" method="post">{% csrf_token %}
  {{ dep_profile_form|bootstrap }}
  {{ enrollment_secret_form|bootstrap }}
  <p>
    {% if object %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a></li>
    {% else %}
    <a href="{% url 'mdm:mbu' meta_business_unit.pk %}" class="btn btn-default">Cancel</a></li>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
