{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></li>
  <li class="active">DEP profile {{ object }}</li>
</ol>

<h2>DEP profile {{ object }}</h2>

<p>
  <a href="{% url 'mdm:check_dep_profile' meta_business_unit.pk object.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
  </a>
  <a href="{% url 'mdm:update_dep_profile' meta_business_unit.pk object.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </a>
</p>

<h3>DEP virtual server</h3>

{% with object.virtual_server as virtual_server %}
<dl class="dl-horizontal">
  <dt>Virtual server</dt>
  <dd><a href="{{ virtual_server.get_absolute_url }}">{{ virtual_server }}</a> / {{ virtual_server.uuid }}</dd>
  <dt>Organization</dt>
  <dd>{{ virtual_server.organization }}</dd>
</dl>
{% endwith %}

<h3>Users</h3>

<dl class="dl-horizontal">
  <dt>Realm</dt>
  <dd><a href="{% url 'realms:view' object.realm.pk %}">{{ object.realm }}</a></dd>
  <dt>Use realm user</dt>
  <dd>{{ object.use_realm_user|yesno }}</dd>
  <dt>Realm user is admin</dt>
  <dd>{{ object.realm_user_is_admin|yesno }}</dd>
  <dt>Admin full name</dt>
  <dd>{{ object.admin_full_name|default:"-" }}</dd>
  <dt>Admin short name</dt>
  <dd>{{ object.admin_short_name|default:"-" }}</dd>
  <dt>Admin password set</dt>
  <dd>{% if object.admin_password_hash %}yes{% else %}no{% endif %}</dd>
</dl>

<div class="row">
  <div class="col-md-4">
    <h3>Org info</h3>
    <dl class="dl-horizontal">
      <dt>Business unit</dt>
      <dd><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></dd>
      <dt>Enrollment tags</dt>
      <dd>{% for tag in object.enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}</dd>
      <dt>Support phone number</dt>
      <dd>{{ object.support_phone_number|default:"-" }}</dd>
      <dt>Support email</dt>
      <dd>{{ object.support_email_address|default:"-" }}</dd>
      <dt>Org magic</dt>
      <dd>{{ object.org_magic|default:"-" }}</dd>
      <dt>Department</dt>
      <dd>{{ object.department }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h3>Settings</h3>
    <dl class="dl-horizontal">
      <dt>allow pairing</dt>
      <dd>{{ object.allow_pairing|yesno }}</dd>
      <dt>supervised</dt>
      <dd>{{ object.is_supervised|yesno }}</dd>
      <dt>mandatory</dt>
      <dd>{{ object.is_mandatory|yesno }}</dd>
      <dt>await device configured</dt>
      <dd>{{ object.await_device_configured|yesno }}</dd>
      <dt>auto advance setup</dt>
      <dd>{{ object.auto_advance_setup|yesno }}</dd>
      <dt>mdm removable</dt>
      <dd>{{ object.is_mdm_removable|yesno }}</dd>
      <dt>include tls certificates</dt>
      <dd>{{ object.include_tls_certificates|yesno }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h3>Skip setup items</h3>
    <ul>
      {% for pane in object.skip_setup_items %}
      <li>{{ pane }}</li>
      {% endfor %}
    <ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% with object.depdevice_set.count as device_count %}
    {% with object.assigned_devices.count as assigned_device_count %}

    <h3>Assigned to {{ assigned_device_count }} device{{ assigned_device_count|pluralize }} ({{ device_count }} total)</h3>

    {% if device_count %}
    <table class="table">
      <thead>
        <th class="col-md-4">Serial number</th>
        <th class="col-md-4">Profile status</th>
        <th class="col-md-2">Profile assign time</th>
        <th class="col-md-2">Profile push time</th>
      </thead>
      <tbody>
        {% for device in object.depdevice_set.all %}
        <tr>
          <td>
            <a name="{{ device.serial_number }}" href="{{ device.get_absolute_url }}">{{ device.serial_number }}</a>
            {% if device.is_deleted %}
            <span class="label label-danger">DELETED</span>
            {% endif %}
          </td>
          <td>{{ device.profile_status }}</td>
          <td>{{ device.profile_assign_time|date:"SHORT_DATETIME_FORMAT"|default:"-" }}</td>
          <td>{{ device.profile_push_time|date:"SHORT_DATETIME_FORMAT"|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% endwith %}
    {% endwith %}
  </div>
</div>
{% endblock %}
