{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:dep_tokens' %}">DEP tokens</a></li>
  <li class="active">{{ object.pk }}</li>
</ol>

<h2>DEP Token {{ object.pk }}</h2>

<p>
  {% if not object.consumer_key %}
  <a href="{% url 'mdm:download_dep_token_certificate' object.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    Download certificate
  </a>
  <a href="{% url 'mdm:upload_encrypted_dep_token' object.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    Upload encrypted token
  </a>
  {% endif %}
</p>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt class="small" style="opacity:0.5">Created at</dt>
      <dd class="small" style="opacity:0.5">{{ object.created_at|date:'r' }}</dd>
      {% if object.expires_soon %}
      <dt class="small text-danger">Expiry</dt>
      <dd class="small text-danger">{{ object.access_token_expiry|date:'r' }}</dd>
      {% else %}
      <dt class="small" style="opacity:0.5">Expiry</dt>
      <dd class="small" style="opacity:0.5">{{ object.access_token_expiry|date:'r' }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
{% endblock %}
