{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:dep_tokens' %}">DEP tokens</a></li>
  <li class="active">Create</li>
</ol>

<h2>Create a DEP token</h2>

<form class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{% url 'mdm:dep_tokens' %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
  </p>
</form>
{% endblock %}
