{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:dep_virtual_servers' %}">DEP virtual servers</a></li>
  <li class="active">Connect</li>
</ol>

<h2>Connect a DEP virtual server</h2>

<p class="lead">1. Download the new public key</p>

<p class="lead">
  <a href="{% url 'mdm:download_dep_token_public_key' dep_token.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    Download public key
  </a>
</p>

<p class="lead">2. Use it to replace the virtual server key in the DEP admin</p>

<p class="lead">3. Download the server token in the DEP admin</p>

<p class="lead">4. Upload the server token</p>

<form class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <button type="submit" name="action" value="cancel" class="btn btn-default">
      Cancel
    </button>
    <button type="submit" name="action" value="upload" class="btn btn-primary">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      Upload server token
    </button>
  </p>
</form>
{% endblock %}
