{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:dep_virtual_servers' %}">DEP virtual servers</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h2>DEP virtual server <i>{{ object }}</i></h2>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>name</dt>
      <dd>{{ object.name }}</dd>
      <dt>uuid</dt>
      <dd>{{ object.uuid }}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt class="small" style="opacity:0.5">Created at</dt>
      <dd class="small" style="opacity:0.5">{{ object.created_at|date:'r' }}</dd>
      <dt class="small" style="opacity:0.5">Updated at</dt>
      <dd class="small" style="opacity:0.5">{{ object.updated_at|date:'r' }}</dd>
    </dl>
  </div>
  {% with object.organization as org %}
  <div class="col-md-6">
    <h4>DEP organization</h3>
    <dl class="dl-horizontal">
      <dt>name</dt>
      <dd>{{ org.name }}</dd>
      <dt>admin</dt>
      <dd>{{ org.admin_id }}</dd>
      <dt>email</dt>
      <dd>{{ org.email }}</dd>
      <dt>phone</dt>
      <dd>{{ org.phone }}</dd>
      <dt>address</dt>
      <dd>{{ org.address_lines|linebreaksbr }}</dd>
      <dt>type</dt>
      <dd>{{ org.type }}</dd>
      <dt>version</dt>
      <dd>{{ org.version }}</dd>
    </dl>
  </div>
  {% endwith %}
  {% with object.token as token %}
  <div class="col-md-6">
    <h4>DEP Token</h3>
    {% if token %}
    <a href="{% url 'mdm:renew_dep_token' token.id %}" class="btn btn-default">Renew</a>
    <dl class="dl-horizontal">
      <dt>expiry</dt>
      <dd>
        {% if token.expires_soon %}
        <span class="text-danger">{{ token.access_token_expiry|date:'r' }}</span>
        {% else %}
        {{ token.access_token_expiry|date:'r' }}
        {% endif %}
      </dd>
    </dl>
    {% endif %}
  </div>
  {% endwith %}
</div>

<div class="row">
  <div class="col-md-12">
    {% with object.depprofile_set.count as profile_count %}

    <h3>{{ profile_count }} Profile{{ profile_count|pluralize }}</h3>

    {% if profile_count %}
    <table class="table">
      <thead>
        <th class="col-md-4">Name</th>
        <th class="col-md-2">Business unit</th>
        <th class="col-md-2">Assigned devices</th>
        <th class="col-md-2">Created at</th>
        <th class="col-md-2">Updated at</th>
      </thead>
      <tbody>
        {% for profile in object.depprofile_set.all %}
        {% with profile.get_meta_business_unit as profile_mbu %}
        <tr>
          <td>
            <a href="{{ profile.get_absolute_url }}">{{ profile }}</a>
            <br>{{ profile.uuid }}
          </td>
          <td><a href="{% url 'mdm:mbu' profile_mbu.pk %}">{{ profile_mbu }}</a></td>
          <td>{{ profile.assigned_devices.count }}</td>
          <td>{{ profile.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ profile.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% with object.depdevice_set.count as device_count %}

    <h3>{{ device_count }} Device{{ device_count|pluralize }}</h3>
    <a id="devices-sync-btn" href="{% url 'mdm_api:dep_virtual_server_sync_devices' object.id %}" class="btn btn-default task">Sync</a>

    {% if device_count %}
    <table class="table">
      <thead>
        <th>Serial number</th>
        <th>Assigned by</th>
        <th>Assigned date</th>
        <th>Profile</th>
      </thead>
      <tbody>
        {% for device in object.depdevice_set.all %}
        <tr>
          <td><a href="{{ device.get_absolute_url }}">{{ device }}</a>{% if device.is_deleted %} <span class="label label-danger">DELETED</span>{% endif %}</td>
          <td>{{ device.device_assigned_by|default:"-" }}</td>
          <td>{{ device.device_assigned_date|date:"SHORT_DATETIME_FORMAT"|default:"-" }}</td>
          <td>
            {{ device.profile_status }}
            {% if device.profile %} - <a href="{{ device.profile.get_absolute_url }}">{{ device.profile }}</a>{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% endwith %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var WAIT_FOR_TASK_TIMEOUT_ID;

  function waitForTask(url) {
    $.ajax({
      dataType: "json",
      url: url,
      success: function (data) {
        if (data.unready) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 1000, url);
        } else {
          $("#devices-sync-btn").prop("disabled", false);
          if (data.status === "SUCCESS") {
            window.location.reload();
          }
        }
      }
    });
  }

  function launchTask($link) {
      $link.prop("disabled", true);
      var url = $link.attr("href");
      $.ajax({
        dataType: "json",
        url: url,
        method: "post",
        success: function (data) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 300, data.task_result_url);
        }
      });
  }

  $(document).ready(function () {
    $(".task").click(function (event) {
      event.preventDefault();
      launchTask($(this));
    });
  });
</script>
{% endblock %}
