{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a></li>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<h2>{{ devices_count  }} device{{ devices_count|pluralize }}</h2>

<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div class="form-group">
    {{ form.serial_number|bootstrap_inline }}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<table class="table">
  <thead>
    <th>serial number</th>
    <th>product</th>
    <th>udids</th>
    <th>created at</th>
    <th>updated at</th>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <td><a href="{% url 'mdm:device' device.urlsafe_serial_number %}">{{ device.serial_number }}</a></td>
      <td>{{ device.product|default:"" }}</td>
      <td>
        {% if device.udids %}
        <ul>
          {% for udid in device.udids %}
          <li>{{ udid }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      <td>{{ device.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ device.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
