{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li class="breadcrumb-item"><a href="{{ url }}">{{ anchor_text }}</a></li>
  {% else %}
  <li class="breadcrumb-item active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Device{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h2>
</div>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form d-flex flex-row flex-wrap w-75">
        
            {{ form }}

            <button type="submit" class="btn btn-link mb-2">
                <i class="bi bi-search"></i>
            </button>
    </form>
</div>

{% if object_list %}

    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>serial number</th>
        <th>UDID</th>
        <th>model</th>
        <th>name</th>
        <th>created at</th>
        <th>updated at</th>
        </tr>
    </thead>
    <tbody>
        {% for enrolled_device in object_list %}
        <tr>
        <td>
            {% with enrolled_device.get_urlsafe_serial_number as urlsafe_serial_number %}
            {% if urlsafe_serial_number %}
            {% if perms.inventory.view_machinsnapshot %}
            <a href="{% url 'inventory:machine' urlsafe_serial_number %}">{{ enrolled_device.serial_number|default:"-" }}</a>
            {% else %}
            {{ enrolled_device.serial_number|default:"-" }}
            {% endif %}
            {% else %}
            -
            {% endif %}
            {% endwith %}
        </td>
        <td>
            <a href="{% url 'mdm:enrolled_device' enrolled_device.pk %}">{{ enrolled_device.udid }}</a>
        </td>
        <td>{{ enrolled_device.model|default:"-" }}</td>
        <td>{{ enrolled_device.name|default:"-" }}</td>
        <td>{{ enrolled_device.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ enrolled_device.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}

{% elif form.is_bound %}
    {% url 'inventory:enrolled_device' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}
