{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:devices' %}">Devices</a></li>
  <li><a href="{% url 'mdm:device' urlsafe_serial_number %}">{{ object.serial_number }}</a></li>
  <li class="active">Enrolled device artifacts</li>
</ol>


<h2>Enrolled device {{ object.udid }} Artifacts</h2>

<h3>{{ installed_device_artifacts|length }} installed artifact{{ installed_device_artifacts|length|pluralize }}</h3>

{% if installed_device_artifacts %}
<table class="table">
  <thead>
    <th>Artifact</th>
    <th>Version</th>
    <th>Created at</th>
    <th>Updated at</th>
  </thead>
  <tbody>
    {% for ida in installed_device_artifacts %}
    {% with ida.artifact as artifact %}
    <tr>
      <td>
        {{ artifact.artifact_type }}<br>
        <a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a>
      </td>
      <td>{{ ida.artifact_version }}</td>
      <td>{{ ida.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ ida.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>{{ device_artifact_commands|length }} device artifact command{{ device_artifact_commands|length|pluralize }}</h3>

{% if device_artifact_commands %}
<table class="table">
  <thead>
    <th>Artifact</th>
    <th>Version</th>
    <th>Action</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Result time</th>
  </thead>
  <tbody>
    {% for dac in device_artifact_commands %}
    {% with dac.artifact as artifact %}
    <tr>
      <td>
        {{ artifact.artifact_type }}<br>
        <a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a>
      </td>
      <td>{{ dac.artifact_version }}</td>
      <td>{{ dac.get_action_display }}</td>
      <td>{{ dac.get_status_code_display }}</td>
      <td>{{ dac.command_time|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ dac.result_time|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
