{% extends 'base.html' %}
{% load inclusion_tags %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item active">Enrollments</li>
</ol>

{% if perms.mdm.view_depenrollment %}
<div class="d-flex align-items-center mb-1">
    <h3 class="m-0">DEP enrollment{{ dep_enrollments|length|pluralize }} ({{ dep_enrollments|length }})</h3>
    <div class="ms-auto">
        {% if perms.mdm.add_depenrollment %}
            {% url 'mdm:create_dep_enrollment' as url %}
            {% button 'CREATE' url "Add new DEP Enrollment" %}
        {% endif %}
    </div>
</div>


{% if dep_enrollments %}
<table class="table table-light table-striped align-middle">
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Enrollment tags</th>
      <th class="col-md-2">Assigned devices</th>
      <th class="col-md-2">Updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for dep_enrollment in dep_enrollments %}
    {% with dep_enrollment.enrollment_secret as enrollment_secret %}
    <tr>
      <td><a href="{{ dep_enrollment.get_absolute_url }}">{{ dep_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td>{{ dep_enrollment.assigned_devices.count }}</td>
      <td>{{ dep_enrollment.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.mdm.view_otaenrollment %}
<div class="d-flex align-items-center mb-1">
    <h3 class="m-0">OTA enrollment{{ ota_enrollments|length|pluralize }} ({{ ota_enrollments|length }})</h3>
    <div class="ms-auto">
        {% if perms.mdm.add_otaenrollment %}
            {% url 'mdm:create_ota_enrollment' as url %}
            {% button 'CREATE' url "Add new OTA Enrollment" %}
        {% endif %}
    </div>
</div>

{% if ota_enrollments %}
<table class="table table-light table-striped align-middle">
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Enrollment tags</th>
      <th class="col-md-2">Validity</th>
      <th class="col-md-2">Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for ota_enrollment in ota_enrollments %}
    {% with ota_enrollment.enrollment_secret as enrollment_secret %}
    {% with enrollment_secret.is_valid|first as is_valid %}
    {% with enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ ota_enrollment.get_absolute_url }}">{{ ota_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ ota_enrollment.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.mdm.view_userenrollment %}
<div class="d-flex align-items-center mb-1">
    <h3 class="m-0">User enrollment{{ user_enrollments|length|pluralize }} ({{ user_enrollments|length }})</h3>

    <div class="ms-auto">
        {% if perms.mdm.add_userenrollment %}
            {% url 'mdm:create_user_enrollment' as url %}
            {% button 'CREATE' url "Add new User Enrollment" %}
        {% endif %}
    </div>
</div>


{% if user_enrollments %}
<table class="table table-light table-striped align-middle">
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Enrollment tags</th>
      <th class="col-md-2">Validity</th>
      <th class="col-md-2">Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for user_enrollment in user_enrollments %}
    {% with user_enrollment.enrollment_secret as enrollment_secret %}
    {% with enrollment_secret.is_valid|first as is_valid %}
    {% with enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ user_enrollment.get_absolute_url }}">{{ user_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ user_enrollment.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
