{% extends 'base.html' %}
{% load base_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrolled_devices' %}">Devices</a></li>
  <li class="breadcrumb-item"><a href="{{ enrolled_device.get_absolute_url }}">{{ enrolled_device.udid|privacywrapper }}</a></li>
  <li class="breadcrumb-item active">User {{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">User</h3>
    </div>

    <table class="table-object-properties">
    <tbody>
        <tr>
        <th style="width:160px">User ID</th>
        <td><code>{{ object.user_id|privacywrapper }}</code></th>
        </tr>
        <tr>
        <th>Short name</th>
        <td>{{ object.short_name }}</th>
        </tr>
        <tr>
        <th>Long name</th>
        <td>{{ object.long_name }}</th>
        </tr>
        <tr>
        <th>Device</th>
        <td>
            {% if perms.mdm.view_enrolleddevice %}
            <a href="{{ enrolled_device.get_absolute_url }}">{{ enrolled_device.udid|privacywrapper }}</a>
            {% else %}
            {{ enrolled_device.udid|privacywrapper }}
            {% endif %}
        </td>
    </tbody>
    </table>
</div>


<h3>Artifact{{ target_artifacts_count|pluralize }} ({{ target_artifacts_count }})</h3>

{% if target_artifacts_count %}
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Type</th>
      <th>Artifact</th>
      <th>Version</th>
      <th>Status</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    {% for target_artifact in target_artifacts %}
    {% with target_artifact.artifact_version as artifact_version %}
    {% with artifact_version.artifact as artifact %}
    <tr>
      <td>{{ artifact.get_type_display }}</td>
      <td>
        {% if perms.mdm.view_artifact %}
        <a href="{{ artifact.get_absolute_url }}">{{ artifact }}</a>
        {% else %}
        {{ artifact }}
        {% endif %}
      </td>
      <td>
        {% if perms.mdm.view_artifact %}
        <a href="{{ artifact_version.get_absolute_url }}">{{ artifact_version.version }}</a>
        {% else %}
        {{ artifact_version.version }}
        {% endif %}
      </td>
      <td>{{ target_artifact.get_status_display }}</td>
      <td>
        {{ target_artifact.updated_at|date:"SHORT_DATETIME_FORMAT" }}
      </td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if commands_count > 0 %}
<div class="d-flex align-items-center mb-1">
    <h3 class="m-0">Last commands</h3>
    <div class="ms-auto">
        {% if perms.mdm.change_enrolleduser %}
        <form style="display:inline-block" method="POST" action="{% url 'mdm:poke_enrolled_user' enrolled_device.pk object.pk %}">{% csrf_token %}
            <button type="submit" class="btn btn-success" {% if not enrolled_device.can_be_poked %}disabled="disabled"{% endif %}
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Poke!">
                <i class="bi bi-hand-index"></i>
            </button>
        </form>
        {% endif %}
    </div>
</div>

<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artifact</th>
      <th>Time</th>
      <th>Result time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for loaded_command in loaded_commands %}
    {% with loaded_command.db_command as command %}
    <tr>
      <td>
        {{ command.name }}{% if command.name != loaded_command.request_type %} ({{ loaded_command.request_type }}){% endif %}
      </td>
      <td>
        {% if command.artifact_version %}
        {% if perms.mdm.view_artifactversion %}
        <a href="{{ command.artifact_version.get_absolute_url }}">{{ command.artifact_version }}</a>
        {% else %}
        {{ command.artifact_version }}
        {% endif %}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if command.time %}
        {{ command.time|date:"SHORT_DATETIME_FORMAT" }}
        {% else %}
        Queued since {{ command.created_at|date:"SHORT_DATETIME_FORMAT" }}
        {% endif %}
      </td>
      <td>
        {{ command.result_time|date:"SHORT_DATETIME_FORMAT"|default:"-" }}
      </td>
      <td>
        {{ command.get_status_display|default:"-" }}
        {% if command.result %}
            {% url 'mdm:download_enrolled_device_command_result' command.uuid as url %}
            {% button 'DOWNLOAD' url "Download Result" %}
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% if commands_count > 1 %}
<p><a href="{% url 'mdm:enrolled_user_commands' enrolled_device.pk object.pk %}">See all commands</a></p>
{% endif %}

{% endif %}

{% endblock %}
