{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:filevault_configs' %}">FileVault configurations</a></li>
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">delete</li>
</ol>

<h3>Delete FileVault configuration <i>{{ object }}</i></h3>

<form method="post">{% csrf_token %}
  <p>Do you really want to delete this FileVault configuration?</p>
  <p>
    <a class="btn btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </p>
</form>
{% endblock %}
