{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item active">FileVault configuration{{ page_obj.paginator.count|pluralize }}</li>
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0">FileVault configuration{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h2>
    <div class="ms-auto">
        {% if perms.mdm.add_filevaultconfig %}
            {% url 'mdm:create_filevault_config' as url %}
            {% button 'CREATE' url "Create new FileVault Configuration" %}
        {% endif %}  
    </div>
</div>

{% if object_list %}

    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>Name</th>
        <th>created at</th>
        <th>updated at</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for filevault_config in object_list %}
        <tr class="data-row">
        <td>
            <a href="{{ filevault_config.get_absolute_url }}">{{ filevault_config }}</a>
        </td>
        <td>{{ filevault_config.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ filevault_config.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td class="text-end py-0">
            {% if perms.mdm.change_filevaultconfig %}
                {% url 'mdm:update_filevault_config' filevault_config.pk as url %}
                {% button 'UPDATE' url "Edit FileVault Configuration" %}
            {% endif %}
            {% if perms.mdm.delete_filevaultconfig and filevault_config.can_be_deleted %}
                {% url 'mdm:delete_filevault_config' filevault_config.pk as url %}
                {% button 'DELETE' url "Delete FileVault Configuration" %}
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}

{% else %}
    {% if perms.mdm.add_filevaultconfig %}
        {% url 'mdm:create_filevault_config' as link %}
        {% no_entities 'Filevault Configs' link %}
    {% else %}
        {% no_entities 'Filevault Configs' %}
    {% endif %}
{% endif %}

{% endblock %}
