{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' object.meta_business_unit.pk %}">{{ object.meta_business_unit }}</a></li>
  <li class="active">kernel extension policy</li>
</ol>

<h2>{{ object }}</h2>

<p>
  <a href="{% url 'mdm:update_kernel_extension_policy' object.meta_business_unit.pk object.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </a>
  <a class="btn btn-danger" href="{% url 'mdm:trash_kernel_extension_policy' object.meta_business_unit.pk object.pk %}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </a>
</p>

<dl class="dl-horizontal">
  <dt>version</dt>
  <dd>{{ object.version }}</dd>
  <dt>allow user overrides</dt>
  <dd>{{ object.allow_user_overrides|yesno }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt class="small" style="opacity:0.5">Created at</dt>
  <dd class="small" style="opacity:0.5">{{ object.created_at|date:'r' }}</dd>
  <dt class="small" style="opacity:0.5">Updated at</dt>
  <dd class="small" style="opacity:0.5">{{ object.updated_at|date:'r' }}</dd>
</dl>

{% with object.allowed_teams.count as team_count %}
<h3>{{ team_count }} Allowed team{{ team_count|pluralize }}</h3>
{% if team_count %}
<table class="table">
  <thead>
    <th>Name</th>
    <th>Identifier</th>
  </thead>
  <tbody>
    {% for team in object.allowed_teams.all %}
    <tr><td>{{ team.name }}</td><td>{{ team.identifier }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}

{% with object.allowed_kernel_extensions.count as kext_count %}
<h3>{{ kext_count }} Allowed kext{{ kext_count|pluralize }}</h3>
{% if kext_count %}
<table class="table">
  <thead>
    <th>Team</th>
    <th>Name</th>
    <th>Identifier</th>
  </thead>
  <tbody>
    {% for kext in object.allowed_kernel_extensions.all %}
    <tr><td>{{ kext.team }}</td><td>{{ kext.name }}</td><td>{{ kext.identifier }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}
{% endblock %}
