{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li class="active">Manage kernel extensions</li>
</ol>

<h2>Manage kernel extensions</h2>

<h3>{{ kernel_extension_teams_count }} Team{{ kernel_extension_teams_count|pluralize }}</h3>

<p>
  <a href="{% url 'mdm:create_kernel_extension_team' %}" class="btn btn-default">Create</a>
</p>

{% if kernel_extension_teams_count %}
<table class="table">
  <thead>
    <th>Name</th>
    <th>Identifier</th>
  </thead>
  <tbody>
    {% for team in kernel_extension_teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td><a name="team_{{team.identifier}}"></a>{{ team.identifier }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>{{ kernel_extensions_count }} Kernel extension{{ kernel_extensions_count|pluralize }}</h3>

<p>
  <a href="{% url 'mdm:create_kernel_extension' %}" class="btn btn-default">Create</a>
</p>

{% if kernel_extensions_count %}
<table class="table">
  <thead>
    <th>Team</th>
    <th>Name</th>
    <th>Identifier</th>
  </thead>
  <tbody>
    {% for kext in kernel_extensions %}
    <tr>
      <td>{{ kext.team }}</td>
      <td>{{ kext.name }}</td>
      <td><a name="kext_{{kext.identifier}}"></a>{{ kext.identifier }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
