{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></li>
  <li class="active">{% if object %}Update {{ object }}{% else %}Create kernel extension policy{% endif %}</li>
</ol>

<h2>{% if object %}Update {{ object }}{% else %}Create kernel extension policy{% endif %}</h2>

<form class="form" method="POST">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a class="btn btn-default" href="{% url 'mdm:mbu' meta_business_unit.pk %}">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      {% if object %}Update{% else %}Create{% endif %}
    </button>
  </p>
</form>
{% endblock %}
