{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></li>
  {% if object %}
  <li><a href="{% url 'mdm:kernel_extension_policy' meta_business_unit.pk object.pk %}">kernel extension policy</a></li>
  <li class="active">update</li>
  {% else %}
  <li class="active">create kernel extension policy</li>
  {% endif %}
</ol>

<h2>{% if object %}Update {{ object }}{% else %}Create kernel extension policy{% endif %}</h2>

<form class="form" method="POST">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    {% if object %}
    <a class="btn btn-default" href="{% url 'mdm:kernel_extension_policy' meta_business_unit.pk object.pk %}">
    {% else %}
    <a class="btn btn-default" href="{% url 'mdm:mbu' meta_business_unit.pk %}">
    {% endif %}
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      {% if object %}Update{% else %}Create{% endif %}
    </button>
  </p>
</form>
{% endblock %}
