{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:kernel_extensions_index' %}">Kernel extensions</a></li>
  <li class="active">Create team</li>
</ol>

<h2>Create kernel extension team</h2>

<form class="form" method="POST">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{% url 'mdm:kernel_extensions_index' %}" class="btn btn-default">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      Create
    </button>
  </p>
</form>
{% endblock %}
