{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:locations' %}">Locations</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{  object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Location</h3>
        <div class="ms-auto">
            {% if perms.mdm.change_location %}
                {% url 'mdm:update_location' object.pk as url %}
                {% button 'UPDATE' url "Edit Location" %}
            {% endif %}
            {% if perms.mdm.delete_location and object.can_be_deleted %}
                {% url 'mdm:delete_location' object.pk as url %}
                {% button 'DELETE' url "Delete Location" %}
            {% endif %}
        </div>
    </div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped align-middle table-object-properties">
      <thead>
        <th width="33%">Attribute</th>
        <th>Value</th>
      </thead>
      <tbody>
      <tr>
        <td>Organization</td>
        <td>{{ object.organization_name }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ object.name }}</td>
      </tr>
      <tr>
        <td>Token expiration date</td>
        <td>
          {% if object.server_token_expires_soon %}
          <span class="text-danger">
            {{ object.server_token_expiration_date|date:'SHORT_DATETIME_FORMAT'}} ({{ object.server_token_expiration_date|timeuntil }})
          </span>
          {% else %}
          {{ object.server_token_expiration_date|date:'SHORT_DATE_FORMAT'}}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Country code</td>
        <td>{{ object.country_code }}</td>
      </tr>
      <tr>
        <td>Website URL</td>
        <td><a href="{{ object.website_url }}">{{ object.website_url }}</a></td>
      </tr>
      </tbody>
    </table>

    {% created_updated_at object %}

  </div>
</div>


{% endblock %}
