{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:enrollment_packages_index' %}">Enrollment packages</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<h3>{{ builder_name }}</h3>

<form method="POST">{% csrf_token %}
  {{ secret_form|bootstrap }}
  {{ enrollment_form|bootstrap }}
  <p>
    <a href="{% url 'mdm:enrollment_packages_index' %}" class="btn btn-default">Cancel</a>
    <button class="btn btn-primary">Create enrollment package</button>
  </p>
</form>
{% endblock %}
