{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h2>Business unit <i>{{ object }}</i></h2>

<h3>{{ dep_profile_list|length }} DEP profile{{ dep_profile_list|length|pluralize }}</h3>

<p>
  <a class="btn btn-default" href="{% url 'mdm:create_dep_profile' object.id %}">
    Create
  </a>
</p>

{% if dep_profile_list %}
<table class="table">
  <thead>
    <th class="col-md-4">Name</th>
    <th class="col-md-3">Enrollment tags</th>
    <th class="col-md-2">Assigned devices</th>
    <th class="col-md-2">Created at</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    {% for dep_profile in dep_profile_list %}
    {% with dep_profile.enrollment_secret as enrollment_secret %}
    <tr>
      <td><a href="{{ dep_profile.get_absolute_url }}">{{ dep_profile }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td>{{ dep_profile.assigned_devices.count }}</td>
      <td>{{ dep_profile.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>{{ ota_enrollment_list|length }} OTA enrollment{{ ota_enrollment_list|length|pluralize }}</h3>

<p>
  <a class="btn btn-default" href="{% url 'mdm:create_ota_enrollment' object.id %}">
    Create
  </a>
</p>

{% if ota_enrollment_list %}
<table class="table">
  <thead>
    <th class="col-md-4">Name</th>
    <th class="col-md-3">Enrollment tags</th>
    <th class="col-md-2">Validity</th>
    <th class="col-md-2">Created at</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    {% for ota_enrollment in ota_enrollment_list %}
    {% with ota_enrollment.enrollment_secret as enrollment_secret %}
    {% with enrollment_secret.is_valid|first as is_valid %}
    {% with enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ ota_enrollment.get_absolute_url }}">{{ ota_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ ota_enrollment.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>
        {% if is_valid %}
        <a class="btn btn-default"
           href="{% url 'mdm:download_profile_service_payload' object.pk ota_enrollment.id %}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>Artifacts</h3>

<h4>{{ kext_policy_list|length }} Kernel extension polic{{ kext_policy_list|length|pluralize:"y,ies" }}</h4>

<p>
  <a class="btn btn-default{% if kext_policy_list %} disabled{% endif %}" href="{% url 'mdm:create_kernel_extension_policy' object.id %}">
    Create
  </a>
</p>

{% if kext_policy_list %}
<table class="table">
  <thead>
    <th class="col-md-8">Identifier</th>
    <th class="col-md-1">Version</th>
    <th class="col-md-2">Updated at</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    {% for kext_policy in kext_policy_list %}
    <tr>
      <td>
        <a name="kext_policy_{{ kext_policy.id }}" href="{{ kext_policy.get_absolute_url }}">
          {{ kext_policy }}
        </a>
      </td>
      <td>{{ kext_policy.version }}</td>
      <td>{{ kext_policy.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>
        <a class="btn btn-danger" href="{% url 'mdm:trash_kernel_extension_policy' object.pk kext_policy.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h4>{{ enrollment_package_list|length }} enrollment package{{ enrollment_package_list|length|pluralize }}</h4>

{% if create_enrollment_package_links %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="createMDMEnrollmentPackage"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Create
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="createMDMEnrollmentPackage">
    {% for link, anchor_text in create_enrollment_package_links %}
    <li><a href="{{ link }}">{{ anchor_text }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if enrollment_package_list %}
<table class="table">
  <thead>
    <th class="col-md-6">Description</th>
    <th class="col-md-2">Request count</th>
    <th class="col-md-1">Version</th>
    <th class="col-md-2">Updated at</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    {% for enrollment_package in enrollment_package_list %}
    {% with enrollment_package.get_enrollment as enrollment %}
    {% with enrollment.secret as secret %}
    <tr>
      <td>
        <a name="enrollment_package_{{ enrollment_package.pk }}"></a>
        <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.get_description_for_distributor }}</a>
      </td>
      <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
      <td>{{ enrollment_package.version }}</td>
      <td>
        {{ enrollment_package.updated_at|date:"SHORT_DATETIME_FORMAT" }}
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'mdm:trash_enrollment_package' object.pk enrollment_package.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h4>{{ configuration_profile_list|length }} configuration profile{{ configuration_profile_list|length|pluralize }}</h4>

<p>
  <a class="btn btn-default" href="{% url 'mdm:upload_configuration_profile' object.id %}">
    Upload
  </a>
</p>

{% if configuration_profile_list %}
<table class="table">
  <thead>
    <th class="col-md-4">Name</th>
    <th class="col-md-4">Payloads</th>
    <th class="col-md-1">Version</th>
    <th class="col-md-2">Updated at</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    {% for configuration_profile in configuration_profile_list %}
    <tr>
      <td>
        <b>ID:</b> {{ configuration_profile.source_payload_identifier }}<br>
        {% if configuration_profile.payload_display_name %}
        {{ configuration_profile.payload_display_name }}
        {% endif %}
      </td>
      <td>
        <ul class="list-unstyled">
          {% for payload_type, payload_name, payload in configuration_profile.get_payloads %}
          <li><code>{{ payload_type }}</code>{% if payload_name %} - {{ payload_name }}{% endif %}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ configuration_profile.version }}</td>
      <td>{{ configuration_profile.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>
        <a class="btn btn-danger" href="{% url 'mdm:trash_configuration_profile' object.pk configuration_profile.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
