{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li><a href="{% url 'mdm:push_certificates' %}">Push certificates</a></li>
  <li><a href="{% url 'mdm:push_certificate' push_certificate.id %}">{{ push_certificate }}</a></li>
  <li class="active">Add business unit</li>
</ol>

<h2>Add a business unit to push certificate <i>{{ push_certificate }}</i></h2>

<form class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{% url 'mdm:push_certificate' push_certificate.id %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">Add</button>
  </p>
</form>
{% endblock %}
