{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li class="active">Business units</li>
</ol>

<h2>{{ mbu_list|length }} Business unit{{ mbu_list|length|pluralize }}</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Push certificate</th>
  </thead>
  <tbody>
    {% for mbu in mbu_list %}
    <tr>
      <td><a href="{% url 'mdm:mbu' mbu.pk %}">{{ mbu }}</a></td>
      <td>{{ mbu.metabusinessunitpushcertificate.push_certificate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
