{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">MDM</li>
  <li><a href="{% url 'mdm:mbu_list' %}">Business units</a></li>
  <li><a href="{% url 'mdm:mbu' meta_business_unit.pk %}">{{ meta_business_unit }}</a></li>
  <li class="active">create OTA enrollment</li>
</ol>

<h2>Create OTA enrollment</h2>

<form class="form" method="POST">{% csrf_token %}
  {{ ota_enrollment_form|bootstrap }}
  {{ enrollment_secret_form|bootstrap }}
  <p>
    <a href="{% url 'mdm:mbu' meta_business_unit.id %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
  </p>
</form>
{% endblock %}
