{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">[OTA] {{ object }}</a></li>
  <li class="breadcrumb-item active">edit</li>
  {% else %}
  <li class="breadcrumb-item active">create OTA enrollment</li>
  {% endif %}
</ol>

<h3>{% if object %}[OTA] {{ object }}{% else %}Create OTA enrollment{% endif %}</h3>

<form class="update-form" method="POST">{% csrf_token %}
  {{ ota_enrollment_form }}
  {{ enrollment_secret_form }}
  <p>
    {% if object %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'mdm:enrollments' %}" class="btn btn-outline-secondary">Cancel</a>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
