{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM setup</a></li>
  <li class="active">OTA MDM Enrollments</li>
</ol>

<h2>{{ object_list|length }} OTA MDM enrollment{{ object_list|length|pluralize }}</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Business unit</th>
    <th>Validity</th>
    <th>Created at</th>
  </thead>
  <tbody>
    {% for ota_enrollment in object_list %}
    {% with ota_enrollment.enrollment_secret.is_valid|first as is_valid %}
    {% with ota_enrollment.enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ ota_enrollment.get_absolute_url }}">{{ ota_enrollment.name }}</a></td>
      <td><a href="{% url 'mdm:mbu' ota_enrollment.enrollment_secret.meta_business_unit.id %}">{{ ota_enrollment.enrollment_secret.meta_business_unit }}</a></td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ ota_enrollment.created_at }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
