{% extends 'base.html' %}
{% load inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  <li class="breadcrumb-item active">[OTA] {{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">[OTA]</h3>
        <div class="ms-auto">
            {% if not secret.is_revoked %}
                {% if perms.mdm.change_otaenrollment %}
                    {% url 'mdm:update_ota_enrollment' object.pk as url %}
                    {% button 'UPDATE' url "Edit OTA Enrollment" %}
                {% endif %}
                {% if not object.realm %}
                <a href="{% url 'mdm:download_profile_service_payload' object.pk %}" class="btn btn-link text-decoration-none text-dark"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Profile">
                    <i class="bi bi-person" aria-hidden="true"></i>
                </a>
                {% endif %}
            {% endif %}

        </div>
    </div>

    {% with object.enrollment_secret as secret %}
    <h4 style="margin-top:20px">Configuration</h4>
    <table class="table table-light table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <th width="160px">Push certificate</th>
        <td>
            {% if perms.mdm.view_pushcertificate %}
            <a href="{{ object.push_certificate.get_absolute_url }}">{{ object.push_certificate }}</a>
            {% else %}
            {{ object.push_certificate }}
            {% endif %}
        </td>
        </tr>
        <tr>
        <th width="160px">SCEP config</th>
        <td>
            {% if perms.mdm.view_scepconfig %}
            <a href="{{ object.scep_config.get_absolute_url }}">{{ object.scep_config }}</a>
            {% else %}
            {{ object.scep_config }}
            {% endif %}
            {% if object.scep_verification %}
            / with CSR verification
            {% else %}
            / without CSR verification
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Blueprint</th>
        <td>
            {% if object.blueprint %}
            {% if perms.mdm.view_blueprint %}
            <a href="{{ object.blueprint.get_absolute_url }}">{{ object.blueprint }}</a>
            {% else %}
            {{ object.blueprint }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Business unit</th>
        <td>{{ secret.meta_business_unit }}</td>
        </tr>
        <tr>
        <th>Enrollment tag{{ secret.tags.count|pluralize }}</th>
        <td>{% for tag in secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}</td>
        </tr>
    </tbody>
    </table>

    <h4>Authentication</h4>
    <table class="table table-light table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <th width="160px">Realm</th>
        <td>
            {% if object.realm %}
            {% if perms.realms.view_realm %}
            <a href="{% url 'realms:view' object.realm.pk %}">{{ object.realm }}</a>
            {% else %}
            {{ object.realm }}
            {% endif %}
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
        <tr>
        <th>Self-Enrollment URL</th>
        <td>
            {% if enroll_url %}
            <a href="{{ enroll_url }}">{{ enroll_url }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
    </tbody>
    </table>

    <h4>Restrictions</h4>
    <table class="table table-light table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <th style="width:160px">Serial number{{ secret.serial_numbers|length|pluralize }}</th>
        <td>{% for serial_number, urlsafe_serial_number in secret.urlsafe_serial_numbers %}{{ serial_number }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td>
        </tr>
        <tr>
        <th>UDID{{ secret.udids|length|pluralize }}</th>
        <td>{% if secret.udids %}{{ secret.udids|join:", " }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
        <th>Quota</th>
        <td>{% if secret.quota %}{{ secret.quota }}{% else %}-{% endif %}</td>
        </tr>
    </tbody>
    </table>

    <h4>Status</h4>
    <table class="table table-light table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <th style="width:160px">Request count</td>
        <td class="{% if secret.is_used_up %}text-danger{% else %}text-success{% endif %}">
            {{ secret.request_count }}{% if secret.quota %}/{{ secret.quota }}{% endif %}
        </td>
        </tr>
        <tr>
        <th>Expired</th>
        <td class="{% if secret.is_expired %}text-danger{% else %}text-success{% endif %}">
            {{ secret.expired_at|date:"SHORT_DATETIME_FORMAT"|default:"no" }}
        </td>
        </tr>
        <tr>
        <th>Revoked</th>
        <td class="{% if secret.is_revoked %}text-danger{% else %}text-success{% endif %}">
            {% if secret.is_revoked %}
            {{ secret.revoked_at|date:"SHORT_DATETIME_FORMAT" }}
            {% else %}
            {% if perms.mdm.change_otaenrollment %}
            no
            <a class="btn btn-danger btn-xs" href="{% url 'mdm:revoke_ota_enrollment' object.id %}">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            Revoke
            </a>
            {% else %}
            no
            {% endif %}
            {% endif %}
        </td>
        </tr>
    </tbody>
    </table>

    {% created_updated_at object %}
</div>

{% endwith %}


<h3 style="margin-top:40px">Session{{ ota_enrollment_sessions_count|pluralize }} ({{ ota_enrollment_sessions_count }})</h3>

<table class="table table-light table-striped align-middle">
  <thead>
    <th>Serial number</th>
    {% if object.realm %}
    <th>Realm user</th>
    {% endif %}
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th>
  </thead>
  <tbody>
    {% for s in ota_enrollment_sessions %}
    <tr>
      <td>
        {% with s.get_serial_number as sn %}
        {% if sn %}
        {% if perms.mdm.view_enrolleddevice and s.enrolled_device %}
        <a href="{% url 'mdm:enrolled_device' s.enrolled_device.pk %}">{{ sn }}</a>
        {% else %}
        {{ sn }}
        {% endif %}
        {% else %}
        -
        {% endif %}
        {% endwith %}
      </td>
      {% if object.realm %}
      <td>{% if s.realm_user %}{{ s.realm_user }}{% else %}-{% endif %}</td>
      {% endif %}
      <td>{{ s.get_status_display }}</td>
      <td>{{ s.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ s.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
