{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:packages' %}">Packages</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Package</h3>
        <div class="ms-auto">
            {% url 'mdm:download_package' object.pk as url %}
            {% button 'DOWNLOAD' url "Download Package" %}
            {% if perms.mdm.change_package %}
                {% url 'mdm:update_package' object.pk as url %}
                {% button 'UPDATE' url "Edit Package" %}
            {% endif %}
            {% if perms.mdm.delete_package and object.can_be_deleted %}
                {% url 'mdm:delete_package' object.pk as url %}
                {% button 'DELETE' url "Delete Package" %}
            {% endif %}
        </div>
    </div>

    <table class="table-object-properties">
    <tbody>
        <tr>
        <th width="240px">ID</th>
        <td><code>{{ object.id }}</code></td>
        </tr>
        <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
        </tr>
        <tr>
        <th>Description</th>
        <td>{{ object.description|linebreaksbr|default:"-" }}</td>
        </tr>
        <tr>
        <th>Type</th>
        <td>{{ object.type }}</td>
        </tr>
        <tr>
        <th>Filename</th>
        <td>{{ object.filename }}</td>
        </tr>
        <tr>
        <th>Source URI</th>
        <td>{{ object.source_uri|default:"-" }}</td>
        </tr>
        <tr>
        <th>SHA256</th>
        <td><code>{{ object.sha256 }}</code></td>
        </tr>
        <tr>
        <th>Size</th>
        <td>{{ object.size|filesizeformat }}</td>
        </tr>
        <tr>
        <th>Product ID</th>
        <td>{{ object.product_id }}</td>
        </tr>
        <tr>
        <th>Product version</th>
        <td>{{ object.product_version }}</td>
        </tr>
        <tr>
        <th>Bundle{{ object.bundles|length|pluralize }}</th>
        <td>
            {% if object.bundles %}
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Version</th>
                  <th>Path</th>
                </tr>
              </thead>
              <tbody>
                {% for bundle in object.bundles %}
                <tr>
                  <td>{{ bundle.id }}</td>
                  <td>{{ bundle.version_str }}{% if bundle.version != bundle.version_str %} / {{ bundle.version }}{% endif %}</td>
                  <td>{{ bundle.path|default:"-" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
    </tbody>
    </table>

    <h3 class="m-0 fs-5 text-secondary mt-3 mb-2">
        Referenced by {{ package_refs_count }} declaration{{ package_refs_count|pluralize }}
    </h3>
    {% if package_refs_count %}
    <table class="table table-object-properties">
      <thead>
        <tr>
          <th>Artifact</th>
          <th>Version</th>
          <th>Key</th>
        </tr>
      </thead>
      <tbody>
        {% for ref in package_refs %}
        {% with ref.declaration.artifact_version as artifact_version %}
        <tr>
          <td>
            {% if perms.mdm.view_artifact %}
            <a href="{{ artifact_version.artifact.get_absolute_url }}">{{ artifact_version.artifact }}</a>
            {% else %}
            {{ artifact_version.artifact }}
            {% endif %}
          </td>
          <td>
            {% if perms.mdm.view_artifactversion %}
            <a href="{% url 'mdm:artifact_version' artifact_version.artifact.pk artifact_version.pk %}">v{{ artifact_version.version }}</a>
            {% else %}
            v{{ artifact_version.version }}
            {% endif %}
          </td>
          <td>{{ ref.key|join:"." }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% created_updated_at object %}

</div>

{% endblock %}
