{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:artifacts' %}">Artifacts</a></li>
  <li class="active">Upload profile</li>
</ol>

<h3>Upload profile</h3>

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{% url 'mdm:artifacts' %}" class="btn btn-default">Cancel</a>
    <button class="btn btn-primary">Upload</button>
  </p>
</form>
{% endblock %}
