{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:push_certificates' %}">Push certificates</a></li>
  <li class="active">{{ object.name }}</li>
</ol>

<h3>MDM push certificate <i>{{ object.name }}</i></h3>

{% if perms.mdm.change_pushcertificate %}
<p>
  <a href="{% url 'mdm:update_push_certificate' object.pk %}" class="btn btn-default">Update</a>
</p>
{% endif %}

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ object.name }}</dd>
  <dt>Topic</dt>
  <dd>{{ object.topic }}</dd>
  <dt>Not before</dt>
  <dd>{{ object.not_before }}</dd>
  <dt>Not after</dt>
  <dd>{{ object.not_after }}</dd>
</dl>

{% if perms.mdm.view_depenrollment %}
<h3>{{ dep_enrollments|length }} DEP enrollment{{ dep_enrollments|length|pluralize }}</h3>

{% if dep_enrollments %}
<table class="table">
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Enrollment tags</th>
      <th class="col-md-2">Assigned devices</th>
      <th class="col-md-2">Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for dep_enrollment in dep_enrollments %}
    {% with dep_profile.enrollment_secret as enrollment_secret %}
    <tr>
      <td><a href="{{ dep_enrollment.get_absolute_url }}">{{ dep_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td>{{ dep_profile.assigned_devices.count }}</td>
      <td>{{ dep_profile.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.mdm.view_otaenrollment %}
<h3>{{ ota_enrollments|length }} OTA enrollment{{ ota_enrollments|length|pluralize }}</h3>

{% if ota_enrollments %}
<table class="table">
  <thead>
    <th class="col-md-4">Name</th>
    <th class="col-md-4">Enrollment tags</th>
    <th class="col-md-2">Validity</th>
    <th class="col-md-2">Created at</th>
  </thead>
  <tbody>
    {% for ota_enrollment in ota_enrollments %}
    {% with ota_enrollment.enrollment_secret as enrollment_secret %}
    {% with enrollment_secret.is_valid|first as is_valid %}
    {% with enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ ota_enrollment.get_absolute_url }}">{{ ota_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ ota_enrollment.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.mdm.view_userenrollment %}
<h3>{{ user_enrollments|length }} User enrollment{{ user_enrollments|length|pluralize }}</h3>

{% if user_enrollments %}
<table class="table">
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Enrollment tags</th>
      <th class="col-md-2">Validity</th>
      <th class="col-md-2">Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for user_enrollment in user_enrollments %}
    {% with user_enrollment.enrollment_secret as enrollment_secret %}
    {% with enrollment_secret.is_valid|first as is_valid %}
    {% with enrollment_secret.is_valid|last as err_msg %}
    <tr>
      <td><a href="{{ user_enrollment.get_absolute_url }}">{{ user_enrollment.name }}</a></td>
      <td>
        {% for tag in enrollment_secret.tags.all %}{% inventory_tag tag %}{% empty %}-{% endfor %}
      </td>
      <td class="{% if is_valid %}bg-success{% else %}bg-danger{% endif %}">{{ err_msg|default:"OK" }}</td>
      <td>{{ ota_enrollment.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
