{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:push_certificates' %}">Push certificates</a></li>
  <li class="active">Add</li>
</ol>

<h2>Add a MDM push certificate</h2>

<form class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{% url 'mdm:push_certificates' %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">Add</button>
  </p>
</form>
{% endblock %}
