{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item active">Push certificates</li>
</ol>

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0">MDM push certificate{{ object_list|length|pluralize }} ({{ object_list|length }})</h2>
    <div class="ms-auto">
        {% if perms.mdm.add_pushcertificate %}
            {% url 'mdm:upload_push_certificate' as upload_url %}
            {% button 'UPLOAD' upload_url "Upload new Push Certificate" %}
            {% url 'mdm:create_push_certificate' as create_url %}
            {% button 'CREATE' create_url "Create new Push Certificate" %}
        {% endif %}  
    </div>
</div>

{% if object_list %}

    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle">
    <thead>
        <th>Name</th>
        <th>Topic</th>
        <th>Not before</th>
        <th>Not after</th>
    </thead>
    <tbody>
        {% for push_certificate in object_list %}
        <tr>
        <td><a href="{{ push_certificate.get_absolute_url }}">{{ push_certificate.name }}</a></td>
        <td>{{ push_certificate.topic|default:"-" }}</td>
        <td>{{ push_certificate.not_before|default:"-" }}</td>
        <td>{{ push_certificate.not_after|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}

{% else %}
    {% if perms.mdm.add_pushcertificate %}
        {% url 'mdm:create_push_certificate' as link %}
        {% no_entities 'MDM Push Certificates' link %}
    {% else %}
        {% no_entities 'MDM Push Certificates' %}
    {% endif %}
{% endif %}
{% endblock %}
