{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li><a href="{% url 'mdm:recovery_password_configs' %}">Recovery password configurations</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h3>{{ object }}</h3>

<table class="table table-condensed">
  <tbody>
    <tr>
      <th width="240px">Name</th>
      <td>{{ object.name }}</th>
    </tr>
    <tr>
      <th>Dynamic password?</th>
      <td>
        {{ object.dynamic_password|yesno }}
      </td>
    </tr>
    {% if not object.dynamic_password %}
    <tr>
      <th>Static password</th>
      <td>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:pointer"></span>
        <span hidden>{{ object.get_static_password }}</span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Automatic rotation</th>
      <td>
        {% if not object.rotation_interval_days %}
        never
        {% else %}
        every {{ object.rotation_interval_days }} day{{ object.rotation_interval_days|pluralize }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Rotate firmware password?</th>
      <td>
        {{ object.rotate_firmware_password|yesno }}
      </td>
    </tr>
    <tr>
      <th>Blueprint{{ blueprint_count|pluralize }} ({{ blueprint_count }})</th>
      <td>
        {% if blueprint_count %}
        <ul class="list-unstyled">
        {% for blueprint in blueprints %}
        {% if perms.mdm.view_blueprint %}
        <li><a href="{{ blueprint.get_absolute_url }}">{{ blueprint }}</a></li>
        {% else %}
        <li>{{ blueprint }}</li>
        {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
  </tbody>
</table>

<dl class="dl-horizontal">
  <dt class="small" style="opacity:0.5">Created at</dt>
  <dd class="small" style="opacity:0.5">{{ object.created_at|date:'SHORT_DATETIME_FORMAT' }}</dd>
  <dt class="small" style="opacity:0.5">Updated at</dt>
  <dd class="small" style="opacity:0.5">{{ object.updated_at|date:'SHORT_DATETIME_FORMAT' }}</dd>
</dl>

<p>
  {% if perms.mdm.change_recoverypasswordconfig %}
  <a class="btn btn-default"
     href="{% url 'mdm:update_recovery_password_config' object.pk %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Edit
  </a>
  {% endif %}
  {% if perms.mdm.delete_recoverypasswordconfig and object.can_be_deleted %}
  <a class="btn btn-danger"
     href="{% url 'mdm:delete_recovery_password_config' object.pk %}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Delete
  </a>
  {% endif %}
</p>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var openEyes = document.querySelectorAll(".glyphicon-eye-open");
  openEyes.forEach(function(openEye) {
    openEye.addEventListener("click", function(event) {
      var valueSpan = openEye.nextElementSibling;
      if (valueSpan.hidden) {
        valueSpan.hidden = false;
        openEye.classList.remove("glyphicon-eye-open");
        openEye.classList.add("glyphicon-eye-close");
      } else {
        valueSpan.hidden = true;
        openEye.classList.remove("glyphicon-eye-close");
        openEye.classList.add("glyphicon-eye-open");
      }
    });
  });
</script>
{% endblock %}
