{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="active">Recovery password configuration{{ page_obj.paginator.count|pluralize }}</li>
  <li class="active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<h3>{{ page_obj.paginator.count }} Recovery password configuration{{ page_obj.paginator.count|pluralize }}</h3>

{% if perms.mdm.add_recoverypasswordconfig %}
<p>
  <a class="btn btn-default" href="{% url 'mdm:create_recovery_password_config' %}">
  Create
  </a>
</p>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% if object_list %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>created at</th>
      <th>updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for recovery_password_config in object_list %}
    <tr>
      <td>
        <a href="{{ recovery_password_config.get_absolute_url }}">{{ recovery_password_config }}</a>
      </td>
      <td>{{ recovery_password_config.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ recovery_password_config.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>
        {% if perms.mdm.change_recoverypasswordconfig %}
        <a href="{% url 'mdm:update_recovery_password_config' recovery_password_config.pk %}" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.mdm.delete_recoverypasswordconfig and recovery_password_config.can_be_deleted %}
        <a href="{% url 'mdm:delete_recovery_password_config' recovery_password_config.pk %}" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
