{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:recovery_password_configs' %}">Recovery password configurations</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">update</li>
  {% else %}
  <li class="breadcrumb-item active">create</li>
  {% endif %}
</ol>

<h3>{% if object %}Update recovery password configuration <i>{{ object }}</i>{% else %}Create recovery password configuration{% endif %}</h3>

<form method="post" class="update-form">{% csrf_token %}
  
  {{ form }}
  
  <p>
    {% if object %}
    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
    {% else %}
    <a class="btn btn-outline-secondary" href="{% url 'mdm:recovery_password_configs' %}">Cancel</a>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function toggleStaticPasswordField() {
    var checked = $("#id_dynamic_password").prop("checked");
    var $input = $("#id_static_password");
    if(checked) {
        $('label[for="id_static_password"]').hide();
    } else {
        $('label[for="id_static_password"]').show();
    }
    $input.toggle(!checked);
    var $rotIntInput = $("#id_rotation_interval_days");
    $rotIntInput.toggle(checked);
    var $rotFirmPwd = $("#id_rotate_firmware_password");
    $rotFirmPwd.toggle(checked);
  }

  $(document).ready(function () {
    $("#id_dynamic_password").change(function () {
      toggleStaticPasswordField()
    });
    toggleStaticPasswordField();
  });
</script>
{% endblock %}
