{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">MDM</li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:enrollments' %}">Enrollments</a></li>
  <li class="breadcrumb-item"><a href="{{ user_enrollment.get_absolute_url }}">[USER] {{ user_enrollment }}</a></li>
  <li class="breadcrumb-item active">revoke</li>
</ol>

<h2>Revoke user enrollment <i>{{ user_enrollment }}</i></h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to revoke this enrollment?</p>
  <p>
    <a class="btn btn-outline-secondary" href="{{ user_enrollment.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Yes</button>
  </p>
</form>
{% endblock %}
