{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:index' %}">MDM</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mdm:scep_configs' %}">SCEP configurations</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">SCEP Configuration</h3>
        <div class="ms-auto">
            {% if perms.mdm.change_scepconfig %}
            <a href="{% url 'mdm:update_scep_config' object.pk %}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
            {% endif %}
            {% if perms.mdm.delete_scepconfig and object.can_be_deleted %}
            <a href="{% url 'mdm:delete_scep_config' object.pk %}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete">
                <i class="bi bi-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>

<table class="table table-light table-striped align-middle table-object-properties">
  <tbody>
    <tr>
      <th width="160px">URL</th>
      <td>{{ object.url }}</th>
    </tr>
    <tr>
      <th>Key usage</th>
      <td>{{ object.key_usage }}</td>
    </tr>
    <tr>
      <th>Key is extractable</th>
      <td>{{ object.key_is_extractable|yesno }}</td>
    </tr>
    <tr>
      <th>Keysize</th>
      <td>{{ object.get_keysize_display }}</td>
    </tr>
    <tr>
      <th>Allow all apps access</th>
      <td>{{ object.allow_all_apps_access|yesno }}</td>
    </tr>
    <tr>
      <th>Challenge
      <td>
        <dl>
          <dt>Type</dt>
          <dd>{{ object.get_challenge_type_display }}</dd>
          {% with object.get_challenge_kwargs as kwargs %}
          {% if object.challenge_type == "STATIC" %}
          <dt>Challenge</dt>
          <dd>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:pointer"></span>
            <span hidden>{{ kwargs.challenge }}</span>
          </dd>
          {% elif object.challenge_type == "MICROSOFT_CA" %}
          <dt>NDES mscep_admin/ endpoint</dt>
          <dd>{{ kwargs.url }}</dd>
          <dt>mscep admin user</dt>
          <dd>{{ kwargs.username }}</dt>
          <dt>mscep admin password</dt>
          <dd>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:pointer"></span>
            <span hidden>{{ kwargs.password }}</span>
          </dd>
          {% endif %}
          {% endwith %}
        </dl>
      </td>
    </tr>
  </tbody>
</table>

{% created_updated_at object %}

</div>

{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var openEyes = document.querySelectorAll(".glyphicon-eye-open");
  openEyes.forEach(function(openEye) {
    openEye.addEventListener("click", function(event) {
      var valueSpan = openEye.nextElementSibling;
      if (valueSpan.hidden) {
        valueSpan.hidden = false;
        openEye.classList.remove("glyphicon-eye-open");
        openEye.classList.add("glyphicon-eye-close");
      } else {
        valueSpan.hidden = true;
        openEye.classList.remove("glyphicon-eye-close");
        openEye.classList.add("glyphicon-eye-open");
      }
    });
  });
</script>
{% endblock %}
