<h3>{{ heartbeats|length }} Heartbeat{{ heartbeats|length|pluralize }}</h2>
<table class="table table-condensed">
  <thead>
    <th>Event</th>
    <th>User agent</th>
    <th>Last seen</th>
  </thead>
  <tbody>
    {% for event_class_display, inventory_source_name, ua_max_dates, cell_class in heartbeats %}
    {% for ua, ua_max_date in ua_max_dates %}
    <tr>
      {% if forloop.counter == 1 %}
      <td rowspan="{{ ua_max_dates|length }}">
        {{ event_class_display }}{% if inventory_source_name %} - {{ inventory_source_name }}{% endif %}
      </td>
      {% endif %}
      <td {% if cell_class %}class="{{ cell_class }}"{% endif %}>{{ ua|default:"-" }}</td>
      <td {% if cell_class %}class="{{ cell_class }}"{% endif %}>{{ ua_max_date }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
