<h3>Heartbeat{{ heartbeats|length|pluralize }} ({{ heartbeats|length }})</h2>
{% if heartbeats %}
<table class="table table-striped align-middle table-hover">
  <thead>
    <th>Event</th>
    <th>Last seen</th>
    <th>User agent</th>
  </thead>
  <tbody>
    {% for event_class_display, inventory_source_name, ua_max_dates, cell_class in heartbeats %}
    {% for ua, ua_max_date in ua_max_dates %}
    <tr>
      <td>
        {% if forloop.counter == 1 %}
        {{ event_class_display }}{% if inventory_source_name %} - {{ inventory_source_name }}{% endif %}
        {% endif %}
      </td>
      <td {% if cell_class %}class="{{ cell_class }}"{% endif %}>{{ ua_max_date }}</td>
      <td {% if cell_class %}class="{{ cell_class }}"{% endif %}>{{ ua|default:"-" }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="text-danger">No heartbeats found in the last {{ time_range_days }} day{{ time_range_days|pluralize }}.</p>
{% endif %}
