{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<h3>{{ title }}</h3>
<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div class="form-group">
    {{ search_form.display_name|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ search_form.source|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ search_form.last_seen|bootstrap_inline }}
  </div>
  <button type="submit" name="action" value="search" class="btn btn-primary">Search</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
      Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'inventory_api:android_apps_export' %}" data-format="csv" class="task">CSV</a></li>
      <li><a href="{% url 'inventory_api:android_apps_export' %}" data-format="xlsx" class="task">XLSX</a></li>
    </ul>
  </div>
</form>

{% if search_form.is_bound %}
<h3>{{ total_objects }} result{{ total_objects|pluralize }}</h3>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% if object_list %}
<div class="table-reponsive">
  <table class="table">
    <thead>
      {% for header, link in table_headers %}
      <th>
        {% if link %}
        <a href="{{ link }}" style="white-space:nowrap;">{{ header }}</a>
        {% else %}
        {{ header }}
        {% endif %}
      </th>
      {% endfor %}
    </thead>
    <tbody>
    {% for android_app in object_list %}
    <tr>
      <td colspan="2">
        <a href="{{ android_app.link }}">{{ android_app.display_name|default:"-" }}</a>
      </td>
      <td>
          {{ android_app.ms_count }}
      </td>
    </tr>
    {% for version in android_app.versions %}
    <tr>
      <td style="border-top:1px dotted #ddd"><a href="{{ version.link }}">{{ version.version_name|default:"-" }} / {{ version.version_code|default:"-" }}</a></td>
      <td style="border-top:1px dotted #ddd">{{ version.source_name }}</td>
      <td style="border-top:1px dotted #ddd">{{ version.ms_count }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}


{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var WAIT_FOR_TASK_TIMEOUT_ID;

  function waitForTask(url) {
    $.ajax({
      dataType: "json",
      url: url,
      success: function (data) {
        console.log(data);
        if (data.unready) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 1000, url);
        } else if (data.status === "SUCCESS") {
          window.location = data.download_url;
        }
      }
    });
  }

  function launchTask($link) {
    var url = $link.attr("href");
    var postData = {"export_format": $link.data("format")};
    var formData = $link.parents("form").serializeArray();
    $.map(formData, function(n, i) {
      if (n['value']) {
        postData[n['name']] = n['value'];
      }
    });
    $.ajax({
      dataType: "json",
      contentType: "application/json",
      url: url,
      data: JSON.stringify(postData),
      method: "post",
      success: function (data) {
        WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 300, data.task_result_url);
      }
    });
  }

  $(document).ready(function () {
    $(".task").click(function (event) {
      event.preventDefault();
      launchTask($(this));
    });
  });
</script>
{% endblock %}
