{% extends 'base.html' %}
{% load inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Compliance checks</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h2 class="mb-0">Compliance Check</h2>
    <div class="ms-auto">
        {% if perms.inventory.add_jmespathcheck %}
            {% url 'inventory:create_compliance_check' as url %}
            {% button 'CREATE' url "Create new Compliance Check" %}
        {% endif %}
        {% if perms.inventory.view_machinesnapshot %}
            <a href="{% url 'inventory:compliance_check_devtool' %}" class="btn btn-link text-dark text-decoration-none"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Developer Tool">
                <i class="bi bi-tools"></i>
            </a>
        {% endif %}
        {% url 'inventory:compliance_check_terraform_export' as url %}
        {% button 'DOWNLOAD' url "Download Terraform config" %}
    </div>
</div>

{% if object_list %}
    <table class="table table-striped align-middle table-hover">
    <thead>
        <th>Name</th>
        <th>Source</th>
        <th>Platforms</th>
        <th>Tags</th>
    </thead>
    <tbody>
        {% for obj in object_list %}
        {% with obj.compliance_check as cc %}
        <tr>
        <td>
            <a href="{{ obj.get_absolute_url }}">{{ cc.name }}</a>
        </td>
        <td>{{ obj.source_name }}</td>
        <td>{{ obj.get_platforms_display }}</td>
        <td>
            {% for tag in obj.tags.all %}
            {% inventory_tag tag %}
            {% empty %}
            -
            {% endfor %}
        </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if perms.inventory.add_jmespathcheck %}
        {% url 'inventory:create_compliance_check' as link %}
        {% no_entities 'Compliance checks' link %}
    {% else %}
        {% no_entities 'Compliance checks' %}
    {% endif %}
{% endif %}

{% endblock %}
