{% extends 'base.html' %}
{% load inventory_extras inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:compliance_checks' %}">Compliance checks</a></li>
  <li class="breadcrumb-item active">{{ compliance_check.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ compliance_check.name }}</h2>
        <div class="ms-3">
            {% if show_events_link %}
            <a type="button" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Browse the events" href="{% url 'inventory:compliance_check_events' object.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"></path>
                </svg>
            </a>
            {% endif %}
            {% for link, anchor_text in store_links  %}
            <a href="{{ link }}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ anchor_text }}">
                <i class="bi bi-link"></i>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Compliance check</h3>
        <div class="ms-auto">
            {% if perms.inventory.update_jmespathcheck %}
            <a href="{% url 'inventory:update_compliance_check' object.pk %}" class="btn btn-link text-dark text-decoration-none"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
            {% endif %}
            {% if devtool_link %}
            <a href="{{ devtool_link }}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Developer Tool">
                <i class="bi bi-tools"></i>
            </a>
            {% endif %}
            {% if perms.inventory.delete_jmespathcheck %}
            <a href="{% url 'inventory:delete_compliance_check' object.pk %}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete">
                <i class="bi bi-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>


<table class="table table-striped align-middle table-object-properties">
  <thead>
    <th>Attribute</th>
    <th>Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ compliance_check.name }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ compliance_check.description }}</td>
    </tr>
    <tr>
      <td>Source name</td>
      <td>{{ object.source_name }}</td>
    </tr>
    <tr>
      <td>Platform{{ object.platforms|length|pluralize }}</td>
      <td>{{ object.get_platforms_display }}</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>
        {% for tag in object.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>JMESPath expression</td>
      <td><pre>{{ object.jmespath_expression }}</pre></td>
    </tr>
  </tbody>
</table>

{% created_updated_at object %}

{% endblock %}
