{% extends 'base.html' %}
{% load inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:compliance_checks' %}">Compliance checks</a></li>
  <li class="breadcrumb-item active">{{ compliance_check.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ compliance_check.name }}</h2>
        <div class="ms-3">
            {% if show_events_link %}
                {% url 'inventory:compliance_check_events' object.pk as url %}
                {% button 'EVENTS' url %}
            {% endif %}
            {% for link, anchor_text in store_links  %}
            <a href="{{ link }}" class="btn btn-link"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ anchor_text }}">
                <i class="bi bi-link"></i>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Compliance check</h3>
        <div class="ms-auto">
            {% if perms.inventory.update_jmespathcheck %}
                {% url 'inventory:update_compliance_check' object.pk as url %}
                {% button 'UPDATE' url "Edit Compliance Check" %}
            {% endif %}
            {% if devtool_link %}
            <a href="{{ devtool_link }}" class="btn btn-link"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Developer Tool">
                <i class="bi bi-tools"></i>
            </a>
            {% endif %}
            {% if perms.inventory.delete_jmespathcheck %}
                {% url 'inventory:delete_compliance_check' object.pk as url %}
                {% button 'DELETE' url "Delete Compliance Check" %}
            {% endif %}
        </div>
    </div>


<table class="table table-striped align-middle table-object-properties">
  <thead>
    <th>Attribute</th>
    <th>Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ compliance_check.name }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ compliance_check.description }}</td>
    </tr>
    <tr>
      <td>Source name</td>
      <td>{{ object.source_name }}</td>
    </tr>
    <tr>
      <td>Platform{{ object.platforms|length|pluralize }}</td>
      <td>{{ object.get_platforms_display }}</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>
        {% for tag in object.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>JMESPath expression</td>
      <td><pre>{{ object.jmespath_expression }}</pre></td>
    </tr>
  </tbody>
</table>

{% created_updated_at object %}

{% endblock %}
