{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:compliance_checks' %}">Compliance checks</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{% url 'inventory:compliance_check' object.pk %}">{{ object.compliance_check.name }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} compliance check</h2>

<form method="post" class="update-form">{% csrf_token %}
  {{ compliance_check_form }}
  {{ jmespath_check_form }}
  <p>
    {% if object %}
    <a class="btn btn-outline-secondary" href="{% url 'inventory:compliance_check' object.pk %}">
    {% else %}
    <a class="btn btn-outline-secondary" href="{% url 'inventory:compliance_checks' %}">
    {% endif %}
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
