{% extends 'base.html' %}
{% load base_extras incidents_extras inventory_extras %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:compliance_checks' %}">Compliance checks</a></li>
  <li class="breadcrumb-item"><a href="{{ jmespath_check.get_absolute_url }}">{{ compliance_check.name }}</a></li>
  <li class="breadcrumb-item active">Events</li>
</ol>

<div class="sticky-top bg-body z-1">
  <h3>
    Compliance check <i>{{ compliance_check.name }}</i>
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
