{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<h2>{{ object_list|length }} Group{{ object_list|length|pluralize }}</h2>
<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div class="form-group">
    <label for="id_name">{{ search_form.name.label|title }}</label>
    <input type="text" id="id_name"{% if search_form.name.value %} value="{{ search_form.name.value }}"{% endif %} name="name" class="form-control" placeholder="{{ search_form.name.label }}">
  </div>
  <div class="form-group">
    <label for="id_source">{{ search_form.source.label|title }}</label>
    {{ search_form.source }}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<div class="table-responsive">
  <table class="table">
    {% for group in object_list %}
    <tr>
      <td>{{ group.source.name }}</td>
      <td>{{ group.get_short_key }}</td>
      <td>
        <a href="{% url 'inventory:group_machines' group.id %}">{{ group.name }}</a>
      </td>
      <td>
        {% for link in group.links.all %}
        <a href="{{ link.url }}" class="btn btn-default">
          {{ group.source.name }} - {{ link.anchor_text }}
        </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
