{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li class="breadcrumb-item"><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="breadcrumb-item active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<div class="d-flex justify-content-between mb-3">
    <h2 class="mb-0">Group{{ object_list|length|pluralize }} ({{ object_list|length }})</h2>
</div>

<div class="d-flex justify-content-between">
    <div class="d-flex w-100 me-auto flex-shrink-0">
        <form method="GET" class="d-flex w-75 me-auto flex-shrink-0 align-items-center">
            
            {{ search_form }}

            <button type="submit" class="btn btn-link text-dark text-decoration-none mb-2">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="table-responsive">
  <table class="table table-light table-striped align-middle table-hover">
    {% for group in object_list %}
    <tr>
      <td>{{ group.source.name }}</td>
      <td>{{ group.get_short_key }}</td>
      <td>
        {% if perms.inventory.view_machinesnapshot %}
        <a href="{% url 'inventory:group_machines' group.id %}">{{ group.name }}</a>
        {% else %}
        {{ group.name }}
        {% endif %}
      </td>
      <td>
        {% for link in group.links.all %}
        <a href="{{ link.url }}" class="btn btn-default">
          {{ group.source.name }} - {{ link.anchor_text }}
        </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
