{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li class="breadcrumb-item"><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="breadcrumb-item active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<div class="d-flex justify-content-between mb-3">
    <h2 class="mb-0">{{ title }}</h2>
</div>

<div class="d-flex justify-content-between">
    <div class="d-flex w-75 me-auto flex-shrink-0">
        <form method="GET" class="d-flex w-75 me-auto flex-shrink-0 align-items-center">
            
            {{ search_form }}

            <button type="submit" class="btn btn-link text-dark text-decoration-none mb-2">
                <i class="bi bi-search"></i>
            </button>
            <div class="dropdown mb-2 btn btn-link">
                <button type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  Export
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadTargets">
                  <li><a class="dropdown-item" href="{% url 'inventory_api:ios_apps_export' %}" data-format="csv" class="task">CSV</a></li>
                  <li><a class="dropdown-item" href="{% url 'inventory_api:ios_apps_export' %}" data-format="xlsx" class="task">XLSX</a></li>
                </ul>
            </div>
        </form>
        
    </div>
</div>


{% if total_objects|length == 0 %}
    {% url 'inventory_api:index' as empty_results_url %}
    {% empty_results empty_results_url %}
{% else %}

    {% if search_form.is_bound %}
        <h3>{{ total_objects }} result{{ total_objects|pluralize }}</h3>
    {% endif %}

    {% pagination next_url previous_url %}

    {% if object_list %}
    <table class="table">
        <thead>
        {% for header, link in table_headers %}
        <th>
            {% if link %}
            <a href="{{ link }}" style="white-space:nowrap;">{{ header }}</a>
            {% else %}
            {{ header }}
            {% endif %}
        </th>
        {% endfor %}
        </thead>
        <tbody>
        {% for ios_app in object_list %}
        <tr>
        <td colspan="2">
            <a href="{{ ios_app.link }}">{{ ios_app.name|default:"-" }}</a>
            {% if ios_app.identifier %}<br><code>{{ ios_app.identifier }}</code>{% endif %}
        </td>
        <td>
            {{ ios_app.ms_count }}
        </td>
        </tr>
        {% for version in ios_app.versions %}
        <tr>
        <td style="border-top:1px dotted #ddd"><a href="{{ version.link }}">{{ version.short_version|default:"-" }} / {{ version.version|default:"-" }}</a></td>
        <td style="border-top:1px dotted #ddd">{{ version.source_name }}</td>
        <td style="border-top:1px dotted #ddd">{{ version.ms_count }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% pagination next_url previous_url %}
{% endif %}

{% endblock %}


{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var WAIT_FOR_TASK_TIMEOUT_ID;

  function waitForTask(url) {
    $.ajax({
      dataType: "json",
      url: url,
      success: function (data) {
        console.log(data);
        if (data.unready) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 1000, url);
        } else if (data.status === "SUCCESS") {
          window.location = data.download_url;
        }
      }
    });
  }

  function launchTask($link) {
    var url = $link.attr("href");
    var postData = {"export_format": $link.data("format")};
    var formData = $link.parents("form").serializeArray();
    $.map(formData, function(n, i) {
      if (n['value']) {
        postData[n['name']] = n['value'];
      }
    });
    $.ajax({
      dataType: "json",
      contentType: "application/json",
      url: url,
      data: JSON.stringify(postData),
      method: "post",
      success: function (data) {
        WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 300, data.task_result_url);
      }
    });
  }

  $(document).ready(function () {
    $(".task").click(function (event) {
      event.preventDefault();
      launchTask($(this));
    });
  });
</script>
{% endblock %}
