{% extends 'base.html' %}
{% load incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
    <li class="breadcrumb-item active">{{ serial_number }}</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h2>
      {% machine_type_icon machine %}
      {% machine_platform_icon machine %}
      {% if machine.computer_name %}{{ machine.computer_name }} / {% endif %}{{ serial_number }}
    </h2>

    <p>
      {% incident_severity machine.max_incident_severity %}
      {% for tag in machine.tags %}
      {% inventory_tag tag %}
      {% endfor %}
    </p>

    <div class="btn-group" role="group" style="margin:0 0 10px 0">
      {% if show_events_link %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_events' machine.get_urlsafe_serial_number %}">
        <span class="bi bi-activity" aria-hidden="true"></span> Events
      </a>
      {% endif %}
      {% for link, anchor_text in store_links  %}
      <a class="btn btn-outline-secondary" href="{{ link }}">
        <span class="bi bi-link" aria-hidden="true"></span> {{ anchor_text }}
      </a>
      {% endfor %}
      {% if perms.incidents.view_incident and perms.incidents.view_machineincident %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_incidents' machine.get_urlsafe_serial_number %}">
        <span class="bi bi-exclamation-triangle" aria-hidden="true"></span> Incidents
      </a>
      {% endif %}
      {% if machine.snapshots_with_osx_app_instances %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_macos_app_instances' machine.get_urlsafe_serial_number %}">
        <i class="bi bi-apple" aria-hidden="true"></i> apps
      </a>
      {% endif %}
      {% if machine.snapshots_with_ios_apps %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_ios_apps' machine.get_urlsafe_serial_number %}">
        <i class="bi bi-apple" aria-hidden="true"></i> apps
      </a>
      {% endif %}
      {% if machine.snapshots_with_android_apps %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_android_apps' machine.get_urlsafe_serial_number %}">
        <i class="fab fa-android" aria-hidden="true"></i> apps
      </a>
      {% endif %}
      {% if machine.snapshots_with_program_instances %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_program_instances' machine.get_urlsafe_serial_number %}">
        <i class="fab fa-windows" aria-hidden="true"></i> programs
      </a>
      {% endif %}
      {% if machine.snapshots_with_deb_packages %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_deb_packages' machine.get_urlsafe_serial_number %}">
        <i class="fab fa-linux" aria-hidden="true"></i> deb packages
      </a>
      {% endif %}
      {% if machine.snapshots_with_profiles %}
      <a class="btn btn-outline-secondary" href="{% url 'inventory:machine_profiles' machine.get_urlsafe_serial_number %}">
        <span class="bi bi bi-gear" aria-hidden="true"></span> profiles
      </a>
      {% endif %}
      {% if can_manage_tags or can_archive_machine %}
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% if can_manage_tags %}
          <li>
            <a href="{% url 'inventory:machine_tags' machine.get_urlsafe_serial_number %}" class="dropdown-item">Manage tags</a>
          </li>
          {% endif %}
          {% if can_archive_machine %}
          <li>
            <a href="{% url 'inventory:archive_machine' machine.get_urlsafe_serial_number %}" class="dropdown-item"><span class="text-danger">Archive</span></a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-tabs" role="tablist">
      {% for source_display, ms, source_subviews in machine_snapshots %}
      <li role="presentation" class="nav-item">
        <a href="#ms-{{ ms.id }}" class="nav-link{% if forloop.first %} active{% endif %}"
            data-source="{{ ms.source.name }}" role="tab" data-bs-toggle="tab">
          {{ source_display }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
    {% for source_display, ms, source_subviews in machine_snapshots %}
    <div role="tabpanel" class="m-3 tab-pane fade {% if forloop.first %}show active{% endif %}" id="ms-{{ ms.id }}">
      {% if ms.business_unit %}
      <h3>Business unit</h3>
        <dl class="row">
          <dt class="col-sm-3 text-md-end">Name</dt>
          <dd class="col-sm-9"><a href="{% url 'inventory:mbu_machines' ms.business_unit.meta_business_unit_id %}">{{ ms.business_unit.get_name_display }}</a></dd>
          <dt class="col-sm-3 text-md-end">Key</dt>
          <dd class="col-sm-9">{{ ms.business_unit.get_short_key }}</dd>
       </dl>
       <p>
       {% for link in ms.business_unit.links.all %}
         <a href="{{ link.url }}" class="btn btn-outline-secondary">
           {{ ms.source.name }} - {{ link.anchor_text }}
        </a>
       {% endfor %}
       </p>
      {% endif %}

      {% with ms.system_info as system_info %}
      {% if system_info.hardware_model or system_info.cpu_type or system_info.cpu_physical_cores or system_info.physical_memory %}
      <h3>System info</h3>
      <dl class="row">
        {% if system_info.hardware_model %}
            <dt class="col-sm-3 text-md-end">Hardware model</dt>
            <dd class="col-sm-9">{{ system_info.hardware_model }}</dd>
        {% endif %}
        {% if system_info.hardware_serial %}
        <dt class="col-sm-3 text-md-end">Hardware serial</dt>
        <dd class="col-sm-9">{{ system_info.hardware_serial }}</dd>
        {% endif %}
        {% if system_info.cpu_brand %}
        <dt class="col-sm-3 text-md-end">CPU brand</dt>
        <dd class="col-sm-9">{{ system_info.cpu_brand }}</dd>
        {% endif %}
        {% if system_info.cpu_type %}
        <dt class="col-sm-3 text-md-end">CPU type</dt>
        <dd class="col-sm-9">{{ system_info.cpu_type }}</dd>
        {% endif %}
        {% if system_info.cpu_physical_cores %}
        <dt class="col-sm-3 text-md-end">CPU physical cores</dt>
        <dd class="col-sm-9">{{ system_info.cpu_physical_cores }}</dd>
        {% endif %}
        {% if system_info.cpu_logical_cores %}
        <dt class="col-sm-3 text-md-end">CPU logical cores</dt>
        <dd class="col-sm-9">{{ system_info.cpu_logical_cores }}</dd>
        {% endif %}
        {% if ms.system_info.physical_memory %}
        <dt class="col-sm-3 text-md-end">Physical memory</dt>
        <dd class="col-sm-9">{{ ms.system_info.physical_memory|filesizeformat }}</dd>
        {% endif %}
      </dl>
      {% endif %}
      {% endwith %}

      {% if ms.os_version %}
      <h3>OS</h3>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">Name</dt>
        <dd class="col-sm-9">{{ ms.os_version.name }}</dd>
        <dt class="col-sm-3 text-md-end">OS Version</dt>
        <dd class="col-sm-9">{{ ms.os_version.get_version_display|default:"-" }}</dd>
        <dt class="col-sm-3 text-md-end">OS Build</dt>
        <dd class="col-sm-9">{{ ms.os_version.build|default:"-" }}</dd>
      </dl>
      {% endif %}

      {% if ms.ec2_instance_metadata %}
      <h3>EC2 instance</h3>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">Instance ID</dt>
        <dd class="col-sm-9"><a href="{% ec2_instance_link ms %}">{{ ms.ec2_instance_metadata.instance_id }}</a></dd>
        <dt class="col-sm-3 text-md-end">Instance type</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.instance_type }}</dd>
        <dt class="col-sm-3 text-md-end">Architecture</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.architecture }}</dd>
        <dt class="col-sm-3 text-md-end">Region</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.region }}</dd>
        <dt class="col-sm-3 text-md-end">Availability zone</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.availability_zone }}</dd>
        <dt class="col-sm-3 text-md-end">Local hostname</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.local_hostname }}</dd>
        <dt class="col-sm-3 text-md-end">Local IPv4</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.local_ipv4|default:"-" }}</dd>
        <dt class="col-sm-3 text-md-end">MAC</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.mac }}</dd>
        <dt class="col-sm-3 text-md-end">Security group{{ ms.ec2_instance_metadata.security_group_list|length|pluralize }}</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.security_group_list|join:", "|default:"-" }}</dd>
        <dt class="col-sm-3 text-md-end">IAM profile ARN</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.iam_arn|default:"-" }}</dd>
        <dt class="col-sm-3 text-md-end">AMI ID</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.ami_id }}</dd>
        <dt class="col-sm-3 text-md-end">Reservation ID</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.reservation_id }}</dd>
        <dt class="col-sm-3 text-md-end">Account ID</dt>
        <dd class="col-sm-9">{{ ms.ec2_instance_metadata.account_id }}</dd>
        <dt class="col-sm-3 text-md-end">SSH public key</dt>
        <dd style="overflow-wrap:break-word">{{ ms.ec2_instance_metadata.ssh_public_key|default:"-" }}</dd>
      </dl>
      {% endif %}

      {% if ms.ec2_instance_tag_list %}
      <h3>EC2 instance tag{{ ms.ec2_instance_tag_list|length|pluralize }}</h3>
      <table class="table table-light table-striped align-middle table-hover">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        {% for tag in ms.ec2_instance_tag_list %}
        <tr>
          <td>{{ tag.key }}</td>
          <td>{{ tag.value }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% with ms.disks.count as disks %}
      {% if disks %}
      <h3>{{ disks }} Disk{{ disks|pluralize }}</h3>
      <table class="table table-light table-striped align-middle table-hover">
        <thead>
          <th>Name</th>
          <th>Size</th>
        <thead>
        <tbody>
          {% for disk in ms.disks.all %}
          <tr>
            <td>{{ disk.name }}</td>
            <td>{{ disk.size|filesizeformat }}</td>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% endwith %}

      {% with ms.network_interfaces.count as nic %}
      {% if nic %}
      <h3>{{ nic }} Interface{{ nic|pluralize }}</h3>
      <table class="table table-light table-striped align-middle table-hover">
        <thead>
          <th>Name</th>
          <th>MAC</th>
          <th>IP</th>
          <th>Mask</th>
          <th>Broadcast</th>
        <thead>
        <tbody>
          {% for ni in ms.network_interfaces.all %}
          {% with ni.get_mac_organization as org %}
          <tr>
            <td>{{ ni.interface }}</td>
            <td>
              {{ ni.mac|default:"-" }}
              {% if org %}<br><small>{{ org.name }}</small>{% endif %}
            </td>
            <td>{{ ni.address|default:"-" }}</td>
            <td>{{ ni.mask|default:"-" }}</td>
            <td>{{ ni.broadcast|default:"-" }}</td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% endwith %}

      {% if perms.inventory.view_link and ms.links.count %}
      <h3>Links</h3>
      <p>
        {% for link in ms.links.all %}
        <a href="{{ link.url }}" class="btn btn-outline-secondary">{{ ms.source.name }} - {{ link.anchor_text }}</a>
        {% endfor %}
      </p>
      {% endif %}

      {% if ms.groups.count %}
      <h3>Groups</h3>
      <table class="table table-light table-striped align-middle table-hover">
        <thead>
          <th>Name</th>
          {% if perms.inventory.view_link %}
          <th>Links</th>
          {% endif %}
        </thead>
        <tbody>
          {% for group, links in ms.groups_with_links %}
          <tr>
            <td>
              {% if perms.inventory.view_machinegroup %}
              <a href="{% url 'inventory:group_machines' group.id %}">{{ group.name }}</a>
              {% else %}
              {{ group.name }}
              {% endif %}
            </td>
            {% if perms.inventory.view_link %}
            <td>
              {% for link_url, anchor_text in links %}
              <a href="{{ link_url }}" class="btn btn-outline-secondary">
                {{ ms.source.name }} - {{ anchor_text }}
              </a>
              {% endfor %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% if ms.teamviewer %}
      <h3>TeamViewer</h3>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">ID</dt>
        <dd class="col-sm-9"><a href="https://start.teamviewer.com/{{ ms.teamviewer.teamviewer_id }}">{{ ms.teamviewer.teamviewer_id }}</a></dd>
        <dt class="col-sm-3 text-md-end">Release</dt>
        <dd class="col-sm-9">{{ ms.teamviewer.release }}</dd>
        <dt class="col-sm-3 text-md-end">Unattended</dt>
        <dd class="col-sm-9">{{ ms.teamviewer|yesno }}</dd>
      </dl>
      {% endif %}

      {% with ms.puppet_node as puppet_node %}
      {% if puppet_node %}
      <h3>Puppet</h3>

      {% with puppet_node.trusted_facts as trusted_facts %}
      {% if trusted_facts %}
      <h4>Trusted facts</h4>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">Certificate Name</dt>
        <dd class="col-sm-9">{{ trusted_facts.certname }}</dd>
        <dt class="col-sm-3 text-md-end">Authenticated</dt>
        <dd class="col-sm-9">{{ trusted_facts.authenticated }}</dd>
        {% if trusted_facts.extensions %}
        <dt class="col-sm-3 text-md-end">Extensions</dt>
        <dd class="col-sm-9">
          {% for key, val in trusted_facts.extensions.items %}
          <p><em>{{ key }}</em> - {{ val }}</p>
          {% endfor %}
        </dd>
        {% endif %}
      </dl>
      {% endif %}
      {% endwith %}

      {% with puppet_node.core_facts as core_facts %}
      {% if core_facts %}
      <h4>Core facts</h4>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">aio agent version</dt>
        <dd class="col-sm-9">{{ core_facts.aio_agent_version }}</dd>
        <dt class="col-sm-3 text-md-end">augeas version</dt>
        <dd class="col-sm-9">{{ core_facts.augeas_version }}</dd>
        <dt class="col-sm-3 text-md-end">client version</dt>
        <dd class="col-sm-9">{{ core_facts.client_version }}</dd>
        <dt class="col-sm-3 text-md-end">facter version</dt>
        <dd class="col-sm-9">{{ core_facts.facter_version }}</dd>
        <dt class="col-sm-3 text-md-end">ruby</dt>
        <dd class="col-sm-9">
          {{ core_facts.ruby_platform }}<br>
          {{ core_facts.ruby_sitedir }}<br>
          {{ core_facts.ruby_version }}
        </dd>
      </dl>
      {% endif %}
      {% endwith %}

      {% with puppet_node.extra_facts as extra_facts %}
      {% if extra_facts %}
      <h4>Extra facts</h4>
      <dl class="row">
        {% for key, val in extra_facts.items %}
        <dt class="col-sm-3 text-md-end">{{ key }}</dt>
        <dd class="col-sm-9">{{ val }}</dd>
        {% endfor %}
      </dl>
      {% endif %}
      {% endwith %}

      {% endif %}
      {% endwith %}{% comment %}End if puppet_node {% endcomment %}

      {% with ms.principal_user as principal_user %}
      {% if principal_user %}
      <h3>Principal user</h3>
      <dl class="row">
        <dt class="col-sm-3 text-md-end">Source</dt>
        <dd class="col-sm-9">{{ principal_user.source.get_type_display }}</dd>
        <dt class="col-sm-3 text-md-end">Unique ID</dt>
        <dd class="col-sm-9">{{ principal_user.unique_id }}</dd>
        <dt class="col-sm-3 text-md-end">Principal name</dt>
        <dd class="col-sm-9">{{ principal_user.principal_name }}</dd>
        {% if principal_user.display_name %}
        <dt class="col-sm-3 text-md-end">Display name</dt>
        <dd class="col-sm-9">{{ principal_user.display_name }}</dd>
        {% endif %}
      </dl>
      {% endif %}
      {% endwith %}

      {% with ms.ordered_certificates as certificates %}
      {% if certificates.count %}
      <h3>Certificate{{ certificates.count|pluralize }}</h3>
      {% for certificate in certificates %}
      <dl class="row">
        <dt class="col-sm-3 text-md-end">Common Name</dt>
        <dd style="col-sm-9">{{ certificate.short_repr }}</dd>
        <dt class="col-sm-3 text-md-end">Dates</dt>
        <dd class="col-sm-9">{{ certificate.valid_from }} - {{ certificate.valid_until }}</dd>
        {% if certificate.signed_by %}
        <dt class="col-sm-3 text-md-end">Issuer</dt>
        <dd style="col-sm-9">{{ certificate.signed_by.short_repr|default:"?" }}</dd>
        {% endif %}
      </dl>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% if ms.extra_facts %}
      <h3>Extra facts</h4>
      <dl class="row">
        {{ ms.extra_facts|extra_facts }}
      </dl>
      {% endif %}

      {% for source_subview in source_subviews %}
      {{ source_subview.render }}
      {% endfor %}

      <dl class="row">
        <dt class="small" style="opacity:0.5">last change</dt>
        <dd class="small" style="opacity:0.5">
          {% if ms.public_ip_address %}{{ ms.public_ip_address }} - {% endif %}
          {{ ms.mt_created_at|date:'r'|default:'-' }}
        </dd>
        {% if ms.last_commit.last_seen %}
        <dt class="small" style="opacity:0.5">last seen</dt>
        <dd class="small" style="opacity:0.5">
          {{ ms.last_commit.last_seen|date:'r' }}
        </dd>
        {% endif %}
        {% if ms.last_commit.system_uptime %}
        <dt class="small" style="opacity:0.5">system uptime</dt>
        <dd class="small" style="opacity:0.5">
          {{ ms.last_commit.get_system_update_display }}
        </dd>
        {% endif %}
      </dl>
    </div><!-- end details tab -->
    {% endfor %}{% comment %}end for loop on machine snapshots{% endcomment %}
    </div><!-- end tab-content -->
  </div><!-- end col-md-6 -->
  <div class="col-md-6">
    {% if perms.compliance_checks.view_machinestatus %}
    <h3>Compliance check{{ compliance_check_statuses|length|pluralize }} ({{ compliance_check_statuses|length }})</h3>
    {% if compliance_check_statuses %}
    <table class="table table-light table-striped align-middle table-hover">
      <thead>
        <th>Name</th>
        <th>Status</th>
        <th>Time</th>
      </thead>
      <tbody>
        {% for cc_url, cc_name, status, status_time in compliance_check_statuses %}
        <tr>
          <td>
            {% if cc_url %}
            <a href="{{ cc_url }}">{{ cc_name }}</a>
            {% else %}
            {{ cc_name }}
            {% endif %}
          </td>
          <td class="{{ status.display_class }}">{{ status }}</td>
          <td>{{ status_time|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}

    {% if perms.incidents.view_machineincident %}
    {% with machine.open_incidents as open_incidents %}
    {% if open_incidents %}
    <h3>Open incident{{ open_incidents|length|pluralize }} ({{ open_incidents|length }})</h3>
    <table class="table table-light table-striped align-middle table-hover">
      <thead>
        <th>Name</th>
        <th>Status</th>
        <th>Severity</th>
        <th>Created at</th>
      </thead>
      <tbody>
        {% for machine_incident in open_incidents %}
        {% with machine_incident.incident as incident %}
        <tr>
          <td>
            {% if perms.incidents.view_incident %}
            <a href="{{ machine_incident.get_absolute_url }}">{{ incident.name }}</a>
            {% else %}
            {{ incident.name }}
            {% endif %}
          </td>
          <td>{{ machine_incident.get_status_display }}</td>
          <td>{% incident_severity incident.severity %}</td>
          <td>{{ machine_incident.created_at }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endwith %}
    {% endif %}
    {% if fetch_heartbeats %}
    <div id="heartbeats" data-url="{% url 'inventory:machine_heartbeats' machine.get_urlsafe_serial_number %}">
        <div class="spinner-border spinner-border-sm" role="status">
        </div>
        Loading heartbeats…
    </div>
    {% endif %}
  </div>
</div><!-- end row -->
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function setSourceCookie(source) {
    const encodedSource = encodeURIComponent(source);
    document.cookie = `last_inventory_source=${encodedSource};path=/;samesite=strict;secure;max-age=1296000`;
  }

  function getSourceCookieValue() {
    const kv = document.cookie
    .split('; ')
    .find(row => row.startsWith('last_inventory_source='));
    if (typeof kv === 'string') {
      return decodeURIComponent(kv.split("=")[1]);
    }
  }

  function showTabWithHash() {
    if (window.location.hash.startsWith("#src-")) {
      const hashSrc = window.location.hash.replace("#src-", "");
      const res = $(`a[data-source="${hashSrc}"]`).tab("show");
      return res.length > 0;
    }
    return false;
  }

  function showTabWithCookie() {
    const cookieSrc = getSourceCookieValue();
    if (typeof cookieSrc === 'string') {
      const res = $(`a[data-source="${cookieSrc}"]`).tab("show");
      if (res.length > 0) {
        updateHash(cookieSrc);
        return true;
      }
    }
    return false;
  }

  function showFirstTab() {
    const source = $('a[data-toggle="tab"]').first().tab("show").data("source");
    updateHash(source);
  }

  function updateHash(source) {
    history.replaceState(null, source, location.pathname + "#src-" + source);
  }

  $(document).ready(function(){
    $('a[data-toggle="tab"]').click(function(event){
      event.preventDefault();
      $(this).tab('show');
    }).on('shown.bs.tab', function (e) {
      const source = e.target.dataset.source;
      setSourceCookie(source);
      updateHash(source);
    });
    $("#heartbeats").load($("#heartbeats").data("url"));
    if (!showTabWithHash()) {
      if (!showTabWithCookie()) {
        showFirstTab();
      }
    }
  });
</script>
{% endblock %}
