{% extends 'base.html' %}
{% load base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li class="breadcrumb-item"><a href="{{ machine.get_absolute_url }}">{{ machine.serial_number|privacywrapper }}</a></li>
  <li class="breadcrumb-item active">Tags</li>
</ol>

<h2>Tag{{ current_tag_count|length|pluralize }} ({{ current_tag_count }})</h2>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <th style="width: 150px">Tag ID</th>
      <th>Tag</th>
      <th></th>
    </thead>
    <tbody>
      {% for type, tag, pbac_req in current_tags %}
      <tr class="data-row">
        <td>{{ tag.id }}</td>
        <td>{% inventory_tag tag %}</td>
        <td class="text-end py-0">
          {% if type == "machine" and pbac_req.is_authorized %}
          <form action="{% url 'inventory:delete_machine_tag' machine.get_urlsafe_serial_number tag.id %}" method="POST">{% csrf_token %}
            <button class="btn">
                <span class="bi bi-trash" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Tag"></span>
            </button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if extra_tags %}
<h2>Add an extra tag</h2>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <th style="width: 150px">Tag ID</th>
      <th>Tag</th>
      <th></th>
    </thead>
    <tbody>
      {% for tag in extra_tags %}
      <tr class="data-row">
        <td>{{ tag.id }}</td>
        <td>{% inventory_tag tag %}</td>
        <td class="text-end py-0">
          <form action="{% url 'inventory:create_machine_tag' machine.get_urlsafe_serial_number tag.id %}" method="POST">{% csrf_token %}
            <button class="btn">
                <span class="bi bi-plus" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add Tag"></span>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
