{% extends 'base.html' %}
{% load base_extras incidents_extras inventory_extras %}

{% block content %}

<ol class="breadcrumb" style="margin-bottom:10px">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li class="breadcrumb-item"><a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a></li>
  <li class="breadcrumb-item active">Events</li>
</ol>

<div class="sticky-top bg-body">
  <h3>
    {% machine_type_icon machine %}
    {% machine_platform_icon machine %}
    {% if machine.computer_name %}{{ machine.computer_name }} / {% endif %}<a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a> / Events
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
