{% extends 'base.html' %}
{% load base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li><a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a></li>
  <li class="active">macOS apps</li>
</ol>

<h2>
  {% machine_type_icon machine %}
  {% machine_platform_icon machine %}
  {% if machine.computer_name %}{{ machine.computer_name }} / {% endif %}<a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a> / macOS apps
</h2>

{% if machine.snapshots_with_osx_app_instances %}
<ul class="nav nav-tabs">
  {% for ms in machine.snapshots_with_osx_app_instances %}
  <li role="presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href="#" data-tabclass="appstab" data-tabid="apps-{{ ms.id }}">
      {{ ms.source.name }}
    </a>
  </li>
  {% endfor %}
</ul>

{% for ms in machine.snapshots_with_osx_app_instances %}
<div class="table-reponsive appstab" id="apps-{{ ms.id }}"{% if not forloop.first %} style="display:none;"{% endif %}>
  <table class="table table-condensed">
    <thead>
      <th>Bundle ID</th>
      <th>Bundle Name</th>
      <th>Bundle Version Str</th>
      <th>Bundle Path</th>
    </thead>
    <tbody>
      {% for osx_app_instance in ms.ordered_osx_app_instances %}
      {% with osx_app_instance.app as app %}
      <tr>
        <td>{{ app.bundle_id|default:"" }}</td>
        <td><a href="{% url 'inventory:macos_app' app.id %}">{{ app.bundle_name }}</a></td>
        <td>{{ app.bundle_version_str|default:"" }}</td>
        <td>{{ osx_app_instance.bundle_path|default:"" }}</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>

  <dl class="dl-horizontal">
    <dt class="small" style="opacity:0.5">last change</dt>
    <dd class="small" style="opacity:0.5">
      {% if ms.public_ip_address %}{{ ms.public_ip_address }} - {% endif %}
      {{ ms.mt_created_at|date:'r'|default:'-' }}
    </dd>
    {% if ms.last_commit.last_seen %}
    <dt class="small" style="opacity:0.5">last seen</dt>
    <dd class="small" style="opacity:0.5">
      {{ ms.last_commit.last_seen|date:'r' }}
    </dd>
    {% endif %}
  </dl>

</div><!-- snapshot apps tab end -->
{% endfor %}
{% endif %}
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function switchTabs(link) {
    var tabclass = link.data('tabclass'),
        tabid = link.data('tabid');
    $("." + tabclass).hide();
    $("#" + tabid).show();
    link.parent().siblings().removeClass('active');
    link.parent().addClass('active');
  }

  $(document).ready(function(){
    $("li[role=presentation] a").click(function(event){
      event.preventDefault();
      switchTabs($(this));
    });
  });
</script>
{% endblock %}
