{% extends 'base.html' %}
{% load base_extras incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li><a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a></li>
  <li class="active">Events</li>
</ol>

<h2>
  {% machine_type_icon machine %}
  {% machine_platform_icon machine %}
  {% if machine.computer_name %}{{ machine.computer_name }} / {% endif %}<a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a> / Events
</h2>

<form class="form-inline" method="GET">
  <div class="form-group">
    <label for="eventType">Event type</label>
    <select class="form-control" id="eventType" name="event_type">
      {% for value, selected, label in event_types %}
      <option value="{{ value }}"{% if selected %} selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">OK</button>
</form>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Metadata</th>
      <th>Data</th>
    </thead>
    <tbody>
      {% for event, link in object_list %}
      {% with event.metadata.observer.get_object as observer_obj %}
      {% with event.metadata.request as request %}
      <tr>
        <td style="white-space:nowrap">
          {% if link %}
          <a href="{{ link }}">{{ event.get_event_type_display }}</a><br>
          {% else %}
          {{ event.get_event_type_display }}<br>
          {% endif %}
          {{ event.metadata.created_at }}
          {% if observer_obj %}
          <br><small>{{ observer_obj }}</small>
          {% endif %}
          {% if request %}
          <br><small>{{ request }}</small>
          {% if request.geo %}
          <br><small>{{ request.geo.short_repr }}</small>
          {% endif %}
          {% endif %}
          {% for incident in event.metadata.incidents %}
          <br>{% incident_severity incident.severity %}&nbsp;<a href="{% url 'incidents:incident' incident.pk %}{% if incident.machine_incident.pk %}#{{ incident.machine_incident.pk }}{% endif %}">{{ incident.name }}</a>
          {% endfor %}
        </td>
        <td>{{ event.payload|pythonprettyprint }}</td>
      </tr>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
