{% extends 'base.html' %}
{% load base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li class="breadcrumb-item"><a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a></li>
  <li class="breadcrumb-item active">Profiles</li>
</ol>

<h2>
  {% machine_type_icon machine %}
  {% machine_platform_icon machine %}
  {% if machine.computer_name %}{{ machine.computer_name }} / {% endif %}<a href="{{ machine.get_absolute_url }}">{{ serial_number }}</a> / profiles
</h2>

<p>
  <input class="form-control" type="text" id="search-input" autofocus="" placeholder="UUID, Display name, Organization, Payload type" style="max-width:30vw">
</p>

{% if machine.snapshots_with_profiles %}
<ul class="nav nav-tabs">
  {% for ms in machine.snapshots_with_profiles %}
  <li role="presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href="#" data-tabclass="mstab" data-tabid="ms-{{ ms.id }}">
      {{ ms.source.name }} (<span id="profile-count-{{ ms.id }}">{{ ms.ordered_profiles.count }}</span>)
    </a>
  </li>
  {% endfor %}
</ul>

{% for ms in machine.snapshots_with_profiles %}
<div class="table-reponsive mstab" id="ms-{{ ms.id }}" style="margin-top:10px;{% if not forloop.first %} display:none{% endif %}">
  <table class="table table-condensed table-filtered" data-count-id="profile-count-{{ ms.id }}">
    <thead>
      <tr>
        <th>Details</th>
        <th>Payloads</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in ms.ordered_profiles %}
      <tr>
        <td>
          <dl>
            {% if profile.display_name %}
            <dt>Display name</dt>
            <dd class="search-field">{{ profile.display_name }}</dd>
            {% endif %}
            {% if profile.identifier %}
            <dt>Identifier</dt>
            <dd><code>{{ profile.identifier }}</code></dd>
            {% endif %}
            {% if profile.organization %}
            <dt>Organization</dt>
            <dd class="search-field">{{ profile.organization }}</dd>
            {% endif %}
            {% if profile.description %}
            <dt>Description</dt>
            <dd>{{ profile.description }}</dd>
            {% endif %}
            {% if profile.install_date %}
            <dt>Install date</dt>
            <dd>{{ profile.install_date }}</dd>
            {% endif %}
            <dt>Removal allowed</dt>
            <dd>{{ profile.removal_allowed|yesno }}</dd>
            <dt>Verified</dt>
            <dd>{{ profile.verified|yesno }}</dd>
          </dl>
        </td>
        <td>
          <ul>
            {% for payload in profile.payloads.all %}
            <li class="search-field">{{ payload.type }}</li>
            {% endfor %}
          </ul>
        </td>
        <td><code class="search-field">{{ profile.uuid }}</code></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <dl class="dl-horizontal">
    <dt class="small" style="opacity:0.5">last change</dt>
    <dd class="small" style="opacity:0.5">
      {% if ms.public_ip_address %}{{ ms.public_ip_address }} - {% endif %}
      {{ ms.mt_created_at|date:'r'|default:'-' }}
    </dd>
    {% if ms.last_commit.last_seen %}
    <dt class="small" style="opacity:0.5">last seen</dt>
    <dd class="small" style="opacity:0.5">
      {{ ms.last_commit.last_seen|date:'r' }}
    </dd>
    {% endif %}
  </dl>
</div><!-- snapshot apps tab end -->
{% endfor %}
{% endif %}
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function switchTabs(link) {
    var tabclass = link.data('tabclass'),
        tabid = link.data('tabid');
    $("." + tabclass).hide();
    $("#" + tabid).show();
    link.parent().siblings().removeClass('active');
    link.parent().addClass('active');
  }

  function filterTables(tables, $input) {
    var filter, tr, td, i, txtValue, lineMatched;
    filter = $input.val().toUpperCase();
    tables.forEach(function(table) {
      var count = 0;
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) {
        lineMatched = false;
        sf = tr[i].getElementsByClassName("search-field");
        for (j=0; j < sf.length; j++) {
          txtValue = sf[j].textContent || sf[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            lineMatched = true;
            break
          }
        }
        if (lineMatched === false) {
            tr[i].style.display = "none";
        } else {
            count++;
        }
      }
      document.getElementById(table.dataset["countId"]).innerHTML = count
    });
  }

  $(document).ready(function(){
    $("li[role=presentation] a").click(function(event){
      event.preventDefault();
      switchTabs($(this));
    });
    var tables = document.querySelectorAll(".table-filtered");
    $("#search-input").keyup(function (event) {
      filterTables(tables, $(this));
    });
  });
</script>
{% endblock %}
