{% extends 'base.html' %}
{% load incidents_extras inventory_extras inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {% for url, anchor_text in breadcrumbs %}
    {% if url %}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ anchor_text }}</a>
        {% else %}
        <li class="breadcrumb-item active">{{ anchor_text }}</li>
        {% endif %}
        {% endfor %}
    </ol>

<h3>Machine{{ msquery.count|pluralize }} ({{ msquery.count }})</h3>

<div class="modal{% if filter_form_errors %} modal-with-errors{% endif %} modal fade" id="add-filter" tabindex="-1" role="dialog" aria-labelledby="add-filter" aria-hidden="true"> 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a drill down filter</h4>
        <button type="button" class="ms-auto btn btn-link text-dark text-decoration-none close" data-bs-dismiss="modal" aria-label="Close">
            <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <div>
          {% for anchor_text, link in msquery.available_filters %}
            <a href="{{ link }}" class="btn btn-primary m-1">
                <span class="bi bi-plus" aria-hidden="true"></span>
                {{ anchor_text }}
            </a>
            {% endfor %}
        </div>
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ android_app_filter_form.display_name }}
                        <label for="id_{{ android_app_filter_form.prefix }}-name" class="form-label fw-bold">Android app name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        <button name="filter_key" value="android_app_filter_form" type="submit" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        App
                        </button>
                        {% for error in android_app_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-3">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ bundle_filter_form.bundle_id }}
                        <label for="id_{{ bundle_filter_form.prefix }}-bundle_id" class="form-label fw-bold">Bundle ID</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ bundle_filter_form.bundle_name }}
                        <label for="id_{{ bundle_filter_form.prefix }}-bundle_name" class="form-label fw-bold">Bundle name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">                        
                        <button name="filter_key" value="bundle_filter_form" type="submit" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        App
                        </button>
                        {% for error in bundle_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </form>
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ deb_package_filter_form.name }}
                        <label for="id_{{ deb_package_filter_form.prefix }}-name" class="form-label fw-bold">Debian package name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        <button name="filter_key" value="deb_package_filter_form" type="submit" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        Deb
                        </button>
                        {% for error in deb_package_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
          </div>
        </form>
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ ios_app_filter_form.name }}
                        <label for="id_{{ ios_app_filter_form.prefix }}-name" class="form-label fw-bold">iOS app name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        <button name="filter_key" value="ios_app_filter_form" type="submit" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        App
                        </button>
                        {% for error in ios_app_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ program_filter_form.name }}
                        <label for="id_{{ program_filter_form.prefix }}-name" class="form-label fw-bold">Program name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        <button name="filter_key" value="program_filter_form" type="submit" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        Program
                        </button>
                        {% for error in program_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
          </div>
        </form>
        {% if not compliance_check_status_filter_form.disabled %}
        <form method="POST" class="form-inline my-2">{% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        {{ compliance_check_status_filter_form.compliance_check }}
                        <label for="id_{{ compliance_check_status_filter_form.prefix }}-compliance_check" class="form-label fw-bold">Compliance check</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex justify-content-between form-floating">
                        <button type="submit" name="filter_key" value="compliance_check_status_filter_form" class="btn btn-primary">
                        <span class="bi bi-plus" aria-hidden="true"></span>
                        Compliance check
                        </button>
                        {% for error in compliance_check_status_filter_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-between px-1">
    <form id="inventory-form" method="GET" class="align-items-center">
    <div class="row g-6 me-2 mb-2">
      {% for key, val in search_form_qd.items %}
      <input type="hidden" name="{{ key }}" value="{{ val }}">
      {% endfor %}
      <div class="col-md p-2">
        <div class="form-floating">
            <input type="text" id="id_serial_number" value="{{ msquery.query_dict.sn }}" name="sn" class="form-control" autofocus>
            <label for="id_serial_number" class="form-label fw-bold">Serial number</label>
        </div>
      </div>
      <div class="col-md p-2">
        <div class="form-floating">
            <input type="text" id="id_name" value="{{ msquery.query_dict.cn }}" name="cn" class="form-control">
            <label for="id_name" class="form-label fw-bold">Name</label>
        </div>
      </div>
      <div class="col-md p-2">
        <div class="form-floating">
            <input type="text" id="id_principal_user_name" value="{{ msquery.query_dict.pu }}" name="pu" class="form-control" autocomplete="off">
            <label for="id_principal_user_name" class="form-label fw-bold">Principal user</label>
        </div>
      </div>
      <div class="col-md p-2">
        <div class="form-floating">
            <input type="text" id="id_mac_address" value="{{ msquery.query_dict.ma }}" name="ma" class="form-control" autocomplete="off">
            <label for="id_mac_address" class="form-label fw-bold">MAC address</label>
        </div>
      </div>
      <div class="col-md p-2">
        <div class="form-floating">
                <select id="id_last_seen" name="ls" class="form-select">
                <option value="">Last seen</option>
                <option value="1d"{% if msquery.query_dict.ls == '1d' %} selected{% endif %}>24 hours</option>
                <option value="7d"{% if msquery.query_dict.ls == '7d' %} selected{% endif %}>7 days</option>
                <option value="14d"{% if msquery.query_dict.ls == '14d' %} selected{% endif %}>14 days</option>
                <option value="30d"{% if msquery.query_dict.ls == '30d' %} selected{% endif %}>30 days</option>
                <option value="45d"{% if msquery.query_dict.ls == '45d' %} selected{% endif %}>45 days</option>
                <option value="90d"{% if msquery.query_dict.ls == '90d' %} selected{% endif %}>90 days</option>
                </select>
                <label for="id_last_seen" class="form-label fw-bold">Last seen</label>
        </div>
      </div>
      <div class="col-md p-2 pt-3">
        <div class="form-floating">
            <button type="submit" class="btn btn-link text-dark text-decoration-none mb-2" type="button">
                <i class="bi bi-search"></i>
            </button>
            <button class="btn btn-link text-dark text-decoration-none mb-2" type="button" data-bs-toggle="modal" data-bs-target="#add-filter">
                <i class="bi bi-filter" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add Filter"></i>
            </button>
            <button class="btn btn-link text-dark text-decoration-none mb-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-download"></i>
            </button>
            <ul class="dropdown-menu">
                {% for format, link in export_links %}
                <li><a href="{{ link }}" class="task dropdown-item">{{ format|upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    </form>
</div>

<div class="row g-4">
  {% for f, f_links, f_r_link, f_up_link in grouping_links %}
  <div class="col-md-3">
    <div class="card mb-3 {% if f_up_link %} panel-info{% endif %}">
        <div class="card-header filter-title d-flex justify-content-between">
            <div class="py-1">
                {{ f.title }}
            </div>
            <div class="{% if not f_up_link %} panel-heading-btns{% endif %}"{% if not f_up_link %} style="display:none"{% endif %}>
                {% if not f_up_link %}
                <a href="#filter-{{ f.get_query_kwarg }}-links" class="btn btn-outline-secondary btn-sm reorder-filter text-light">
                    <span class="bi bi-sort-alpha-down-alt" aria-hidden="true"></span>
                </a>
                {% if f_r_link %}
                <a href="{{ f_r_link }}" class="btn btn-danger btn-sm text-light">
                    <span class="bi bi-trash" aria-hidden="true"></span>
                </a>
                {% endif %}
                {% else %}
                <a href="{{ f_up_link }}" class="btn btn-outline-secondary btn-sm text-light">
                    <span class="bi bi-x" aria-hidden="true"></span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body d-flex container">
        <div class="col" id="filter-{{ f.get_query_kwarg }}-links" data-sort="az">
          {% for label, count, percentage, down_link, up_link in f_links %}
                <div data-label="{{ label }}" data-count="{{ count }}">
                    <div class="d-flex justify-content-between py-2">
                        <a title="{{ label }}" href="{% if up_link %}{{ up_link }}{% else %}{{ down_link }}{% endif %}" class="link-underline link-underline-opacity-0">
                            {{ label }}
                        </a>
                        <span class="badge text-bg-secondary py-2">{{ count }}</span>
                    </div>
                    <div class="d-flex progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ percentage|to_int }}" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                        <div class="progress-bar" style="width:{{ percentage|to_int }}%"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:4 and not forloop.last %}
</div>
<div class="row g-4">
  {% endif %}
  {% endfor %}
</div>

{% pagination next_url previous_url %}

<div class="table-reponsive">
  <table class="table table-light table-striped align-top table-hover">
    {% for serial_number, machine_snapshots in machines %}
    {% for machine_snapshot in machine_snapshots %}
    <tr>
      {% if forloop.first %}
      <td rowspan="{{ machine_snapshots|length }}">
        {% base_machine_type_icon machine_snapshot.type %}
        {% base_machine_platform_icon machine_snapshot.platform %}
	<a href="{% url 'inventory:machine' machine_snapshot.urlsafe_serial_number %}">
          {{ serial_number }}
        </a>
        {% if machine_snapshot.max_incident_severity.value %}
        {% incident_severity machine_snapshot.max_incident_severity.value %}
        {% endif %}
        {% for tag in machine_snapshot.tags %}
        {% base_inventory_tag tag.display_name tag.color %}
        {% endfor %}
      </td>
      {% endif %}
      <td>{{ machine_snapshot.system_info.computer_name|default:"" }}</td>
      <td>{{ machine_snapshot.principal_user.principal_name|default:"" }}</td>
      <td>{{ machine_snapshot.system_info.hardware_model|default:"" }}</td>
      <td>{{ machine_snapshot.os_version.display_name }}</td>
      <td>
        {{ machine_snapshot.source.display_name }}
      </td>
      <td>
        {{ machine_snapshot.last_seen }}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

{% pagination next_url previous_url %}

{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var filter_list_sorts = ["az", "za", "09", "90"];
  var filter_list_sort_logos = ["sort-alpha-down", "sort-alpha-down-alt", "sort-numeric-down", "sort-numeric-down-alt"];

  function getNextSort (sort) {
    return filter_list_sorts[(filter_list_sorts.indexOf(sort) + 1) % filter_list_sorts.length];
  }

  function getNextButtonIcon (sort) {
    return "bi bi-" + filter_list_sort_logos[(filter_list_sorts.indexOf(sort) + 1) % filter_list_sort_logos.length];
  }

  function azSort(a, b) {
    if (a.linn === b.linn) {
      var cmp = a.l.toUpperCase().localeCompare(b.l.toUpperCase());
      if (cmp != 0) {
        return cmp;
      } else if (a.c < b.c) {
        return -1;
      } else if (a.c == b.c) {
        return 0;
      } else {
        return 1;
      }
    } else if (a.linn < b.linn) {
      return -1;
    } else {
      return 1;
    }
  }

  function zaSort(a, b) {
    return azSort(b, a);
  }

  function cSort(a, b) {
    if (a.c === b.c) {
      if (a.linn < b.linn) {
        return -1;
      } else if (a.linn > b.linn) {
        return 1;
      } else {
        return a.l.toUpperCase().localeCompare(b.l.toUpperCase());
      }
    } else if (a.c < b.c) {
      return -1;
    } else {
      return 1;
    }
  }

  function crSort(a, b) {
    return cSort(b, a);
  }

  function sortFilterList($btn) {
      var $filter_list = $($btn.attr("href"));
      var current_sort = $filter_list.data("sort");
      var next_sort = getNextSort(current_sort);
      // get the divs
      var divs = [];
      $.each($filter_list.children("div"), function () {
        var $div = $(this);
        var sortDiv = {l: this.dataset["label"], "c": $div.data("count"), "div": $div.detach().get(0)};
        sortDiv["linn"] = sortDiv["l"] != '\u2400';
        divs.push(sortDiv);
      });
      // sort the divs
      if (next_sort === "az") {
        divs.sort(azSort);
      } else if (next_sort === "za") {
        divs.sort(zaSort);
      } else if (next_sort === "09") {
        divs.sort(cSort);
      } else if (next_sort === "90") {
        divs.sort(crSort);
      }
      // reinsert the divs
      $.each(divs, function () {
        $filter_list.append(this.div);
      });
      // update state
      $filter_list.data("sort", next_sort);
      $btn.find("span").removeClass(getNextButtonIcon(current_sort)).addClass(getNextButtonIcon(next_sort));
  }

  function make_chart($canvas) {
    var chart_id = $canvas.data("chart-id");
    var chart_conf = JSON.parse(document.getElementById(chart_id).textContent);
    chart_conf["options"]["animations"] = {duration: 0};
    var chart = new Chart($canvas, chart_conf);
    $canvas.click(function (event) {
      var dataPoint = chart.getElementAtEvent(event)[0];
      if (dataPoint) {
        var label = chart.data.labels[dataPoint._index];
        var search = chart.data.datasets[dataPoint._datasetIndex].down_links[dataPoint._index];
        window.location.search = search;
      }
    });
  }

  var WAIT_FOR_TASK_TIMEOUT_ID;

  function waitForTask(url) {
    $.ajax({
      dataType: "json",
      url: url,
      success: function (data) {
        console.log(data);
        if (data.unready) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 1000, url);
        } else if (data.status === "SUCCESS") {
          window.location = data.download_url;
        }
      }
    });
  }

  function launchTask($link) {
      var url = $link.attr("href");
      $.ajax({
        dataType: "json",
        url: url,
        method: "post",
        success: function (data) {
          WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 300, data.task_result_url);
        }
      });
  }

  $(document).ready(function () {
    // remove filter links
    $(".filter-title").hover(
      function () {
        $(this).find(".panel-heading-btns").show();
      },
      function () {
        $(this).find(".panel-heading-btns").hide();
      }
    );

    // show modal if form errors
    $(".modal-with-errors").modal("show");

    // make charts
    $("canvas").each(function () {
      make_chart($(this));
    });

    // reorder filters
    $(".reorder-filter").click(function (event) {
      event.preventDefault();
      sortFilterList($(this));
    });

    $(".task").click(function (event) {
      event.preventDefault();
      launchTask($(this));
    });
  });
</script>
{% endblock %}
