{% extends 'inventory/machine_list.html' %}
{% load inventory_extras %}

{% block objectextras %}
<div class="panel panel-default">
  <div class="panel-body">
      <dl class="dl-horizontal">
          <dt>Bundle path</dt>
          <dd>{{ object.bundle_path }}</dd>
          <dt>Path</dt>
          <dd>{{ object.path|default:"-" }}</dd>
          <dt>Sha1</dt>
          <dd>{{ object.sha_1|default:"-" }}</dd>
          <dt>Sha256</dt>
          <dd>{% sha_256_link object.sha_256 %}</dd>
      </dl>
      {% for cert in object.certificate_chain %}
      <p>signed by</p>
      <dl class="dl-horizontal">
        <dt>Common name</dt>
        <dd>{{ cert.common_name }}</dd>
        <dt>Organization</dt>
        <dd>{{ cert.organization }}</dd>
        <dt>Organizational unit</dt>
        <dd>{{ cert.organizational_unit }}</dd>
        <dt>Sha1</dt>
        <dd>{{ cert.sha_1 }}</dd>
        <dt>Sha256</dt>
        <dd>{% sha_256_link cert.sha_256 %}</dd>
        <dt>Validity</dt>
        <dd>{{ cert.valid_from }} - {{ cert.valid_until }}</dt>
      </dl>
      {% endfor %}
  </div>
</div>
{% endblock %}
