{% extends 'inventory/machine_list.html' %}
{% load inventory_extras %}

{% block objectextras %}
<p>
    {% for tag in object.tags %}
        {% inventory_tag tag %}
    {% endfor %}
    {% if object.api_enrollment_enabled %}
        <span class="badge text-bg-success">Available for API Enrollment</span>
    {% endif %}
</p>

<table class="table table-light table-striped align-middle table-hover">
  {% for bu in object.get_current_business_units %}
  <tr>
    <td>{{ bu.source.name }}</td>
    <td>{{ bu.name }}</td>
    <td>
      {% for link in bu.links.all %}
      <a href="{{ link.url }}" class="btn btn-outline-secondary">
        {{ bu.source.name }} - {{ link.anchor_text }}
      </a>
      {% endfor %}
    </td>
    <td>
      {% if bu.can_be_detached %}
      <a href="{% url 'inventory:detach_bu' object.id bu.id %}" class="btn btn-outline-secondary">
        Detach
      </a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
