{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:tags' %}">Inventory tags</a>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a>
  <li class="active">Update</li>
  {% else %}
  <li class="active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} Tag</h2>
<form method="POST" class="form">{% csrf_token %}
  {{ form.taxonomy|bootstrap }}
  {% if object %}
  <dl>
    <dt>Meta business unit</dt>
    <dd>{{ object.meta_business_unit|default:"-" }}</dd>
  </dl>
  {% else %}
  {{ form.meta_business_unit|bootstrap }}
  {% endif %}
  {{ form.name|bootstrap }}
  <div class="form-group">
    <label for="id_color">{{ form.color.label|title }}</label>
    <div>
      presets:
      {% for color_name, color_code in color_presets.items %}
        <span class="label color-preset" data-color="{{ color_code }}" style="background-color:#{{ color_code }};padding: 0 10px;margin:0 0 5px 0;">&nbsp;</span>
      {% endfor %}
    </div>
    <input type="text" id="id_color"{% if form.color.value %} value="{{ form.color.value }}"{% endif %} name="color" class="form-control" placeholder="{{ form.color.label }}">
  </div>
  <a href="{% url 'inventory:tags' %}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function apply_color_preset(preset_elm) {
    var color = preset_elm.data("color");
    $('#id_color').val(color);
  }

  $(document).ready(function(){
    $(".color-preset").click(function(event){
      event.preventDefault();
      apply_color_preset($(this));
    });
  });
</script>
{% endblock %}

