.DS_Store
__pycache__
*.sw[op]
*credentials.json
.ruff_cache
/docs/.hugo_build.lock
/docs/public/
/docs/resources/

/.*
!/.gitignore
!/.dockerignore
!/.github
!/.devcontainer

/venv/

/*.yml
!/docker-compose.yml
!/docker-compose.common.yml
!/docker-compose.mdm.yml
!/docker-compose.puppet.yml
!/docker-compose.syslog.yml
!/docker-compose.tests.yml
!/docker-compose.docs.yml

/conf/*
!/conf/mdm
!/conf/puppet
!/conf/start

tests/osquery/fixtures/*
tests/santa/fixtures/*

/server/static/dist/
/node_modules/
