.DS_Store
__pycache__
*.sw[op]
*credentials.json
.ruff_cache

/.*
!/.gitignore
!/.dockerignore
!/.github

/venv/

/*.yml
!/docker-compose.yml
!/docker-compose.basic-auth.yml
!/docker-compose.common.yml
!/docker-compose.mdm.yml
!/docker-compose.puppet.yml
!/docker-compose.saml2.yml
!/docker-compose.syslog.yml
!/mkdocs.yml
!/.readthedocs.yaml

/conf/*
!/conf/mdm
!/conf/puppet
!/conf/start

tests/osquery/fixtures/*
tests/santa/fixtures/*

/server/static/dist/
/node_modules/
