.DS_Store
__pycache__
*.sw[op]
*credentials.json

/.*
!/.gitignore
!/.dockerignore
!/.github

/venv/

/*.yml
!/docker-compose.yml
!/docker-compose.basic-auth.yml
!/docker-compose.common.yml
!/docker-compose.logstash.yml
!/docker-compose.mdm.yml
!/docker-compose.puppet.yml
!/docker-compose.saml2.yml
!/docker-compose.syslog.yml
!/mkdocs.yml

/conf/*
!/conf/start
!/conf/logstash
!/conf/mdm
!/conf/puppet
!/conf/saml2
!/conf/syslog

tests/osquery/fixtures/*
tests/santa/fixtures/*
