aiohttp==3.9.5
aiosignal==1.3.1
amqp==5.2.0
anyio==4.4.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.30.2
azure-identity==1.16.1
billiard==4.2.0
boto3==1.34.128
botocore==1.34.128
cachetools==5.3.3
cbor2==5.6.4
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.5.3
cryptography==42.0.8
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
Django==4.2.13
django-bootstrap-form==3.4
django-celery-results==2.4.0
django-filter==24.2
django-redis==5.4.0
django-storages==1.14.3
djangorestframework==3.15.1
djangorestframework-yaml==2.0.0
elastic-transport==8.13.1
elasticsearch==8.14.0
elementpath==4.4.0
Events==0.5
exceptiongroup==1.2.1
executing==2.0.1
filelock==3.15.1
frozenlist==1.4.1
geoip2==4.8.0
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-kms==2.23.0
google-cloud-pubsub==2.21.3
google-cloud-secret-manager==2.20.0
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
importlib_metadata==7.1.0
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
josepy==1.14.0
kombu==5.3.7
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
maxminddb==2.6.2
microsoft-kiota-abstractions==1.3.3
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.1
microsoft-kiota-serialization-form==0.1.0
microsoft-kiota-serialization-json==1.2.0
microsoft-kiota-serialization-multipart==0.1.0
microsoft-kiota-serialization-text==1.0.0
msal==1.28.1
msal-extensions==1.1.0
msgraph-core==1.0.0
msgraph-sdk==1.4.0
multidict==6.0.5
oauthlib==3.2.2
opensearch-py==2.6.0
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
packaging==24.1
parso==0.8.4
pendulum==3.0.0
pexpect==4.9.0
platformdirs==4.2.2
portalocker==2.8.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycurl==7.45.3
Pygments==2.18.0
PyJWT==2.8.0
pyOpenSSL==24.1.0
pyotp==2.9.0
pysaml2==7.5.0
python-dateutil==2.9.0.post0
python-ldap==3.4.4
pytz==2024.1
PyYAML==6.0.1
redis==5.0.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.1
six==1.16.0
sniffio==1.3.1
snowflake-connector-python==3.10.1
sortedcontainers==2.4.0
sqlparse==0.5.0
stack-data==0.6.3
std-uritemplate==1.0.1
time-machine==2.14.1
tomlkit==0.12.5
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
webauthn==2.1.0
whitenoise==6.6.0
wrapt==1.16.0
XlsxWriter==3.2.0
xmlschema==2.5.1
yarl==1.9.4
zipp==3.19.2
