aiohappyeyeballs==2.4.3
aiohttp==3.11.4
aiosignal==1.3.1
amqp==5.2.0
anyio==4.6.2.post1
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
azure-core==1.31.0
azure-identity==1.19.0
billiard==4.2.1
boto3==1.35.50
botocore==1.35.50
cachetools==5.5.0
cbor2==5.6.5
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.4
cryptography==43.0.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
Django==4.2.17
django-bootstrap-form==3.4
django-celery-results==2.4.0
django-filter==24.3
django-redis==5.4.0
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-yaml==2.0.0
elastic-transport==8.15.1
elasticsearch==8.15.1
elementpath==4.6.0
Events==0.5
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.16.1
frozenlist==1.5.0
geoip2==4.8.0
google-api-core==2.22.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-kms==3.1.0
google-cloud-pubsub==2.26.1
google-cloud-secret-manager==2.21.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.4.0
ipython==8.29.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
josepy==1.14.0
kombu==5.4.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
maxminddb==2.6.2
microsoft-kiota-abstractions==1.6.0
microsoft-kiota-authentication-azure==1.6.0
microsoft-kiota-http==1.6.0
microsoft-kiota-serialization-form==1.6.0
microsoft-kiota-serialization-json==1.6.0
microsoft-kiota-serialization-multipart==1.6.0
microsoft-kiota-serialization-text==1.6.0
msal==1.31.0
msal-extensions==1.2.0
msgraph-core==1.1.6
msgraph-sdk==1.11.0
multidict==6.1.0
oauthlib==3.2.2
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
packaging==24.1
parso==0.8.4
pendulum==3.0.0
pexpect==4.9.0
platformdirs==4.3.6
portalocker==2.10.1
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycurl==7.45.3
Pygments==2.18.0
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyotp==2.9.0
pysaml2==7.5.0
python-dateutil==2.9.0.post0
python-ldap==3.4.4
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.3
six==1.16.0
sniffio==1.3.1
snowflake-connector-python==3.12.3
sortedcontainers==2.4.0
sqlparse==0.5.1
stack-data==0.6.3
std-uritemplate==1.0.6
time-machine==2.16.0
tomlkit==0.13.2
tqdm==4.66.6
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
webauthn==2.2.0
whitenoise==6.8.1
wrapt==1.16.0
XlsxWriter==3.2.0
xmlschema==2.5.1
yarl==1.17.0
zipp==3.20.2
