-c constraints.txt

# Django file storage
django-storages[google]

# Zentral conf secrets
google-auth
google-cloud-secret-manager

# Zentral conf buckets
google-cloud-storage

# Zentral secret engine
google-crc32c # explicit here, but required by other dependencies
google-cloud-kms

# Zentral google_pubsub queues backend
google-cloud-pubsub<3
