-c constraints.txt

asn1crypto                      # MDM, mTLS, SCEP
boto3                           # conf, monolith, events (kinesis, sns/sqs)
celery<6
django-celery-results==2.2.0
cryptography                    # MDM, monolith (cloudfront), munki
defusedxml
django-bootstrap-form
django>=2.2,<2.3
djangorestframework
djangorestframework-yaml
django-filter                   # API
elasticsearch<7.14              # max 7.13.X to maintain compatibility with OpenSearch
geoip2
gunicorn
httpx[http2]                    # MDM (apns)
ipython
jmespath                        # inventory compliance checks
jinja2                          # events templates
kombu<6                         # events queues
pip
prometheus_client               # publish prometheus metrics
psycopg2
pygments                        # SQL syntax highlighting
pyopenssl                       # MDM
pyotp                           # Auth / 2nd factor
pysaml2                         # Auth / SAML
python-dateutil
python-u2flib-server            # Auth / U2F
pyyaml
requests
requests_oauthlib               # MDM DEP
setuptools
sqlparse                        # SQL syntax highlighting
tqdm
XlsxWriter
josepy                          # Auth / OpenID Connect
python-ldap                     # Auth / LDAP
