pip
setuptools
coverage
django<1.11
requests
ipython
psycopg2
django-bootstrap-form
pysaml2
djangorestframework
fabric
gunicorn
python-dateutil
prometheus_client
jinja2
elasticsearch
pyyaml
sqlparse
pygments
redis
kombu
tqdm
