-c constraints.txt

# Django file storgae
django-storages[boto3]

# AWS authentication for elasticsearch event store backend
requests_aws4auth

# SQS as celery broker
kombu[sqs]<4.7  # 4.7 for compatibility with celery<4.5
# to make sure that the celery workers will start
# TODO: understand why!!!
pycurl

# Elasticache memcached
pylibmc
