-c constraints.txt

# OpenSearch
opensearch-py<3

# Django file storgae
django-storages[boto3]

# SQS as celery broker
kombu[sqs]<6  # <6 for compatibility with celery<6
# to make sure that the celery workers will start
# TODO: understand why!!!
pycurl

# Elasticache memcached
pylibmc
