asn1crypto
boto3
celery<4.5
django-celery-results
coverage
cryptography
django-bootstrap-form
django>=2.2,<2.3
djangorestframework
django-filter
elasticsearch
geoip2
gunicorn
hyper
ipython
jinja2
kombu<5
pip
prometheus_client
psycopg2-binary
pygments
pyopenssl
pyotp
pysaml2
python-dateutil
python-u2flib-server
pyyaml
redis
requests
requests_aws4auth
requests_oauthlib
setuptools
sqlparse
tqdm
XlsxWriter
josepy
python-ldap

# dependencies

# urllib3 for boto3, elasticsearch, requests
# 20190502 - use the narrowest requirement to avoid conflicts
urllib3<1.25,>=1.21.1
