-c constraints.txt

# Django file storage
django-storages[google]

# Zentral conf secrets
google-auth
google-cloud-secret-manager

# Zentral conf buckets
google-cloud-storage

# Zentral google_pubsub queues backend
google-cloud-pubsub<2

# Redis for celery broker
redis

# Redis for Django cache
django-redis
