{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<h2>Add business unit tag</h2>
<form method="POST" action="{% url 'inventory:add_mbu_tag' meta_business_unit.id %}">{% csrf_token %}
  {{ form }}
  <p><button type="submit" class="btn btn-default">Add tag</button></p>
</form>
{% endblock %}
