{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      {% for url, anchor_text in breadcrumbs %}
      {% if url %}
      <li><a href="{{ url }}">{{ anchor_text }}</a>
      {% else %}
      <li class="active">{{ anchor_text }}</li>
      {% endif %}
      {% endfor %}
    </ol>

    <h2>Inventory drill down</h2>

    <h3>{{ machine_count }} Machine{{ machine_count|pluralize }}</h3>
  </div>
</div>


{% for f, f_links in grouping_links %}
{% if forloop.first %}
<div class="row">
  <div class="col-md-12">
    <form method="GET" class="form-inline" style="margin:1em 0 2em 0">
      <div class="form-group">
        <label for="id_serial_number" class="sr-only">Serial number</label>
        <input type="text" id="id_serial_number" value="{{ msquery.query_dict.sn }}" name="sn" class="form-control" placeholder="serial number">
      </div>
      <div class="form-group">
        <label for="id_name" class="sr-only">Name</label>
        <input type="text" id="id_name" value="{{ msquery.query_dict.cn }}" name="cn" class="form-control" placeholder="computer name">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
{% endif %}
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">{{ f.title }}</div>
      <ul style="max-height:25vh;overflow-y:auto;">
        {% for label, count, down_link, up_link in f_links %}
        <li>
          {% if down_link %}
          <a href="{{ down_link }}">{{ label }}</a>
          <span class="badge">{{ count }}</span>
          {% elif up_link %}
          {{ label }} <a href="{{ up_link }}">[X]</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">
{% endif %}
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}


{% if next_url or previous_url %}
<div class="row">
  <div class="col-md-12">
    <nav>
      <ul class="pager">
        {% if next_url %}
        <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
        {% if previous_url %}
        <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}

<div class="table-reponsive">
  <table class="table">
    {% for serial_number, machine_snapshots in machines %}
    {% for machine_snapshot in machine_snapshots %}
    <tr>
      {% if forloop.first %}
      <td rowspan="{{ machine_snapshots|length }}">
        {% base_machine_type_icon machine_snapshot.type %}
        {% base_machine_platform_icon machine_snapshot.platform %}
	<a href="{% url 'inventory:machine' machine_snapshot.urlsafe_serial_number %}">
          {{ serial_number }}
        </a>
      </td>
      {% endif %}
      <td>{{ machine_snapshot.computer_name }}</td>
      <td>
      {% for tag in machine_snapshot.tags %}
      {% base_inventory_tag tag.display_name tag.color %}
      {% endfor %}
      </td>
      <td>
        {{ machine_snapshot.source.name }}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
