{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:mbu' %}">Inventory business units</a>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a>
  <li class="active">Update</li>
  {% else %}
  <li class="active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} Business Unit</h2>
<form method="POST" class="form">{% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-group">
    <a href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'inventory:mbu' %}{% endif %}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
  </div>
</form>
{% endblock %}
