{% extends 'base.html' %}

{% block content %}
{% if object_list_title %}
<h1>{{ object_list_title }}</h1>
{% endif %}
<h2>{{ object_list|length }} Machine{{ object_list|length|pluralize }}</h2>
<table class="table">
  {% for serial_number, machine_str, ms_list in object_list %}
  <tr>
    <td>
      <a href="{% url 'inventory:machine' serial_number %}">
        {{ serial_number }}
      </a>
    </td>
    <td>{{ machine_str }}</td>
    <td>
      {% for machine_snapshot in ms_list %}
      {{ machine_snapshot.source.name }}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
