{% extends 'base.html' %}

{% block content %}
<h1>{{ system_info.computer_name }} / {{ machine.serial_number }}</h1>

{% if business_unit %}
<h3>Business unit</h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ business_unit.name }}</dd>
</dl>
{% endif %}

<h3>System info</h3>
<dl class="dl-horizontal">
  <dt>Hardware model</dt>
  <dd>{{ system_info.hardware_model }}</dd>
  <dt>CPU type</dt>
  <dd>{{ system_info.cpu_type }}</dd>
  <dt>CPU physical cores</dt>
  <dd>{{ system_info.cpu_physical_cores }}</dd>
  <dt>Physical memory</dt>
  <dd>{{ system_info.physical_memory|filesizeformat }}</dd>
</dl>
<h3>OS</h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ os_version.name }}</dd>
  <dt>OS Version</dt>
  <dd>{{ os_version.major }}.{{ os_version.minor }}.{{ os_version.patch }}</dd>
  <dt>OS Build</dt>
  <dd>{{ os_version.build }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt class="small" style="opacity:0.5">Last update</dt>
  <dd class="small" style="opacity:0.5">{{ machine_snapshot.mt_created_at|date:'r'|default:'-' }}</dd>
</dl>
<p>
{% if links.inventory %}
  <a class="btn btn-default" href="{{ links.inventory.link }}">View in {{ links.inventory.name }}</a>
{% endif %}
  <a class="btn btn-default" href="{% url 'inventory:machine_events' machine.serial_number %}">View events</a>
</p>

<h2>Groups</h2>
<table class="table">
  <thead>
    <th>Reference</th>
    <th>Name</th>
  </thead>
  <tbody>
    {% for group in machine_snapshot.groups.all %}
    <tr><td>{{ group.reference }}</td><td>{{ group.name }}</td></tr>
    {% endfor %}
  </tbody>
</table>

<h2>OSX Apps</h2>
<table class="table">
  <thead>
    <th>Bundle ID</th>
    <th>Bundle Name</th>
    <th>Version String</th>
    <th>Bundle Path</th>
  </thead>
  <tbody>
    {% for osx_app_instance in machine_snapshot.osx_app_instances.all %}
    {% with osx_app_instance.app as app %}
    <tr>
      <td>{{ app.bundle_id|default:"" }}</td>
      <td>{{ app.bundle_name }}</td>
      <td>{{ app.version_str }}</td>
      <td>{{ osx_app_instance.bundle_path }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

<h2>OSQuery Nodes</h2>
{% if nodes %}
<table class="table">
  <thead>
    <th>Enroll secret</th>
    <th>Created at</th>
    <th>Last seen</th>
  </thead>
  <tbody>
    {% for node in nodes %}
    <tr>
      <td>{{ node.enroll_secret }}</td>
      <td>{{ node.created_at }}</td>
      <td>{{ node.last_seen }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-warning">
  <strong>Warning!</strong> No osquery instance linked to this machine.
</div>
{% endif %}

<h2>Munki State</h2>
{% if munki_state %}
{% if munki_state.sha1sum %}
<h3>Last received report</h3>
<dl class="dl-horizontal">
  <dt>Sha1sum</dt>
  <dd>{{ munki_state.sha1sum }}</dd>
  <dt>Start time</dt>
  <dd>{{ munki_state.start_time }}</dd>
  <dt>End time</dt>
  <dd>{{ munki_state.end_time }}</dd>
  <dt>Run type</dt>
  <dd>{{ munki_state.run_type }}</dd>
  <dt>Munki version</dt>
  <dd>{{ munki_state.munki_version|default:"" }}</dd>
<dl>
{% else %}
<div class="alert alert-warning">
  <strong>Warning!</strong> No report received.
</div>
{% endif %}
<hr>
<dl class="dl-horizontal">
  <dt class="small" style="opacity:0.5">User agent</dt>
  <dd class="small" style="opacity:0.5">{{ munki_state.user_agent }}</dd>
  <dt class="small" style="opacity:0.5">IP</dt>
  <dd class="small" style="opacity:0.5">{{ munki_state.ip }}</dd>
  <dt class="small" style="opacity:0.5">Last seen</dt>
  <dd class="small" style="opacity:0.5">{{ munki_state.last_seen|date:'r'|default:'-' }}</dd>
  <dt class="small" style="opacity:0.5">Last binaryinfo</dt>
  <dd class="small" style="opacity:0.5">{{ munki_state.binaryinfo_last_seen|date:'r'|default:'-' }}</dd>
</dl>
{% else %}
<div class="alert alert-warning">
  <strong>Warning!</strong> No Munki postflight request received
</div>
{% endif %}
{% endblock %}
