{% extends 'base.html' %}

{% block content %}
<div class="row">
<h1>
  {% if computer_name %}{{ computer_name }} / {% endif %}{{ serial_number }}
  <a class="btn btn-default" href="{% url 'inventory:machine_events' serial_number %}">View events</a>
</h1>

<ul class="nav nav-tabs">
  {% for ms in ms_list %}
  <li role="presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href="#" data-tabclass="detailstab" data-tabid="details-{{ ms.id }}">
      {{ ms.source.name }}
    </a>
  </li>
  {% endfor %}
</ul>
</div>

{% for ms in ms_list %}
<div class="row detailstab" id="details-{{ ms.id }}"{% if not forloop.first %}style="display:none;"{% endif %}>
<div class="col-md-6">
{% if ms.business_unit %}
<h3>Business unit</h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ ms.business_unit.name }}</dd>
</dl>
<p>
{% for link in ms.business_unit.links.all %}
  <a href="{{ link.url }}" class="btn btn-default">
    {{ ms.source.name }} - {{ link.anchor_text }}
  </a>
{% endfor %}
</p>
{% endif %}

{% with ms.system_info as system_info %}
{% if system_info.hardware_model or system_info.cpu_type or system_info.cpu_physical_cores or system_info.physical_memory %}
<h3>System info</h3>
<dl class="dl-horizontal">
  <dt>Hardware model</dt>
  <dd>{{ system_info.hardware_model }}</dd>
  {% if system_info.cpu_brand %}
  <dt>CPU brand</dt>
  <dd>{{ system_info.cpu_brand }}</dd>
  {% endif %}
  {% if system_info.cpu_type %}
  <dt>CPU type</dt>
  <dd>{{ system_info.cpu_type }}</dd>
  {% endif %}
  {% if system_info.cpu_physical_cores %}
  <dt>CPU physical cores</dt>
  <dd>{{ system_info.cpu_physical_cores }}</dd>
  {% endif %}
  {% if system_info.cpu_physical_cores %}
  <dt>CPU logical cores</dt>
  <dd>{{ system_info.cpu_logical_cores }}</dd>
  {% endif %}
  <dt>Physical memory</dt>
  <dd>{{ ms.system_info.physical_memory|filesizeformat }}</dd>
</dl>
{% endif %}
{% endwith %}

{% if ms.os_version %}
<h3>OS</h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ ms.os_version.name }}</dd>
  <dt>OS Version</dt>
  <dd>{{ ms.os_version.major }}.{{ ms.os_version.minor }}.{{ ms.os_version.patch }}</dd>
  <dt>OS Build</dt>
  <dd>{{ ms.os_version.build|default:"-" }}</dd>
</dl>
{% endif %}
</div>
<div class="col-md-6">
{% if ms.groups.count %}
<h3>Links</h3>
<p>
  {% for link in ms.links.all %}
  <a href="{{ link.url }}" class="btn btn-default">{{ ms.source.name }} - {{ link.anchor_text }}</a>
  {% endfor %}
</p>
{% if ms.teamviewer %}
<h3>TeamViewer</h3>
<dl class="dl-horizontal">
  <dt>ID</dt>
  <dd><a href="https://start.teamviewer.com/{{ ms.teamviewer.teamviewer_id }}">{{ ms.teamviewer.teamviewer_id }}</a></dd>
  <dt>Release</dt>
  <dd>{{ ms.teamviewer.release }}</dd>
  <dt>Unattended</dt>
  <dd>{{ ms.teamviewer|yesno }}</dd>
</dl>
{% endif %}
<h3>Groups</h3>
<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Links</th>
  </thead>
  <tbody>
    {% for group, links in ms.groups_with_links %}
    <tr>
      <td>{{ group.name }}</td>
      <td>
        {% for link_url, anchor_text in links %}
        <a href="{{ link_url }}" class="btn btn-default">
          {{ ms.source.name }} - {{ anchor_text }}
        </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>

<div class="col-md-12">
<dl class="dl-horizontal">
  <dt class="small" style="opacity:0.5">Last update</dt>
  <dd class="small" style="opacity:0.5">{{ ms.mt_created_at|date:'r'|default:'-' }}</dd>
</dl>
</div>

</div>
{% endfor %}


{% if osx_app_ms_list %}
<h2>OSX Apps</h2>

<ul class="nav nav-tabs">
  {% for ms in osx_app_ms_list %}
  <li role="presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href="#" data-tabclass="appstab" data-tabid="apps-{{ ms.id }}">
      {{ ms.source.name }}
    </a>
  </li>
  {% endfor %}
</ul>

{% for ms in osx_app_ms_list %}
<table class="table table-condensed appstab" id="apps-{{ ms.id }}"
  {% if not forloop.first %}style="display:none;"{% endif %}>
  <thead>
    <th>Bundle ID</th>
    <th>Bundle Name</th>
    <th>Bundle Version Str</th>
    <th>Bundle Path</th>
  </thead>
  <tbody>
    {% for osx_app_instance in ms.osx_app_instances.all %}
    {% with osx_app_instance.app as app %}
    <tr>
      <td>{{ app.bundle_id|default:"" }}</td>
      <td>{{ app.bundle_name }}</td>
      <td>{{ app.bundle_version_str }}</td>
      <td>{{ osx_app_instance.bundle_path }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endif %}

{% endblock %}

{% block extrajs %}
<script>
  function switchTabs(link) {
    var tabclass = link.data('tabclass'),
        tabid = link.data('tabid');
    $("." + tabclass).hide();
    $("#" + tabid).show();
    link.parent().siblings().removeClass('active');
    link.parent().addClass('active');
  }

  $(document).ready(function(){
    $("li[role=presentation] a").click(function(event){
      event.preventDefault();
      switchTabs($(this));
    });
  });
</script>
{% endblock %}
