{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

{% if object_list_title %}
<h2>{{ object_list_title }}</h2>
{% endif %}

{% block objectextras %}
{% endblock %}

<h3>{{ total_objects }} Machine{{ total_objects|pluralize }}</h3>
<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div>
    <div class="form-group">
      <label for="id_serial_number" class="sr-only">{{ search_form.serial_number.label|title }}</label>
      <input type="text" id="id_serial_number"{% if search_form.serial_number.value %} value="{{ search_form.serial_number.value }}"{% endif %} name="serial_number" class="form-control" placeholder="{{ search_form.serial_number.label }}">
    </div>
    <div class="form-group">
      <label for="id_name" class="sr-only">{{ search_form.name.label|title }}</label>
      <input type="text" id="id_name"{% if search_form.name.value %} value="{{ search_form.name.value }}"{% endif %} name="name" class="form-control" placeholder="{{ search_form.name.label }}">
    </div>
  </div>
  <div style="margin:.2em 0 0 0">
    <div class="form-group">
      <label for="id_source">{{ search_form.source.label|title }}</label>
      {{ search_form.source }}
    </div>
    <div class="form-group">
      <label for="id_source">{{ search_form.tag.label|title }}</label>
      {{ search_form.tag }}
    </div>
    <div class="form-group">
      <label for="id_platform">{{ search_form.platform.label|title }}</label>
      {{ search_form.platform }}
    </div>
    <div class="form-group">
      <label for="id_type">{{ search_form.type.label|title }}</label>
      {{ search_form.type }}
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </div>
</form>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<div class="table-reponsive">
  <table class="table">
    {% for machine in object_list %}
    <tr>
      <td>
        {% machine_type_icon machine %}
        {% machine_platform_icon machine %}
        <a href="{% url 'inventory:machine' machine.serial_number %}">
          {{ machine.serial_number }}
        </a>
      </td>
      <td>{{ machine.computer_name }}</td>
      <td>
      {% for tag in machine.tags %}
      {% inventory_tag tag %}
      {% endfor %}
      </td>
      <td>
        {% for source in machine.get_snapshots_sources_for_display %}
        {{ source.name }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% if next_url or previous_url %}
<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
