{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:index' %}">Inventory machines</a></li>
  <li><a href="{% url 'inventory:machine' serial_number %}">{{ serial_number }}</a></li>
  <li class="active">Events</li>
</ol>

<h2>{% if computer_name %}{{ computer_name }} / {% endif %}<a href="{% url 'inventory:machine' serial_number %}">{{ serial_number }}</a> Events</h2>

<form class="form-inline" method="GET">
  <div class="form-group">
    <label for="eventType">Event type</label>
    <select class="form-control" id="eventType" name="event_type">
      {% for value, selected, label in event_types %}
      <option value="{{ value }}"{% if selected %} selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">OK</button>
</form>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Type</th>
      <th>Created at</th>
      <th>Data</th>
    </thead>
    <tbody>
      {% for event in object_list %}
      <tr>
        <td>{{ event.event_type }}</td>
        <td>{{ event.metadata.created_at }}</td>
        <td><pre>{{ event.payload|pprint }}</pre></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
