{% extends 'base.html' %}

{% block content %}
<h1>{{ object_list|length }} Machine{{ object_list|length|pluralize }}</h1>
<table class="table">
  <thead>
    <th>Serial Number</th>
    <th>Name</th>
  </thead>
  <tbody>
    {% for machine_snapshot in object_list %}
    <tr>
      <td><a href="{% url 'inventory:machine' machine_snapshot.machine.serial_number %}">{{ machine_snapshot.machine.serial_number }}</a></td>
      <td>{{ machine_snapshot.system_info.computer_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
