{% extends 'inventory/machine_list.html' %}
{% load inventory_extras %}

{% block objectextras %}
<p>
{% for tag in object.tags %}
{% inventory_tag tag %}
{% endfor %}
{% if object.api_enrollment_enabled %}
<span class="label label-success">Available for API Enrollment</span>
{% endif %}
</p>

<table class="table">
  {% for bu in object.get_current_business_units %}
  <tr>
    <td>{{ bu.source.name }}</td>
    <td>{{ bu.name }}</td>
    <td>
      {% for link in bu.links.all %}
      <a href="{{ link.url }}" class="btn btn-default">
        {{ bu.source.name }} - {{ link.anchor_text }}
      </a>
      {% endfor %}
    </td>
    <td>
      {% if bu.can_be_detached %}
      <a href="{% url 'inventory:detach_bu' object.id bu.id %}" class="btn btn-default">
        Detach
      </a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  <a href="{% url 'inventory:update_mbu' object.id %}" class="btn btn-default">Update</a>
  <a href="{% url 'inventory:mbu_tags' object.id %}" class="btn btn-default">Manage tags</a>
  {% if not object.api_enrollment_enabled %}
  <a href="{% url 'inventory:mbu_api_enrollment' object.id %}" class="btn btn-default">Enable API enrollment</a>
  {% endif %}
  {% if object.can_be_deleted %}
  <a href="{% url 'inventory:delete_mbu' object.id %}" class="btn btn-danger">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </a>
  {% endif %}
</p>


{% if object.dashboard_source %}
<h3>Dashboard</h3>
<p>Source: {{ object.dashboard_source }}</p>

<div class="row dashboard-container" data-url="{% url 'inventory:mbu_dashboard_machine_data' object.id %}">
  <div class="col-md-4">
    <h4>Platforms</h4>
    <canvas class="chart"
            data-doughnut-id="platform"
            width="100"
            height="80"></canvas>
  </div>
  <div class="col-md-4">
    <h4>Types</h4>
    <canvas class="chart"
            data-doughnut-id="type"
            width="100"
            height="80"></canvas>
  </div>
  <div class="col-md-4">
    <h4>OS</h4>
    <canvas class="chart"
            data-doughnut-id="os"
            width="100"
            height="80"></canvas>
  </div>
</div>

{% if object.dashboard_osx_app_bundle_id_list %}
<h4>OSX apps</h4>
<div class="row dashboard-container" data-url="{% url 'inventory:mbu_dashboard_bundle_data' object.id %}">
  {% for bundle_id in object.dashboard_osx_app_bundle_id_list %}
  <div class="col-md-4">
    <h4>{{ bundle_id }}</h4>
    <canvas class="chart"
            data-doughnut-id="{{ bundle_id }}"
            width="100"
            height="80"></canvas>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endif %}

{% endblock %}

{% block extrajs %}
<script>
  function get_container_data_and_make_charts($container) {
    url = $container.data("url");
    $.getJSON(url, function(data) {
      for (var doughnut_id in data) {
        if (data.hasOwnProperty(doughnut_id)) {
          var chart_cfg = data[doughnut_id].config;
          var chart_title = data[doughnut_id].name;
          $canvas = $("canvas[data-doughnut-id='" + doughnut_id + "']");
          new Chart($canvas, chart_cfg);
          $canvas.prev().text(chart_title);
        }
      }
    });
  }

  function get_data_and_make_charts() {
    $(".dashboard-container").each(function () {
      get_container_data_and_make_charts($(this));
    });
  }

  $(document).ready(function(){
    get_data_and_make_charts();
  });
</script>
{% endblock %}
