{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'inventory:mbu' %}">Inventory business units</a></li>
  <li><a href="{% url 'inventory:mbu_machines' meta_business_unit.id %}">{{ meta_business_unit }}</a>
  <li class="active">Tags</li>
</ol>

<h2>{{ tags|length }} Tag{{ tags|length|pluralize }}</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Tag ID</th>
      <th>Tag</th>
      <th></th>
    </thead>
    <tbody>
      {% for tag in tags %}
      <tr>
        <td>{{ tag.id }}</td>
        <td>{% inventory_tag tag %}</td>
        <td>
          <form action="{% url 'inventory:remove_mbu_tag' meta_business_unit.id tag.id %}" method="POST">{% csrf_token %}
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Add tag</h2>
<form method="POST" action="{% url 'inventory:mbu_tags' meta_business_unit.id %}">{% csrf_token %}
  {{ form.as_p }}
  <p><button type="submit" class="btn btn-default">Add tag</button></p>
</form>
{% endblock %}
