{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {% for realm, login_link in login_realms %}
    <form action="{{ login_link }}" method="post">{% csrf_token %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_to }}">
      <button href="{{ login_link }}" class="btn btn-large btn-primary">Sign in with {{ realm }}</button>
    </form>
    {% if not forloop.last or form %}
    <h3 class="text-center">or</h3>
    {% endif %}
    {% endfor %}
    {% if form %}
    <form class="panel panel-default" method="POST">{% csrf_token %}
      <div class="panel-heading">
        <h3 class="panel-title">
          {% if login_realms %}
          Use local credentials
          {% else %}
          Sign in
          {% endif %}
        </h3>
      </div>
      <div class="panel-body">
        {{ form|bootstrap }}
        <p><a href="{% url 'password_reset' %}">Password forgotten?</a></p>
      </div>
      <div class="panel-footer btn-group btn-group-justified" role="group" aria-label="sign in">
        <div class="btn-group" role="group">
          <button type="submit" class="btn btn-primary">
            Sign in{% if login_realms %} with local credentials{% endif %}
          </button>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
