{% extends 'base.html' %}

{% block content %}

{% if form.non_field_errors %}
<div class="form-signin d-flex justify-content-center w-100 m-auto px-4 pt-4">
    {% for message in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
<div class="form-signin d-flex justify-content-center w-100 m-auto px-4 py-3 my-0">
{% else %}
<div class="form-signin d-flex justify-content-center w-100 m-auto px-4 py-5 my-5">
{% endif %}
    {% for realm, login_link in login_realms %}
        <form action="{{ login_link }}" method="POST">{% csrf_token %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_to }}" required>
            <button href="{{ login_link }}" class="btn btn-large btn-primary">Sign in with {{ realm }}</button>
        </form>
        {% if not forloop.last or form %}
            <h3 class="text-center">or</h3>
        {% endif %}
    {% endfor %}
    {% if form %}
        <form action="{{ login_link }}" method="POST">{% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">
                {% if login_realms %}
                    Use local credentials
                {% else %}
                    Sign in
                {% endif %}
            </h1>
            {% for ff in form %}
                <div class="form-floating">
                    {{ ff }}
                    <label for="floatingInput">{{ ff.label }}</label>
                </div>
            {% endfor %}
            <div class="text-start my-3">
                <p><a href="{% url 'password_reset' %}">Password forgotten?</a></p>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">
                Sign in{% if login_realms %} with local credentials{% endif %}
            </button>
        </form>
    {% endif %}
</div>
{% endblock %}
