{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center w-50 m-auto">
    <form class="panel panel-default" method="POST">{% csrf_token %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <h3 class="mt-5">{{ title }}</h3>
        </div>
        <div class="col-lg-7 mx-auto">
        <p class="lead mb-4">Tell us your email so we can send you a reset link.</p>

        <div class="col-md">
            {% for ff in form %}
                <div class="form-floating me-2 mb-2">
                    {{ ff }}
                    <label for="floatingInput">{{ ff.label }}</label>
                </div>
            {% endfor %}
        </div>
            
        </div>
        <div class="panel-footer btn-group btn-group-justified" role="group" aria-label="sign in">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary w-50 py-2 my-4">Reset password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
