{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</nav>
{% endif %}

<div class="d-flex flex-column justify-content-center align-items-center px-4 py-5 my-5 text-center">
    {% if form.errors %}
        <div class="alert alert-danger text-start" role="alert">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST">{% csrf_token %}
        {% if not request.user.is_authenticated %}
        <h3 class="mt-5">{{ title }}</h3>
        {% endif %}    
        <div class="mb-4">
            {% for ff in form %}
                <div class="form-floating">
                    {{ ff }}
                    <label for="floatingInput">{{ ff.label }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary px-5 my-3">Change password</button>
    </form>
</div>

{% endblock %}
