{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center px-4 py-5 my-5 text-center">
    <form method="POST" class="flex-column">{% csrf_token %}
        <h3 class="mt-5">{{ title }}</h3>
        <p class="lead mb-4">Tell us your email so we can send you a reset link</p>
        {% for ff in form %}
            <div class="form-floating mb-4">
                {{ ff }}
                <label for="floatingInput">{{ ff.label }}</label>
            </div>
        {% endfor %}
        <p class="mb-4"><button type="submit" class="btn btn-primary px-5 py-2">Reset password</button></p>
    </form>
</div>
{% endblock %}
