{% extends 'base.html' %}

{% block content %}

<div class="reg-container">
  <form method="POST">{% csrf_token %}
    <h1 class="reg-title">{{ title }}</h1>
    <p class="lead mb-4">Tell us your email so we can send you a reset link.</p>
    {% for ff in form %}
    <div class="form-floating my-3">
      {{ ff }}
      <label for="{{ ff.id_for_label }}">{{ ff.label }}</label>
    </div>
    {% endfor %}
    <button class="reg-btn-primary" type="submit">
      Reset password
    </button>
  </form>
</div>

{% endblock %}
