{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
{% if request.user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</nav>
{% endif %}

<div class="form-signin d-flex justify-content-center w-100 m-auto px-4 py-5 my-5">
    <form class="panel panel-default" method="POST">{% csrf_token %}
        {% if not request.user.is_authenticated %}
        <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
        </div>
        {% endif %}
        <div class="panel-body">
        {{ form|bootstrap }}
        </div>
        <div class="panel-footer btn-group btn-group-justified" role="group" aria-label="sign in">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary w-50 my-3">Change password</button>
        </div>
        </div>
    </form>
</div>

{% endblock %}
