{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</nav>

<div class="reg-container">
  <form method="POST">{% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% comment %}
    We merge the field errors as alerts, it should always work for this form
    {% endcomment %}
    {% for ff in form %}
    {% for error in ff.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% endfor %}
    {% for ff in form %}
    <div class="form-floating my-3">
      {{ ff }}
      <label for="{{ ff.id_for_label }}">{{ ff.label }}</label>
    </div>
    {% endfor %}
    <button class="reg-btn-primary" type="submit">
      Change password
    </button>
  </form>
</div>

{% endblock %}
