{% extends 'base.html' %}

{% block content %}

<div class="reg-container">
  {% if form %}
  <form method="POST">{% csrf_token %}
    <h1 class="reg-title">{{ title }}</h1>
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% comment %}
    We merge the field errors as alerts, it should always work for this form
    {% endcomment %}
    {% for ff in form %}
    {% for error in ff.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
    {% endfor %}
    {% for ff in form %}
    <div class="form-floating my-3">
      {{ ff }}
      <label for="{{ ff.id_for_label }}">{{ ff.label }}</label>
    </div>
    {% endfor %}
    <button class="reg-btn-primary" type="submit">
      Set new password
    </button>
  </form>
  {% else %}
  <div class="alert alert-danger" role="alert">Invalid password reset link.</div>
  {% endif %}
</div>

{% endblock %}
