{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center px-4 py-5 my-5 text-center">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    {% if form %}
        <form method="POST">{% csrf_token %}
            <h3 class="mt-5">{{ title }}</h3>
            <div class="mb-4">
                {% for ff in form %}
                    <div class="form-floating">                      
                        {{ ff }}
                        <label for="floatingInput">{{ ff.label }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary px-5 py-2">Set new password</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">Invalid password reset link.</div>
    {% endif %}
</div>
{% endblock %}
