{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Settings</a></li>
    </ol>
</nav>

<div class="px-4 py-5 my-5 text-center w-50 m-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <h3 class="mt-5">Password change</h3>
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ title }}.</p>
    </div>
</div>
{% endblock %}
