{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Jamf Protect enrollments</li>
</ol>

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0">Jamf Protect enrollment{{enrollments_count|pluralize}} ({{ enrollments_count }})</h2>
    <div class="ms-auto">
        {% url 'jamf_protect:create_enrollment' as url %}
        {% button 'CREATE' url "Create new Enrollment" %}
    </div>
</div>

{% if enrollments_count %}
    <table class="table table-light table-striped align-middle">
    <thead>
        <tr>
        <th>Business unit</th>
        <th>Tags</th>
        <th>Created at</th>
        <th>Request count</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for enrollment in object_list %}
        {% with enrollment.secret as secret %}
        {% with enrollment.distributor as distributor %}
        <tr>
        <td><a href="{{ secret.meta_business_unit.get_absolute_url }}">{{ secret.meta_business_unit|default:"-" }}</a></td>
        <td>
            {% for tag in secret.tags.all %}
            {% inventory_tag tag %}
            {% empty %}
            -
            {% endfor %}
        </td>
        <td>
            <a name="enrollment_{{ enrollment.pk }}"></a>
            {{ secret.created_at }}
        </td>
        <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
        <td>
            {% if not distributor and not secret.is_used_up %}
            <dl class="row">
            <dt class="col-sm-3 text-md-end">URL</dt>
            <dd class="col-sm-9">{{ events_url }}</dd>
            <dt class="col-sm-3 text-md-end">Authorization header</dt>
            <dd class="col-sm-9"><pre>Bearer {{ enrollment.secret.secret }}</pre></dd>
            </dl>
            {% elif secret.is_used_up %}
            <span class="text-danger">Enrollment used up.</span>
            {% endif %}
        </td>
        </tr>
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% url 'jamf_protect:create_enrollment' as link %}
    {% no_entities 'Jamf Protect Enrollments' link %}
{% endif %}


{% endblock %}
