{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'jamf_protect:enrollments' %}">Jamf Protect enrollments</a></li>
  <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create Jamf Protect enrollment</h2>

<form method="post" class="update-form">{% csrf_token %}
  {{ secret_form }}
  <p>
    <a class="btn btn-outline-secondary" href="{% url 'jamf_protect:enrollments' %}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
