{% if next_url or previous_url %}
    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-end">
            {% if next_url %}
                <li class="page-item"><a class="page-link" href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
            {% if previous_url %}
                <li class="page-item"><a class="page-link" href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
