{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'filebeat:configuration_list' %}">Filebeat configurations</a></li>
  {% if object %}
  <li><a href="{% url 'filebeat:configuration' object.pk %}">{{ object }}</a></li>
  <li class="active">Update</li>
  {% else %}
  <li class="active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} Filebeat configuration</h2>

<form method="post" class="form">{% csrf_token %}
  {{ form|bootstrap }}
  {% for app_name, app_forms in input_forms %}
  <h3>{{ app_name }}</h3>
  {% for input_name, input_form in app_forms %}
  <div>
    <input type="checkbox" name="{{ input_form.prefix }}"
           class="input-checkbox"
           id="{{ input_form.prefix }}-checkbox"{% if input_form.prefix in object.inputs %} checked{% endif %}>
    <label for="{{ input_form.prefix }}-checkbox" class="h4">{{ input_name }}</label>
  </div>
  <div style="display:none;">
    {{ input_form|bootstrap }}
  </div>
  {% endfor %}
  {% endfor %}
  <p>
    <a class="btn btn-default" href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'filebeat:configuration_list' %}{% endif %}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
$(document).ready(function () {
  $(".input-checkbox").click(function (event) {
    $checkbox = $(this);
    $checkbox.parent().next().toggle($checkbox.is(':checked'));
  });
  $(".input-checkbox:checked").each(function () {
    $checkbox = $(this);
    $checkbox.parent().next().toggle($checkbox.is(':checked'));
  })
});
</script>

{% endblock %}
