{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ enrollments_count }} Munki enrollments</li>
</ol>

<h2>{{ enrollments_count }} Munki enrollment{{ enrollments_count|pluralize }}</h2>

<p>
  <a class="btn btn-default" href="{% url 'munki:create_enrollment' %}">Create</a>
</p>

{% if object_list %}
<table class="table">
  <thead>
    <th>Business unit</th>
    <th>Tags</th>
    <th>Created at</th>
    <th>Request count</th>
    <th>Version</th>
    <th>Distributor</th>
    <th></th>
  </thead>
  <tbody>
    {% for enrollment in object_list %}
    {% with enrollment.secret as secret %}
    {% with enrollment.distributor as distributor %}
    <tr>
      <td><a href="{{ secret.meta_business_unit.get_absolute_url }}">{{ secret.meta_business_unit|default:"-" }}</a></td>
      <td>
        {% for tag in secret.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        <a name="enrollment_{{ enrollment.pk }}"></a>
        {{ secret.created_at }}
      </td>
      <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
      <td>{{ enrollment.version }}</td>
      <td>
        {% if distributor %}
        <a href="{{ distributor.get_absolute_url }}">{{ distributor.get_description_for_enrollment }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if not distributor and not secret.is_used_up %}
        <a class="btn btn-default download-tool"
           aria-label="Download macOS enrollment package"
           title="macOS enrollment package"
           href="{% url 'munki:enrollment_package' enrollment.id %}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          <i class="fab fa-apple" aria-hidden="true"></i>
        </a>
        {% elif secret.is_used_up %}
        <span class="text-danger">Enrollment used up.</span>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
