{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'munki:configurations' %}">Munki configurations</a></li>
  <li><a href="{{ enrollment.configuration.get_absolute_url }}">{{ enrollment.configuration }}</a></li>
  <li class="active">Bump enrollment version</li>
</ol>

<h2>Bump enrollment version</h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to bump this enrollment version?</p>
  <p>
    <a class="btn btn-default" href="{{ enrollment.get_absolute_url }}">No</a>
    <button class="btn btn-primary" type="submit">Yes</button>
  </p>
</form>
{% endblock %}
