{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Munki</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h2>Munki</h2>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="munki"
            data-dataset="event_count"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="munki"
            data-dataset="unique_msn"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-md-12">
    {% if perms.munki.view_configuration %}
    <p><a href="{% url 'munki:configurations' %}">Configurations</a></p>
    {% endif %}
    {% if perms.munki.view_scriptcheck %}
    <p><a href="{% url 'munki:script_checks' %}">Script checks</a></p>
    {% endif %}
    {% if perms.view_configuration and perms.munki.view_enrollment and perms.view_scriptcheck %}
    <a href="{% url 'munki:terraform_export' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
      Terraform config
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function get_data_and_make_chart(url, charts) {
    $.getJSON(url, function(data) {
      for (var dataset in data.datasets) {
        if (data.datasets.hasOwnProperty(dataset)) {
          var canvas = charts[data.app][dataset];
          var chart = new Chart(canvas, {
            type: 'bar',
            data: {labels: data.labels,
                   datasets: [data.datasets[dataset]]},
            options: {}
          });
        }
      }
    });
  }

  $(document).ready(function(){
    var charts = {};
    var urls = Array();
    $(".chart").each(function(index, canvas) {
      canvas = $(canvas);
      var app = canvas.data('app');
      var dataset = canvas.data('dataset');
      if(! charts.hasOwnProperty(app)) {
        charts[app] = {};
        urls.push('/app/' + app + '/hist_data/day/14/');
      }
      charts[app][dataset] = canvas;
    });
    for (var idx in urls) {
      if (urls.hasOwnProperty(idx)) {
        get_data_and_make_chart(urls[idx], charts);
      }
    }
  });
</script>
{% endblock %}
