{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'munki:index' %}">Munki</a></li>
  <li class="breadcrumb-item"><a href="{% url 'munki:script_checks' %}">Script checks</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{% url 'munki:script_check' object.pk %}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} script check</h2>

<form method="post" class="update-form">{% csrf_token %}

    {{ compliance_check_form }}

    {{ script_check_form }}

    <p>
    {% if object %}
    <a class="btn btn-outline-secondary" href="{% url 'munki:script_check' object.pk %}">
    {% else %}
    <a class="btn btn-outline-secondary" href="{% url 'munki:script_checks' %}">
    {% endif %}
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
