{% for dropdown in dropdown_list %}
<li class="dropdown{% if dropdown.is_active %} active{% endif %}">
  <a href="{{ dropdown.main_link }}" class="dropdown-toggle" data-toggle="dropdown" role="button">
    {{ dropdown.title }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for link, anchor_text in dropdown.link_list %}
    {% if not link %}
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">{{ anchor_text }}</li>
    {% else %}
    <li><a href="{{ link }}">{{ anchor_text }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</li>
{% endfor %}
