{% for section in section_list %}
    <div class="d-flex justify-content-start">
        <a class="list-group-item list-group-item-action border-0 w-auto px-2 collapse-toggler{%if not section.is_active %} collapsed{% endif %}"
            data-bs-toggle="collapse"
            href="#offcanvas{{ section.title }}Submenu"
            role="button"
            aria-expanded="{% if section.is_active %}false{% else %}true{% endif %}"
            aria-controls="offcanvas{{ section.title }}Submenu">
            {{ section.title }}
        </a>
    </div>
    <div class="collapse{%if section.is_active %} show{% endif %}" id="offcanvas{{ section.title }}Submenu">
        <div class="list-group rounded-0 border-0">
                {% for link, anchor_text, active in section.link_list %}
                <div class="d-flex justify-content-start px-4">
                    <a class="list-group-item list-group-item-action border-0 w-auto px-2 ms-2{%if active %} active{% endif %}" href="{{ link }}">{{ anchor_text }}</a>
                </div>
                {% endfor %}
        </div>
    </div>
{% endfor %}

{% if request.zentral_deployment.items_for_display %}
<div class="position-absolute bottom-0 start-10">
    <small>Deployment</small><br/>
    {% for k, v in request.zentral_deployment.items_for_display %}
    <small>{{ k }} : {{ v }}</small><br/>
    {% endfor %}
</div>
{% endif %}
