<li class="dropdown{% if active %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Setup <span class="caret"></span></a>
    </a>
    <ul class="dropdown-menu">
      {% for section in section_list %}
      <li class="dropdown-header">{{ section.title }}</li>
      {% for link, anchor_text, active in section.link_list %}
      <li{% if active %} class="active"{% endif %}><a href="{{ link }}">{{ anchor_text }}</a></li>
      {% endfor %}
      {% if not forloop.last %}
      <li role="separator" class="divider"></li>
      {% endif %}
      {% endfor %}
      {% if request.zentral_deployment.items_for_display %}
      <li role="separator" class="divider"></li>
      <li id="deployment-info-header">Deployment</li>
      {% for k, v in request.zentral_deployment.items_for_display %}
      <li id="deployment-info">
        <span class="deployment-info-attr">{{ k }}</span><br>{{ v }}
      </li>
      {% endfor %}
      {% endif %}
    </ul>
</li>
