{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Zentral</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-default" role="banner">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="{% url 'base:index' %}" style="padding:10px 15px;">
	    <img src="{% static 'logox1.png' %}"
	         srcset="{% static 'logox1.png' %} 1x, {% static 'logox2.png' %} 2x"
		 alt="Zentral">
	  </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown{% if inventory %} active{% endif %}">
              <a href="{% url 'inventory:index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button">Inventory <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'inventory:index' %}">Machines</a></li>
                <li><a href="{% url 'inventory:groups' %}">Groups</a></li>
                <li><a href="{% url 'inventory:bu' %}">Business units</a></li>
                <li><a href="{% url 'inventory:probes' %}">Probes</a></li>
              </ul>
            </li>
	    <li class="dropdown{% if osquery %} active{% endif %}">
              <a href="{% url 'osquery:probes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button">Osquery <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'osquery:probes' %}">Probes</a></li>
                <li><a href="{% url 'osquery:distributed_index' %}">Distributed queries</a></li>
                <li><a href="{% url 'osquery:enrollment' %}">Enrollment</a></li>
              </ul>
            </li>
	    <li class="dropdown{% if santa %} active{% endif %}">
              <a href="{% url 'santa:probes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button">Santa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'santa:probes' %}">Probes</a></li>
                <li><a href="{% url 'santa:enrollment' %}">Enrollment</a></li>
              </ul>
            </li>
	    <li class="dropdown{% if munki %} active{% endif %}">
              <a href="{% url 'munki:probes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button">Munki <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'munki:probes' %}">Probes</a></li>
                <li><a href="{% url 'munki:enrollment' %}">Enrollment</a></li>
              </ul>
            </li>
          </ul>
          {% if zentral_extra_links %}
          <ul class="nav navbar-nav navbar-right">
	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Extra links <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for link in zentral_extra_links %}
                <li><a href="{{ link.url }}" target="blank">{{ link.anchor_text }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
