{% load static base_extras %}
<!doctype html>
<html lang="en" class="d-flex flex-column h-100" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zentral</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'pygments/highlight_style.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome-free-5.8.1-web/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/main.css' %}" rel="stylesheet">
    <script src="{% static 'dist/theme.js' %}"></script>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="light">
        <div class="d-flex flex-row flex-wrap w-100 align-items-center px-3">
            <a class="navbar-brand" href="/">
                <i class="zentral-logo light" alt="Zentral"></i>
            </a>
            <div class="ms-auto">
                <div class="user-menu">

                    {% include "user_menu.html" %}

                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="d-flex h-100 overflow-auto">
        {% if user.is_authenticated %}
        <div class="offcanvas offcanvas-start sidebar sticky-lg-top flex-lg-shrink-0 d-flex flex-column" data-bs-theme="light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">

                    {% include "user_menu.html" %}

                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="list-group rounded-0 border-0 overflow-auto px-2">

                {% pinned_menu %}

                <hr>

                {% modules_menu %}

            </div>
            {% if request.zentral_deployment.items_for_display %}
            <div class="deployment-info bg-light">
                {% for k, v in request.zentral_deployment.items_for_display %}
                    {{ k }}: {{ v }}
                    {% if not forloop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
        {% endif %}
        <main class="container-fluid overflow-auto">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
        </main>
    </div>
    <script src="{% static 'dist/main.js' %}"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Chart.js/Chart.min.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}">
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
