{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<h2>Realm <i>{{ realm }}</i></h2>

<p class="text-danger">{{ message }}</p>

<h3>IdP claims</h3>

{{ original_claims|pythonprettyprint }}

<h3>Mapped claims</h3>
<dl class="row">
  <dt class="col-sm-3 text-md-end">Username</dt>
  <dd class="col-sm-9">{{ claims.username|default:"-" }}</dd>
  <dt class="col-sm-3 text-md-end">Email</dt>
  <dd class="col-sm-9">{{ claims.email|default:"-" }}</dd>
  <dt class="col-sm-3 text-md-end">First name</dt>
  <dd class="col-sm-9">{{ claims.first_name|default:"-" }}</dd>
  <dt class="col-sm-3 text-md-end">Last name</dt>
  <dd class="col-sm-9">{{ claims.last_name|default:"-" }}</dd>
  <dt class="col-sm-3 text-md-end">Full name</dt>
  <dd class="col-sm-9">{{ claims.full_name|default:"-" }}</dd>
</dl>
{% endblock %}
