{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">{{ configurations_count }} Realm{{ realms_count|pluralize }}</li>
    </ol>
</nav>

<div class="d-flex align-items-center mb-1">
    <h3 class="mb-3">Realm{{ realms_count|pluralize }} ({{ realms_count }})</h3>

    {% if create_links %}
    <div class="dropdown mb-2 btn btn-link">
        <button class="btn btn-primary dropdown-toggle" type="button" id="createRealm"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
        </button>
        <ul class="dropdown-menu" aria-labelledby="createRealm">
            {% for link in create_links %}
            <li><a href="{{ link.url }}" class="dropdown-item">{{ link.anchor_text }} realm</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
        <th>Name</th>
        <th>Backend</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for realm in object_list %}
        <tr class="data-row">
        <td>
            {% if perms.realms.view_realm %}
            <a href="{{ realm.get_absolute_url }}">{{ realm }}</a>
            {% else %}
            {{ realm }}
            {% endif %}
        </td>
        <td>
            {{ realm.backend }}
        </td>
        <td>
            {% if not request.realm_authentication_session.is_remote and perms.realms.change_realm %}
            <a class="btn btn-default" href="{% url 'realms:update' realm.uuid %}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Update
            </a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
