{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'realms:list' %}">Realms</a></li>
  <li class="breadcrumb-item"><a href="{{ realm.get_absolute_url }}">{{ realm }}</a></li>
  {% if object %}
  <li class="breadcrumb-item active">Update group mapping</li>
  {% else %}
  <li class="breadcrumb-item active">Create group mapping</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} group mapping</h2>

<form method="post" class="update-form">{% csrf_token %}

    {{ form }}

  <p>
    <a class="btn btn-outline-secondary" href="{{ realm.get_absolute_url }}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
