{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'realms:list' %}">Realms</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h2>Realm <i>{{ object }}</i></h2>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <th>Attribute</th>
        <th>Value</th>
      </thead>
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{ object }}</td>
      </tr>
      <tr>
        <td>Backend</td>
        <td>{{ object.backend }}</td>
      </tr>
      <tr>
        <td>Enabled for login</td>
        <td>
          {{ object.enabled_for_login|yesno }}
          {% if object.enabled_for_login %} —
          {% if object.login_session_expiry == 0 %}
          The user’s session cookie will expire when the user’s Web browser is closed.
          {% else %}
          {% if object.login_session_expiry > 0 %}
          The user’s session cookie will expire after {{ object.login_session_expiry }}s.
          {% else %}
          The IDP response NotOnOrAfter value will be used for the session expiry.
          {% endif %}
          {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Username claim</td>
        <td>{{ object.username_claim|default:"-" }}</td>
      </tr>
      <tr>
        <td>Email claim</td>
        <td>{{ object.email_claim|default:"-" }}</td>
      </tr>
      <tr>
        <td>First name claim</td>
        <td>{{ object.first_name_claim|default:"-" }}</td>
      </tr>
      <tr>
        <td>Last name claim</td>
        <td>{{ object.last_name_claim|default:"-" }}</td>
      </tr>
      <tr>
        <td>Full name claim</td>
        <td>{{ object.full_name_claim|default:"-" }}</td>
      </tr>
      {% for name, value, hidden in object.backend_instance.extra_attributes_for_display %}
      <tr>
        <td>{{ name }}</td>
        <td>
          {% if hidden %}
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:pointer"></span>
          <span hidden>{{ value }}</span>
          {% else %}
          {{ value }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <dl class="dl-horizontal">
      <dt class="small" style="opacity:0.5">Created at</dt>
      <dd class="small" style="opacity:0.5">{{ object.created_at|date:'r' }}</dd>
      <dt class="small" style="opacity:0.5">Updated at</dt>
      <dd class="small" style="opacity:0.5">{{ object.updated_at|date:'r' }}</dd>
    </dl>

  </div>
</div>

<form action="{% url 'realms:test' realm.pk %}" method="POST" target="_blank">{% csrf_token %}
  <a class="btn btn-default" href="{% url 'realms:update' object.uuid %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Update
  </a>
  <button class="btn btn-default">
    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
    Test
  </button>
</p>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var openEyes = document.querySelectorAll(".glyphicon-eye-open");
  openEyes.forEach(function(openEye) {
    openEye.addEventListener("click", function(event) {
      var valueSpan = openEye.nextElementSibling;
      if (valueSpan.hidden) {
        valueSpan.hidden = false;
        openEye.classList.remove("glyphicon-eye-open");
        openEye.classList.add("glyphicon-eye-close");
      } else {
        valueSpan.hidden = true;
        openEye.classList.remove("glyphicon-eye-close");
        openEye.classList.add("glyphicon-eye-open");
      }
    });
  });
</script>
{% endblock %}
