{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'realms:list' %}">Realms</a></li>
  <li><a href="{% url 'realms:view' object.realm.pk %}">{{ object.realm }}</a></li>
  <li class="active">{{ realm_user }}</li>
</ol>

<h2>Realm user <i>{{ realm_user }}</i></h2>

{% if realm_user.realm.enabled_for_login %}
<h3>Login session expiry</h3>

<dl>
  <dt>IDP</dt>
  <dd>{{ object.expires_at|default:"-" }}{% if idp_expiry_age %} — ~{{ idp_expiry_age }} seconds{% endif %}</dd>
  <dt>User’s session cookie</dt>
  <dd>
    {% if login_session_expire_at_browser_close %}
    The user’s session cookie will expire when the user’s Web browser is closed.
    {% else %}
    {% if object.realm.login_session_expiry %}
    {{ computed_expiry }} seconds
    {% else %}
    same as IDP
    {% endif %}
    {% endif %}
  </dd>
</dl>
{% endif %}

<h3>Orginal claims</h3>

{{ realm_user.claims|pythonprettyprint }}

<h3>Mapped claims</h3>

{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd>{{ realm_user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ realm_user.email|default:"-" }}</dd>
  <dt>First name</dt>
  <dd>{{ realm_user.first_name|default:"-" }}</dd>
  <dt>Last name</dt>
  <dd>{{ realm_user.last_name|default:"-" }}</dd>
  <dt>Full name</dt>
  <dd>{{ realm_user.full_name|default:"-" }}</dd>
</dl>
{% endblock %}
