{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'realms:index' %}">SSO</a></li>
  <li class="breadcrumb-item"><a href="{% url 'realms:role_mappings' %}">Role mappings</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} role mapping</h2>

<form method="post" class="update-form">{% csrf_token %}
  {{ form }}
  <p>
    <a class="btn btn-outline-secondary" href="{% url 'realms:role_mappings' %}">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
