{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'turbo:index' %}">Turbo</a></li>
  {% if form.has_changed %}
  <li class="breadcrumb-item"><a href="{% url 'turbo:mscp_checks' %}">mSCP checks</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">mSCP checks</a></li>
  {% else %}
  <li class="breadcrumb-item active">mSCP checks</li>
  {% endif %}
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0">mSCP check{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h2>
    <div class="ms-auto">
        {% if perms.turbo.add_mscpcheck %}
            {% url 'turbo:create_mscp_check' as url %}
            {% button 'CREATE' url "Create new mSCP check" %}
        {% endif %}
    </div>
</div>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form">
        {{ form }}
        <button type="submit" class="btn btn-link mx-2"><i class="bi bi-search"></i></button>
    </form>
</div>

{% if object_list %}
{% pagination next_url previous_url %}
<table class="table table-striped align-middle table-hover">
<thead>
    <th>Rule</th>
    <th>Baseline</th>
    <th>ODV override</th>
    <th>Version</th>
    {% if perms.turbo.change_mscpcheck or perms.turbo.delete_mscpcheck %}
    <th></th>
    {% endif %}
</thead>
<tbody>
    {% for mscp_check in object_list %}
    <tr class="data-row">
    <td><a href="{{ mscp_check.get_absolute_url }}">{{ mscp_check.rule_id }}</a></td>
    <td>{{ mscp_check.baseline|default:"-" }}</td>
    <td>{% if mscp_check.odv is not None %}{{ mscp_check.odv }}{% else %}-{% endif %}</td>
    <td>{{ mscp_check.job.version }}</td>
    {% if perms.turbo.change_mscpcheck or perms.turbo.delete_mscpcheck %}
    <td class="text-end py-0">
        {% if perms.turbo.change_mscpcheck %}
            {% url 'turbo:update_mscp_check' mscp_check.pk as url %}
            {% button 'UPDATE' url "Edit mSCP check" %}
        {% endif %}
        {% if perms.turbo.delete_mscpcheck and mscp_check.can_be_deleted %}
            {% url 'turbo:delete_mscp_check' mscp_check.pk as url %}
            {% button 'DELETE' url "Delete mSCP check" %}
        {% endif %}
    </td>
    {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% pagination next_url previous_url %}
{% elif form.has_changed %}
    {% url 'turbo:mscp_checks' as empty_results_url %}
    {% empty_results empty_results_url %}
{% else %}
    {% if perms.turbo.add_mscpcheck %}
        {% url 'turbo:create_mscp_check' as link %}
        {% no_entities 'Turbo mSCP checks' link %}
    {% else %}
        {% no_entities 'Turbo mSCP checks' %}
    {% endif %}
{% endif %}

{% endblock %}
