{% load base_extras %}
{% if enrolled_machine %}
<h3>Santa</h3>
{% if err_message %}
<p class="text-danger">{{ err_message }}</p>
{% endif %}
<dl class="row">
  {% if configuration %}
  <dt class="col-sm-3 text-md-end">Configuration</dt>
  <dd class="col-sm-9"><a href="{% url 'santa:configuration' configuration.pk %}">{{ configuration }}</a></dd>
  {% endif %}
  <dt class="col-sm-3 text-md-end">Primary user</dt>
  <dd class="col-sm-9">{{ enrolled_machine.primary_user|default:"-" }}</dd>
  {% if enrolled_machine.hardware_uuid %}
  <dt class="col-sm-3 text-md-end">UUID</dt>
  <dd class="col-sm-9">{{ enrolled_machine.hardware_uuid|privacywrapper }}</dd>
  {% endif %}
  <dt class="col-sm-3 text-md-end">Client mode</dt>
  <dd class="col-sm-9">{{ enrolled_machine.get_client_mode_display }}</dd>
  <dt class="col-sm-3 text-md-end">Version</dt>
  <dd class="col-sm-9">{{ enrolled_machine.santa_version }}</dd>
  <dt class="col-sm-3 text-md-end">Binary rule{% if binary_rule_count != "-" %}{{ binary_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ binary_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">cdhash rule{% if cdhash_rule_count != "-" %}{{ cdhash_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ cdhash_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">Certificate rule{% if certificate_rule_count != "-" %}{{ certificate_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ certificate_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">Compiler rule{% if compiler_rule_count != "-" %}{{ compiler_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ compiler_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">Signing ID rule{% if signingid_rule_count != "-" %}{{ signingid_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ signingid_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">Transitive rule{% if transitive_rule_count != "-" %}{{ transitive_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ transitive_rule_count }}</dd>
  <dt class="col-sm-3 text-md-end">Team ID rule{% if teamid_rule_count != "-" %}{{ teamid_rule_count|pluralize }}{% else %}s{% endif %}</dt>
  <dd class="col-sm-9">{{ teamid_rule_count }}</dd>
</dl>
{% endif %}
