{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ configurations_count }} Santa configuration{{ configurations_count|pluralize }}</li>
</ol>

<h2>{{ configurations_count }} Santa configuration{{ configurations_count|pluralize }}</h2>

{% if perms.santa.add_configuration %}
<p>
  <a href="{% url 'santa:create_configuration' %}" class="btn btn-default">Create</a>
</p>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      {% if perms.santa.change_configuration %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for configuration in object_list %}
    <tr>
      <td>
        <a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a>
      </td>
      {% if perms.santa.change_configuration %}
      <td>
        <a class="btn btn-default" href="{% url 'santa:update_configuration' configuration.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          Update
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
