{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration' object.pk %}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Delete</li>
</ol>

<h2>Delete Santa configuration</h2>

<form method="post" class="update-form">{% csrf_token %}
  <p>Do you really want to delete this Santa configuration?</p>
  <p>
    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">
      Cancel
    </a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </p>
</form>
{% endblock %}
