{% extends 'base.html' %}
{% load base_extras inventory_extras ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  {% if form.has_changed %}
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_rules' configuration.pk %}">Rules</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %}
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Rules</a></li>
  {% else %}
  <li class="breadcrumb-item active">Rules</li>
  {% endif %}
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
</ol>

<div class="d-flex justify-content-between mb-1">
    <h2 class="m-0">Rule{{ page_obj.paginator.count|pluralize }} ({{ page_obj.paginator.count }})</h2>
    <div class="ms-auto">
        {% if perms.santa.add_rule %}
        <div class="dropdown mb-2">
            <button class="btn btn-link h-100 dropdown-toggle" type="button" id="createRule"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                <i class="bi bi-plus-circle"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="createRule">
                <li><a class="dropdown-item" href="{% url 'santa:create_configuration_rule' configuration.id %}">Base rule</a></li>
                <li><a class="dropdown-item" href="{% url 'santa:pick_rule_cdhash' configuration.id %}">cdhash rule</a></li>
                <li><a class="dropdown-item" href="{% url 'santa:pick_rule_binary' configuration.id %}">Binary rule</a></li>
                <li><a class="dropdown-item" href="{% url 'santa:pick_rule_certificate' configuration.id %}">Certificate rule</a></li>
                <li><a class="dropdown-item" href="{% url 'santa:pick_rule_team_id' configuration.id %}">Team ID rule</a></li>
                <li><a class="dropdown-item" href="{% url 'santa:pick_rule_signing_id' configuration.id %}">Signing ID rule</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="d-flex w-100 me-auto flex-shrink-0">
        <form class="d-flex w-75 me-auto flex-shrink-0" method="GET">
            
            {{ form }}

            <button type="submit" class="btn btn-link mb-2">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>


{% if page_obj %}

    {% pagination next_url previous_url %}

    {% for rule in page_obj %}
    {% with rule.target as target %}
    <div class="panel panel-default px-2 py-3" id="rule-{{ rule.pk }}">
    <table class="table table-striped align-middle table-hover">
        <tr>
            <td class="col-2">Policy</td>
            <td class="d-flex align-items-center">
                <div class="w-100">
                    <span class="badge text-bg-{% if rule.is_blocking_rule %}danger{% else %}success{% endif %}">
                    {{ rule.get_policy_display }}
                    </span>
                </div>
                <div class="flex-shrink-1">
                {% if not rule.ruleset %}
                {% if perms.santa.change_rule or perms.santa.delete_rule %}
                    <div class="btn-group" role="group">
                    {% if perms.santa.change_rule %}
                        {% url 'santa:update_configuration_rule' configuration.pk rule.pk as url %}
                        {% button 'UPDATE' url "Edit rule" %}
                    {% endif %}
                    {% if perms.santa.delete_rule %}
                        {% url 'santa:delete_configuration_rule' configuration.pk rule.pk as url %}
                        {% button 'DELETE' url "Delete rule" %}
                    {% endif %}
                    </div>
                {% endif %}
                {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>{{ target.get_type_display }}</td>
        <td>
            {% if perms.santa.view_target %}
                <a href="{{ target.get_absolute_url }}"><code>{{ target.identifier }}</code></a>
            {% else %}
                <code>{{ target.identifier }}</code>
            {% endif %}
            {% for file in target.files %}
            <dl class="row">
                <dt class="col-2 text-md-end">name</dt>
                <dd class="col-6">{{ file.name }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">path</dt>
                <dd class="col-6">{{ file.path }}</dd>
            </dl>
            {% if file.bundle %}
            <dl class="row">
                <dt class="col-2 text-md-end">bundle id</dd>
                <dd class="col-6">{{ file.bundle.bundle_id }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">bundle name</dt>
                <dd class="col-6">{{ file.bundle.bundle_name }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">bundle version</dt>
                <dd class="col-6">{{ file.bundle.bundle_version_str }}</dd>
            </dl>
            {% if file.bundle_path %}
            <dl class="row">
                <dt class="col-2 text-md-end">bundle path</dt>
                <dd class="col-6">{{ file.bundle_path }}</dd>
            </dl>
            {% endif %}
            {% endif %}
            </dl>
            {% endfor %}
            {% if target.type == "BUNDLE" %}
            {% with target.bundle as bundle %}
            <dl class="row">
                <dt class="col-2 text-md-end">id</dd>
                <dd class="col-6">{{ bundle.bundle_id }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">name</dt>
                <dd class="col-6">{{ bundle.name }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">version</dt>
                <dd class="col-6">{{ bundle.version_str }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">binaries</dt>
                <dd class="col-6">{{ bundle.binary_targets.count }}</dd>
            </dl>
            {% endwith %}
            {% endif %}
            {% if target.type == "CERTIFICATE" %}
            {% for cert in target.certificates %}
            <dl class="row">
                <dt class="col-2 text-md-end">common name</dt>
                <dd class="col-6">{{ cert.common_name|default:"-" }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">organization</dt>
                <dd class="col-6">{{ cert.organization|default:"-" }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">organizational_unit</dt>
                <dd class="col-6">{{ cert.organizational_unit|default:"-" }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-2 text-md-end">validity</dt>
                <dd class="col-6">{{ cert.valid_from }} - {{ cert.valid_until }}</dd>
            </dl>
            {% endfor %}
            {% endif %}
            {% if target.type == "TEAMID" or target.type == "SIGNINGID" %}
            {% for team_id in target.team_ids %}
            <dl class="row">
                <dt class="col-2 text-md-end">organization</dt>
                <dd class="col-6">{{ team_id.organization|default:"-" }}</dd>
            </dl>
            {% endfor %}
            {% endif %}
        </td>
        </tr>
        {% if rule.custom_msg %}
        <tr>
        <td>Custom message</td>
        <td>{{ rule.custom_msg }}</td>
        </tr>
        {% endif %}
        {% if rule.description %}
        <tr>
        <td>Description</td>
        <td>{{ rule.description|linebreaks }}</td>
        </tr>
        {% endif %}
        {% if rule.serial_numbers %}
        <tr>
        <td>Serial number{{ rule.serial_numbers|length|pluralize }}</td>
        <td>
            <ul>
            {% for serial_number in rule.serial_numbers %}
            <li>{{ serial_number|privacywrapper }}</li>
            {% endfor %}
            </ul>
        </td>
        </tr>
        {% endif %}
        {% if rule.excluded_serial_numbers %}
        <tr>
        <td>Excluded serial number{{ rule.excluded_serial_numbers|length|pluralize }}</td>
        <td>
            <ul>
            {% for serial_number in rule.excluded_serial_numbers %}
            <li>{{ serial_number|privacywrapper }}</li>
            {% endfor %}
            </ul>
        </td>
        </tr>
        {% endif %}
        {% if rule.primary_users %}
        <tr>
        <td>Primary user{{ rule.primary_users|length|pluralize }}</td>
        <td>
            <ul>
            {% for primary_user in rule.primary_users %}
            <li>{{ primary_user }}</li>
            {% endfor %}
            </ul>
        </tr>
        {% endif %}
        {% if rule.excluded_primary_users %}
        <tr>
        <td>Excluded primary user{{ rule.excluded_primary_users|length|pluralize }}</td>
        <td>
            <ul>
            {% for primary_user in rule.excluded_primary_users %}
            <li>{{ primary_user }}</li>
            {% endfor %}
            </ul>
        </tr>
        {% endif %}
        {% with rule.tags.count as tag_count %}
        {% if tag_count %}
        <tr>
        <td>Tag{{ tag_count|pluralize }}</td>
        <td>
            {% for tag in rule.tags.all %}
            {% inventory_tag tag %}
            {% endfor %}
        </td>
        </tr>
        {% endif %}
        {% endwith %}
        {% with rule.excluded_tags.count as excluded_tag_count %}
        {% if excluded_tag_count %}
        <tr>
        <td>Excluded tag{{ excluded_tag_count|pluralize }}</td>
        <td>
            {% for tag in rule.excluded_tags.all %}
            {% inventory_tag tag %}
            {% endfor %}
        </td>
        </tr>
        {% endif %}
        {% endwith %}
        {% if perms.santa.view_ruleset and rule.ruleset %}
        <tr>
        <td>Ruleset</td>
        <td>{{ rule.ruleset }}</td>
        </tr>
        {% endif %}
    </table>
    </div>
    {% endwith %}
    {% endfor %}

    {% pagination next_url previous_url %}

{% elif form.has_changed %}
    {% url 'santa:configuration_rules' configuration.id as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}
