{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'santa:index' %}">Santa</a></li>
  <li><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  <li class="active">Events</a></li>
</ol>

<div style="position:sticky;top:0;background-color:#fff;padding:10px 0">
  <h3 style="margin:0 0 20px 0">
    {{ configuration }} - events
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
