{% extends 'base.html' %}
{% load inventory_extras %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
        <div class="ms-3">
            {% if show_events_link %}
                <a type="button" class="btn btn-link text-dark text-decoration-none"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Browse the events" href="{% url 'santa:configuration_events' object.pk %}">
                    <i class="bi bi-activity"></i>
                </a>
            {% endif %}
            {% for link, anchor_text in store_links  %}
                <a type="button" class="btn btn-large btn-link text-dark text-decoration-none"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ anchor_text }}" href="{{ link }}">
                    <i class="bi bi-link-45deg" aria-hidden="true"></i>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Santa configuration</h3>
        <div class="ms-auto">
            {% if perms.santa.change_configuration %}
            <a href="{% url 'santa:update_configuration' object.pk %}" class="btn btn-link text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive mb-3">
        <table class="table table-light table-striped align-middle table-object-properties">
            <thead>
            <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Mode</td>
                <td>
                    {% if object.is_monitor_mode %}
                        <span class="badge text-bg-success">
                    {% else %}
                        <span class="badge text-bg-danger">
                    {% endif %}
                            {{ object.get_client_mode_display }}
                        </span>
                </td>
            </tr>
            <tr>
                <td>Client certificate auth</td>
                <td>{{ object.client_certificate_auth|yesno }}</td>
            </tr>
            <tr>
                <td>Batch size</td>
                <td>{{ object.batch_size }}</td>
            </tr>
            <tr>
                <td>Full synk interval</td>
                <td>{{ object.full_sync_interval }}s</td>
            </tr>
            <tr>
                <td>Enable bundles</td>
                <td>{{ object.enable_bundles|yesno }}</td>
            </tr>
            <tr>
                <td>Enable transitive rules</td>
                <td>{{ object.enable_transitive_rules|yesno }}</td>
            </tr>
            {% if object.allowed_path_regex %}
            <tr>
                <td>Allow path regex</td>
                <td>
                    <code class="badge text-bg-danger text-white fw-normal">{{ object.allowed_path_regex }}</code>
                </td>
            </tr>
            {% endif %}
            {% if object.blocked_path_regex %}
            <tr>
                <td>Blocked path regex</td>
                <td>
                    <code class="badge text-bg-danger text-white fw-normal">{{ object.blocked_path_regex }}</code>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>Block USB mass storage</td>
                <td>{{ object.block_usb_mount|yesno }}</td>
            </tr>
            <tr>
                <td>Remount USB mode</td>
                <td>
                    {% if object.remount_usb_mode %}
                        <code>{{ object.remount_usb_mode|join:" " }}</code>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Allow Unknown shard</td>
                <td>{{ object.allow_unknown_shard }}%</td>
            </tr>
            <tr>
                <td>Enable all event upload shard</td>
                <td>{{ object.enable_all_event_upload_shard }}%</td>
            </tr>
            <tr>
                <td>Sync incident severity</td>
                <td>{{ object.get_sync_incident_severity|default:"Configuration error" }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% created_updated_at object %}

</div>

{% if perms.santa.view_enrollment %}
<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Enrollment{{ enrollments_count|pluralize }} ({{ enrollments_count }})</h2>
    {% if perms.santa.add_enrollment %}
        <div class="ms-auto">
            <a type="button" href="{% url 'santa:create_enrollment' object.id %}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new Enrollment">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    {% endif %}
</div>
{% if enrollments %}
<div class="table-responsive mb-3">
    <table class="table table-light table-striped align-middle table-hover">
        <thead>
        <tr>
            <th scope="col">Business unit</th>
            <th scope="col">Tags</th>
            <th scope="col">Created at</th>
            <th scope="col">Request count</th>
            <th scope="col">Version</th>
            <th scope="col">Distributor</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for enrollment in enrollments %}
        {% with enrollment.secret as secret %}
        {% with enrollment.distributor as distributor %}
        <tr>
            <td><a href="{{ secret.meta_business_unit.get_absolute_url }}">{{ secret.meta_business_unit|default:"-" }}</a></td>
            <td>
                {% for tag in secret.tags.all %}
                    {% inventory_tag tag %}
                {% empty %}
                    -
                {% endfor %}
            </td>
            <td>
                <a name="enrollment_{{ enrollment.pk }}"></a>
                {{ secret.created_at }}
            </td>
            <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
            <td>{{ enrollment.version }}</td>
            <td>
                {% if distributor %}
                    <a href="{{ distributor.get_absolute_url }}">{{ distributor.get_description_for_enrollment }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-center">
                {% if not distributor and not secret.is_used_up %}
                    <a type="button" class="btn btn-link text-dark text-decoration-none"
                    aria-label="Download Santa configuration plist"
                    title="Download santa configuration plist"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download santa configuration plist"
                    href="{% url 'santa_api:enrollment_plist' enrollment.id %}">
                        <i class="bi bi-arrow-down-circle"> plist</i>
                    </a>
                    <a type="button" class="btn btn-link text-dark text-decoration-none"
                    aria-label="Download Santa configuration profile"
                    title="Download santa configuration profile"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download santa configuration profile"
                    href="{% url 'santa_api:enrollment_configuration_profile' enrollment.id %}">
                        <i class="bi bi-arrow-down-circle"> configuration profile</i>
                    </a>
                {% elif secret.is_used_up %}
                    <span class="text-danger">Enrollment used up.</span>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>
    <p>
        <a class="btn btn-primary" type="button" href="{% url 'santa:create_enrollment' object.id %}">Create Enrollment</a>
    </p>
</div>
{% endif %}
{% endif %}

{% if perms.santa.view_rule %}
<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Rule{{ rules_count|pluralize }} ({{ rules_count }})</h2>
</div>
<div>
    <p>
        <a class="btn btn-primary" type="button" href="{% url 'santa:configuration_rules' object.id %}">Manage rules</a>
    </p>
</div>
{% endif %}
{% endblock %}
