{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item active">Configurations</li>
</ol>


<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Configuration{{ configuration_count|pluralize }} ({{ configuration_count }})</h3>
    <div class="ms-auto">
  {% if perms.santa.add_configuration %}
        <a href="{% url 'santa:create_configuration' %}" type="button" 
            class="btn btn-link text-dark text-decoration-none"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new configuration">
            <i class="bi bi-plus-circle"></i>
        </a>
  {% endif %}
  {% if perms.santa.view_enrollment and perms.santa.view_rule %}
        <a href="{% url 'santa:terraform_export' %}" type="button" 
            class="btn btn-link text-dark text-decoration-none"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download Terraform file">
            <i class="bi bi-download"></i>
        </a>
    </div>
  {% endif %}
</div>

{% if configurations %}
    <table class="table table-striped align-middle">
    <thead>
        <tr>
        <th>Name</th>
        <th>Rules</th>
        <th>Enrollments</th>
        <th>Machines</th>
    </thead>
    <tbody>
        {% for configuration in configurations %}
        <tr>
        <td><a href="{% url 'santa:configuration' configuration.pk %}">{{ configuration.name }}</a></td>
        <td>{{ configuration.rule_count }}</td>
        <td>{{ configuration.enrollment_count }}</td>
        <td>{{ configuration.machine_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if perms.santa.add_configuration %}
        {% url 'santa:create_configuration' as link %}
        {% no_entities 'Configurations' link %}
    {% else %}
        {% no_entities 'Configurations' %}
    {% endif %}
{% endif %}

{% endblock %}
