{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_rules' configuration.pk %}">rules</a></li>
  <li class="breadcrumb-item active">Pick Santa rule binary</li>
</ol>

<h2>Pick Santa rule binary</h2>

<form method="GET" class="search-form">

    {{ form }}

    <button type="submit" name="action" value="search" class="btn btn-link mb-2">
        <i class="bi bi-search"></i>
    </button>
</form>

{% if binaries %}
<table class="table">
  <thead>
    <tr>
      <th>Binary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for binary, rule in binaries %}
    <tr>
      <td>
        <p><code>{{ binary.sha_256 }}</code></p>
        {% if binary.bundle %}
        <dl class="row">
          {% if binary.bundle.bundle_id %}
          <dt class="col-sm-3 text-md-end">bundle id</dd>
          <dd class="col-sm-9">{{ binary.bundle.bundle_id }}</dd>
          {% endif %}
          {% if binary.bundle.bundle_name %}
          <dt class="col-sm-3 text-md-end">bundle name</dt>
          <dd class="col-sm-9">{{ binary.bundle.bundle_name }}</dd>
          {% endif %}
          <dt class="col-sm-3 text-md-end">bundle version</dt>
          <dd class="col-sm-9">{% if  binary.bundle.bundle_version_str %}{{ binary.bundle.bundle_version_str }}{% else %}{% if binary.bundle.bundle_version %}{{ binary.bundle.bundle_version }}{% else %}-{% endif %}{% endif %}</dd>
          {% if binary.bundle_path %}
          <dt class="col-sm-3 text-md-end">bundle path</dt>
          <dd class="col-sm-9">{{ binary.bundle_path }}</dd>
          {% endif %}
        </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3 text-md-end">binary path</dt>
          <dd class="col-sm-9">{{ binary.path }}</dd>
          <dt class="col-sm-3 text-md-end">binary name</dt>
          <dd class="col-sm-9">{{ binary.name }}</dd>
        </dl>
      </td>
      <td>
        {% if rule %}
        {% if not rule.ruleset %}
        <a class="btn btn-outline-secondary" href="{% url 'santa:update_configuration_rule' configuration.pk rule.pk %}">
          Update rule
        </a>
        {% else %}
        Ruleset rule exists
        {% endif %}
        {% else %}
        <a class="btn btn-primary" href="{% url 'santa:create_configuration_rule' configuration.id %}?bin={{ binary.id }}">
          Create rule
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif form.has_changed %}
<div class="text-center py-5">
    <h5>We didn't find any item related to your search</h5>
</div>
{% endif %}

{% endblock %}
