{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'santa:index' %}">Santa</a></li>
  <li><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  <li><a href="{% url 'santa:configuration_rules' configuration.pk %}">rules</a></li>
  <li class="active">Pick Santa rule team ID</li>
</ol>

<h2>Pick Santa rule team ID</h2>

<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div class="form-group">
    {{ form.query|bootstrap_inline }}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

{% if team_ids %}
<table class="table">
  <thead>
    <tr>
      <th>Team ID</th>
      <th>Organization</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for team_id, rule in team_ids %}
    <tr>
      <td>{{ team_id.organizational_unit|default:"-" }}</td>
      <td>{{ team_id.organization|default:"-" }}</td>
      <td>
        {% if rule %}
        {% if not rule.ruleset %}
        <a class="btn btn-default" href="{% url 'santa:update_configuration_rule' configuration.pk rule.pk %}">
          Update rule
        </a>
        {% else %}
        Ruleset rule exists
        {% endif %}
        {% else %}
        <a class="btn btn-primary" href="{% url 'santa:create_configuration_rule' configuration.pk %}?tea={{ team_id.organizational_unit }}">
          Create rule
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
