{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_rules' configuration.pk %}">rules</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<form method="POST" class="update-form">{% csrf_token %}
  {% if target_type_display or target_identifier %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">Type</dt>
    <dd class="col-sm-9">{{ target_type_display }}</dd>
    <dt class="col-sm-3 text-md-end">Identifier</dt>
    <dd class="col-sm-9">{{ target_identifier }}</dt>
  </dl>
  {% endif %}
  </dl>
  {% for file in files %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">name</dt>
    <dd class="col-sm-9">{{ file.name }}</dd>
    <dt class="col-sm-3 text-md-end">path</dt>
    <dd class="col-sm-9">{{ file.path }}</dd>
    {% if file.bundle %}
    <dt class="col-sm-3 text-md-end">bundle id</dd>
    <dd class="col-sm-9">{{ file.bundle.bundle_id }}</dd>
    <dt class="col-sm-3 text-md-end">bundle name</dt>
    <dd class="col-sm-9">{{ file.bundle.bundle_name }}</dd>
    <dt class="col-sm-3 text-md-end">bundle version</dt>
    <dd class="col-sm-9">{{ file.bundle.bundle_version_str }}</dd>
    {% if file.bundle_path %}
    <dt class="col-sm-3 text-md-end">bundle path</dt>
    <dd class="col-sm-9">{{ file.bundle_path }}</dd>
    {% endif %}
    {% endif %}
  </dl>
  {% endfor %}
  {% if bundle %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">id</dd>
    <dd class="col-sm-9">{{ bundle.bundle_id }}</dd>
    <dt class="col-sm-3 text-md-end">name</dt>
    <dd class="col-sm-9">{{ bundle.name }}</dd>
    <dt class="col-sm-3 text-md-end">version</dt>
    <dd class="col-sm-9">{{ bundle.version_str }}</dd>
    <dt class="col-sm-3 text-md-end">binaries</dt>
    <dd class="col-sm-9">{{ bundle.binary_targets.count }}</dd>
  </dl>
  {% endif %}
  {% for cert in certificates %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">common name</dt>
    <dd class="col-sm-9">{{ cert.common_name|default:"-" }}</dd>
    <dt class="col-sm-3 text-md-end">organization</dt>
    <dd class="col-sm-9">{{ cert.organization|default:"-" }}</dd>
    <dt class="col-sm-3 text-md-end">organizational_unit</dt>
    <dd class="col-sm-9">{{ cert.organizational_unit|default:"-" }}</dd>
    <dt class="col-sm-3 text-md-end">validity</dt>
    <dd class="col-sm-9">{{ cert.valid_from }} - {{ cert.valid_until }}</dd>
  </dl>
  {% endfor %}
  {% for team_id in team_ids %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">Organization</dt>
    <dd class="col-sm-9">{{ team_id.organization|default:"-" }}</dd>
  </dl>
  {% endfor %}
  {{ form }}
  <a class="btn btn-outline-secondary" href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'santa:configuration_rules' configuration.pk %}{% endif %}">Cancel</a>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
