{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'santa:configuration_list' %}">Santa configurations</a></li>
  <li><a href="{{ configuration.get_absolute_url }}">{{ configuration }}</a></li>
  <li><a href="{% url 'santa:configuration_rules' configuration.pk %}">rules</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<form method="POST">{% csrf_token %}
  {% if target_type_display or target_sha256 %}
  <dl class="dl-horizontal">
    <dt>Type</dt>
    <dd>{{ target_type_display }}</dd>
    <dt>sha256</dt>
    <dd>{{ target_sha256 }}</dt>
  </dl>
  {% endif %}
  </dl>
  {% for file in files %}
  <dl class="dl-horizontal">
    <dt>name</dt>
    <dd>{{ file.name }}</dd>
    <dt>path</dt>
    <dd>{{ file.path }}</dd>
    {% if file.bundle %}
    <dt>bundle id</dd>
    <dd>{{ file.bundle.bundle_id }}</dd>
    <dt>bundle name</dt>
    <dd>{{ file.bundle.bundle_name }}</dd>
    <dt>bundle version</dt>
    <dd>{{ file.bundle.bundle_version_str }}</dd>
    {% if file.bundle_path %}
    <dt>bundle path</dt>
    <dd>{{ file.bundle_path }}</dd>
    {% endif %}
    {% endif %}
  </dl>
  {% endfor %}
  {% if bundle %}
  <dl class="dl-horizontal">
    <dt>id</dd>
    <dd>{{ bundle.bundle_id }}</dd>
    <dt>name</dt>
    <dd>{{ bundle.name }}</dd>
    <dt>version</dt>
    <dd>{{ bundle.version_str }}</dd>
    <dt>binaries</dt>
    <dd>{{ bundle.binary_targets.count }}</dd>
  </dl>
  {% endif %}
  {% for cert in certificates %}
  <dl class="dl-horizontal">
    <dt>common name</dt>
    <dd>{{ cert.common_name|default:"-" }}</dd>
    <dt>organization</dt>
    <dd>{{ cert.organization|default:"-" }}</dd>
    <dt>organizational_unit</dt>
    <dd>{{ cert.organizational_unit|default:"-" }}</dd>
    <dt>validity</dt>
    <dd>{{ cert.valid_from }} - {{ cert.valid_until }}</dd>
  </dl>
  {% endfor %}
  {{ form|bootstrap }}
  <a class="btn btn-default" href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'santa:configuration_rules' configuration.pk %}{% endif %}">Cancel</a>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
