{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  {% if form.has_changed %}
  <li class="breadcrumb-item"><a href="{% url 'santa:targets' %}">Targets</a></li>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">Search</a></li>
  {% else %}
  <li class="breadcrumb-item active">Search</li>
  {% endif %}
  {% else %}
  <li  class="breadcrumb-item active">Targets</li>
  {% endif %}
  <li class="breadcrumb-item active">page {{ page_num }} of {{ num_pages }}</li>
</ol>

<h2 class="mb-3">Target{{ target_count|pluralize }} ({{ target_count }})</h2>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form">
        {{ form }}
        <button type="submit" class="btn btn-link mb-2">
            <i class="bi bi-search"></i>
        </button>
        <div class="dropdown mb-2">
            <button type="button" class="btn btn-link h-100 dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                <i class="bi bi-download"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="downloadTargets">
                {% for format, link in export_links %}
                    <li><a class="dropdown-item task" href="{{ link }}">{{ format|upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </form>
</div>

{% pagination next_url previous_url %}

{% if targets %}

    <table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Object</th>
            <th>Counters</th>
            <th>State</th>
            <th>Score</th>
            <th>Rules</th>
        <tr>
    </thead>
    <tbody>
      {% for target in targets %}
      {% with target.object as obj %}
      <tr>
        <td>
          {% if target.url %}
          <a href="{{ target.url }}">{{ target.target_type_for_display }}<br><code>{{ target.identifier }}</code></a>
          {% else %}
          {{ target.identifier|default:"-" }}
          {% endif %}
          {% if target.target_type == "BINARY" %}
          <br>{{ obj.name }}
          {% if obj.cert_sha256 %}
          <br><strong>signed by:</strong> {{ obj.cert_cn }} / {{ obj.cert_ou }}
          {% endif %}
          {% endif %}
          {% if target.target_type == "BUNDLE" %}
          <br>{{ obj.name }}
          <br>{{ obj.version|default:"-" }} / {{ obj.version_str|default:"-" }}
          {% endif %}
          {% if target.target_type == "METABUNDLE" %}
          <br>{{ obj.names|join:", " }}
          {% endif %}
          {% if target.target_type == "CERTIFICATE" %}
          <br>{{ obj.cn }}
          <br>{{ obj.ou }}
          <br>{{ obj.valid_from|date:"Y-m-d" }} → {{ obj.valid_until|date:"Y-m-d" }}
          {% endif %}
          {% if target.target_type == "TEAMID" %}
          <br>{{ obj.organization }}
          {% endif %}
          {% if target.target_type == "CDHASH" or target.target_type == "SIGNINGID" %}
          <br>Filename{{ obj.file_names|length|pluralize }}: {{ obj.file_names|join:", " }}
          {% if obj.cert_cns %}
          <br>Cert CN{{ obj.cert_cns|length|pluralize }}: {{ obj.cert_cns|join:", " }}
          {% endif %}
          {% endif %}
        </td>
        <td>
          Executed: {{ target.executed_count }}
          <br>Blocked: {{ target.blocked_count }}
          <br>Last seen: {{ target.last_seen }}
        </td>
        <td>
          {% if target.min_state != target.max_state %}
          {{ target.min_state.label }} → {{ target.max_state.label }}
          {% else %}
          {{ target.min_state.label }}
          {% endif %}
        </td>
        <td>
          {% if target.min_score != target.max_score %}
          {{ target.min_score }} → {{ target.max_score }}
          {% else %}
          {{ target.min_score }}
          {% endif %}
        </td>
        <td>{{ target.rule_count }}</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}
{% elif form.has_changed %}
    {% url 'santa:targets' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
var WAIT_FOR_TASK_TIMEOUT_ID;

function waitForTask(url) {
    $.ajax({
    dataType: "json",
    url: url,
    success: function (data) {
        console.log(data);
        if (data.unready) {
        WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 1000, url);
        } else if (data.status === "SUCCESS") {
        window.location = data.download_url;
        }
    }
    });
}

function launchTask($link) {
    var url = $link.attr("href");
    $.ajax({
        dataType: "json",
        url: url,
        method: "post",
        success: function (data) {
        WAIT_FOR_TASK_TIMEOUT_ID = window.setTimeout(waitForTask, 300, data.task_result_url);
        }
    });
}

$(document).ready(function () {
    $(".task").click(function (event) {
    event.preventDefault();
    launchTask($(this));
    });
});
</script>

{% endblock %}
