{% extends 'base.html' %}
{% load base_extras %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:targets' %}">Targets</a></li>
  <li class="breadcrumb-item active">{{ target_type_display }}</li>
</ol>


<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ title }}</h2>
        <div class="ms-3">
            {% if events_url %}
                {% button 'EVENTS' events_url %}
            {% endif %}
            {% for link, anchor_text in store_links  %}
                {% button 'LINK' link anchor_text %}
            {% endfor %}
        </div>
    </div>
  <table class="table-object-properties">
    <tbody>
      <tr>
        <td style="width:20vw">identifier</td>
        <td><code>{{ identifier }}</code></td>
      </tr>
      <tr>
        <td>Info</td>
        <td>
          {% if prepared_objects %}
          <table class="table table-sm">
            <thead>
              <tr>
                {% for col in prepared_objects.cols %}
                <th width="{{ prepared_objects.width }}%">{{ col }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in prepared_objects.rows %}
              <tr>
                {% for val in row %}
                <td>{{ val|default:"-" }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>State{{ target_states|length|pluralize }}</td>
        <td>
          {% if target_states %}
          <table class="table">
            <thead>
              <tr>
                <th>Configuration</th>
                <th>State</th>
                <th>Score</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for target_state, reset_link in target_states %}
              <tr>
                <td>
                  {% if perms.santa.view_configuration %}
                  <a href="{{ target_state.configuration.get_absolute_url }}">{{ target_state.configuration }}</a>
                  {% else %}
                  {{ target_state.configuration }}
                  {% endif %}
                </td>
                <td>
                  {{ target_state.get_state_display }}
                </td>
                <td>
                  {{ target_state.score }}
                </td>
                <td>
                  {% if reset_link %}
                  <a href="{{ reset_link }}" class="btn btn-danger btn-sm">Reset</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          -
          {% endif %}
        </td>
      <tr>
    <tbody>
  </table>
</div>

<ul class="nav nav-tabs" id="target-tabs" role="tablist">
  {% if show_ballots %}
  <li class="nav-item" role="presentation">
    <button class="nav-link{% if show_ballots %} active{% endif %}"
            id="ballots-tab"
            data-bs-toggle="tab" data-bs-target="#ballots-tab-pane"
            type="button" role="tab"
            aria-controls="ballots-tab-pane"
            aria-selected="true">
      Ballot{{ ballot_count|pluralize }} ({{ ballot_count }})
    </button>
  </li>
  {% endif %}
  <li class="nav-item" role="presentation">
    <button class="nav-link{% if not show_ballots %} active{% endif %}"
            id="related-targets-tab"
            data-bs-toggle="tab" data-bs-target="#related-targets-tab-pane"
            type="button" role="tab"
            aria-controls="related-targets-tab-pane"
            aria-selected="{% if not show_ballots %}true{% else %}false{% endif %}">
      Related target{{ total_related_targets|pluralize }} ({{ total_related_targets }})
    </button>
  </li>
  {% if show_rules %}
  <li class="nav-item" role="presentation">
    <button class="nav-link"
            id="rules-tab"
            data-bs-toggle="tab" data-bs-target="#rules-tab-pane"
            type="button" role="tab"
            aria-controls="rules-tab-pane"
            aria-selected="false">
      Rule{{ rule_count|pluralize }} ({{ rule_count }})
    </button>
  </li>
  {% endif %}
</ul>

<div class="tab-content">

  {% if show_ballots %}
  <div class="tab-pane fade show active"
       id="ballots-tab-pane" role="tabpanel"
       aria-labelledby="ballots-tab" tabindex="0">

    <p class="mt-2 mb-2">
      {% if cast_ballot_url %}
      <a class="btn btn-outline-secondary" href="{{ cast_ballot_url }}">
        Cast a ballot
      </a>
      {% else %}
      You cannot vote on this target
      {% endif %}
    </p>

    {% include "santa/_ballot_list.html" %}
  </div>
  {% endif %}

  <div class="tab-pane fade{% if not show_ballots %} show active{% endif %}"
       id="related-targets-tab-pane" role="tabpanel"
       aria-labelledby="related-targets-tab" tabindex="1">

    <table class="table table-striped align-top">
      <thead>
        <tr>
          <th>Type</th>
          <th>Identifier</th>
          <th style="width:60%">Info</th>
        </tr>
      </thead>
      <tbody>
        {% for target_type, target_type_display, target_infos in related_targets %}
        {% for target_info in target_infos %}
        <tr>
          <td>{{ target_type_display }}</td>
          <td>
            <a href="{{ target_info.url }}"><code>{{ target_info.identifier }}</code></a>
          </td>
          <td>
            {% if target_info.prepared_objects %}
            <table class="table table-sm">
              <thead>
                <tr>
                  {% for col in target_info.prepared_objects.cols %}
                  <th width="{{ target_info.prepared_objects.width }}%">{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in target_info.prepared_objects.rows %}
                <tr>
                  {% for val in row %}
                  <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:0">{{ val|default:"-" }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            -
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if show_rules %}
  <div class="tab-pane fade"
       id="rules-tab-pane" role="tabpanel"
       aria-labelledby="rules-tab" tabindex="2">

    {% if perms.santa.add_rule and add_rule_links %}
    <p class="mt-2">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                id="createRule">
            Create a rule
        </button>
        <ul class="dropdown-menu" aria-labelledby="createRule">
          {% for text, url in add_rule_links %}
          <li><a class="dropdown-item" href="{{ url }}">{{ text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </p>
    {% endif %}

    {% if rule_count %}
    <table class="table table-striped align-middle">
      <thead>
        <th>Configuration</th>
        <th>Ruleset</th>
        <th>Policy</th>
      </thead>
      <tbody>
        {% for rule in rules %}
        <tr>
          <td>
            {% if perms.santa.view_rule %}
            <a href="{{ rule.get_absolute_url }}">{{ rule.configuration }}</a>
            {% else %}
            {{ rule.configuration }}
            {% endif %}
          </td>
          <td>{{ rule.ruleset|default:"-" }}</td>
          <td>
            <span class="label label-{% if rule.is_blocking_rule %}danger{% else %}success{% endif %}">
              {{ rule.get_policy_display }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endif %}

</div>

{% endblock %}
