{% extends 'base.html' %}
{% load base_extras bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'santa:index' %}">Santa</a></li>
  <li><a href="{% url 'santa:targets' %}">Targets</a></li>
  <li class="active">{{ target_type|title }}</li>
</ol>

<h3>{{ title }}</h3>

<table class="table table-condensed">
  <tbody>
    <tr>
      <td style="width:20vw">identifier</td>
      <td><code>{{ identifier }}</code></td>
    </tr>
    {% for obj in objects %}
    {% if target_type == "BINARY" %}
    <tr>
      <td>name</td>
      <td>{{ obj.name }}</td>
    </tr>
    <tr>
      <td>path</td>
      <td>{{ obj.path|truncatechars_middle:80 }}</td>
    </tr>
    {% if obj.bundle %}
    {% with obj.bundle as bundle %}
    <tr>
      <td>bundle id</td>
      <td>
        {{ bundle.bundle_id }}
      </td>
    </tr>
    <tr>
      <td>bundle name</td>
      <td>{{ bundle.bundle_name }}</td>
    </tr>
    <tr>
      <td>bundle path</td>
      <td>
        {{ bundle.bundle_path|default:"-"|truncatechars_middle:80 }}
      </td>
    </tr>
    <tr>
      <td>bundle version</td>
      <td>
        {{ bundle.bundle_version_str|default:"-" }}
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    <tr>
      <td>signed by</td>
      <td>
        {% if obj.signed_by %}
        <a href="{% url 'santa:certificate' obj.signed_by.sha_256 %}">
          <code>{{ obj.signed_by.sha_256 }}</code>
        </a>
        <br>{{ obj.signed_by.common_name }} / {{ obj.signed_by.organizational_unit }}
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if target_type == "BUNDLE" %}
    <tr>
      <td>id</td>
      <td>{{ obj.bundle_id|default:"-" }}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{ obj.name|default:"-" }}</td>
    </tr>
    <tr>
      <td>version</td>
      <td>{{ obj.version|default:"-" }} / {{ obj.version_str|default:"-" }}</td>
    </tr>
    <tr>
      <td>binary count</td>
      <td>{{ obj.binary_count }}</td>
    </tr>
    {% endif %}
    {% if target_type == "CERTIFICATE" %}
    <tr>
      <td>cn</td>
      <td>{{ obj.common_name }}</td>
    </tr>
    {% if obj.organization %}
    <tr>
      <td>org</td>
      <td>{{ obj.organization }}</td>
    </tr>
    {% endif %}
    {% if obj.ou %}
    <tr>
      <td>ou</td>
      <td>{{ obj.organizational_unit }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>validity</td>
      <td>{{ obj.valid_from|date:"Y-m-d" }} → {{ obj.valid_until|date:"Y-m-d" }}</td>
    </tr>
    {% endif %}
    {% if not forloop.last %}
    <tr>
      <td colspan="2"></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if target_type == "TEAMID" %}
    <tr>
      <td>Organization{{ objects|length|pluralize }}</td>
      <td>
        <ul class="list-unstyled">
          {% for obj in objects %}
          <li>{{ obj.organization|default:"-" }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% if events_url or store_links %}
<div class="btn-group" role="group" style="margin:0 0 10px 0">
  {% if events_url %}
  <a class="btn btn-default" href="{{ events_url }}">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Events
  </a>
  {% endif %}
  {% for link, anchor_text in store_links  %}
  <a class="btn btn-default" href="{{ link }}">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ anchor_text }}
  </a>
  {% endfor %}
</div>
{% endif %}

<h3>{{ rule_count }} Rule{{ rule_count|pluralize }}</h3>

{% if perms.santa.add_rule and add_rule_links %}
<div class="dropdown" style="margin: 0 0 10px 0">
  <button class="btn btn-default dropdown-toggle" type="button" id="createRule"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add rule to configuration
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="createRule">
    {% for text, url in add_rule_links %}
    <li><a href="{{ url }}">{{ text }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if rule_count %}
<table class="table">
  <thead>
    <th>Configuration</th>
    <th>Ruleset</th>
    <th>Policy</th>
  </thead>
  <tbody>
    {% for rule in rules %}
    <tr>
      <td>
        {% if perms.santa.view_rule %}
        <a href="{{ rule.get_absolute_url }}">{{ rule.configuration }}</a>
        {% else %}
        {{ rule.configuration }}
        {% endif %}
      </td>
      <td>{{ rule.ruleset|default:"-" }}</td>
      <td>
        <span class="label label-{% if rule.is_blocking_rule %}danger{% else %}success{% endif %}">
          {{ rule.get_policy_display }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
