{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:index' %}">Santa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'santa:configuration_list' %}">Configurations</a></li>
  <li class="breadcrumb-item"><a href="{{ form.configuration.get_absolute_url }}">{{ form.configuration }}</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<form method="POST" class="update-form">{% csrf_token %}
  {{ form }}
  <p>
    <a class="btn btn-outline-secondary" href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'santa:configuration' form.configuration.pk %}{% endif %}">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
