{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Microsoft Intune Inventory</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h2>Microsoft Intune Inventory</h2>
  </div>
  <div class="col-md-12">
    {% if perms.intune.view_tenant %}
    <h3>Tenant{{ tenant_count|pluralize }} ({{ tenant_count }})</h3>
    
    {%if tenants %}
    <table class="table table-light table-striped align-middle">
      <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Business Unit</th>
        </tr>
      </thead>
      <tbody>
        {% for tenant in tenants %}
        <tr>
          <td><a href="{{ tenant.get_absolute_url }}">{{ tenant.name }}</a></td>
          <td>{{ tenant.description }}</td>
          <td>{{ tenant.business_unit }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
