{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'intune:index' %}">Microsoft Intune Inventory</a></li>
  <li class="breadcrumb-item active">Tenant{{ tenant_count|pluralize }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Microsoft Intune Inventory Tenant{{ tenant_count|pluralize }} ({{ tenant_count }})</h3>
    <div class="ms-auto">
        {% if perms.intune.add_tenant %}
        <a href="{% url 'intune:create_tenant' %}" type="button" class="btn btn-link text-decoration-none text-dark"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add new tenant">
            <i class="bi bi-plus-circle"></i>
        </a>
        {% endif %}
    </div>
</div>

{% if object_list %}
<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Business unit</th>
      {% if perms.intune.change_tenant %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for tenant in object_list %}
    <tr class="data-row">
      <td><a href="{{ tenant.get_absolute_url }}">{{ tenant.name }}</a></td>
      <td>{{ tenant.description }}</td>
      <td>{{ tenant.business_unit }}</td>
      {% if perms.intune.change_tenant %}
      <td class="text-end py-0">
        <a href="{% url 'intune:update_tenant' tenant.pk %}" class="btn btn-link text-decoration-none text-dark"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
            <i class="bi bi-pencil-square" aria-hidden="true"></i>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    {% if perms.wsone.add_instance %}
        {% url 'intune:create_tenant' as link %}
        {% no_entities 'Tenants' link %}
    {% else %}
        {% no_entities 'Tenants' %}
    {% endif %}
{% endif %}
{% endblock %}

