{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'intune:index' %}">Microsoft Intune Inventory</a></li>
  <li class="breadcrumb-item"><a href="{% url 'intune:tenants' %}">Tenants</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update Microsoft Intune Inventory Tenant {{ object }}{% else %}Create Microsoft Intune Inventory Tenant{% endif %}</h2>

<form method="POST" class="update-form">{% csrf_token %}
  {{ form }}
  <p>
    {% if object %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'intune:tenants' %}" class="btn btn-outline-secondary">Cancel</a>
    {% endif %}
    <button class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}
