{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Santa enrollment</li>
</ol>

<h2>Santa enrollment</h2>

<form action="{% url 'santa:installer_package' %}" method="POST" class="form">{% csrf_token %}
  <div class="form-group">
    <label for="id_meta_business_unit">Business unit</label>
    {{ form.meta_business_unit }}
  </div>
  <button class="btn btn-default" type="submit">Download enrollment pkg</button>
</form>
{% endblock %}
