{% extends 'base.html' %}
{% load probe_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Santa probes</li>
</ol>

<h2>{{ probes|length }} Santa probe{{ probes|length|pluralize }}</h2>
<p class="small text-muted">Probes with santa policies</p>
{% probe_list probes %}

<h2>{{ event_type_probes|length }} Santa event probe{{ event_type_probes|length|pluralize }}</h2>
<p class="small text-muted">Probes matching the santa events, without santa policies</p>
{% probe_list event_type_probes %}
{% endblock %}
