{% extends 'core/probes/probe.html' %}

{% block probe_extra %}
<a name="santa"></a>
<h3>Rule{{ probe.rules|length|pluralize }}  </h3>

<div class="dropdown" style="margin: 0 0 10px 0">
  <button class="btn btn-default dropdown-toggle" type="button" id="addRule"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addRule">
    <li><a href="{% url 'santa:add_probe_rule' object.id %}">Simple rule</a></li>
    <li><a href="{% url 'santa:pick_rule_app' object.id %}">Collected application rule</a></li>
    <li><a href="{% url 'santa:pick_rule_cert' object.id %}">Collected certificate rule</a></li>
  </ul>
</div>

{% for rule in probe.rules %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>Policy</td>
      <td>
        <span class="label label-{% if "BLACKLIST" in rule.policy %}danger{% else %}success{% endif %}">
          {{ rule.get_policy_display }}
        </span>
      </td>
    </tr>
    <tr>
      <td>{{ rule.get_rule_type_display }}</td>
      <td>
        {{ rule.sha256 }}
        {% with rule.collected_applications as apps %}
        {% with rule.collected_certificates as certs %}
        {% if apps %}
        {% for app in apps %}
        <dl class="dl-horizontal">
          <dt>name</dt>
          <dd>{{ app.name }}</dd>
          <dt>path</dt>
          <dd>{{ app.path }}</dd>
          {% if app.bundle %}
          <dt>bundle id</dd>
          <dd>{{ app.bundle.bundle_id }}</dd>
          <dt>bundle name</dt>
          <dd>{{ app.bundle.bundle_name }}</dd>
          <dt>bundle version</dt>
          <dd>{{ app.bundle.bundle_version_str }}</dd>
          {% if app.bundle_path %}
          <dt>bundle path</dt>
          <dd>{{ app.bundle_path }}</dd>
          {% endif %}
          {% endif %}
        </dl>
        {% endfor %}
        {% endif %}
        {% if certs %}
        {% for cert in certs %}
        <dl class="dl-horizontal">
          <dt>common name</dt>
          <dd>{{ cert.common_name|default:"-" }}</dd>
          <dt>organization</dt>
          <dd>{{ cert.organization|default:"-" }}</dd>
          <dt>organizational_unit</dt>
          <dd>{{ cert.organizational_unit|default:"-" }}</dd>
          <dt>validity</dt>
          <dd>{{ cert.valid_from }} - {{ cert.valid_until }}</dd>
        </dl>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endwith %}
      </td>
    </tr>
    {% if rule.custom_msg %}
    <tr>
      <td>Custom message</td>
      <td>{{ rule.custom_msg }}</td>
    </tr>
    {% endif %}
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'santa:update_probe_rule' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% if probe.can_delete_rules %}
      <a class="btn btn-danger" href="{% url 'santa:delete_probe_rule' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
      {% for store_name, store_url in rule.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
