{% extends 'base.html' %}
{% load base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'incidents:index' %}">Incidents</a></li>
  <li class="breadcrumb-item"><a href="{% url 'incidents:incident' incident.pk %}">{{ incident.name }}</a></li>
  <li class="breadcrumb-item active">Events</li>
</ol>

<div style="position:sticky;top:0;background-color:#fff;padding:10px 0">
  <h3 style="margin:0 0 20px 0">
    {{ incident.name }} - events
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
