{% extends 'base.html' %}
{% load incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'incidents:index' %}">Incidents</a>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">update</li>
</ol>

<h2>{{ incident.name }}</h2>
<h3>Update machine incident status</h3>
<p>{% incident_severity incident.severity %}</p>
<dl>
  <dt>Current status</dt>
  <dd>{{ object.get_status_display }}</dd>
  <dt>Created at</dt>
  <dd>{{ object.created_at }}</dd>
  <dt>Updated at</dt>
  <dd>{{ object.updated_at }}</dd>
</dl>

<form method="post" class="update-form">{% csrf_token %}

    {{ form }}

    <p>
        <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">
            Cancel
        </a>
        <button class="btn btn-primary" type="submit">
            Update
        </button>
    </p>
</form>
{% endblock %}
