{% extends 'base.html' %}
{% load bootstrap incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'incidents:index' %}">Incidents</a>
  <li class="active">{{ object.name }}</li>
</ol>

<h2>Incident <em>{{ incident.name }}</em></h2>
<p>{% incident_severity incident.severity %}</p>
<dl>
  <dt>Status</dt>
  <dd>{{ incident.get_status_display }}</dd>
  <dt>Created at</dt>
  <dd>{{ incident.created_at }}</dd>
  <dt>Updated at</dz>
  <dd>{{ incident.updated_at }}</dt>
</dl>
<div class="btn-group" role="group" style="margin:0 0 10px 0">
  <a class="btn btn-default" {% if object.probe_source %}href="{{ object.probe_source.get_absolute_url }}"{% else %}href="#" disabled{% endif %}>
    Probe
  </a>
  <a class="btn btn-default" href="{% url 'incidents:incident_events' object.pk %}">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Events
  </a>
  {% for store_name, store_url in store_links %}
  <a class="btn btn-default" href="{{ store_url }}" target="_blank">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}
  </a>
  {% endfor %}
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% if object.get_next_statuses %}
      <li>
        <a href="{% url 'incidents:update_incident' object.pk %}">Update</a>
      </li>
      {% else %}
      <li class="disabled"><a href="#">Update</a></li>
      {% endif %}
    </ul>
  </div>
</div>

{% if machine_incidents_count %}
<h3>{{ machine_incidents_count }} machine incident{{ machine_incidents_count|pluralize }}</h3>
<table class="table table-condensed">
  <thead>
    <th>Serial number</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </thead>
  <tbody>
    {% for machine_incident in machine_incidents %}
    <tr>
      <td>
        <a name="{{ machine_incident.pk }}"></a>
        <a href="{% machine_url machine_incident.serial_number %}">{{ machine_incident.serial_number }}</a>
      </td>
      <td>{{ machine_incident.get_status_display }}</td>
      <td>{{ machine_incident.created_at }}</td>
      <td>{{ machine_incident.updated_at }}</td>
      <td>
        <a href="{% url 'incidents:update_machine_incident' object.pk machine_incident.pk %}" class="btn btn-default">
          Update
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
