{% extends 'base.html' %}
{% load bootstrap incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'incidents:index' %}">Incidents</a>
  <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
  <li class="active">update</li>
</ol>

<h2>Incident <em>{{ incident.name }}</em></h2>
<p>{% incident_severity incident.severity %}</p>
<dl>
  <dt>Current status</dt>
  <dd>{{ object.get_status_display }}</dd>
  <dt>Created at</dt>
  <dd>{{ object.created_at }}</dd>
  <dt>Updated at</dt>
  <dd>{{ object.updated_at }}</dd>
</dl>

<form method="post">{% csrf_token %}
  {{ form|bootstrap }}
  <p>
    <a href="{{ object.get_absolute_url }}" class="btn btn-default">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">
      Update
    </button>
  </p>
</form>
{% endblock %}
