{% extends 'base.html' %}
{% load inclusion_tags incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'incidents:index' %}">Incidents</a>
  {% if reset_link %}
  <li class="breadcrumb-item"><a href="{{ reset_link }}">{{ object.name }}</a></li>
  {% else %}
  <li class="breadcrumb-item active">{{ object.name }}</li>
  {% endif %}
  {% if perms.incidents.view_machineincident and paginator.count and paginator.num_pages > 1 %}
  <li class="breadcrumb-item active">page {{ page.number }} of {{ paginator.num_pages }}</li>
  {% endif %}
</ol>


<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ incident.name }}</h2>
        <div class="ms-3">
            {% if show_events_link %}
                {% url 'incidents:incident_events' object.pk as url %}
                {% button 'EVENTS' url %}
            {% endif %}
            {% for link, anchor_text in store_links %}
                {% button 'LINK' link anchor_text %}
            {% endfor %}
        </div>
    </div>

    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Incident</h3>
        <div class="ms-auto">
            {% if perms.incidents.change_incident and object.get_next_statuses %}
                {% url 'incidents:update_incident' object.pk as url %}
                {% button 'UPDATE' url "Edit Status" %}
            {% endif %}
        </div>
    </div>

    <table class="table table-striped align-middle table-object-properties">
    <tbody>
        <tr>
        <td style="width:20vw">Severity</td>
        <td>{% incident_severity incident.severity %}</td>
        </tr>
        <tr>
        <td>Status</td>
        <td>{{ incident.get_status_display }}</td>
        </tr>
        {% for section, objects in objects %}
        <tr>
        <td>{{ section }}</td>
        <td>
            <ul class="list-unstyled">
            {% for link, obj in objects %}
            <li>
                {% if link %}
                <a href="{{ link }}">{{ obj }}</a>
                {% else %}
                {{ obj }}
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% created_updated_at object %}

</div>


{% if perms.incidents.view_machineincident and paginator.count %}
<h3>Machine incident{{ paginator.count|pluralize }} ({{ paginator.count }})</h3>

{% pagination next_url previous_url %}

<table class="table table-light table-striped align-middle table-hover">
  <thead>
    <th>Serial number</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th>
    {% if perms.incidents.change_machineincident %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>
    {% for machine_incident in machine_incidents %}
    <tr>
      <td id="{{ machine_incident.pk }}">
        {% if perms.inventory.view_machinesnapshot %}
        <a href="{% machine_url machine_incident.serial_number %}">{{ machine_incident.serial_number }}</a>
        {% else %}
        {{ machine_incident.serial_number }}
        {% endif %}
      </td>
      <td>{{ machine_incident.get_status_display }}</td>
      <td>{{ machine_incident.created_at }}</td>
      <td>{{ machine_incident.updated_at }}</td>
      {% if perms.incidents.change_machineincident %}
      <td>
        {% url 'incidents:update_machine_incident' object.pk machine_incident.pk as url %}
        {% button 'UPDATE' url "Edit Status" %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% pagination next_url previous_url %}

{% endif %}

{% endblock %}
