{% extends 'base.html' %}
{% load incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'incidents:index' %}">Incidents</a>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ incident.name }}</a></li>
  <li class="breadcrumb-item active">{{ object.serial_number }}</li>
  <li class="breadcrumb-item active">update</li>
</ol>

<h2>Incident <em>{{ incident.name }}</em></h2>
<h3>Update machine incident status</h3>
<p>{% incident_severity incident.severity %}</p>
<dl class="row">
  <dt class="col-sm-3 text-md-end">Machine</dt>
  <dd class="col-sm-9"><a href="{% machine_url object.serial_number %}">{{ object.serial_number }}</a></dd>
  <dt class="col-sm-3 text-md-end">Current status</dt>
  <dd class="col-sm-9">{{ object.get_status_display }}</dd>
  <dt class="col-sm-3 text-md-end">Created at</dt>
  <dd class="col-sm-9">{{ object.created_at }}</dd>
  <dt class="col-sm-3 text-md-end">Updated at</dt>
  <dd class="col-sm-9">{{ object.updated_at }}</dd>
</dl>

<form method="post" class="update-form">{% csrf_token %}
  
    {{ form }}
  
    <p>
        <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">
        Cancel
        </a>
        <button class="btn btn-primary" type="submit">
        Update
        </button>
    </p>
</form>
{% endblock %}
