{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'probes:index' %}">Probes</a>
  <li><a href="{% url 'probes:feeds' %}">Feeds</a>
  <li><a href="{% url 'probes:feed' object.feed_id %}">{{ object.feed }}</a>
  <li class="active">{{ object }}</li>
</ol>

<h2>
  Feed probe <i>{{ object }}</i>
</h2>

<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>feed</td>
      <td><a href="{% url 'probes:feed' object.feed.id %}">{{ object.feed }}</a></td>
    </tr>
    <tr><td>model</td><td>{{ object.get_model_display }}</td></tr>
    {% if object.description %}
    <tr><td>description</td><td>{{ object.description|prettydescription }}</td></tr>
    {% endif %}
    <tr><td>body</td><td>{{ object.body|pythonprettyprint }}</td></tr>
  </table>
</div>

<h3>{{ probe_sources|length }} Probe{{ probe_sources|length|pluralize }}</h3>

<a href="{% url 'probes:import_feed_probe' object.feed_id object.id %}" class="btn btn-default">Import probe</a>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Up to date</th>
  </thead>
  <tbody>
    {% for probe_source in probe_sources %}
    <tr>
      <td><a href="{% url 'probes:probe' probe_source.pk %}">{{ probe_source.name }}</a></td>
      <td>
        {% if probe_source.status == 'ACTIVE' %}
        <span class="label label-info">Active</span>
        {% else %}
        <span class="label label-danger">Inactive</span>
        {% endif %}
      </td>
      <td>
        {% if probe_source.feed_probe_update_available %}
        <span class="label label-default">UPDATE AVAILABLE</span>
        {% else %}
        <span class="label label-success">OK</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
