{% extends 'base.html' %}
{% load base_extras incidents_extras inventory_extras probe_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'probes:index' %}">Probes</a>
  <li class="active">{{ probe.name }}</li>
</ol>

<h2>
  Probe <em>{{ probe.name }}</em>
</h2>

<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>status</td>
      <td>
        {% if probe.status == 'ACTIVE' %}
        <span class="label label-info">Active</span>
        {% else %}
        <span class="label label-danger">Inactive</span>
        {% endif %}
      </td>
    </tr>
    {% if probe.description %}
    <tr>
      <td>description</td>
      <td>
        {{ probe.description|prettydescription }}
      </td>
    </tr>
    {% endif %}
    {% if object.feed_probe %}
    <tr>
      <td>feed</td>
      <td><a href="{% url 'probes:feed' object.feed_probe.feed.id %}">{{ object.feed_probe.feed }}</a></td>
    </tr>
    <tr>
      <td>feed probe</td>
      <td>
        <a href="{% url 'probes:feed_probe' object.feed_probe.feed.id object.feed_probe.id %}">
          {{ object.feed_probe }}
        </a>
        {% if object.feed_probe_update_available %}
        <a href="{% url 'probes:review_update' object.id %}" class="btn btn-warning">Update available</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Incident severity</td>
      <td>{% incident_severity probe.incident_severity '-' %}</td>
    </tr>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'probes:update' probe.pk %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      <a class="btn btn-default" href="{% url 'probes:clone' probe.pk %}">
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
      </a>
      <a class="btn btn-danger" href="{% url 'probes:delete' probe.pk %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% for anchor_text, glyphicon, url in probe.get_extra_links %}
      <a class="btn btn-default" href="{{ url }}">
        {% if glyphicon %}
        <span class="glyphicon glyphicon-{{ glyphicon }}" aria-hidden="true"></span>
        {% endif %}
        {{ anchor_text }}
      </a>
      {% endfor %}
      <a class="btn btn-default" href="{% url 'probes:probe_events' probe.pk %}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Events
      </a>
      <a class="btn btn-default" href="{% url 'probes:probe_dashboard' probe.pk %}">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Dashboard
      </a>
      {% for store_name, store_url in probe.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}" target="_blank">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<a name="filters"></a>
<h3>Filters</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addFilter"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add filter
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addFilter">
    <li>
      <a href="{% url 'probes:add_filter' object.id "inventory" %}">
        Inventory filter
      </a>
    </li>
    {% if probe.can_edit_metadata_filters %}
    <li>
      <a href="{% url 'probes:add_filter' object.id "metadata" %}">
        Metadata filter
      </a>
    </li>
    {% endif %}
    {% if probe.can_edit_payload_filters %}
    <li>
      <a href="{% url 'probes:add_filter' object.id "payload" %}">
        Payload filter
      </a>
    </li>
    {% endif %}
  </ul>
</div>

<div class="row">
{% if probe.inventory_filters %}
<div class="col-md-4">
<h4>Inventory</h4>

{% for inventory_filter in probe.inventory_filters %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    {% if inventory_filter.meta_business_units %}
    <tr>
      <td>
        Business unit{{ inventory_filter.meta_business_units|length|pluralize }}
      </td>
      <td>
        {% for mbu in inventory_filter.meta_business_units %}
        <a href="{% url 'inventory:mbu_machines' mbu.id %}">{{ mbu }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% if inventory_filter.tags %}
    <tr>
      <td>
        Tag{{ inventory_filter.tags|length|pluralize }}
      </td>
      <td>
        {% for tag in inventory_filter.tags %}
        {% inventory_tag tag %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% if inventory_filter.platforms %}
    <tr>
      <td>
        Platform{{ inventory_filter.platforms|length|pluralize }}
      </td>
      <td>{{ inventory_filter.get_platforms_display }}</td>
    </tr>
    {% endif %}
    {% if inventory_filter.types %}
    <tr>
      <td>
        Type{{ inventory_filter.types|length|pluralize }}
      </td>
      <td>{{ inventory_filter.get_types_display }}</td>
    </tr>
    {% endif %}
   </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a href="{% url 'probes:update_filter' object.id "inventory" forloop.counter0 %}" class="btn btn-default">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
       </a>
      <a href="{% url 'probes:delete_filter' object.id "inventory" forloop.counter0 %}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
{% endfor %}
</div> <!-- inventory filters col -->
{% endif %}

{% if probe.can_edit_metadata_filters and probe.metadata_filters %}
<div class="col-md-4">
<h4>Metadata</h4>

{% for metadata_filter in probe.metadata_filters %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    {% if metadata_filter.event_tags %}
    <tr>
      <td>tags</td>
      <td>
          {{ metadata_filter.get_event_tags_display }}
      </td>
    </tr>
    {% endif %}
    {% if metadata_filter.event_types %}
    <tr>
      <td>type</td>
      <td>
          {{ metadata_filter.get_event_types_display }}
      </td>
    </tr>
    {% endif %}
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a href="{% url 'probes:update_filter' object.id "metadata" forloop.counter0 %}" class="btn btn-default">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
       </a>
      <a href="{% url 'probes:delete_filter' object.id "metadata" forloop.counter0 %}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
{% endfor %}
</div> <!-- metadata filters col -->
{% endif %}

{% if probe.can_edit_payload_filters and probe.payload_filters %}
<div class="col-md-4">
<h4>Payload</h4>

{% for payload_filter in probe.payload_filters %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    {% for attribute, operator, values in payload_filter.items_display %}
    <tr>
      <td>{{ attribute }}</td>
      <td>{{ operator }}</td>
      <td>
          {{ values|join:", " }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a href="{% url 'probes:update_filter' object.id "payload" forloop.counter0 %}" class="btn btn-default">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
       </a>
      <a href="{% url 'probes:delete_filter' object.id "payload" forloop.counter0 %}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
{% endfor %}
</div> <!-- payload filters col -->
{% endif %}
</div> <!-- filters row -->

{% block probe_extra %}
{% endblock %}

<a name="actions"></a>
<h3>Actions</h3>

{% if add_action_urls %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addAction"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add action
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addAction">
    {% for action_name, edit_action_url in add_action_urls %}
    <li><a href="{{ edit_action_url }}">{{ action_name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if probe.actions %}
<table class="table">
  <thead>
    <th>Name</th>
    <th>Configuration</th>
    <th></th>
  </thead>
  <tbody>
    {% for action, action_probe_config in probe.actions %}
    <tr>
      <td>{{ action.name }}</td>
      <td>{% if action_probe_config %}{% action_probe_config action action_probe_config %}{% endif %}</td>
      <td>
          <a href="{% url 'probes:edit_action' object.id action.name %}"
             class="btn btn-default{% if not action.can_be_updated %} disabled{% endif %}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
          <a href="{% url 'probes:delete_action' object.id action.name %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
