{% extends 'base.html' %}
{% load base_extras incidents_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<div style="position:sticky;top:0;background-color:#fff;padding:10px 0">
<h3 style="margin:0 0 20px 0">
  Probe <i>{{ probe.name }}</i> events
</h3>

<form class="form-inline" method="GET" style="margin:10px 0 0 0">
  <div class="form-group">
    <label for="eventType">Event type</label>
    <select class="form-control" id="eventType" name="et">
      {% for value, selected, label in event_type_options %}
      <option value="{{ value }}"{% if selected %} selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="timeRange">Range</label>
    <select class="form-control" id="timeRange" name="tr">
      {% for value, selected, label in time_range_options %}
      <option value="{{ value }}"{% if selected %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    Update
  </button>
  {% for link, store_name in store_links %}
  <button type="submit" name="es" value="{{ store_name }}" formaction="{{ link }}" class="btn btn-default">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    {{ store_name }}
  </button>
  {% endfor %}
</form>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Metadata</th>
      <th>Data</th>
    </thead>
    <tbody id="events-container" data-url="{{ fetch_url }}">
    </tbody>
  </table>
</div>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function removeLoadMoreEvents() {
    $("#loadMoreEvents").parent().parent().remove();
  }

  function setupLoadMoreEvents() {
    $("#loadMoreEvents").click(function (event) {
      event.preventDefault();
      var fetchURL = $(this).attr("href");
      loadNextEvents(fetchURL);
    });
  }

  function loadNextEvents(fetchURL) {
    $.ajax({
      dataType: "html",
      url: fetchURL,
      success: function (data) {
        removeLoadMoreEvents();
        $("#events-container").append(data);
        setupLoadMoreEvents();
      }
    });
  }

  $(document).ready(function () {
    var fetchURL = $("#events-container").data("url");
    loadNextEvents(fetchURL);
  });
</script>
{% endblock %}
