{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>

<h2>
  Probe <i>{{ probe.name }}</i> events
</h2>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Metadata</th>
      <th>Data</th>
    </thead>
    <tbody>
      {% for event in object_list %}
      {% with event.metadata.machine as machine %}
      <tr>
        <td>
          {% if machine.serial_number %}
          <p>
            {% machine_type_icon  machine %}
            {% machine_platform_icon machine %}
            <a href="{% url 'inventory:machine' machine.serial_number %}">{{ machine.serial_number }}</a>
          </p>
          <p>
            {{ machine.computer_name }}
          </p>
          {% endif %}
          <p>{{ event.metadata.created_at }}</p>
        </td>
        <td><pre>{{ event.payload|pprint }}</pre></td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pager">
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
