{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Munki enrollment</li>
</ol>

<h2>Munki enrollment</h2>

<form action="{% url 'munki:installer_package' %}" method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="id_business_unit">{{ form.business_unit.label|title }}</label>
    {{ form.business_unit }}
  </div>
  <button class="btn btn-default" type="submit">Download enrollment pkg</button>
</form>
{% endblock %}
