{% extends 'base.html' %}
{% load inclusion_tags %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Jamf instances</li>
</ol>

<div class="d-flex align-items-center mb-1">
    <h2 class="m-0">Jamf instance{{ jamf_instances_count|pluralize }} ({{ jamf_instances_count }})</h2>
    <div class="ms-auto">
        {% if perms.jamf.add_jamfinstance %}
            {% url 'jamf:create_jamf_instance' as url %}
            {% button 'CREATE' url "Create new Instance" %}
        {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-light table-striped align-middle table-hover">
        <thead>
            <tr>
            <th>Host</th>
            <th>API User</th>
            <th>Business unit</th>
            {% if perms.jamf.change_jamfinstance %}
            <th></th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for jamf_instance in object_list %}
            <tr class="data-row">
            <td><a href="{{ jamf_instance.get_absolute_url }}">{{ jamf_instance.host }}</a></td>
            <td>{{ jamf_instance.user }}</td>
            <td>
                {% if jamf_instance.business_unit %}
                {{ jamf_instance.business_unit }}
                {% else %}
                -
                {% endif %}
            </td>
            {% if perms.jamf.change_jamfinstance %}
            <td class="text-end py-0">
                {% url 'jamf:update_jamf_instance' jamf_instance.pk as url %}
                {% button 'UPDATE' url "Edit Instance" %}
            </td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if perms.jamf.add_jamfinstance %}
        {% url 'jamf:create_jamf_instance' as link %}
        {% no_entities 'Jamf instances' link %}
    {% else %}
        {% no_entities 'Jamf instances' %}
    {% endif %}        
{% endif %}

{% endblock %}
