{% extends 'base.html' %}
{% load base_extras %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'jamf:jamf_instances' %}">Jamf instances</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ title }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Jamf Instance</h3>
        <div class="ms-auto">
            {% url 'jamf:delete_jamf_instance' object.pk as url %}
            {% button 'LINK' object.api_doc_url "API resource documentation" %}

            {% if perms.jamf.change_jamfinstance %}
            <a href="{% url 'jamf:setup_jamf_instance' object.pk %}" class="btn btn-link text-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Setup webhooks">
                <i class="bi bi-arrow-left-right"></i>
            </a>
                {% url 'jamf:update_jamf_instance' object.pk as url %}
                {% button 'UPDATE' url "Edit Instance" %}
            {% endif %}
            {% if perms.jamf.delete_jamfinstance %}
                {% url 'jamf:delete_jamf_instance' object.pk as url %}
                {% button 'DELETE' url "Delete Instance" %}
            {% endif %}
        </div>
    </div>
    
    <table class="table table-light table-striped align-middle table-object-properties">
    <thead>
        <tr>
        <th style="width:30vw">Attribute</th>
        <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Business unit</td>
        <td>
            {% if object.business_unit %}
            <a href="{% url 'inventory:mbu_machines' object.business_unit.meta_business_unit.id %}">
            {{ object.business_unit }}
            </a>
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
        <tr>
        <td>API URL</td>
        <td>{{ object.api_base_url }}</td>
        </tr>
        <tr>
        <td>API user</td>
        <td>{{ object.user }}</td>
        </tr>
        <tr>
        <td>Use Bearer token authentication</td>
        <td>{{ object.bearer_token_authentication|yesno }}</td>
        </tr>
        <tr>
        <td>Inventory apps shard</td>
        <td>{{ object.inventory_apps_shard }}%</td>
        </tr>
        <tr>
        <td>Inventory extension attribute{{ object.inventory_extension_attributes|length|pluralize }}</td>
        <td>{{ object.inventory_extension_attributes|join:", "|default:"-" }}</td>
        </tr>
        <tr>
        <td>Principal user UID extension attribute</td>
        <td>{{ object.principal_user_uid_extension_attribute|default:"-" }}</td>
        </tr>
        <tr>
        <td>Principal user principal name extension attribute</td>
        <td>{{ object.principal_user_pn_extension_attribute|default:"-" }}</td>
        </tr>
        <tr>
        <td>Principal user display name extension attribute</td>
        <td>{{ object.principal_user_dn_extension_attribute|default:"-" }}</td>
        </tr>
        <tr>
        <td>Check-in heartbeat timeout</td>
        <td>{{ object.checkin_heartbeat_timeout|duration_repr }}</td>
        </tr>
        <tr>
        <td>Inventory completed heartbeat timeout</td>
        <td>{{ object.inventory_completed_heartbeat_timeout|duration_repr }}</td>
        </tr>
    </tbody>
    </table>
</div>

{% created_updated_at object %}

{% if perms.jamf.view_tagconfig %}
<div class="d-flex justify-content-between mb-3">
    <h3>Tag config{{  tag_config_count|pluralize }} ({{ tag_config_count }})</h3>
    <div class="ms-auto">            
        {% if perms.jamf.add_tagconfig %}
            {% url 'jamf:create_tag_config' object.pk as url %}
            {% button 'CREATE' url "Add new Tag Config" %}
        {% endif %}
    </div>
</div>

{% if tag_configs %}
<div class="table-responsive mb-3">
    <table class="table table-light table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>Source</th>
        <th>Taxonomy</th>
        <th>Regex</th>
        <th>Replacement</th>
        {% if perms.jamf.change_tagconfig or perms.jamf.delete_tagconfig %}
        <th></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for tag_config in tag_configs %}
        <tr id="tag-config-{{ tag_config.pk }}" class="data-row">
        <td>{{ tag_config.get_source_display }}</td>
        <td>{{ tag_config.taxonomy }}</td>
        <td>{{ tag_config.regex }}</td>
        <td>{{ tag_config.replacement }}</td>
        {% if perms.jamf.change_tagconfig or perms.jamf.delete_tagconfig %}
        <td class="text-end py-0">
            {% if perms.jamf.change_tagconfig %}
                {% url 'jamf:update_tag_config' object.pk tag_config.pk  as url %}
                {% button 'UPDATE' url "Edit Tag Configuration" %}
            {% endif %}
            {% if perms.jamf.delete_tagconfig %}
                {% url 'jamf:delete_tag_config' object.pk tag_config.pk as url %}
                {% button 'DELETE' url "Delete Tag Configuration" %}
            {% endif %}
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>
{% endif %}
{% endblock %}
