{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'jamf:jamf_instances' %}">Jamf instances</a></li>
  <li class="breadcrumb-item"><a href="{{ jamf_instance.get_absolute_url }}">{{ jamf_instance }}</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to delete this tag config ?</p>
  <p>
    <a href="{{ jamf_instance.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
    <button class="btn btn-danger">Delete</button>
  </p>
</form>

{% endblock %}
