{% extends 'base.html' %}
{% block content %}
  <h2>Welcome to Zentral!</h2>
  <h3 class="mt-5">Configured app{{ apps|pluralize }}: {{ apps|length }}</h3>
  {% for app in apps %}
    <div class="row">
      <div class="col-md-12">
        <h4 class="mt-5">{{ app|title }}</h4>
      </div>
      <div class="row">
        <div class="col-md-3">
          <canvas class="chart"
                  data-app="{{ app }}"
                  data-dataset="event_count"
                  width="100"
                  height="80"></canvas>
        </div>
        <div class="col-md-3">
          <canvas class="chart"
                  data-app="{{ app }}"
                  data-dataset="unique_msn"
                  width="100"
                  height="80"></canvas>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block extrajs %}
  <script nonce="{{ request.csp_nonce }}">


  </script>
{% endblock %}
