{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'simplemdm:simplemdm_instances' %}">SimpleMDM instances</a></li>
  <li><a href="{{ object.simplemdm_instance.get_absolute_url }}">{{ object.simplemdm_instance }}</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to delete this SimpleMDM app ?</p>
  <p>
    <a href="{{ object.simplemdm_instance.get_absolute_url }}" class="btn btn-default">Cancel</a>
    <button class="btn btn-danger">Delete</button>
  </p>
</form>

{% endblock %}
