{% extends 'base.html' %}
{% load base_extras bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'simplemdm:simplemdm_instances' %}">SimpleMDM instances</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>


<h3>{{ app_number }} App{{ app_number|pluralize }}</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="createSimpleMDMApp"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Create
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="createSimpleMDMApp">
    {% for link, anchor_text in create_app_links %}
    <li><a href="{{ link }}">{{ anchor_text }}</a></li>
    {% endfor %}
  </ul>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Builder</th>
      <th>Description</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
    {% with app.get_enrollment as enrollment %}
    <tr>
      <td>
        <a name="app_{{ app.pk }}"></a>
        {{ app.get_builder_class.name }}
      </td>
      <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.get_description_for_distributor }}</a></td>
      <td>{{ app.created_at }}</td>
      <td>
        <a href="{% url 'simplemdm:delete_simplemdm_app' object.id app.id %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
