{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<p>
  <a href="{% url 'simplemdm:create_simplemdm_instance' %}" class="btn btn-default">Create</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Business unit</th>
      <th>Account name</th>
      <th>API key</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for simplemdm_instance in object_list %}
    <tr>
      <td>
        <a href="{% url 'inventory:mbu_machines' simplemdm_instance.business_unit.meta_business_unit.id %}">
          {{ simplemdm_instance.business_unit }}
        </a>
      </td>
      <td>{{ simplemdm_instance.account_name }}</td>
      <td><pre>{{ simplemdm_instance.api_key }}</pre></td>
      <td>
        <a href="{% url 'simplemdm:simplemdm_instance' simplemdm_instance.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a href="{% url 'simplemdm:update_simplemdm_instance' simplemdm_instance.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a href="{% url 'simplemdm:delete_simplemdm_instance' simplemdm_instance.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
