{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ title }}</li>
</ol>

<h2>{{ title }}</h2>

<p>
  <a href="{% url 'jamf:create_jamf_instance' %}" class="btn btn-default">Create</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Business unit</th>
      <th>API URL</th>
      <th>API User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for jamf_instance in object_list %}
    <tr>
      <td>
        {% if jamf_instance.business_unit %}
        <a href="{% url 'inventory:mbu_machines' jamf_instance.business_unit.meta_business_unit.id %}">
          {{ jamf_instance.business_unit }}
        </a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>{{ jamf_instance.api_base_url }}</td>
      <td>{{ jamf_instance.user }}</td>
      <td>
        <a href="{{ jamf_instance.api_doc_url }}" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="API resource documentation">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        <a href="{% url 'jamf:setup_jamf_instance' jamf_instance.pk %}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Setup jamf instance">
          <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
        </a>
        <a href="{% url 'jamf:update_jamf_instance' jamf_instance.pk %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a href="{% url 'jamf:delete_jamf_instance' jamf_instance.pk %}" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
