{% extends 'base.html' %}
{% load inclusion_tags inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:catalogs' %}">Monolith catalogs</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2>{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Catalog</h3>
        <div class="ms-auto">
            {% if not object.archived_at and perms.monolith.change_catalog %}
                {% url edit_catalog_view object.pk as url %}
                {% button 'UPDATE' url "Edit Catalog View" %}
            {% endif %}
            {% if object.can_be_deleted and perms.monolith.delete_catalog %}
                {% url 'monolith:delete_catalog' object.pk as url %}
                {% button 'DELETE' url "Delete Catalog" %}
            {% endif %}
        </div>
    </div>

    <table class="table table-light table-striped align-middle table-object-properties">
        <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Priority</td>
            <td>{{ object.priority }}</td>
        </tr>
        </tbody>
    </table>

    {% created_updated_at object %}
</div>

{% if perms.monolith.view_manifestcatalog %}
    <h3>Manifest{{ manifests|length|pluralize }} ({{ manifests|length }})</h3>

{% if manifests %}
<table class="table table-striped align-top table-hover">
  <thead>
    <tr>
      <th>Manifest</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for manifest, tags in manifests %}
    <tr>
      <td>
        {% if perms.monolith.view_manifest %}
        <a href="{% url 'monolith:manifest' manifest.id %}">{{ manifest }}</a>
        {% else %}
        {{ manifest }}
        {% endif %}
      </td>
      <td>
        {% for tag in tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}


{% if perms.monolith.view_pkginfo %}
<h3>Package{{ pkg_infos|length|pluralize }} ({{ pkg_infos|length }})</h3>

{% if pkg_infos %}
<p><a href="{{ object.get_pkg_info_url }}">Browse all packages</a>
{% endif %}
{% endif %}

{% endblock %}
