{% extends 'base.html' %}
{% load ui_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:catalogs' %}">Catalogs</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2>{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Catalog</h3>
        <div class="ms-auto">
            {% if object.can_be_updated and perms.monolith.change_catalog %}
                {% url 'monolith:update_catalog' object.pk as url %}
                {% button 'UPDATE' url "Edit Monolith catalog" %}
            {% endif %}
            {% if object.can_be_deleted and perms.monolith.delete_catalog %}
                {% url 'monolith:delete_catalog' object.pk as url %}
                {% button 'DELETE' url "Delete Monolith catalog" %}
            {% endif %}
        </div>
    </div>

    <table class="table-object-properties">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td>Repository</td>
          <td>
            {% if perms.monolith.view_repository %}
            <a href="{{ object.repository.get_absolute_url }}">{{ object.repository }}</a> / {{ object.repository.get_backend_display }}
            {% else %}
            {{ object.repository }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Manifest{{ manifests|length|pluralize }} ({{ manifests|length }})</td>
          <td>
            {% if manifests %}
            <ul class="list-unstyled">
              {% for manifest, tags in manifests %}
              <li>
                {% if perms.monolith.view_manifest %}
                <a href="{{ manifest.get_absolute_url }}">
                  {{ manifest }}
                </a>
                {% else %}
                {{ manifest }}
                {% endif %}
                {% for tag in tags %}
                {% inventory_tag tag %}
                {% endfor %}
              </li>
              {% endfor %}
            </ul>
            {% else %}
            -
            {% endif %}
          </td>
        </tr>
        {% if pkg_infos %}
        <tr>
          <td>Package{{ pkg_infos|length|pluralize }} ({{ pkg_infos|length }})</td>
          <td>
            <a href="{{ object.get_pkg_info_url }}">Browse all packages</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    {% created_updated_at object %}
</div>

{% endblock %}
