{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:catalogs' %}">Monolith catalogs</a></li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Delete</li>
</ol>

<h2>Delete catalog {{ object }}</h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to delete this catalog?</p>
  <p>
    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Yes</button>
  </p>
</form>
{% endblock %}
