{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{%  url 'monolith:catalogs' %}">Monolith catalogs</a></li>
  <li class="active">{{ object.name }}</li>
</ol>

<h2>Catalog {{ object.name }}</h2>

<p>
    {% if not object.archived_at %}
    <a class="btn btn-default" href="{% url edit_catalog_view object.pk %}">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    {% endif %}
    {% if object.can_be_deleted %}
    <a class="btn btn-danger" href="{% url 'monolith:delete_catalog' object.pk %}">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </a>
    {% endif %}
</p>

<dl class="dl-horizontal">
  <dt>Priority</dt>
  <dd>{{ object.priority }}</dd>
  <dt>Created at</dt>
  <dd>{{ object.created_at }}</dd>
  <dt>Archived at</dt>
  <dd>{{ object.archived_at|default:"-" }}</dd>
<dl>

<h3>{{ manifests|length }} manifest{{ sub_manifests|length|pluralize }}</h3>

{% if manifests %}
<table class="table">
  <thead>
    <tr>
      <th>Manifest</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for manifest, tags in manifests %}
    <tr>
      <td><a href="{% url 'monolith:manifest' manifest.id %}">{{ manifest }}</a></td>
      <td>
        {% for tag in tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>{{ pkg_infos|length }} package{{ pkg_infos|length|pluralize }}</h3>

{% if pkg_infos %}
<p><a href="{{ object.get_pkg_info_url }}">Browse all packages</a>
{% endif %}

{% endblock %}
