{% extends 'base.html' %}
{% load ui_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:conditions' %}">Monolith conditions</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2>{{ object.name }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Condition</h3>
        <div class="ms-auto">
        {% if perms.monolith.change_condition %}
            {% url 'monolith:update_condition' object.pk as url %}
            {% button 'UPDATE' url "Edit Condition" %}
        {% endif %}
        {% if object.can_be_deleted and perms.monolith.delete_condition %}
            {% url 'monolith:delete_condition' object.pk as url %}
            {% button 'DELETE' url "Delete Condition" %}
        {% endif %}
        </div>
    </div>

    <table class="table-object-properties">
        <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Predicate</td>
            <td><pre>{{ object.predicate }}</pre></td>
        </tr>
        </tbody>
    </table>

    {% created_updated_at object %}

</div>

{% if perms.monolith.view_pkginfo %}
<h3>Package{{ pkg_infos|length|pluralize }} ({{ pkg_infos|length }})</h3>

{% if pkg_infos %}
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Sub manifest</th>
      <th>Package</th>
      <th>Type</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    {% for sub_manifest, name, link, type, key in pkg_infos %}
    <tr>
      <td>
        {% if perms.monolith.view_submanifest %}
        <a href="{{ link }}">{{ sub_manifest }}</a>
        {% else %}
        {{ sub_manifest }}
        {% endif %}
      </td>
      <td>{{ name }}</td>
      <td>{{ type }}</td>
      <td>{{ key }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
