{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:conditions' %}">Conditions</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{{ title }}</h2>

<form method="POST" class="update-form">{% csrf_token %}
  {{ form }}
  <p>
    {% if object %}
    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
    {% else %}
    <a class="btn btn-outline-secondary" href="{% url 'monolith:conditions' %}">Cancel</a>
    {% endif %}
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
</form>
{% endblock %}
