{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  <li class="breadcrumb-item"><a href="{{ manifest.get_absolute_url }}">{{ manifest }}</a></li>
  <li class="breadcrumb-item active">Delete manifest enrollment package</li>
</ol>

<h2>Delete manifest enrollment package</h2>
<form method="POST" class="form">{% csrf_token %}
  <dl class="row">
    <dt class="col-sm-3 text-md-end">Name</dt>
    <dd class="col-sm-9">{{ manifest_enrollment_package.get_name }}<dd>
    {% with manifest_enrollment_package.get_enrollment as enrollment %}
    {% if enrollment %}
    <dt class="col-sm-3 text-md-end">Description</dt>
    <dd class="col-sm-9"><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.get_description_for_distributor }}</a></dd>
    {% endif %}
    {% endwith %}
  </dl>
  <a href="{{ manifest_enrollment_package.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
