{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  <li><a href="{{ manifest.get_absolute_url }}">{{ manifest }}</a></li>
  <li class="active">Delete manifest enrollment package</li>
</ol>

<h2>Delete manifest enrollment package</h2>
<form method="POST" class="form">{% csrf_token %}
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ manifest_enrollment_package.get_name }}<dd>
    {% with manifest_enrollment_package.get_enrollment as enrollment %}
    {% if enrollment %}
    <dt>Description</dt>
    <dd><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.get_description_for_distributor }}</a></dd>
    {% endif %}
    {% endwith %}
  </dl>
  <a href="{{ manifest_enrollment_package.get_absolute_url }}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
