{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  <li><a href="{{ manifest.get_absolute_url }}">{{ manifest }}</a></li>
  <li class="active">Delete printer {{ object }}</li>
</ol>

<h2>Delete printer</h2>
<p>Do you really want to delete the printer {{ object }} in the manifest {{ manifest }} ?</p>
<form method="POST">{% csrf_token %}
  {{ form.printer }}
  <a class="btn btn-default" href="{{ manifest.get_absolute_url }}">No</a>
  <button class="btn btn-danger" type="submit">Yes</a>
</form>
{% endblock %}
