{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li class="breadcrumb-item"><a href="{{ object.sub_manifest.get_absolute_url }}">{{ object.sub_manifest }}</a></li>
  <li class="breadcrumb-item active">Remove repository package {{ object.pkg_info_name }}</li>
</ol>

<h2>Remove repository package from sub manifest </h2>
<form method="POST">{% csrf_token %}
<dl>
  <dt>Name</dt>
  <dd>{{ object.pkg_info_name }}</dd>
  <dt>Added at</dt>
  <dd>{{ object.created_at|date:"r" }}</dd>
</dl>
<p>Do you really want to remove this package from the sub manifest ?</p>
<p>
  <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">No</a>
  <button class="btn btn-danger" type="submit">Yes</button>
</p>
</form>
{% endblock %}
