{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li><a href="{{ sub_manifest.get_absolute_url }}">{{ sub_manifest }}</a></li>
  {% if object %}
  <li class="active">Update PkgInfo</li>
  {% else %}
  <li class="active">Add PkgInfo</li>
  {% endif %}
</ol>

<h3>{% if object %}Update{% else %}Add{% endif %} PkgInfo</h3>
<form method="POST" class="form">{% csrf_token %}
  {{ form|bootstrap }}
  {% if object %}
  <div class="form-group">
    <label class="control-label">Pkg info name</label>
    <p>{{ object.pkg_info_name }}</p>
  </div>
  {% endif %}
  <a href="{{ sub_manifest.get_absolute_url }}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Add{% endif %}</button>
</form>
{% endblock %}
