{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li><a href="{{ sub_manifest.get_absolute_url }}">{{ sub_manifest }}</a></li>
  {% if script %}
  <li class="active">Update script {{ script.name }}</li>
  {% else %}
  <li class="active">Add script</li>
  {% endif %}
</ol>

<h2>
  {% if script %}
  Update script {{ script.name }}
  {% else %}
  Add script
  {% endif %}
</h2>

<form method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}
  {{ form|bootstrap }}
  <a href="{{ sub_manifest.get_absolute_url }}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-primary">{% if script %}Update{% else %}Add{% endif %}</button>
</form>
{% endblock %}
