{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">Update</li>
  {% else %}
  <li class="active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update{% else %}Create{% endif %} Manifest</h2>
<form method="POST" class="form">{% csrf_token %}
  {{ form|bootstrap }}
  <a href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'monolith:manifests' %}{% endif %}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-default">{% if object %}Update{% else %}Create{% endif %}</button>
</form>
{% endblock %}
