{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:manifests' %}">Manifests</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:manifest' manifest.id %}">{{ manifest }}</a></li>
  <li class="breadcrumb-item active">add enrollment</li>
</ol>

<h2 class="m-0">{{ manifest }}</h2>
<h3 class="m-0 fs-5 text-secondary">Add Manifest enrollment</h3>

<form method="post" class="update-form">{% csrf_token %}
    {{ secret_form }}

    {{ enrollment_form }}

    <div>
    <a href="{% url 'monolith:manifest' manifest.id %}" class="btn btn-outline-secondary">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
{% endblock %}
