{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:manifests' %}">Manifests</a></li>
  <li class="breadcrumb-item"><a href="{{ manifest.get_absolute_url }}">{{ manifest }}</a></li>
  <li class="breadcrumb-item active">Machine info</li>
</ol>

{% if machine %}
<dl class="row">
  <dt class="col-sm-3 text-md-end">Name</dt>
  <dd class="col-sm-9">{{ machine.computer_name|default:"-" }}</dd>
  <dt class="col-sm-3 text-md-end">Serial number</dt>
  <dd class="col-sm-9">{{ machine.serial_number }}</dd>
  <dt class="col-sm-3 text-md-end">Tags</dt>
  <dd class="col-sm-9">
    {% for tag in machine.tags %}
    {% inventory_tag tag %}
    {% empty %}
    -
    {% endfor %}
  </dd>
</dl>

<h3>Package{{ pkgsinfo|length|pluralize }} ({{ packages|length }})</h3>
<p><input class="form-control" size="32" id="search-pkg-name" placeholder="Search package name" autofocus style="max-width:20vw"></p>

<table class="table table-striped align-middle">
  </thead>
  <tbody>
    {% for package_name, package_data in packages %}
    <tr data-pkg-name="{{ package_name }}">
      <td colspan="6"><h4 style="margin:30px 0 5px 0" class="pkg-name">{{ package_name }}</h4></td>
    </tr>
    {% if package_data.manifest %}
    <tr data-pkg-name="{{ package_name }}">
      <th></th>
      <th>Key</th>
      <th>Excl. tags</th>
      <th>Shard</th>
      <th>Default shard</th>
      <th>Tag shards</th>
    </tr>
    <tr data-pkg-name="{{ package_name }}">
      <td>Manifest</th>
      <td>{{ package_data.manifest }}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    {% endif %}
    {% if package_data.sub_manifests %}
    <tr data-pkg-name="{{ package_name }}">
      <th>Sub manifest</th>
      <th>Key</th>
      <th>Excl. tags</th>
      <th>Shard</th>
      <th>Default shard</th>
      <th>Tag shards</th>
    </tr>
    {% for sub_manifest, key, excluded_tags, shard_repr, default_shard_repr, tag_shards, included in package_data.sub_manifests %}
    <tr data-pkg-name="{{ package_name }}"{% if not included %} class="danger"{% endif %}>
      <td>
        {% if perms.monolith.view_submanifest %}
        <a href="{{ sub_manifest.get_absolute_url }}">{{ sub_manifest }}</a>
        {% else %}
        {{ sub_manifest }}
        {% endif %}
      </td>
      <td>{{ key }}</td>
      <td>
        {% for tag in excluded_tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>{{ shard_repr|default:"-" }}</td>
      <td>{{ default_shard_repr|default:"-" }}</td>
      <td>
        {% if tag_shards %}
        <table>
        {% for tag, shard in tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if package_data.pkgsinfo %}
    <tr data-pkg-name="{{ package_name }}">
      <th>Version</th>
      <th>Status</th>
      <th>Excl. tags</th>
      <th>Shard</th>
      <th>Default shard</th>
      <th>Tag shards</th>
    </tr>
    {% for pkginfo, status, excluded_tags, shard_repr, default_shard_repr, tag_shards, included in package_data.pkgsinfo %}
    <tr data-pkg-name="{{ package_name }}"{% if not included %} class="danger"{% endif %}>
      <td>
        {{ pkginfo.version }}
      </td>
      <td>
        {% if status == "installed" %}<span class="label label-success">installed</span>{% endif %}
        {% if status == "reinstalled" %}<span class="label label-warning">reinstalled</span>{% endif %}
        {% if status == "failed" %}<span class="label label-danger">failed</span>{% endif %}
        {% if not status %}-{% endif %}
      </td>
      <td>
        {% for tag in excluded_tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>{{ shard_repr|default:"-" }}</td>
      <td>{{ default_shard_repr|default:"-" }}</td>
      <td>
        {% if tag_shards %}
        <table>
        {% for tag, shard in tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function filterTable(pkgNameElms, filter) {
    filter = filter.toUpperCase();
    pkgNameElms.forEach(function(elm) {
      const pkgName = elm.textContent;
      let display = "none";
      if (pkgName.toUpperCase().indexOf(filter) > -1) {
        display = ""
      }
      document.querySelectorAll(`tr[data-pkg-name="` + pkgName + `"]`).forEach(function(tr) {
        tr.style.display = display;
      });
    });
  }

  $(document).ready(function(){
    var pkgNames = document.querySelectorAll(".pkg-name");
    $("#search-pkg-name").keyup(function (event) {
      filterTable(pkgNames, $(this).val());
    });
  });
</script>
{% endblock %}
