{% extends 'base.html' %}
{% load base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h2><a href="{{ object.meta_business_unit.get_absolute_url }}">{{ object }}</a> Manifest</h2>

<h3>{{ enrollments|length }} Enrollment{{ enrollments|length|pluralize }}</h3>

<p>
  <a href="{% url 'monolith:add_manifest_enrollment' object.id %}" class="btn btn-default">Add</a>
</p>

{% if enrollments %}
<table class="table">
  <thead>
    <th>Tags</th>
    <th>Created at</th>
    <th>Configuration</th>
    <th>Request count</th>
    <th>Version</th>
    <th>Distributor</th>
    <th></th>
  </thead>
  <tbody>
    {% for enrollment in enrollments %}
    {% with enrollment.secret as secret %}
    {% with secret.tags.count as secret_tags_count %}
    {% with enrollment.taxonomies.count as enrollment_taxonomies_count %}
    {% with enrollment.distributor as distributor %}
    <tr>
      <td>
        {% if secret_tags_count %}
        <b>Enrollment:</b>
        {% for tag in secret.tags.all %}
        <br>{% inventory_tag tag %}
        {% endfor %}
        {% endif %}

        {% if enrollment_taxonomies_count %}
        {% if secret_tags_count %}<br>{% endif %}
        <b>Taxonom{{ enrollment_taxonomies_count|pluralize:"y,ies" }}:</b>
        {% for taxonomy in enrollment.taxonomies.all %}
        <br>{{ taxonomy }}
        {% endfor %}
        {% endif %}
      </td>
      <td>
        <a name="enrollment_{{ enrollment.pk }}"></a>
        {{ secret.created_at|date:"SHORT_DATETIME_FORMAT" }}
      </td>
      <td><a href="{{ enrollment.configuration.get_absolute_url }}">{{ enrollment.configuration }}</a></td>
      <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
      <td>{{ enrollment.version }}</td>
      <td>
        {% if distributor %}
        <a href="{{ distributor.get_absolute_url }}">{{ distributor.get_description_for_enrollment }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if not distributor and not secret.is_used_up %}
        <a class="btn btn-default download-tool"
           href="{% url 'monolith:manifest_enrollment_configuration_plist' enrollment.manifest.id enrollment.id %}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>plist
        </a>
        <a class="btn btn-default download-tool"
           href="{% url 'monolith:manifest_enrollment_configuration_profile' enrollment.manifest.id enrollment.id %}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>configuration profile
        </a>
        {% elif secret.is_used_up %}
        <span class="text-danger">Enrollment used up.</span>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h3>{{ manifest_catalogs|length }} Catalog{{ manifest_catalogs|length|pluralize }}</h3>

<p><a class="btn btn-default" href="{% url 'monolith:add_manifest_catalog' object.id %}">Add</a></p>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>priority</th>
      <th>tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for manifest_catalog in manifest_catalogs %}
    <tr>
      <td><a href="{% url 'monolith:catalog' manifest_catalog.catalog.id %}">{{ manifest_catalog.catalog }}</a></td>
      <td>{{ manifest_catalog.catalog.priority }}</td>
      <td>
        {% for tag in manifest_catalog.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td width="15%">
        <a class="btn btn-danger" href="{% url 'monolith:delete_manifest_catalog' object.id manifest_catalog.catalog.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>{{ manifest_enrollment_packages|length }} Enrollment package{{ manifest_enrollment_packages|length|pluralize }}</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addEnrollmentPackage"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addEnrollmentPackage">
    {% for link, anchor_text in add_enrollment_package_links %}
    <li><a href="{{ link }}">{{ anchor_text }}</a></li>
    {% endfor %}
  </ul>
</div>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>version</th>
      <th>description</th>
      <th>tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for manifest_enrollment_package in manifest_enrollment_packages %}
    {% with manifest_enrollment_package.get_enrollment as mep_enrollment %}
    <tr>
      <td>
        <a name="mep_{{ manifest_enrollment_package.pk }}"></a>
        {{ manifest_enrollment_package.get_name }}
      </td>
      <td>{{ manifest_enrollment_package.version }}</td>
      <td>
        {% if mep_enrollment %}
        <a href="{{ mep_enrollment.get_absolute_url }}">{{ mep_enrollment.get_description_for_distributor }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in manifest_enrollment_package.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td width="15%">
        <a class="btn btn-default" href="{% url 'monolith:update_manifest_enrollment_package' object.id manifest_enrollment_package.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a class="btn btn-danger" href="{% url 'monolith:delete_manifest_enrollment_package' object.id manifest_enrollment_package.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

<a name="printers"></a>
<h3>{{ manifest_printers|length }} Printer{{ manifest_printers|length|pluralize }}</h3>

<p><a class="btn btn-default" href="{% url 'monolith:add_manifest_printer' object.id %}">Add</a></p>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>model</th>
      <th>version</th>
      <th>tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for manifest_printer in manifest_printers %}
    <tr>
      <td>
        {{ manifest_printer.name }}
      </td>
      <td>
        <a href="{% url 'monolith:ppd' manifest_printer.ppd.id %}">{{ manifest_printer.ppd.model_name }}</a>
      </td>
      <td>
        {{ manifest_printer.version }}
      </td>
      <td>
        {% for tag in manifest_printer.tags.all %}
        {% inventory_tag tag %}
        {% endfor %}
      </td>
      <td width="15%">
        <a class="btn btn-default" href="{% url 'monolith:update_manifest_printer' object.id manifest_printer.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a class="btn btn-danger" href="{% url 'monolith:delete_manifest_printer' object.id manifest_printer.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>{{ manifest_sub_manifests|length }} Sub manifest{{ manifest_sub_manifests|length|pluralize }}</h3>
<p><a class="btn btn-default" href="{% url 'monolith:add_manifest_sub_manifest' object.id %}">Add</a></p>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for manifest_sub_manifest in manifest_sub_manifests %}
    {% with manifest_sub_manifest.sub_manifest as sub_manifest %}
    <tr>
      <td>
        <a name="sm_{{ sub_manifest.id }}" href="{% url 'monolith:sub_manifest' sub_manifest.id %}">
          {{ sub_manifest }}
        </a>
      </td>
      <td>{{ sub_manifest.description|default:"-"|linebreaks }}</td>
      <td>
        {% for tag in manifest_sub_manifest.tags.all %}
        {% inventory_tag tag %}
        {% endfor %}
      </td>
      <td width="15%">
        <a class="btn btn-danger" href="{% url 'monolith:delete_manifest_sub_manifest' object.id sub_manifest.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

<a name="cache-servers"></a>
<h3>{{ manifest_cache_servers|length }} Cache server{{ manifest_cache_servers|length|pluralize }}</h3>

<p><a class="btn btn-default" href="{% url 'monolith:configure_manifest_cache_server' object.id %}">Configure</a></p>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>public ip</th>
      <th>base url</th>
      <th>created at</th>
      <th>updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for manifest_cache_server in manifest_cache_servers %}
    <tr>
      <td>{{ manifest_cache_server.name }}</td>
      <td>{{ manifest_cache_server.public_ip_address }}</td>
      <td>{{ manifest_cache_server.base_url }}</td>
      <td>{{ manifest_cache_server.created_at }}</td>
      <td>{{ manifest_cache_server.updated_at }}</td>
      <td width="15%">
        <form method="POST" action="{% url 'monolith:delete_manifest_cache_server' object.id manifest_cache_server.id %}">{% csrf_token %}
          <button class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
