{% extends 'base.html' %}
{% load ui_extras base_extras inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:manifests' %}">Monolith manifests</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Manifest</h3>
        <div class="ms-auto">
            {% if perms.monolith.change_manifest %}
                {% url 'monolith:update_manifest' object.id as url %}
                {% button 'UPDATE' url "Edit Manifest" %}
            {% endif %}
        </div>
    </div>

    <table class="table table-striped align-middle table-object-properties">
        <thead>
            <tr><th style="width:30vw">Attribute</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            <tr>
            <td>Business unit</td>
            <td>
                {% if perms.inventory.view_metabusinessunit %}
                <a href="{{ object.meta_business_unit.get_absolute_url }}">{{ object.meta_business_unit }}</a></dd>
                {% else %}
                {{ object.meta_business_unit }}
                {% endif %}
            </td>
            </tr>
        </tbody>
    </table>

    {% created_updated_at object %}

</div>

{% if perms.monolith.view_enrollment %}
<div class="d-flex align-items-center mb-1">
    <h3>Enrollment{{ enrollments|length|pluralize }} ({{ enrollments|length }})</h3>
    <div class="ms-auto">
        {% if perms.monolith.add_enrollment %}
            {% url 'monolith:add_manifest_enrollment' object.id as url %}
            {% button 'CREATE' url "Add new Enrollment" 'mx-3' %}
        {% endif %}
    </div>
</div>

    {% if enrollments %}
    <table class="table table-striped align-middle table-hover">
    <thead>
        <th>Enrollment tags</th>
        <th>Created at</th>
        <th>Request count</th>
        <th>Distributor</th>
        <th></th>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
        {% with enrollment.secret as secret %}
        {% with secret.tags.count as secret_tags_count %}
        {% with enrollment.distributor as distributor %}
        <tr class="data-row">
        <td>
            {% if secret_tags_count %}
            {% for tag in secret.tags.all %}
            {% inventory_tag tag %}
            {% endfor %}
            {% endif %}
        </td>
        <td>
            <a name="enrollment_{{ enrollment.pk }}"></a>
            {{ secret.created_at|date:"SHORT_DATETIME_FORMAT" }}
        </td>
        <td>{{ secret.request_count }}{% if secret.quota %} / {{ secret.quota }}{% endif %}</td>
        <td>
            {% if distributor %}
            <a href="{{ distributor.get_absolute_url }}">{{ distributor.get_description_for_enrollment }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td class="text-end py-0">
            {% if not distributor and not secret.is_used_up %}
                {% url 'monolith_api:enrollment_plist' enrollment.id as url %}
                {% button 'DOWNLOAD' url "Download .plist" %}
                {% url 'monolith_api:enrollment_configuration_profile' enrollment.id as url %}
                {% button 'DOWNLOAD' url "Download .mobileconfig" %}
            {% elif secret.is_used_up %}
            <span class="text-danger">Enrollment used up.</span>
            {% endif %}
        </td>
        </tr>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endif %}

{% if perms.monolith.view_manifestcatalog %}
    <div class="d-flex align-items-center mb-1">
        <h3 id="catalogs">Catalog{{ manifest_catalogs|length|pluralize }} ({{ manifest_catalogs|length }})</h3>
        <div class="ms-auto">
            {% if perms.monolith.add_manifestcatalog %}
                {% url 'monolith:add_manifest_catalog' object.id as url %}
                {% button 'CREATE' url "Add new Catalog" 'mx-3' %}
            {% endif %}
        </div>
    </div>

    <table class="table table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>name</th>
        <th>priority</th>
        <th>tags</th>
        {% if perms.monolith.change_manifestcatalog or perms.monolith.delete_manifestcatalog %}
        <th></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for manifest_catalog in manifest_catalogs %}
        <tr class="data-row">
        <td><a href="{% url 'monolith:catalog' manifest_catalog.catalog.id %}">{{ manifest_catalog.catalog }}</a></td>
        <td>{{ manifest_catalog.catalog.priority }}</td>
        <td>
            {% for tag in manifest_catalog.tags.all %}
            {% inventory_tag tag %}
            {% empty %}
            -
            {% endfor %}
        </td>

        {% if perms.monolith.change_manifestcatalog or perms.monolith.delete_manifestcatalog %}
        <td class="text-end py-0">
            {% if perms.monolith.change_manifestcatalog %}
                {% url 'monolith:edit_manifest_catalog' object.id manifest_catalog.catalog.id as url %}
                {% button 'UPDATE' url "Edit Manifest Catalog" %}
            {% endif %}
            {% if perms.monolith.delete_manifestcatalog %}
                {% url 'monolith:delete_manifest_catalog' object.id manifest_catalog.catalog.id as url %}
                {% button 'DELETE' url "Delete Manifest Catalog" %}
            {% endif %}
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{% if perms.monolith.view_manifestenrollmentpackage %}
<div class="d-flex align-items-center mb-1">
    <h3 id="enrollment-packages">Enrollment package{{ manifest_enrollment_packages|length|pluralize }} ({{ manifest_enrollment_packages|length }})</h3>
    <div class="ms-auto">
        {% if perms.monolith.add_manifestenrollmentpackage %}
            <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="addEnrollmentPackage"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-plus-circle"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addEnrollmentPackage">
                {% for link, anchor_text in add_enrollment_package_links %}
                <li><a class="dropdown-item" href="{{ link }}">{{ anchor_text }}</a></li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    </div>
</div>

<table class="table table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>name</th>
      <th>version</th>
      <th>description</th>
      <th>tags</th>
      {% if perms.monolith.change_manifestenrollmentpackage or perms.monolith.delete_manifestenrollmentpackage %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for manifest_enrollment_package in manifest_enrollment_packages %}
    {% with manifest_enrollment_package.get_enrollment as mep_enrollment %}
    <tr class="data-row">
      <td>
        <a name="mep_{{ manifest_enrollment_package.pk }}"></a>
        {{ manifest_enrollment_package.get_name }}
      </td>
      <td>{{ manifest_enrollment_package.version }}</td>
      <td>
        {% if mep_enrollment %}
        <a href="{{ mep_enrollment.get_absolute_url }}">{{ mep_enrollment.get_description_for_distributor }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% for tag in manifest_enrollment_package.tags.all %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      {% if perms.monolith.change_manifestenrollmentpackage or perms.monolith.delete_manifestenrollmentpackage %}
      <td class="text-end py-0">
        {% if perms.monolith.change_manifestenrollmentpackage %}
            {% url 'monolith:update_manifest_enrollment_package' object.id manifest_enrollment_package.id as url %}
            {% button 'UPDATE' url "Edit Enrollment Package" %}
        {% endif %}
        {% if perms.monolith.delete_manifestenrollmentpackage %}
            {% url 'monolith:delete_manifest_enrollment_package' object.id manifest_enrollment_package.id as url %}
            {% button 'DELETE' url "Delete Enrollment Package" %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if perms.monolith.view_manifestsubmanifest %}
    <div class="d-flex align-items-center mb-1">
        <h3 id="submanifests">Sub manifest{{ manifest_sub_manifests|length|pluralize }} ({{ manifest_sub_manifests|length }})</h3>
        <div class="ms-auto">
            {% if perms.monolith.add_manifestsubmanifest %}
                {% url 'monolith:add_manifest_sub_manifest' object.id as url %}
                {% button 'CREATE' url "Add new Sub Manifest"  'mx-3' %}
            {% endif %}
        </div>
    </div>

    <table class="table table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>name</th>
        <th>description</th>
        <th>tags</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for manifest_sub_manifest in manifest_sub_manifests %}
        {% with manifest_sub_manifest.sub_manifest as sub_manifest %}
        <tr  class="data-row">
        <td>
            {% if perms.monolith.view_submanifest %}
            <a name="sm_{{ sub_manifest.id }}" href="{% url 'monolith:sub_manifest' sub_manifest.id %}">
            {{ sub_manifest }}
            </a>
            {% else %}
            {{ sub_manifest }}
            {% endif %}
        </td>
        <td>{{ sub_manifest.description|default:"-"|linebreaksbr }}</td>
        <td>
            {% for tag in manifest_sub_manifest.tags.all %}
            {% inventory_tag tag %}
            {% endfor %}
        </td>
        {% if perms.monolith.change_manifestsubmanifest or perms.monolith.delete_manifestsubmanifest %}
        <td class="text-end py-0">
            {% if perms.monolith.change_manifestsubmanifest %}
                {% url 'monolith:edit_manifest_sub_manifest' object.id sub_manifest.id as url %}
                {% button 'UPDATE' url "Edit Sub Manifest" %}
            {% endif %}
            {% if perms.monolith.delete_manifestsubmanifest %}
                {% url 'monolith:delete_manifest_sub_manifest' object.id sub_manifest.id as url %}
                {% button 'DELETE' url "Delete Sub Manifest" %}
            {% endif %}
        </td>
        {% endif %}
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{% if perms.monolith.view_cacheserver %}
<h3 id="cache-servers">Cache server{{ manifest_cache_servers|length|pluralize }} ({{ manifest_cache_servers|length }})</h3>

<table class="table table-striped align-middle table-hover">
  <thead>
    <tr>
      <th>name</th>
      <th>public ip</th>
      <th>base url</th>
      <th>created at</th>
      <th>updated at</th>
      {% if perms.monolith.delete_cacheserver %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for manifest_cache_server in manifest_cache_servers %}
    <tr>
      <td>{{ manifest_cache_server.name }}</td>
      <td>{{ manifest_cache_server.public_ip_address }}</td>
      <td>{{ manifest_cache_server.base_url }}</td>
      <td>{{ manifest_cache_server.created_at }}</td>
      <td>{{ manifest_cache_server.updated_at }}</td>
      {% if perms.monolith.delete_cacheserver %}
      <td class="text-end py-0">
        <form method="POST" action="{% url 'monolith:delete_manifest_cache_server' object.id manifest_cache_server.id %}">{% csrf_token %}
          <button class="btn btn-link">
            <i class="bi bi-trash"></i>
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
