{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item active">Manifest{{ paginator.count|pluralize }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Manifest{{ paginator.count|pluralize }} ({{ paginator.count }})</h2>
</div>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form">
        {{ form }}
        <button type="submit" class="btn btn-link mb-2">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <div class="ms-auto">
        {% if perms.monolith.add_manifest %}
            {% url 'monolith:create_manifest' as url %}
            {% button 'CREATE' url "Create new Manifest" %}
        {% endif %}
    </div>
</div>

{% if object_list %}
    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle">
    <thead>
        <tr>
        <th>Manifest</th>
        <th>Business unit</th>
        </tr>
    </thead>
    <tbody>
        {% for manifest in object_list %}
        <tr>
        <td><a href="{{ manifest.get_absolute_url }}">{{ manifest }}</a></td>
        <td><a href="{{ manifest.meta_business_unit.get_absolute_url }}">{{ manifest.meta_business_unit }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}
{% elif form.has_changed %}
    {% url 'monolith:manifests' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}
