{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{%  url 'monolith:pkg_infos' %}">Monolith pkg infos</a></li>
  <li class="active">{{ object.name }}</li>
</ol>

<h3>Package {{ object.name }}</h3>

{% if show_events_link or store_links %}
<div class="btn-group" role="group" style="margin-bottom:20px">
  {% if show_events_link %}
  <a class="btn btn-default" href="{% url 'monolith:pkg_info_name_events' object.pk %}">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Events
  </a>
  {% endif %}
  {% for link, anchor_text in store_links  %}
  <a class="btn btn-default" href="{{ link }}">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ anchor_text }}
  </a>
  {% endfor %}
</div>
{% endif %}

{% if perms.monolith.view_submanifest %}
<h4>{{ sub_manifests|length }} sub manifest{{ sub_manifests|length|pluralize }}</h4>

{% if sub_manifests %}
<table class="table">
  <thead>
    <tr>
      <th>Sub manifest</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    {% for sub_manifest, key in sub_manifests %}
    <tr>
      <td><a href="{% url 'monolith:sub_manifest' sub_manifest.id %}">{{ sub_manifest }}</a></td>
      <td>{{ key }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% if perms.monolith.view_pkginfo %}
<h4>{{ pkg_infos|length }} version{{ pkg_infos|length|pluralize }}</h4>
{% if pkg_infos %}
<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Catalogs</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th>Installs</th>
      {% if perms.change_pkginfo %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for pkg_info in pkg_infos %}
    <tr>
      <td id="{{ pkg_info.pk }}">
        {{ pkg_info.version }}
      </td>
      <td>
        {% for catalog in pkg_info.catalogs %}{% if perms.monolith.view_catalog %}<a href="{% url 'monolith:catalog' catalog.pk %}">{{ catalog.name }}</a>{% else %}{{ catalog.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
      </td>
      {% if pkg_info.options %}
      <td>
        {% for tag in pkg_info.options.excluded_tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ pkg_info.options.shards.default }}/{{ pkg_info.options.shards.modulo }}
      </td>
      <td>
        {% if pkg_info.options.shards.tags %}
        <table>
        {% for tag, shard in pkg_info.options.shards.tags %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      {% else %}
      <td>-</td>
      <td>-</td>
      <td>-</td>
      {% endif %}
      <td>{{ pkg_info.count }}{% if pkg_info.percent %} - {{ pkg_info.percent|floatformat }}%{% endif %}</td>
      {% if perms.monolith.change_pkginfo %}
      <td>
        {% if pkg_info.local %}
        <a class="btn btn-default" href="{% url 'monolith:update_package' pkg_info.pk %}">
          Update
        </a>
        {% else %}
        {% if manual_catalog_management %}
        <a class="btn btn-default" href="{% url 'monolith:update_pkg_info_catalog' pkg_info.pk %}">
          Update catalog
        </a>
        {% endif %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
