{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:pkg_infos' %}">Monolith pkg infos</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:pkg_info_name' object.pk %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">Events</li>
</ol>

<div class="sticky-top bg-body z-1">
  <h3 style="margin:-10px 0 10px 0">
    Package {{ object.name }} - Events
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
