{% extends 'base.html' %}
{% load inventory_extras %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:pkg_infos' %}">Monolith pkg infos</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object.name }}</h2>
        <div class="ms-3">
            {% if show_events_link or store_links %}
            {% if show_events_link %}
                {% url 'monolith:pkg_info_name_events' object.pk as url %}
                {% button 'EVENTS' url %}
            {% endif %}
            {% for link, anchor_text in store_links  %}
                {% button 'LINK' link anchor_text %}
            {% endfor %}  
            {% endif %}
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Package</h3>
        <div class="ms-auto">
            {% if perms.monolith.add_pkginfo %}
                    <button class="btn btn-link text-decoration-none text-dark dropdown-toggle" type="button" id="pkgInfoAdd"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pkgInfoAdd">
                    {% if perms.monolith.add_pkginfo %}
                    <li><a class="dropdown-item" href="{% url 'monolith:upload_package' %}?pin_id={{ object.pk}}">Package</a></li>
                    {% endif %}
                    </ul>
            {% endif %}
            {% if perms.monolith.delete_pkginfo and object.can_be_deleted %}
                {% url 'monolith:delete_pkg_info_name' object.pk as url %}
                {% button 'DELETE' url "Delete Package Info" %}
            {% endif %}
        </div>
    </div>

{% if perms.monolith.view_submanifest %}
<h4>Sub manifest{{ sub_manifests|length|pluralize }} ({{ sub_manifests|length }})</h4>

{% if sub_manifests %}
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Sub manifest</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    {% for sub_manifest, key in sub_manifests %}
    <tr>
      <td><a href="{% url 'monolith:sub_manifest' sub_manifest.id %}">{{ sub_manifest }}</a></td>
      <td>{{ key }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
</div>

{% if perms.monolith.view_pkginfo %}
<h4>Version{{ pkg_infos|length|pluralize }} ({{ pkg_infos|length }})</h4>
{% if pkg_infos %}
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Version</th>
      <th>Catalogs</th>
      <th>Excl. tags</th>
      <th>Def. shard</th>
      <th>Tag shards</th>
      <th>Installs</th>
      {% if perms.monolith.delete_pkginfo or perms.monolith.change_pkginfo %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for pkg_info in pkg_infos %}
    <tr>
      <td id="{{ pkg_info.pk }}">
        {{ pkg_info.version }}
      </td>
      <td>
        {% for catalog in pkg_info.catalogs %}{% if perms.monolith.view_catalog %}<a href="{% url 'monolith:catalog' catalog.pk %}">{{ catalog.name }}</a>{% else %}{{ catalog.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
      </td>
      {% if pkg_info.options %}
      <td>
        {% for tag in pkg_info.options.excluded_tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
      </td>
      <td>
        {{ pkg_info.options.shards.default }}/{{ pkg_info.options.shards.modulo }}
      </td>
      <td>
        {% if pkg_info.options.shards.tags %}
        <table>
        {% for tag, shard in pkg_info.options.shards.tags %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag %}</td><td>{{ shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
      </td>
      {% else %}
      <td>-</td>
      <td>-</td>
      <td>-</td>
      {% endif %}
      <td>{{ pkg_info.count }}{% if pkg_info.percent %} - {{ pkg_info.percent|floatformat }}%{% endif %}</td>
      {% if perms.monolith.change_pkginfo or perms.monolith.delete_pkginfo %}
      <td>
        {% if pkg_info.local %}
        {% if perms.monolith.change_pkginfo %}
        <a class="btn btn-outline-secondary" href="{% url 'monolith:update_package' pkg_info.pk %}">
          <span class="bi bi-square-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% if perms.monolith.delete_pkginfo %}
            {% url 'monolith:delete_pkg_info' pkg_info.pk as url %}
            {% button 'DELETE' url "Delete Package Info" %}
        {% endif %}
        {% else %}
        {% if perms.monolith.change_pkginfo and manual_catalog_management %}
        <a class="btn btn-outline-secondary" href="{% url 'monolith:update_pkg_info_catalog' pkg_info.pk %}">
          <span class="bi bi-edit" aria-hidden="true"></span>
        </a>
        {% endif %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
