{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for url, anchor_text in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ anchor_text }}</a></li>
  {% else %}
  <li class="active">{{ anchor_text }}</li>
  {% endif %}
  {% endfor %}
</ol>


<h2>{{ name_number }} Package name{{ name_number|pluralize }} / {{ info_number }} Package{{ info_number|pluralize }}</h2>


<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
  <div class="form-group">
    {{ form.name|bootstrap_inline }}
  </div>
  <div class="form-group">
    {{ form.catalog.label_tag }}
    {{ form.catalog|bootstrap_inline }}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<table class="table">
  <thead>
    <th>Package</th>
    <th>Catalogs</th>
    <th>Installs</th>
  </thead>
  <tbody>
  {% for pkg_info_name in pkg_names %}
  <tr>
    <td colspan=2><a href="{% url 'monolith:pkg_info_name' pkg_info_name.id %}">{{ pkg_info_name.name }}</a></td>
    <td>{{ pkg_info_name.count }}</td>
  </tr>
  {% for pkg_info in pkg_info_name.pkg_infos %}
  <tr>
    <td width="25%">{{ pkg_info.version }}</td>
    <td>
      {% for catalog in pkg_info.catalogs %}{% if perms.monolith.view_catalog %}<a href="{% url 'monolith:catalog' catalog.pk %}">{{ catalog.name }}</a>{% else %}{{ catalog.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
    </td>
    <td>{{ pkg_info.count }}{% if pkg_info.percent %} - {{ pkg_info.percent|floatformat }}%{% endif %}</td>
  </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}
