{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{%  url 'monolith:pkg_infos' %}">Monolith pkg infos</a></li>
  <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
  <li class="active">Delete version {{ object.version }}</li>
</ol>

<h2>Delete pkg info <i>{{ object }}</i></h2>

<form method="POST">{% csrf_token %}
  <p>Do you really want to delete this pkg info?</p>
  <p>
    <a class="btn btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
    <button class="btn btn-danger" type="submit">Yes</button>
  </p>
</form>
{% endblock %}
