{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{%  url 'monolith:pkg_infos' %}">PkgInfos</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:pkg_info_name' object.name.id %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">
    Update version {{ object.version}} catalog
  </li>
</ol>

<h2>Update {{ object.name }} {{ object.version }} catalog</h2>

<form method="POST">{% csrf_token %}

    {{ form  }}

    <a class="btn btn-outline-secondary" href="{% url 'monolith:pkg_info_name' object.name.id %}">Cancel</a>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
