{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li><a href="{{ object.sub_manifest.get_absolute_url }}">{{ object.sub_manifest }}</a></li>
  <li class="active">Purge {{ object.get_type_display }} {{ object.name }}</li>
</ol>

<h2><span class="text-danger">Purge</span> {{ object.get_type_display }} from sub manifest</h2>
<form method="POST">{% csrf_token %}
<dl>
  <dt>Name</dt>
  <dd>{{ object.name }}</dd>
  <dt>Uploaded at</dt>
  <dd>{{ object.created_at|date:"r" }}</dd>
  <dt>Trashed at</dt>
  <dd>{{ object.trashed_at|timesince }} ago</dd>
</dl>
<p>Do you really want to <span class="text-danger">remove definitively</span> this sub manifest {{ object.get_type_display }} ?
</p>
<p>
  <a class="btn btn-default" href="{{ object.get_absolute_url }}">No</a>
  <button class="btn btn-danger" type="submit">Yes</button>
</p>
</form>
{% endblock %}
