{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:repositories' %}">Repositories</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Repository</h3>
        <div class="ms-auto">
            {% if perms.monolith.change_repository %}
                {% url 'monolith:update_repository' object.pk as url %}
                {% button 'UPDATE' url "Edit Monolith repository" %}
            {% endif %}
            {% if perms.monolith.delete_repository and object.can_be_deleted %}
                {% url 'monolith:delete_repository' object.pk as url %}
                {% button 'DELETE' url "Delete Monolith repository" %}
            {% endif %}
        </div>
    </div>

<table class="table-object-properties">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ object.name }}</td>
    </tr>
    <tr>
      <td>Business unit</td>
      <td>
        {% if object.meta_business_unit %}
        {% if perms.inventory.view_metabusinessunit %}
        <a href="{{ object.meta_business_unit.get_absolute_url }}">{{ object.meta_business_unit }}</a></dd>
        {% else %}
        {{ object.meta_business_unit }}
        {% endif %}
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Backend</td>
      <td>
        <dl>
          <dt>Type</dt>
          <dd>{{ object.get_backend_display }}</dd>
          {% with object.get_backend_kwargs as kwargs %}
          {% if object.backend == "S3" %}
          <dt>Bucket</dt>
          <dd>{{ kwargs.bucket }}</dd>
          {% if kwargs.region_name %}
          <dt>Region name</dt>
          <dd>{{ kwargs.region_name }}</dd>
          {% endif %}
          {% if kwargs.prefix %}
          <dt>Prefix</dt>
          <dd>{{ kwargs.prefix }}</dd>
          {% endif %}
          {% if kwargs.access_key_id %}
          <dt>AWS access key ID</dt>
          <dd>{{ kwargs.access_key_id|default:"-" }}</dd>
          {% endif %}
          {% if kwargs.secret_access_key %}
          <dt>AWS secret access key</dt>
          <dd>
            <span class="bi bi-eye" aria-hidden="true" style="cursor:pointer"></span>
            <span hidden>{{ kwargs.secret_access_key }}</span>
          </dd>
          {% endif %}
          {% if kwargs.assume_role_arn %}
          <dt>Assume role ARN</dt>
          <dd>{{ kwargs.assume_role_arn }}</dd>
          {% endif %}
          {% if kwargs.signature_version %}
          <dt>Signature version</dt>
          <dd>{{ kwargs.signature_version }}</dd>
          {% endif %}
          {% if kwargs.endpoint_url %}
          <dt>Endpoint URL</dt>
          <dd>{{ kwargs.endpoint_url }}</dd>
          {% endif %}
          {% if kwargs.cloudfront_domain %}
          <dt>Cloudfront domain</dt>
          <dd>{{ kwargs.cloudfront_domain }}</dd>
          {% endif %}
          {% if kwargs.cloudfront_key_id %}
          <dt>Cloudfront key ID</dt>
          <dd>{{ kwargs.cloudfront_key_id }}</dd>
          {% endif %}
          {% if kwargs.cloudfront_privkey_pem %}
          <dt>Cloudfront private key</dt>
          <dd>
            <span class="bi bi-eye" aria-hidden="true" style="cursor:pointer"></span>
            <span hidden>{{ kwargs.cloudfront_privkey_pem|linebreaksbr }}</span>
          </dd>
          {% endif %}
          {% endif %}
          {% endwith %}
        </dl>
      </td>
    </tr>
    <tr>
      <td>Catalog{{ catalogs|length|pluralize }} ({{ catalogs|length }})</td>
      <td>
        {% if catalogs %}
        <ul class="list-unstyled">
          {% for catalog in catalogs %}
          <li>
            {% if perms.monolith.view_catalog %}
            <a href="{{ catalog.get_absolute_url }}">{{ catalog.name }}</a>
            {% else %}
            {{ catalog.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Icon hash{{  object.icon_hashes|length|pluralize:",es" }}</td>
      <td>{{ object.icon_hashes|length }}</td>
    </tr>
    <tr>
      <td>Client resource{{ object.client_resources|pluralize }}</td>
      <td>{{ object.client_resources|length }}</td>
    </tr>
    <tr>
      <td>Last sync</td>
      <td>{{ object.last_synced_at|default:"-" }}</td>
    </tr>
  </tbody>
</table>

{% created_updated_at object %}

</div>

{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  var openEyes = document.querySelectorAll(".bi-eye");
  openEyes.forEach(function(openEye) {
    openEye.addEventListener("click", function(event) {
      var valueSpan = openEye.nextElementSibling;
      if (valueSpan.hidden) {
        valueSpan.hidden = false;
        openEye.classList.remove("bi-eye");
        openEye.classList.add("bi-eye-slash");
      } else {
        valueSpan.hidden = true;
        openEye.classList.remove("bi-eye-slash");
        openEye.classList.add("bi-eye");
      }
    });
  });
</script>
{% endblock %}
