{% extends 'base.html' %}
{% load inventory_extras %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li class="breadcrumb-item active">{{ object }}</li>
</ol>

<div class="object-details">
    <div class="d-flex align-items-center mb-1">
        <h2 class="m-0">{{ object }}</h2>
    </div>
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0 fs-5 text-secondary">Sub manifest</h3>
        <div class="ms-auto">
            {% if perms.monolith.change_submanifest %}
                {% url 'monolith:update_sub_manifest' object.id as url %}
                {% button 'UPDATE' url "Edit Sub Manifest" %}
            {% endif %}
            {% if object.can_be_deleted and perms.monolith.delete_submanifest %}
                {% url 'monolith:delete_sub_manifest' object.id as url %}
                {% button 'DELETE' url "Delete Sub Manifest" %}
            {% endif %}
        </div>
    </div>

    <table class="table-object-properties">
        <thead>
            <tr><th style="width:30vw">Attribute</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            <tr>
                <td>Business unit</td>
                <td>
                    {% if object.meta_business_unit %}
                        <span class="text-danger">restricted to </span>
                        {% if perms.inventory.view_metabusinessunit %}
                            <a href="{{ object.meta_business_unit.get_absolute_url }}">{{ object.meta_business_unit }}</a>
                        {% else %}
                            {{ object.meta_business_unit }}
                        {% endif %}
                    {% else %}
                        <span class="text-success">not restricted</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    {{ object.description|default:"-"|urlize|linebreaks }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex align-items-center mb-1">
    <h3>Package{{ total.pkginfo|pluralize }} ({{ total.pkginfo }})</h3>
    <div class="ms-auto">
        {% if perms.monolith.add_submanifestpkginfo %}
            {% url 'monolith:sub_manifest_add_pkg_info' as url %}
            {% button 'CREATE' url "Create new Package" %}
        {% endif %}
    </div>
</div>

{% if keys %}
    <table class="table table-striped align-middle table-hover">
    <thead>
        <th>Name</th>
        <th>Feat.</th>
        <th>Condition</th>
        <th>Excl. tags</th>
        <th>Def. shard</th>
        <th>Tag shards</th>
        <th></th>
    </thead>
    <tbody>
    {% for key_display, key_list in keys %}
    <tr>
        <td colspan="8">
        <h4>{{ key_display }}</h4>
        </td>
    </tr>
    {% for name, smpi in key_list %}
    <tr class="data-row{% if not smpi.pkg_info_name.has_active_pkginfos %} danger{% endif %}">
        <td>
            {% if perms.monolith.view_pkginfoname %}
            <a name="smp_{{ smpi.pk }}" href="{% url 'monolith:pkg_info' smpi.pkg_info_name.id %}">{{ name }}</a>
            {% else %}
            {{ name }}
            {% endif %}
        </td>
        <td>
        {{ smpi.featured_item|yesno:"★,-" }}
        </td>
        <td>
        {% if smpi.condition %}
        {% if perms.monolith.view_condition %}
        <a href="{{ smpi.condition.get_absolute_url }}"
            data-toggle="tooltip" data-placement="top"
            title="{{ smpi.condition.predicate }}">{{ smpi.condition }}</a>
        {% else %}
        {{ smpi.condition }}
        {% endif %}
        {% else %}
        -
        {% endif %}
        </td>
        <td>
        {% for tag in smpi.excluded_tags %}
        {% inventory_tag tag %}
        {% empty %}
        -
        {% endfor %}
        </td>
        <td>
        {{ smpi.default_shard }}/{{ smpi.shard_modulo }}
        </td>
        <td>
        {% if smpi.tag_shards %}
        <table>
        {% for tag_shard in smpi.tag_shards %}
        <tr><td style="padding:0 5px 2px 0">{% inventory_tag tag_shard.tag %}</td><td>{{ tag_shard.shard }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        -
        {% endif %}
        </td>
        <td class="text-end py-0">
        {% if smpi.pkg_info_name.has_active_pkginfos and perms.monolith.change_submanifestpkginfo %}
            {% url 'monolith:update_sub_manifest_pkg_info' object.id smpi.id as url %}
            {% button 'UPDATE' url "Edit Package" %}
        {% endif %}
        {% if perms.monolith.delete_submanifestpkginfo %}
            {% url 'monolith:delete_sub_manifest_pkg_info' object.id smpi.id as url %}
            {% button 'DELETE' url "Delete Package" %}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    </table>
{% endif %}


{% if perms.monolith.view_manifest %}
    <h3>Included in {{ manifests|length }} manifest{{ manifests|length|pluralize }}</h3>

    {%if manifests %}
        <table class="table table-striped align-middle table-hover">
        {% for tags, manifest in manifests %}
        <tr>
            <td><a href="{{ manifest.get_absolute_url }}#sm_{{ object.id }}">{{ manifest }}</a></td>
            <td>
            {% for tag in tags %}{% inventory_tag tag %}{% endfor %}
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% endblock %}
