{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'monolith:index' %}">Monolith</a></li>
  <li class="breadcrumb-item active">Sub manifests</li>
</ol>

<div class="d-flex align-items-center mb-3">
    <h2>Sub manifest{{ paginator.count|pluralize }} ({{ paginator.count }})</h2>
</div>

<div class="d-flex flex-wrap align-items-center mb-1">
    <form method="GET" class="search-form d-flex flex-row flex-wrap w-75">
        {{ form }}
        <button type="submit" class="btn btn-link mb-2">
            <i class="bi bi-search"></i>
        </button>
    </form>
    {% if perms.monolith.add_submanifest %}
    <div class="ms-auto">
        {% url 'monolith:create_sub_manifest' as url %}
        {% button 'CREATE' url "Create new Sub Manifest" %}
    </div>
    {% endif %}
</div>


{% if object_list %}

    {% pagination next_url previous_url %}

    <table class="table table-striped align-middle table-hover">
    <thead>
        <th>Business unit</th>
        <th>Name</th>
        <th>Description</th>
        {% if perms.monolith.change_submanifest or perms.monolith.delete_submanifest %}
        <th></th>
        {% endif %}
    </thead>
    <tbody>
        {% for sub_manifest in object_list %}
        <tr class="data-row">
        <td>
            {% with sub_manifest.meta_business_unit as mbu %}
            {% if mbu %}
            {% if perms.inventory.view_metabusinessunit %}
            <a href="{{ mbu.get_absolute_url }}">{{ mbu }}</a>
            {% else %}
            {{ mbu }}
            {% endif %}
            {% else %}
            -
            {% endif %}
            {% endwith %}
        </td>
        <td><a href="{{ sub_manifest.get_absolute_url }}">{{ sub_manifest.name }}</a></td>
        <td>{{ sub_manifest.description|default:"-"|urlize|linebreaksbr }}</td>
        <td class="text-end py-0">
            {% if perms.monolith.change_submanifest %}
                {% url 'monolith:update_sub_manifest' sub_manifest.pk as url %}
                {% button 'UPDATE' url "Edit Sub Manifest" %}
            {% endif %}
            {% if sub_manifest.can_be_deleted and perms.monolith.delete_submanifest %}
                {% url 'monolith:delete_sub_manifest' sub_manifest.pk as url %}
                {% button 'DELETE' url "Delete Sub Manifest" %}
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% pagination next_url previous_url %}
{% elif form.has_changed %}
    {% url 'monolith:sub_manifests' as empty_results_url %}
    {% empty_results empty_results_url %}
{% endif %}

{% endblock %}
