{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'monolith:sub_manifests' %}">Monolith sub manifests</a></li>
  <li class="active">{{ object }}</li>
</ol>

<h2>Sub manifest - {{ object }}</i></h2>

<p>
  <a href="{% url 'monolith:update_sub_manifest' object.id %}" class="btn btn-default">Update</a>
  {% if object.can_be_deleted %}
  <a href="{% url 'monolith:delete_sub_manifest' object.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
</p>

<dl class="dl-horizontal">
  <dt>Business unit</dt>
  <dd>
    {% if object.meta_business_unit %}
    <span class="text-danger">restricted to </span>
    <a href="{{ object.meta_business_unit.get_absolute_url }}">{{ object.meta_business_unit }}</a>
    {% else %}
    <span class="text-success">not restricted</span>
    {% endif %}
  </dd>
  <dt>Description</dt>
  <dd>{{ object.description|default:"-"|urlize|linebreaks }}</dd>
</dl>

<h3>
  {% if total.pkginfo %}
  {{ total.pkginfo }} Repository Package{{ total.pkginfo|pluralize }},
  {% endif %}
  {% if total.configuration_profile %}
  {{ total.configuration_profile }} Configuration Profile{{ total.configuration_profile|pluralize }},
  {% endif %}
  {% if total.package %}
  {{ total.package }} Package{{ total.package|pluralize }}
  {% endif %}
  {% if total.script %}
  {{ total.script }} Script{{ total.script|pluralize }}
  {% endif %}
</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addAttachment"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addAttachment">
    <li><a href="{% url 'monolith:sub_manifest_add_pkg_info' object.id %}">Repository Package</a>
    <li><a href="{% url 'monolith:sub_manifest_add_attachment' object.id %}">Configuration Profile or Package</a>
    <li><a href="{% url 'monolith:sub_manifest_add_script' object.id %}">Script</a>
  </ul>
</div>

{% for key_display, key_list in keys %}
<h4>{{ key_display }}</h4>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Condition</th>
    <th>Featured?</th>
    <th></th>
  </thead>
  {% for name, smo in key_list %}
  <tr{% if smo.type and smo.trashed_at %} class="warning"{% endif %}>
    <td class="col-md-4">
      {% if smo.pkg_info_name %}
      <a name="smp_{{ smo.pk }}" href="{% url 'monolith:pkg_info_name' smo.pkg_info_name.id %}">{{ name }}</a>
      {% else %}
      {% if smo.can_be_downloaded %}
      <a name="sma_{{ smo.pk }}" href="{% url 'monolith:download_sub_manifest_attachment' smo.id %}" >{{ name }}</a>
      {% else %}
      <a name="sma_{{ smo.pk }}"></a>{{ name }}
      {% endif %}
      <br><b>uploaded: </b>{{ smo.created_at|date:"r" }}
      {% if smo.trashed_at %}
      <br><b class="text-danger">trashed: </b><span class="text-danger">{{ smo.trashed_at|timesince }} ago</span>
      {% endif %}
      {% endif %}
    </td>
    {% if smo.type %}
    <td class="col-md-2">{{ smo.get_type_display }}</td>
    {% else %}
    <td class="col-md-2">repository package</td>
    {% endif %}
    <td class="col-md-3">
      {% if smo.condition %}
      <a href="{{ smo.condition.get_absolute_url }}"
         data-toggle="tooltip" data-placement="top"
         title="{{ smo.condition.predicate }}">{{ smo.condition }}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td class="col-md-1">
      {{ smo.featured_item|yesno:"★,-" }}
    </td>
    {% if smo.type %}
    <td class="col-md-2">
      {% if smo.trashed_at %}
      <a class="btn btn-danger" href="{% url 'monolith:purge_sub_manifest_attachment' smo.id %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% else %}
      {% if smo.type == 'script' %}
      <a class="btn btn-default" href="{% url 'monolith:sub_manifest_update_script' object.id smo.id %}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% endif %}
      <a class="btn btn-danger" href="{% url 'monolith:delete_sub_manifest_attachment' smo.id %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
    </td>
    {% else %}
    <td class="col-md-2">
      <a class="btn btn-danger" href="{% url 'monolith:delete_sub_manifest_pkg_info' smo.id %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endfor %}

<h3>Included in {{ manifests|length }} manifest{{ manifests|length|pluralize }}</h3>
<table class="table">
  {% for tags, manifest in manifests %}
  <tr>
    <td><a href="{{ manifest.get_absolute_url }}#sm_{{ object.id }}">{{ manifest }}</a></td>
    <td>
      {% for tag in tags %}{% inventory_tag tag %}{% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
