{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Monolith sub manifests</li>
</ol>

<h2>{{ paginator.count }} Sub manifest{{ paginator.count|pluralize }}</h2>
<p><a class="btn btn-default" href="{% url 'monolith:create_sub_manifest' %}">Create</a></p>

<form method="GET" class="form-inline" style="margin:1em 0 2em 0">
    <div class="form-group">
      {{ form.keywords|bootstrap_inline }}
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

<nav>
  <ul class="pager">
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>


<table class="table">
  <thead>
    <th>Business unit</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </thead>
  <tbody>
    {% for sub_manifest in object_list %}
    <tr>
      <td>
        {% with sub_manifest.meta_business_unit as mbu %}
        {% if mbu %}
        <a href="{{ mbu.get_absolute_url }}">{{ mbu }}</a>
        {% else %}
        -
        {% endif %}
        {% endwith %}
      </td>
      <td><a href="{{ sub_manifest.get_absolute_url }}">{{ sub_manifest.name }}</a></td>
      <td>{{ sub_manifest.description|default:"-"|urlize|linebreaksbr }}</td>
      <td>
        <a class="btn btn-default" href="{% url 'monolith:update_sub_manifest' sub_manifest.pk %}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        {% if sub_manifest.can_be_deleted %}
        <a class="btn btn-danger" href="{% url 'monolith:delete_sub_manifest' sub_manifest.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pager">
    {% if previous_url %}
    <li class="previous"><a href="{{ previous_url }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
    {% endif %}
    {% if next_url %}
    <li class="next"><a href="{{ next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
