{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Puppet</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h2>Puppet</h2>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="puppet"
            data-dataset="event_count"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-sm-6">
    <canvas class="chart"
            data-app="puppet"
            data-dataset="unique_msn"
            width="200"
            height="120"></canvas>
  </div>
  <div class="col-md-12">
    {% if perms.puppet.view_instance %}
    <h3>{{ instance_count }} Instance{{ instance_count|pluralize }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Hostname</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in instances %}
        <tr>
          <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}