{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'puppet:index' %}">Puppet</a></li>
  <li class="breadcrumb-item"><a href="{% url 'puppet:instances' %}">Instances</a></li>
  {% if object %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="breadcrumb-item active">Update</li>
  {% else %}
  <li class="breadcrumb-item active">Create</li>
  {% endif %}
</ol>

<h2>{% if object %}Update Puppet instance {{ object }}{% else %}Create Puppet instance{% endif %}</h2>

<form method="POST">{% csrf_token %}
  {{ form }}
  <p>
    {% if object %}
    <a href="{{ object.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'puppet:instances' %}" class="btn btn-outline-secondary">Cancel</a>
    {% endif %}
    <button class="btn btn-primary">Save</button>
  </p>
</form>
{% endblock %}

{% block extrajs %}
<script nonce="{{ request.csp_nonce }}">
  function updateForm() {
    var rbacAuth = $("input[name=rbac_token_auth]:checked").length === 1,
        certAuth = $("input[name=client_certificate_auth]:checked").length === 1;
    $("input[name=rbac_token]").each(function () {
      $(this).parent().parent().toggle(rbacAuth);
    });
    $("textarea[name=cert],textarea[name=key],input[name=key_password]").each(function () {
      $(this).parent().parent().toggle(certAuth);
    });
    console.log(rbacAuth, certAuth);
  }

  $(document).ready(function(){
    $('input[type="checkbox"]').change(function (event) {
      var $input = $(this);
      var name = $input.attr("name"),
          checked = $input.is(":checked");
      if (checked) {
        if (name === "rbac_token_auth") {
          $("input[name=client_certificate_auth]").prop("checked", false);
        } else {
          $("input[name=rbac_token_auth]").prop("checked", false);
        }
      }
      updateForm();
    });
    updateForm();
  });
</script>
{% endblock %}
