{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'puppet:index' %}">Puppet</a></li>
  <li><a href="{% url 'puppet:instances' %}">Instances</a></li>
  <li><a href="{% url 'puppet:instance' object.pk %}">{{ instance }}</a></li>
  <li class="active">Delete instance</li>
</ol>

<h2>Delete Puppet instance</h2>

<form method="POST" class="form">{% csrf_token %}
  <p>Do you really want to delete this Puppet instance?</p>
  <p>
    <a class="btn btn-default" href="{% url 'puppet:instance' object.pk %}">Cancel</a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </p>
</form>
{% endblock %}
