{% extends 'base.html' %}
{% load inventory_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'osquery:distributed_index' %}">Osquery distributed queries</a></li>
  <li class="active">Query {{ object.id }}</li>
</ol>

<h1>Distributed query</h1>

{{ object.html_query|safe }}
<dl class="dl">
  {% if object.meta_business_unit %}
  <dt>Business unit</dt>
  <dd><a href="{% url 'inventory:mbu_machines' object.meta_business_unit.id %}">{{ object.meta_business_unit }}</a></dd>
  {% endif %}
  <dt>Tags</dt>
  <dd>
    {% for tag in object.tags.all %}
    {% inventory_tag tag %}
    {% empty %}
    -
    {% endfor %}
  </dd>
  <dt>Shard</dt>
  <dd>{{ object.shard }}</dd>
</dl>

<h2>Results</h2>
<a href="{% url 'osquery:distributed_download' object.id %}" class="btn btn-default">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  Download
</a>
<table class="table">
  <thead>
    <th>Machine</th>
    <th>Result</th>
  </thead>
  <tbody>
    {% for dqn in object.distributedquerynode_set.all %}
    <tr>
      <td><a href="{% url 'inventory:machine' dqn.machine_serial_number %}">{{ dqn.machine_serial_number }}</a></td>
      <td>{% if not dqn.result == None %}{{ dqn.get_json_result|pythonprettyprint }}{% else %}pending…{% endif %}<td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a href="{% url 'osquery:distributed_delete' object.id %}" class="btn btn-warning">Delete</a>
  {% if object.can_be_updated %}
  <a href="{% url 'osquery:distributed_update' object.id %}" class="btn btn-default">Update</a>
  {% endif %}
</p>
{% endblock %}
