{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Osquery distributed queries</li>
</ol>

<h2>{{ object_list|length }} Osquery distributed queries</h2>
<p>
  <a href="{% url 'osquery:distributed_create' %}" class="btn btn-default">Create</a>
</p>
    {% for dq in object_list %}
    <div class="panel panel-default">
      <div class="panel-body">
	{{ dq.html_query|safe }}
      </div>
      <div class="panel-footer">
	<a href="{% url 'osquery:distributed' dq.id %}" class="btn btn-default">View</a>
      </div>
    </div>
    {% endfor %}
{% endblock %}
