{% extends 'base.html' %}

{% block content %}
<h1>Distributed queries</h1>
<p>
  <a href="{% url 'osquery:distributed_create' %}" class="btn btn-default">Create</a>
</p>
<table class="table">
  <thead>
    <th>Query</th>
    <th></th>
  </thead>
  <tbody>
    {% for dq in object_list %}
    <tr>
      <td>
	<pre>{{ dq.query }}</pre>
      </td>
      <td>
	<a href="{% url 'osquery:distributed' dq.id %}" class="btn btn-default">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
