{% extends 'core/probes/probe.html' %}

{% block probe_extra %}
<a name="osquery_fim"></a>
<h3>Osquery FIM</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addComponent"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addComponent">
    <li>
      <a href="{% url 'osquery:add_fim_probe_file_path' object.id %}">
        File Path
      </a>
    </li>
  </ul>
</div>

<h4>File path{{ probe.file_paths|length|pluralize }}</h4>
{% for file_path in probe.file_paths %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>path</td>
      <td>{{ file_path.file_path }}</td>
    </tr>
    <tr>
      <td>Observe file access events ?</td>
      <td>{{ file_path.file_access|yesno }}</td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_fim_probe_file_path' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% if probe.can_delete_file_paths %}
      <a class="btn btn-danger" href="{% url 'osquery:delete_fim_probe_file_path' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
      {% for store_name, store_url in file_path.get_osquery_query.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
