{% extends 'core/probes/probe.html' %}
{% load base_extras %}

{% block probe_extra %}
<a name="osquery"></a>
<h3>Osquery</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="addComponent"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="addComponent">
    <li>
      <a href="{% url 'osquery:add_probe_discovery' object.id %}">
        Discovery query
      </a>
    </li>
    <li>
      <a href="{% url 'osquery:add_probe_query' object.id %}">
        Query
      </a>
    </li>
  </ul>
</div>

{% if probe.discovery %}
<h4>Discovery quer{{ probe.discovery|length|pluralize:"y,ies" }}</h4>
{% for discovery_html in probe.get_discovery_display %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>
        {{ discovery_html|safe }}
      </td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_probe_discovery' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      <a class="btn btn-danger" href="{% url 'osquery:delete_probe_discovery' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if probe.queries %}
<h4>Quer{{ probe.queries|length|pluralize:"y,ies" }}</h4>
{% for query in probe.queries %}
<div class="panel panel-default">
  <table class="table table-condensed probe-panel">
    <tr>
      <td>Query</td>
      <td>
        {{ query.get_query_html|safe }}
      </td>
    </tr>
    {% if query.description %}
    <tr>
      <td>Description</td>
      <td>{{ query.description|prettydescription }}</td>
    </tr>
    {% endif %}
    {% if query.value %}
    <tr>
      <td>Value</td>
      <td>{{ query.value|prettydescription }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Interval</td>
      <td>{{ query.interval }}s</td>
    </tr>
    {% if query.snapshot %}
    <tr>
      <td>Snapshot?</td>
      <td>{{ query.snapshot|yesno }}
    </tr>
    {% else %}
    <tr>
      <td>Removed?</td>
      <td>{{ query.removed|yesno }}</td>
    </tr>
    {% endif %}
    {% if query.shard %}
    <tr>
      <td>Shard</td>
      <td>{{ query.shard }}%</td>
    </tr>
    {% endif %}
    {% if query.version %}
    <tr>
      <td>Version</td>
      <td>{{ query.version }}</td>
    </tr>
    {% endif %}
  </table>
  <div class="panel-footer">
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="{% url 'osquery:update_probe_query' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      {% if probe.can_delete_queries %}
      <a class="btn btn-danger" href="{% url 'osquery:delete_probe_query' object.id forloop.counter0 %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      {% endif %}
      {% for store_name, store_url in query.get_store_links %}
      <a class="btn btn-default" href="{{ store_url }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ store_name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
