{% extends 'base.html' %}
{% load probe_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Osquery probes</li>
</ol>

<h2>{{ probes|length }} Osquery probe{{ probes|length|pluralize }}</h2>
<p class="small text-muted">Probes with osquery configuration</p>
{% probe_list probes %}

<h2>{{ event_type_probes|length }} Osquery event probe{{ event_type_probes|length|pluralize }}</h2>
<p class="small text-muted">Probes matching some osquery events, without osquery configuration</p>
{% probe_list event_type_probes %}
{% endblock %}
