{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Osquery probes</li>
</ol>

<h2>{{ probes|length }} Osquery probe{{ probes|length|pluralize }}</h2>
<p class="small text-muted">Probes with osquery configuration</p>
<table class="table">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {% for k, probe in probes %}
    <tr>
      <td><a href="{% url 'osquery:probe' k %}">{{ probe.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>{{ event_type_probes|length }} Osquery event probe{{ event_type_probes|length|pluralize }}</h2>
<p class="small text-muted">Probes matching some osquery events, without osquery configuration</p>
<table class="table">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {% for k, probe in event_type_probes %}
    <tr>
      <td><a href="{% url 'osquery:probe' k %}">{{ probe.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
