// Zentral theming overrides for Stoplight Elements.

$zentral-cyan: #79C6BC;
$zentral-red: #EA5165;
$zentral-red-light: #ef7d90;
$other-red: #E43A49;
$zentral-navy: #03002E;
$zentral-anthrazid: #333333;
$foggy-blue: #F5F4FF;
$code-bg: #1B1B1B;
$code-code: #79C6BC;
$code-tags: #F5D67B;

:root, [data-theme=light], [data-theme=light] .sl-inverted .sl-inverted, [data-theme=light] .sl-inverted .sl-inverted .sl-inverted .sl-inverted {
    --color-primary: #{$zentral-red};
    --color-primary-light: #{$zentral-red-light};
    --color-primary-dark: #{$other-red};
    --color-primary-darker: #{$zentral-navy};
    --color-primary-tint: #{rgba($zentral-red, 0.25)};

    --color-canvas-100: #{$foggy-blue};
}

:root .sl-inverted, [data-theme=light] .sl-inverted, [data-theme=light] .sl-inverted .sl-inverted .sl-inverted {
    --color-primary: #{$zentral-cyan};
}