/* default pygments theme */
@include color-mode(light) {
  pre { line-height: 125%; }
  td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  .hll { background-color: #ffffcc }
  .c { color: #3D7B7B; font-style: italic }
  .err { border: 1px solid #FF0000 }
  .k { color: #008000; font-weight: bold }
  .o { color: #666666 }
  .ch { color: #3D7B7B; font-style: italic }
  .cm { color: #3D7B7B; font-style: italic }
  .cp { color: #9C6500 }
  .cpf { color: #3D7B7B; font-style: italic }
  .c1 { color: #3D7B7B; font-style: italic }
  .cs { color: #3D7B7B; font-style: italic }
  .gd { color: #A00000 }
  .ge { font-style: italic }
  .gr { color: #E40000 }
  .gh { color: #000080; font-weight: bold }
  .gi { color: #008400 }
  .go { color: #717171 }
  .gp { color: #000080; font-weight: bold }
  .gs { font-weight: bold }
  .gu { color: #800080; font-weight: bold }
  .gt { color: #0044DD }
  .kc { color: #008000; font-weight: bold }
  .kd { color: #008000; font-weight: bold }
  .kn { color: #008000; font-weight: bold }
  .kp { color: #008000 }
  .kr { color: #008000; font-weight: bold }
  .kt { color: #B00040 }
  .m { color: #666666 }
  .s { color: #BA2121 }
  .na { color: #687822 }
  .nb { color: #008000 }
  .nc { color: #0000FF; font-weight: bold }
  .no { color: #880000 }
  .nd { color: #AA22FF }
  .ni { color: #717171; font-weight: bold }
  .ne { color: #CB3F38; font-weight: bold }
  .nf { color: #0000FF }
  .nl { color: #767600 }
  .nn { color: #0000FF; font-weight: bold }
  .nt { color: #008000; font-weight: bold }
  .nv { color: #19177C }
  .ow { color: #AA22FF; font-weight: bold }
  .w { color: #bbbbbb }
  .mb { color: #666666 }
  .mf { color: #666666 }
  .mh { color: #666666 }
  .mi { color: #666666 }
  .mo { color: #666666 }
  .sa { color: #BA2121 }
  .sb { color: #BA2121 }
  .sc { color: #BA2121 }
  .dl { color: #BA2121 }
  .sd { color: #BA2121; font-style: italic }
  .s2 { color: #BA2121 }
  .se { color: #AA5D1F; font-weight: bold }
  .sh { color: #BA2121 }
  .si { color: #A45A77; font-weight: bold }
  .sx { color: #008000 }
  .sr { color: #A45A77 }
  .s1 { color: #BA2121 }
  .ss { color: #19177C }
  .bp { color: #008000 }
  .fm { color: #0000FF }
  .vc { color: #19177C }
  .vg { color: #19177C }
  .vi { color: #19177C }
  .vm { color: #19177C }
  .il { color: #666666 }
}

/* custom pygments theme */
@include color-mode(dark) {
  pre { line-height: 125%; }
  td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  .hll { background-color: #49483e }
  .c { color: #75715e }
  .err { color: #960050; background-color: #1e0010 }
  .esc { color: $white }
  .g { color: $white }
  .k { color: #66d9ef }
  .l { color: #ae81ff }
  .n { color: $white }
  .o { color: #f92672 }
  .x { color: $white }
  .p { color: $white }
  .ch { color: #75715e }
  .cm { color: #75715e }
  .cp { color: #75715e }
  .cpf { color: #75715e }
  .c1 { color: #75715e }
  .cs { color: #75715e }
  .gd { color: #f92672 }
  .ge { color: $white; font-style: italic }
  .gr { color: $white }
  .gh { color: $white }
  .gi { color: #a6e22e }
  .go { color: #66d9ef }
  .gp { color: #f92672; font-weight: bold }
  .gs { color: $white; font-weight: bold }
  .gu { color: #75715e }
  .gt { color: $white }
  .kc { color: #66d9ef }
  .kd { color: #66d9ef }
  .kn { color: #f92672 }
  .kp { color: #66d9ef }
  .kr { color: #66d9ef }
  .kt { color: #66d9ef }
  .ld { color: $ztl-green }
  .m { color: #ae81ff }
  .s { color: $ztl-green }
  .na { color: #a6e22e }
  .nb { color: $white }
  .nc { color: #a6e22e }
  .no { color: #66d9ef }
  .nd { color: #a6e22e }
  .ni { color: $white }
  .ne { color: #a6e22e }
  .nf { color: #a6e22e }
  .nl { color: $white }
  .nn { color: $white }
  .nx { color: #a6e22e }
  .py { color: $white }
  .nt { color: #f92672 }
  .nv { color: $white }
  .ow { color: #f92672 }
  .w { color: $white }
  .mb { color: #ae81ff }
  .mf { color: #ae81ff }
  .mh { color: #ae81ff }
  .mi { color: $ztl-red }
  .mo { color: #ae81ff }
  .sa { color: $ztl-green }
  .sb { color: $ztl-green }
  .sc { color: $ztl-green }
  .dl { color: $ztl-green }
  .sd { color: $ztl-green }
  .s2 { color: $ztl-green }
  .se { color: #ae81ff }
  .sh { color: $ztl-green }
  .si { color: $ztl-green }
  .sx { color: $ztl-green }
  .sr { color: $ztl-green }
  .s1 { color: $ztl-green }
  .ss { color: $ztl-green }
  .bp { color: $white }
  .fm { color: #a6e22e }
  .vc { color: $white }
  .vg { color: $white }
  .vi { color: $white }
  .vm { color: $white }
  .il { color: #ae81ff }
}
