// Zentral colors
$ztl-green: rgb(121, 198, 188);  // Logo green
$ztl-red: rgb(234, 81, 101); // Logo red
$ztl-border-color: $ztl-green;
$ztl-bg: rgb($ztl-green, 0.1);
$ztl-bg-dark: rgba($ztl-green, 0.3);
$ztl-active-opacity: 0.7;

// Other custom Zentral variables
$box-max-width: 1304px;
$custom-table-padding: 0.375rem;

// import and customize bootstrap
@import "~bootstrap/scss/functions";

$primary: $ztl-green;

$font-size-root: 14px;

$list-group-border-color: transparent;

$dropdown-link-active-bg: $ztl-green;

$offcanvas-border-color: transparent;
$offcanvas-horizontal-width: 186px;

$link-hover-color: $ztl-green;
$link-color: shift-color($link-hover-color, 20%);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

// bootstrap icons
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons";

// pygments syntax highlighting
@import "pygments";

pre, ol, ul, dl {
    margin-bottom: 0px;
}

// Forms
.errorlist {
    color: $ztl-red;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 1em;
}

legend {
    font-size: var(--bs-body-font-size);
}

// Side menu
.list-group-item:hover,
.list-group-item.active,
.list-group-item:focus {
    border-color: $ztl-border-color;
}

[data-bs-theme=light] .list-group-item:hover,
[data-bs-theme=light] .list-group-item.active {
    background-color: $ztl-bg;
    color: $body-color;
}
[data-bs-theme=light] .list-group-item:active {
    background-color: rgb($ztl-bg, $ztl-active-opacity);
}

[data-bs-theme=dark] .list-group-item:hover,
[data-bs-theme=dark] .list-group-item.active {
    background-color: $ztl-bg-dark;
    color: $white;
}
[data-bs-theme=dark] .list-group-item:active {
    background-color: rgb($ztl-bg-dark, $ztl-active-opacity);
}

// Custom buttons or dropdowns without borders
.btn-link {
    text-decoration: none;
    border: 1px solid transparent;
}

[data-bs-theme=dark] .btn-link {
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));
}

[data-bs-theme=dark] .btn-link:hover {
    background: $ztl-bg-dark;
    border: 1px solid $ztl-border-color;
}

[data-bs-theme=light] .btn-link {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}

[data-bs-theme=light] .btn-link:hover {
    background: $ztl-bg;
    border: 1px solid $ztl-border-color;
}

// Dropdowns background color
[data-bs-theme=dark] .dropdown-item:hover:not(.active) {
    background: $ztl-bg-dark;
}

[data-bs-theme=light] .dropdown-item:hover:not(.active) {
    background: $ztl-bg;
}

// Table styling
table .w-3 { width:3%; }

table.table-fixed-scrolleable {
    table-layout: fixed;
}

pre.scrolleable {
    overflow-x: scroll;
    padding-bottom: 2em;
}

td > p:last-child, td > table:last-child {
    margin-bottom: 0px;
}

.table-probe  {
    margin-bottom: -1px;
}

.search-form {
  @media screen and (max-width: 992px) {
    flex-direction: column !important;
    width: 100% !important;

    .form-floating {
        width: 100%;
    }
  }
}

.sidebar {
  @media screen and (min-width: 992px) {
    transform: none !important;
    visibility: visible !important;
    font-size: $font-size-root;
    width: $offcanvas-horizontal-width !important;
  }
  width: 300px !important;
  font-size: large;
}

.user-menu {
    @media screen and (max-width: 992px) {
        width: 0px; height: 0px;
        transform: none !important;
        visibility: hidden !important;
    }
}

.object-details,
.update-form {
  max-width: $box-max-width;
}

.collapse-toggler::before {
  display: inline-block;
  content: "";
  height: 9px;
  transform: rotate(-45deg);
  width: 9px;
  transition: transform .35s ease;
  position: relative;
  top: -3px;
  margin-right: 5px;
}

[data-bs-theme=dark] .collapse-toggler::before {
  border-bottom: 2px solid $white;
  border-right: 2px solid $white;
}

[data-bs-theme=light] .collapse-toggler::before {
  border-bottom: 2px solid $body-color;
  border-right: 2px solid $body-color;
}

.collapse-toggler:not(.collapsed)::before {
  transform: rotate(45deg);
}

.data-row {
  &:not(&:hover) {
    .btn {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.table-object-properties > :not(caption) > * > * {
  padding: $custom-table-padding;
}

// Zentral logo
.zentral-logo {
    background-repeat: no-repeat;
    width: 150px;
    height: 38px;
    display: block;
}

[data-bs-theme=light] .zentral-logo {
        background-image: url(../images/logo-light.svg);
}

[data-bs-theme=dark] .zentral-logo {
        background-image: url(../images/logo-dark.svg);
}

// Deployment info

.deployment-info {
    @extend .p-2;
    @extend .w-100;
    @extend .mt-auto;
    font-family: var(--bs-font-monospace);
    font-size: 0.8em;
}

// Inventory filters

.inv-filter {
    @extend .card;
    @extend .mb-3;
    max-height: 40vh;
}

.inv-filter-choices {
    @extend .card-body;
    @extend .d-flex;
    @extend .container;
    overflow-y: auto;
}
