$list-group-bg: transparent;
$list-group-hover-bg: gray;
$offcanvas-border-color: transparent;
$offcanvas-horizontal-width: 300px;
$box-max-width: 1304px;
$collapse-toggler-color: #212529;
$collapse-toggler-color-dark: #fff;
$custom-table-padding: 0.375rem;
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

.sidebar {
  @media (min-width: 992px) {
    transform: none !important;
    visibility: visible !important;
  }
}

.object-details,
.update-form {
  max-width: $box-max-width;
}

.collapse-toggler-light {
  &:before {
    display: inline-block;
    border-bottom: 2px solid $collapse-toggler-color;
    border-right: 2px solid $collapse-toggler-color;
    content: "";
    height: 9px;
    transform: rotate(-45deg);
    width: 9px;
    transition: transform .35s ease;
    position: relative;
    top: -3px;
    margin-right: 5px;
  }

  &:not(.collapsed) {
    &:before {
      transform: rotate(45deg);
    }
  }
}

.collapse-toggler-dark {
    @extend .collapse-toggler-light;
    &:before {
        border-bottom: 2px solid $collapse-toggler-color-dark;
        border-right: 2px solid $collapse-toggler-color-dark;
    }
}

.data-row {
  &:not(&:hover) {
    .btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.table-object-properties > :not(caption) > * > * {
  padding: $custom-table-padding;
}

.btn-link.text-dark:hover {
  background: #f8f9fa;
}
