---
name: OSV-Scanner Scheduled Scan
# see https://github.com/google/osv-scanner/blob/main/.github/workflows/osv-scanner-reusable.yml

on:
  schedule:
    - cron: "30 12 * * 1"
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  # Require writing security events to upload SARIF file to security tab
  security-events: write
  # Only need to read contents
  contents: read

jobs:
  scan-scheduled:
    uses: "google/osv-scanner/.github/workflows/osv-scanner-reusable.yml@v1.7.0"
    with:
      scan-args: |-
        --lockfile ./package-lock.json
        --lockfile requirements.txt:./constraints.txt
