{% extends 'base.html' %}
{% load ui_extras %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:index' %}">Workspace ONE</a></li>
  <li class="breadcrumb-item active">Instance{{ instance_count|pluralize }}</li>
</ol>

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Workspace ONE instance{{ instance_count|pluralize }} ({{ instance_count }})</h3>
    <div class="ms-auto">
        {% if perms.wsone.add_instance %}
            {% url 'wsone:create_instance' as url %}
            {% button 'CREATE' url "Add new Instance" %}
        {% endif %}
    </div>
</div>

{% if object_list %}
    <table class="table table-striped align-middle table-hover">
    <thead>
        <tr>
        <th>Host</th>
        <th>Business unit</th>
        {% if perms.wsone.change_instance %}
        <th></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
        <tr class="data-row">
        <td><a href="{{ instance.get_absolute_url }}">{{ instance.hostname }}</a></td>
        <td>
            {{ instance.business_unit }}
        </td>
        {% if perms.wsone.change_instance %}
        <td class="text-end py-0">
            {% url 'wsone:update_instance' instance.pk as url %}
            {% button 'UPDATE' url tooltip="Edit Instance" %}
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if perms.wsone.add_instance %}
        {% url 'wsone:create_instance' as link %}
        {% no_entities 'Workspace ONE Instances' link %}
    {% else %}
        {% no_entities 'Workspace ONE Instances' %}
    {% endif %}
{% endif %}
{% endblock %}
