{% extends 'base.html' %}
{% load bootstrap inventory_extras %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:index' %}">Workspace ONE</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:instances' %}">Instances</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:instance' instance.pk %}">{{ instance }}</a></li>
  <li class="breadcrumb-item active">Events</a></li>
</ol>

<div class="sticky-top bg-body">
  <h3>
    {{ instance }} - events
  </h3>
  {% include "core/stores/events_form.html" %}
</div>

{% include "core/stores/events_table.html" %}

{% endblock %}

{% block extrajs %}
{% include "core/stores/events_script.html" %}
{% endblock %}
