{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:index' %}">Workspace ONE</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:instances' %}">Instances</a></li>
  <li class="breadcrumb-item"><a href="{% url 'wsone:instance' object.pk %}">{{ instance }}</a></li>
  <li class="breadcrumb-item active">Delete instance</li>
</ol>

<h2>Delete Workspace ONE instance</h2>

<form method="POST" class="form">{% csrf_token %}
  <p>Do you really want to delete this Workspace ONE instance?</p>
  <p>
    <a class="btn btn-outline-secondary" href="{% url 'wsone:instance' object.pk %}">Cancel</a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </p>
</form>
{% endblock %}
